<!-- <div class="container">
  <div class="row">
    <div class>
      <master-data-genaral-table
        [tableId]="tableKey"
        [tableValues]="titles()"
        [columns]="titleDisplayedColumns"
        [userPreferences]="userTitlePreferences"
        [dataKeys]="dataKeys"
        (onColumnChanges)="onUserTitlePreferencesChanges($event)"
        (onCreateRegister)="visibleModal=true"
      ></master-data-genaral-table>
      <p-dialog [header]="'ADDRESS.FORM.TITLE_FORM' | translate" [modal]="true" [(visible)]="visibleModal" [style]="{ width: '25rem' }">
        <app-title-modal
        (isVisibleModal)="onVisibleModal($event)"
        ></app-title-modal>
      </p-dialog>
    </div>
  </div>
</div> -->

<div class="container">
  <div class="row">
    <div class>
      <master-data-genaral-table
        [tableId]="tableKey"
        [tableValues]="titles()"
        [columns]="titleDisplayedColumns"
        [userPreferences]="userTitlePreferences"
        [dataKeys]="dataKeys"
        (onColumnChanges)="onUserTitlePreferencesChanges($event)"
        (onCreateRegister)="handleTableEvents({ type: 'create' })"
        (onDeleteRegister)="handleTableEvents({ type: 'delete', data: $event })"
      ></master-data-genaral-table>

      <p-dialog 
        [header]="modalType === 'create' 
          ? ('TITLE.FORM.TITLE_FORM' | translate) 
          : ('TITLE.DELETE.CONFIRMATION' | translate)" 
        [modal]="true" 
        [(visible)]="visibleModal" 
        [style]="{ width: '25rem' }"
      >
        <app-title-modal
          [modalType]="modalType"
          [titleToDelete]="selectedTitle"
          (isVisibleModal)="onModalVisibilityChange($event)"
          (createTitle)="onTitleCreated()"
          (confirmDelete)="onTitleDeleted()"
        ></app-title-modal>
      </p-dialog>
    </div>
  </div>
</div>