<div class="container">
  <div class="row">
    <div class>
      <master-data-genaral-table
        [tableId]="tableKey"
        [tableValues]="titles()"
        [columns]="titleDisplayedColumns"
        [userPreferences]="userTitlePreferences"
        [dataKeys]="dataKeys"
        (onColumnChanges)="onUserTitlePreferencesChanges($event)"
        (onCreateRegister)="handleTableEvents({ type: 'create' })"
        (onDeleteRegister)="handleTableEvents({ type: 'delete', data: $event })"
        (onEditRegister)="editTitle($event)"
      ></master-data-genaral-table>

      <p-dialog 
        [header]="modalType === 'create' 
          ? ('TITLE.FORM.TITLE_FORM' | translate) 
          : ('TITLE.DELETE.CONFIRMATION' | translate)" 
        [modal]="true" 
        [(visible)]="visibleModal" 
        (onShow)="onDialogShow()"
      >
        <app-title-modal
          [modalType]="modalType"
          [titleName]="titleName"
          [titleToDelete]="selectedTitle"
          (isVisibleModal)="onModalVisibilityChange($event)"
          (confirmDelete)="onDeleteConfirm($event)"
          #titleModal
        ></app-title-modal>
      </p-dialog>
    </div>
  </div>
</div>
<p-toast/>