<div class="container">
  <div class="row">
    <master-data-genaral-table
      [tableId]="tableKey"
      [tableValues]="costsUI()"
      [columns]="columnsHeaderFieldCosts"
      [userPreferences]="userCostTablePreferences"
      [dataKeys]="dataKeys"
      (onColumnChanges)="onUserCostTablePreferencesChanges($event)"
      (onDeleteRegister)="openCostTypeModal({type: 'delete', data: $event})"
      (onCreateRegister)="openCostTypeModal({type: 'create'})"
    ></master-data-genaral-table>
  </div>
  <p-dialog 
    [header]="modalType === 'delete' ? 
      ('COSTS.MODAL.DELETE_COST_TYPE' | translate) : 
      ('COSTS.MODAL.CREATE_COST_TYPE' | translate)" 
    [modal]="true" 
    [(visible)]="visibleCostTypeModal">
    <app-modal-cost
      [modalType]="modalType"
      [selectedCostType]="selectedCostType"
      (isVisibleModal)="onModalVisibilityChange($event)"
      (onDeleteCostType)="onCostTypeDelete($event)"
      (onCreateCostType)="onCostTypeCreate($event)">
    </app-modal-cost>
  </p-dialog>
</div>
<p-toast/>
