<div class="container">
  <div class="row">
    <master-data-genaral-table
      [tableId]="tableKey"
      [tableValues]="costsUI()"
      [columns]="columnsHeaderFieldCosts"
      [userPreferences]="userCostTablePreferences"
      [dataKeys]="dataKeys"
      (onColumnChanges)="onUserCostTablePreferencesChanges($event)"
      (onDeleteRegister)="openDeleteCostTypeModal($event)"
    ></master-data-genaral-table>
  </div>
  <p-dialog 
    [header]="'COSTS.MODAL.DELETE_COST_TYPE' | translate" 
    [modal]="true" 
    [(visible)]="visibleCostTypeModal">
    <div class="confirmation-content mb-2 mt-4">
      <p class="mb-4">
        {{ 'COSTS.MODAL.DELETE_COST_TYPE_QUESTION' | translate }}
        <strong class="stronglock mt-1">"{{ selectedCostType?.name }} "</strong>?
      </p>

      <div class="flex justify-content-center gap-2">
        <p-button type="button" class="delete" size="small" [label]="'BUTTONS.DELETE' | translate" icon="pi pi-trash"
          iconPos="left" (onClick)="onCostTypeDelete()" severity="danger" [loading]="isLoadingCostType"
          [disabled]="isLoadingCostType" />
        <p-button type="button" class="cancel" size="small" [label]="'BUTTONS.CANCEL' | translate" icon="pi pi-times"
          iconPos="left" (onClick)="this.visibleCostTypeModal = false;" [disabled]="isLoadingCostType" />
      </div>
    </div>
  </p-dialog>
</div>
