@use 'variables' as *;

p-button{
    color: $primary-light;
}

//Styles table head
.thead {
    background: $primary-color;
    color: #fff;
    min-width: 1.25rem;//=100px
  
    &:hover {
      background: $accent-color;
      color: $primary-dark;
    }
}

.thead-bg-blue {
    background: $primary-color;
}

.thead-input-id {
    min-width: 4.4rem;//=70px
    width: 100%;
}

.thead-input-width {
    width: 100%;
}
.align-right {
    text-align: right;
}

::ng-deep .p-datatable table {
    table-layout: fixed !important; /* sets the cell width */
    width: 100% !important;
}

::ng-deep .p-datatable td,
::ng-deep .p-datatable th {
    width: calc(100% / 10); /* 10 columns: adjust according to the actual quantity */
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}