<div class="card">
    <master-data-genaral-table
      [tableId]="tableKey"
      [tableValues]="employees"
      [columns]="selectedColumns"
      [userPreferences]="userEmployeeOverviewPreferences"
      [dataKeys]="dataKeys"
      (onColumnChanges)="onUserEmployeeOverviewPreferencesChanges($event)"
      (onEditRegister)="goToEmployeeDetails($event)"
      (onDeleteRegister)="deleteEmployee($event)"
      (onCreateRegister)="redirectToEmployeeDetails()"
    ></master-data-genaral-table>
    <p-confirmDialog [style]="{ width: '450px' }" />
</div>