<div class="container">
  <div class="row">
    <div class>
      <master-data-genaral-table
        [tableId]="tableKey"
        [tableValues]="publicHolidays()"
        [columns]="columnsHeaderFieldHoliday"
        [userPreferences]="userHolidaysPreferences"
        [dataKeys]="dataKeys"
        (onColumnChanges)="onUserHolidaysPreferencesChanges($event)"
        (onCreateRegister)="handleTableEvents({ type: 'create' })"
        (onDeleteRegister)="handleTableEvents({ type: 'delete', data: $event })"
        (onEditRegister)="editPublicHoliday($event)"
      ></master-data-genaral-table>
    </div>
  </div>
</div>

<p-dialog
    [header]="modalType === 'create'
    ? ('HOLIDAYS.FORM.HOLIDAY_NAME' | translate)
    : ('HOLIDAYS.DELETE.CONFIRMATION' | translate)"
    [modal]="true"
    [(visible)]="visibleModal"
    >
    <app-holiday-modal
        [modalType]="modalType"
        [visible]="visibleModal"
        [publicHolidayName]="publicHolidayName"
        [publicHolidayToDelete]="selectedPublicHoliday"
        (isVisibleModel)="onModalVisibilityChange($event)"
        (toastMessage)="toastMessageDisplay($event)"
        (publicHolidayCreated)="createdHoliday()"
        #holidayModal>
    </app-holiday-modal>
</p-dialog>
