<div class="card">
  <p-table
    #dt
    [value]="holidays"
    dataKey="id"
    [rows]="15"
    [rowsPerPageOptions]="[15, 30, 50]"
    [paginator]="true"
    currentPageReportTemplate="{{ 'HOLIDAYS.TABLE.PAGE_INFO' | translate }}"
    [showCurrentPageReport]="true"
    [resizableColumns]="true"
    [scrollable]="true"
    scrollHeight="60vh"
    [style]="{ 'table-layout': 'fixed' }"
    [tableStyle]="{ 'min-width': '5%', 'border-spacing': '1px' }"
  >
    <!-- FILTRO DE COLUMNAS -->
    <ng-template #caption>
      <p-multiselect
        display="chip"
        [options]="[
          { field: 'sort', header: ('HOLIDAYS.TABLE.SORT' | translate) },
          { field: 'name', header: ('HOLIDAYS.TABLE.NAME' | translate) }
        ]"
        [(ngModel)]="selectedColumns"
        optionLabel="header"
        selectedItemsLabel="{{ 'HOLIDAYS.TABLE.COLUMNS_SELECTED' | translate }}"
        [style]="{
          'min-width': '10%',
          'font-size': '14px',
          'line-height': '16.8px'
        }"
        placeholder="{{ 'HOLIDAYS.TABLE.CHOOSE_COLUMNS' | translate }}"
      />
    </ng-template>

    <!-- ENCABEZADOS FILTRO -->
    <ng-template #header>
      <tr>
        <th id="holidays-table-options"></th>
        <th scope="col">
          <input
            pInputText
            pSize="small"
            type="text"
            class="thead-input-id"
            (input)="applyFilter($event, 'sort')"
          />
        </th>
        <th scope="col">
          <input
            pInputText
            pSize="small"
            type="text"
            class="thead-input-width"
            (input)="applyFilter($event, 'name')"
          />
        </th>
      </tr>
      <tr>
        <th class="thead-bg-blue" scope="col"></th>
        <th class="thead" pSortableColumn="sort" pResizableColumn scope="col">
          {{ "HOLIDAYS.TABLE.SORT" | translate }}
          <p-sortIcon field="sort" />
        </th>

        <th class="thead" pSortableColumn="name" pResizableColumn scope="col">
          {{ "HOLIDAYS.TABLE.NAME" | translate }}
          <p-sortIcon field="name" />
        </th>
      </tr>
    </ng-template>

    <!-- CUERPO -->
    <ng-template #body let-holiday let-i="rowIndex">
      <tr [ngClass]="{ 'odd-row': i % 2 !== 0, 'even-row': i % 2 === 0 }">
        <td class="col-actions">
          <div class="flex items-center justify-center gap-2">
            <button
              pButton
              icon="pi pi-pencil"
              class="p-button-rounded p-button-info button-option"
              (click)="editHoliday(holiday)"
            ></button>
            <button
              pButton
              icon="pi pi-trash"
              class="p-button-rounded p-button-danger button-option"
              (click)="deleteHoliday(holiday.id)"
            ></button>
          </div>
        </td>
        <td>{{ holiday.sort }}</td>
        <td>{{ holiday.name }}</td>
      </tr>
    </ng-template>

    <!-- SIN DATOS -->
    <ng-template #emptymessage>
      <tr>
        <td colspan="3">
          <p-message severity="info">
            {{ "HOLIDAYS.TABLE.NO_DATA" | translate }}
          </p-message>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <!-- TOOLBAR -->
  <p-toolbar>
    <ng-template #start>
      <p-button
        [label]="'HOLIDAYS.BUTTON.NEW' | translate"
        icon="pi pi-plus"
        (click)="createHoliday()"
        (keydown.enter)="createHoliday()"
      />
    </ng-template>
  </p-toolbar>
</div>
