<ng-container *ngIf="isCreateMode; else deleteTemplate">
    <form [formGroup]="createdProjectStatusForm" (ngSubmit)="onSubmit()">
        <div class="align-items-center mb-2 mt-4">
            <div class="create-form flex align-items-center mb-4">
                <label for="projectStatusName">{{ 'PROJECT_STATUS.FORM.NEW_PROJECT_STATUS' | translate}}</label>
                <input #projectStatusInput pInputText type="text" id="projectStatusName" formControlName="name" autocomplete="off"
                    [attr.aria-invalid]="createdProjectStatusForm.get('name')?.invalid"
                    [attr.aria-describedby]="createdProjectStatusForm.get('name')?.invalid ? 'projectStatusError' : null"
                    />
                <small *ngIf="createdProjectStatusForm.get('name')?.invalid && createdProjectStatusForm.get('name')?.touched"
                    id="projectStatusError" class="text-red-500 block mt-1">
                </small>
            </div>

            <div class="flex justify-content-center gap-2 mt-4">
                <p-button type="submit" class="save" size="small" [label]="'BUTTONS.SAVE' | translate"
                    icon="pi pi-check" iconPos="left" [loading]="isLoading"
                    [disabled]="createdProjectStatusForm.invalid || isLoading || !createdProjectStatusForm.dirty"/>

                <p-button type="button" class="cancel" size="small" [label]="'BUTTONS.CANCEL' | translate"
                    icon="pi pi-times" iconPos="left" (onClick)="closeModel()" [disabled]="isLoading"/>
            </div>
        </div>
    </form>
</ng-container>

<ng-template #deleteTemplate>
    <div class="confirmation-content mb-2 mt-4">
        <p class="mb-4">
            {{ 'PROJECT_STATUS.DELETE.CONFIRM_QUESTION' | translate }}
            <strong class="stronglock mt-1">{{ projectStatusName }}</strong>?
        </p>

        <div class="flex justify-content-center gap-2">
            <p-button type="button" class="delete" size="small" [label]="'BUTTONS.DELETE' | translate"
                icon="pi pi-trash" iconPos="left" (onClick)="onDeleteConfirm()" severity="danger" [loading]="isLoading"
                [disabled]="isLoading"/>

            <p-button type="button" class="cancel" size="small" [label]="'BUTTONS.CANCEL' | translate"
                icon="pi pi-times" iconPos="left" (onClick)="closeModel()" [disabled]="isLoading" />
        </div>
    </div>
</ng-template>
<app-occ-error-modal
  *ngIf="showOCCErrorModalProjectStatus"
  [errorType]="occErrorType"
  [reloadCurrentPage]="true"
  (close)="showOCCErrorModalProjectStatus = false"
  >
</app-occ-error-modal>
