<ng-container *ngIf="isCreateMode; else deleteTemplate">
    <form [formGroup]="createTitleForm" (ngSubmit)="onSubmit()">
        <div class="align-items-center mb-2 mt-4">
            <div class="create-form">
                <label for="titleName" class="block">
                    {{ 'TITLE.FORM.NEW_TITLE' | translate }}
                </label>
                <div class="input-message">
                    <input #titleInput pInputText type="text" id="titleName" formControlName="name" autocomplete="off"
                        [attr.aria-invalid]="createTitleForm.get('name')?.invalid"
                        [attr.aria-describedby]="createTitleForm.get('name')?.invalid ? 'titleError' : null"
                        class="w-full" />

                    <p-message severity="error" [showTransitionOptions]="'0ms'" variant="simple" size="small"
                        *ngIf="(createTitleForm.get('name')?.invalid && createTitleForm.get('name')?.dirty) || titleAlreadyExist">
                        <span
                            *ngIf="createTitleForm.get('name')?.errors?.['required'] && createTitleForm.get('name')?.dirty">
                            {{ 'ERROR.FIELD_REQUIRED' | translate }}
                        </span>
                        <span *ngIf="titleAlreadyExist && !createTitleForm.get('name')?.errors?.['required']">
                            {{ 'TITLE.ERROR.TITLE_ALREADY_EXISTS' | translate }}
                        </span>
                    </p-message>
                </div>
            </div>

            <div class="flex justify-content-center gap-2 mt-4">
                <p-button type="submit" class="save" size="small" [label]="'BUTTONS.SAVE' | translate"
                    icon="pi pi-check" iconPos="left" [loading]="isLoading" [disabled]="isSaveDisabled" />

                <p-button type="button" class="cancel" size="small" [label]="'BUTTONS.CANCEL' | translate"
                    icon="pi pi-times" iconPos="left" (onClick)="closeModal()" [disabled]="isLoading" />
            </div>
        </div>
    </form>
</ng-container>

<ng-template #deleteTemplate>
    <div class="confirmation-content mb-2 mt-4">
        <p class="mb-4" [innerHTML]="'DIALOG.DELETE' | translate:{ value: titleName }"></p>

        <div class="flex justify-content-center gap-2">
            <p-button type="button" class="delete" size="small" [label]="'BUTTONS.DELETE' | translate"
                icon="pi pi-trash" iconPos="left" (onClick)="onDeleteConfirm()" severity="danger" [loading]="isLoading"
                [disabled]="isLoading" />

            <p-button type="button" class="cancel" size="small" [label]="'BUTTONS.CANCEL' | translate"
                icon="pi pi-times" iconPos="left" (onClick)="closeModal()" [disabled]="isLoading" />

        </div>
    </div>
</ng-template>
<app-occ-error-modal *ngIf="showOCCErrorModaTitle" [errorType]="occErrorType" [reloadCurrentPage]="true"
    (close)="showOCCErrorModaTitle = false">
</app-occ-error-modal>