<ng-container *ngIf="isCreateMode; else deleteTemplate">
    <form [formGroup]="createTitleForm" (ngSubmit)="onSubmit()">
        <div class="align-items-center mb-2 mt-4">
            <div class="create-form">
                <label for="titleName" class="block">
                    {{ 'TITLE.FORM.NEW_TITLE' | translate }}
                </label>
                <input #titleInput pInputText type="text" id="titleName" formControlName="name" autocomplete="off"
                    [attr.aria-invalid]="createTitleForm.get('name')?.invalid"
                    [attr.aria-describedby]="createTitleForm.get('name')?.invalid ? 'titleError' : null"
                    class="w-full" />

                <small *ngIf="createTitleForm.get('name')?.invalid && createTitleForm.get('name')?.touched"
                    id="titleError" class="text-red-500 block mt-1">
                </small>
            </div>

            <div class="flex justify-content-center gap-2 mt-4">
                <p-button type="submit" class="save" size="small" [label]="'BUTTONS.SAVE' | translate"
                    icon="pi pi-check" iconPos="left" [loading]="isLoading"
                    [disabled]="createTitleForm.invalid || isLoading" />

                <p-button type="button" class="cancel" size="small" [label]="'BUTTONS.CANCEL' | translate"
                    icon="pi pi-times" iconPos="left" (onClick)="closeModal()" [disabled]="isLoading" />
            </div>
        </div>
    </form>
</ng-container>

<ng-template #deleteTemplate>
    <div class="confirmation-content mb-2 mt-4">
        <p class="mb-4">
            {{ 'TITLE.DELETE.CONFIRM_QUESTION' | translate }}
            <strong class="stronglock mt-1">"{{ titleName }}"</strong>?
        </p>

        <div class="flex justify-content-center gap-2">
            <p-button type="button" class="delete" size="small" [label]="'BUTTONS.DELETE' | translate"
                icon="pi pi-trash" iconPos="left" (onClick)="onDeleteConfirm()" severity="danger" [loading]="isLoading"
                [disabled]="isLoading" />

            <p-button type="button" class="cancel" size="small" [label]="'BUTTONS.CANCEL' | translate"
                icon="pi pi-times" iconPos="left" (onClick)="closeModal()" [disabled]="isLoading" />

        </div>
    </div>
</ng-template>
<app-occ-error-modal
  *ngIf="showOCCErrorModaTitle"
  [errorType]="occErrorType"
  [reloadCurrentPage]="true"
  (close)="showOCCErrorModaTitle = false">
</app-occ-error-modal>