.field {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.25rem;
  align-items: center;
  justify-content: space-between;
  
  label {
    display: block;
    margin-bottom: 0;
    font-weight: 500;
    width: 7rem;
  }

  .p-select {
    width: 18.75rem;

    span.p-select-label {
      padding: 0.5rem 0.75rem !important;
    }
  }

  .postal-city {
    width: 18.75rem;
    display: flex;
  }
  
}

.column {
  padding: 0.5rem 2rem;
}

.label-dialog {
  display: block;
  width: 3.2rem;
}

.pi.pi-globe {
  position: absolute;
  right: -1.2rem;
}

p-select {
  align-items: center;
}

//Styles table head
.thead {
  background: #007fff;
  color: #fff;
  min-width: 6.25rem;//=100px

  &:hover {
    background: #abcbeb;
    color: #1E293B
  }
}

//Styles btns edit delete
.button-option.p-button-rounded {
  height: 1.5rem;
  width: 1.5rem;
}

td, th {
  padding: 5px 16px !important;
  font-size: 14px;
  margin-left: 15px !important;
}