@use 'variables' as *;

.field {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5rem;
  align-items: center;
  width: 100%;
  
  label {
    margin-bottom: 0;
    width: 40%;
  }

  .p-select {
    width: 100%;
  }

  .postal-city {
    width: 100%;
    display: flex;
    gap: 3px;
    
    .postal {
      width: 33.333%;
    }
    .city {
      width: 66.666%;
    }
  }

  input {
    width: 100%;
  }
  
}

//Icon homegape
.pi.pi-globe {
  position: absolute;
  right: -1.3rem;
}

//Styles table head
.thead {
  background: $primary-color;
  color: #fff;
  min-width: 6.25rem;//=100px

  &:hover {
    background: $accent-color;
    color: $primary-dark;
  }
}

