<div class="container">
  <form [formGroup]="formDetailCustomer" action="">
    <div class="grid">
      <!-- Primera columna -->
      <div class="md:col-6 lg:col-6 lg:pr-8 md:pr-8">

        <div class="field">
          <label for="customerNo">Kunden-Nr.</label>
          <input type="text" pInputText id="customerNo" formControlName="customerNo"/>
        </div>

        <div class="field align-items-start">
          <label for="companyName" class="mt-2">Company Name</label>
          <div class="flex flex-column w-full">
            <input type="text" id="companyName1" class="mb-1" pInputText formControlName="companyText1"/>
            <input type="text" id="companyName2" pInputText formControlName="companyText2"/>
          </div>
        </div>

        <!-- Select country -->
        <div class="field">
          <label for="country">Land</label>
          <p-select formControlName="selectedCountry" 
            id="country"
            [options]="countries"
            [(ngModel)]="selectedCountry"
            optionLabel="name" 
          >
            <!-- Opción seleccionada (visualización en el input) -->
            <ng-template let-country pTemplate="selectedItem">
              <div class="flex align-items-center gap-2" *ngIf="country">
                <img 
                  [src]="country.flag" 
                  style="width: 24px; height: 16px; object-fit: cover" 
                  alt="flag" 
                />
                <span>{{ country.name }}</span>
              </div>
            </ng-template>

           <!-- Personalización de cada opción -->
            <ng-template let-country pTemplate="item">
              <div class="flex align-items-center gap-2">
                <img 
                  [src]="country.flag" 
                  style="width: 24px; height: 16px; object-fit: cover" 
                  alt="flag" 
                />
                <span>{{ country.name }}</span>
              </div>
            </ng-template>
          </p-select>
        </div>

        <div class="field">
          <label for="street">Street</label>
          <input type="text" id="street" pInputText formControlName="street"/>
        </div>

        <div class="field">
          <label for="">PLZ / Ort</label>
          <div class="postal-city">
            <input type="text" id="postalCode" class="postal" pInputText formControlName="postalCode"/>
            <input type="text" id="city" class="city" pInputText formControlName="city"/>
          </div>
        </div>

        <div class="field">
          <label for="">Unternehmensart</label>
          <p-select formControlName="selectedTypeCompany" 
          id="typeCompany"
          [options]="typesCompany" 
          optionLabel="name" 
          />
        </div>

        <div class="field">
          <label for="">Wirtschaftszweig</label>
          <p-select formControlName="selectedSector" 
          id="sector"
          [options]="sectors" 
          optionLabel="name" 
          />
        </div>

        <div class="field">
          <label for="state">Bundesland</label>
          <p-select formControlName="selectedState" 
          id="state"
          [options]="states" 
          optionLabel="name"
          />
        </div>

        <div class="field relative">
          <label for="homepage">Webseite</label>
          <input type="text" id="homepage" pInputText formControlName="homepage"/>
          <i class="pi pi-globe" style="color: #12435d"></i>
        </div>

        <div class="field">
          <label for="phone">Telefon</label>
          <input type="text" id="phone" pInputText formControlName="phone"/>
        </div>
      </div>

      <!-- Segunda columna -->
      <div class="md:col-6 lg:col-6 lg:pl-8 md:pl-8">
        
        <div class="field">
          <label for="invoiceEmail">Email Rechnung</label>
          <input type="text" id="invoiceEmail" pInputText formControlName="invoiceEmail"/>
        </div>

        <div class="field">
          <label for="weekWorkingHours">Unternehmerische Wochenarbeitszeit</label>
          <input type="text" id="weekWorkingHours" pInputText formControlName="weekWorkingHours"/>
        </div>

        <div class="field">
          <label for="taxNumber">Steuernummer</label>
          <input type="text" id="taxNumber" pInputText formControlName="taxNumber"/>
        </div>

        <div class="field">
          <label for="headcount">Finanzamt</label>
          <input type="number" id="headcount" pInputText formControlName="headcount"/>
        </div>

        <div class="field">
          <label for="maxHoursMonth">Max. Stunden / Monat</label>
          <input type="number" id="maxHoursMonth" pInputText formControlName="maxHoursMonth"/>
        </div>

        <div class="field">
          <label for="maxHoursYear">Max. Stunden / Jahr</label>
          <input type="number" id="maxHoursYear" pInputText formControlName="maxHoursYear"/>
        </div>

        <p-floatlabel variant="on">
          <textarea pTextarea id="textAreaComment" formControlName="textAreaComment" rows="6" cols="30" style="resize: none" class="w-full"></textarea>
          <label for="textAreaComment">Kommentar</label>
        </p-floatlabel>

      </div>

    </div>
  </form>
  <div class="contact-person flex flex-column">

    <div class="flex flex-row gap-3 align-items-center my-2">
      <span class="font-semibold">Contact Person</span>
      <p-button (keydown.enter)="showDialog()" icon="pi pi-plus" label="Neu" id="new-contact-person" (click)="showDialog()"></p-button>
      <p-dialog header="Ansprechpartner bearbeiten" [modal]="true" [(visible)]="visible" [style]="{ width: '40rem' }">
        <app-contact></app-contact>
        <div class="buttons flex justify-content-center my-2">
          <p-button label="Speichern" icon="pi pi-check" class="mx-4" severity="success"></p-button>
          <p-button (keydown.enter)="visible = false" label="Abbrechen" icon="pi pi-times" severity="secondary" (click)="visible = false" [style]="{ 'background-color': 'black', 'color': 'white', 'border': 'none' }"/>
         </div>
      </p-dialog>
    </div>
    
    <p-table 
      [value]="persons" 
      [columns]="selectedColumns"
      [paginator]="true"
      [rows]="5"
      showGridlines
      scrollable="true"
      scrollHeight="200px"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[5, 10, 20]"
      [tableStyle]="{'min-width': 'auto','border-spacing': '1px'}"
      [resizableColumns]="true"
      columnResizeMode="expand"
      styleClass="p-datatable-gridlines"
    >
      <ng-template #caption>
        <p-multiselect 
          display="chip" 
          [options]="cols" 
          [(ngModel)]="selectedColumns" 
          optionLabel="header" 
          selectedItemsLabel="{0} columns selected" 
          [style]="{ 'min-width': '200px', 'font-size': '14px', 'line-height': '16.8px' }" 
          placeholder="Choose Columns" />
      </ng-template>
      <ng-template #header let-columns>
        <tr>
          <th id="customer-Details-options" class="thead" pResizableColumn [style]="{'min-width': '100px', 'width':'100px'}">Option</th>


          <th id="detail-customer-col-field" *ngFor="let col of columns; let i = index" 
            [pSortableColumn]="col.field" 
            class="thead" 
            pResizableColumn>
              {{ col.header }} 
            <p-sortIcon [field]="col.field"/>
          </th>
        </tr>
      </ng-template>
      <ng-template #body let-person let-i="rowIndex" let-columns="columns">
        <tr [ngClass]="{ 'odd-row': i % 2 !== 0, 'even-row': i % 2 === 0 }">

          <td>
            <div class="flex gap-3">
              <button 
                pButton 
                icon="pi pi-pencil" 
                class="p-button-rounded p-button-info button-option" 
                (click)="showDialog()"
              ></button>
              
              <button 
                pButton 
                icon="pi pi-trash" 
                class="p-button-rounded p-button-danger button-option"
                (click)="deletePerson(person)"
              ></button>
            </div>
          </td>

          <td *ngFor="let col of columns; let i = index" 
             [ngClass]="{'align-right': i === columns.length - 1}">
             {{ person[col.field] }}
          </td>
        </tr>
      </ng-template>
      <ng-template #emptymessage>
        <tr>
          <td colspan="7">
            <p-message severity="info">No contact persons found.</p-message
          ></td>
        </tr>
      </ng-template>
    </p-table>  
    <br>
    <div class="form-row flex flex-wrap gap-3 justify-content-center">
      <p-button class="Save me-2" size="small" label="Speichern" icon="pi pi-check"
          iconPos="left" />
      <p-button class="Delete me-2" size="small" label="Löschen" icon="pi pi-trash"
          iconPos="left" [style]="{ background: '#ef4444' }" />
      <p-button class="Cancel me-2" size="small" label="Abbrechen" icon="pi pi-times"
          iconPos="left" [style]="{ background: '#000' }" routerLink="/customers"/>
  </div>
  </div>
</div>

