<div class="container">
  <!-- <h3 class="text-center mt-0">Detail customer</h3> -->
  <form [formGroup]="formDetailCustomer" action="">
    <div class="grid">
      <!-- Primera columna -->
      <div class="column md:col-6 lg:col-6">

        <div class="field">
          <label>Customer No.</label>
          <input type="text" pInputText id="InputCustomerNo" formControlName="customerNo"/>
        </div>

        <div class="field align-items-start">
          <label for="companyName" class="mt-2">Company Name</label>
          <div class="flex flex-column">
            <input type="text" id="companyName1" class="mb-1" pInputText formControlName="companyText1"/>
            <input type="text" id="companyName2" pInputText formControlName="companyText2"/>
          </div>
        </div>

        <div class="field">
          <label for="country">Country</label>
          <p-select formControlName="selectedCountry" 
            id="country"
            [options]="countries"
            optionLabel="name" 
            placeholder="Select a Country"
          >
            <!-- Opción seleccionada (visualización en el input) -->
            <ng-template let-country pTemplate="selectedItem">
              <div class="flex align-items-center gap-2" *ngIf="country">
                <img 
                  [src]="country.flag" 
                  style="width: 24px; height: 16px; object-fit: cover" 
                  alt="flag" 
                />
                <span>{{ country.name }}</span>
              </div>
            </ng-template>

           <!-- Personalización de cada opción -->
            <ng-template let-country pTemplate="item">
              <div class="flex align-items-center gap-2">
                <img 
                  [src]="country.flag" 
                  style="width: 24px; height: 16px; object-fit: cover" 
                  alt="flag" 
                />
                <span>{{ country.name }}</span>
              </div>
            </ng-template>
          </p-select>
        </div>

        <div class="field">
          <div class="flex flex-none">
            <label for="street">Street</label>
          </div>
          <div class="flex flex-grow">
            <input type="text" id="street" pInputText formControlName="street"/>
          </div>
        </div>

        <div class="field">
          <label for="">Postal Code / City</label>
          <div class="postal-city">
            <input type="text" id="postalCode" class="w-4 mr-2" pInputText formControlName="postalCode"/>
            <input type="text" id="city" class="" pInputText formControlName="city"/>
          </div>
        </div>

        <div class="field">
          <label for="">Type of Company</label>
          <p-select formControlName="selectedTypeCompany" 
          id="typeCompany"
          [options]="typesCompany" 
          optionLabel="name" 
          placeholder="Select a Type Company"
          />
        </div>

        <div class="field">
          <label for="">Sector</label>
          <p-select formControlName="selectedSector" 
          id="sector"
          [options]="sectors" 
          optionLabel="name" 
          placeholder="Select a sector"  
          />
        </div>

        <div class="field">
          <label for="state">State</label>
          <p-select formControlName="selectedState" 
          id="state"
          [options]="states" 
          optionLabel="name" 
          placeholder="Select a state"
          />
        </div>

        <div class="field relative">
          <label for="homepage">Homepage</label>
          <input type="text" id="homepage" pInputText formControlName="homepage"/>
          <i class="pi pi-globe" style="color: blue"></i>
        </div>

        <div class="field">
          <label for="phone">Phone</label>
          <input type="text" id="phone" pInputText formControlName="phone"/>
        </div>
      </div>

      <!-- Segunda columna -->
      <div class="column md:col-6 lg:col-6">
        
        <div class="field">
          <label for="invoiceEmail">Invoice Email</label>
          <input type="text" id="invoiceEmail" pInputText formControlName="invoiceEmail"/>
        </div>

        <div class="field">
          <label for="weekWorkingHours">Company-wide Weekly Working Hours</label>
          <input type="text" id="weekWorkingHours" pInputText formControlName="weekWorkingHours"/>
        </div>

        <div class="field">
          <label for="taxNumber">Tax Number</label>
          <input type="text" id="taxNumber" pInputText formControlName="taxNumber"/>
        </div>

        <div class="field">
          <label for="headcount">Headcount</label>
          <input type="number" id="headcount" pInputText formControlName="headcount"/>
        </div>

        <div class="field">
          <label for="maxHoursMonth">Max Hours / Month</label>
          <input type="number" id="maxHoursMonth" pInputText formControlName="maxHoursMonth"/>
        </div>

        <div class="field">
          <label for="maxHoursYear">Max Hours / Year</label>
          <input type="number" id="maxHoursYear" pInputText formControlName="maxHoursYear"/>
        </div>

        <p-floatlabel variant="on">
          <textarea pTextarea id="textAreaComment" formControlName="textAreaComment" rows="6" cols="30" style="resize: none" class="w-full"></textarea>
          <label for="textAreaComment">Comment</label>
        </p-floatlabel>

      </div>

    </div>
  </form>
  <div class="contact-person flex flex-column">

    <div class="flex flex-row gap-3 align-items-center my-2">
      <label>Contact Person</label>
      <p-button icon="pi pi-plus" label="New" id="new-contact-person" routerLink="/customers/contact"></p-button>
    </div>
    
    <p-table 
      [value]="persons" 
      [columns]="selectedColumns"
      [paginator]="true"
      [rows]="5"
      showGridlines
      scrollable="true"
      scrollHeight="300px"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[5, 10, 20]"
      [tableStyle]="{'min-width': 'auto','border-spacing': '1px'}"
      [resizableColumns]="true"
      styleClass="p-datatable-gridlines"
    >
      <ng-template #caption>
        <p-multiselect 
          display="chip" 
          [options]="cols" 
          [(ngModel)]="selectedColumns" 
          optionLabel="header" 
          selectedItemsLabel="{0} columns selected" 
          [style]="{ 'width': '250px', 'font-size': '14px', 'line-height': '16.8px' }" 
          placeholder="Choose Columns" />
      </ng-template>
      <ng-template #header let-columns>
        <tr>

          <th class="thead" pResizableColumn [style]="{'min-width': '100px', 'width':'100px'}">Option</th>

          <th *ngFor="let col of columns; let i = index" 
            [pSortableColumn]="col.field" 
            class="thead" 
            pResizableColumn>
              {{ col.header }} 
            <p-sortIcon [field]="col.field"/>
          </th>
        </tr>
      </ng-template>
      <ng-template #body let-person let-i="rowIndex" let-columns="columns">
        <tr [ngClass]="{ 'odd-row': i % 2 !== 0, 'even-row': i % 2 === 0 }">

          <td>
            <div class="flex gap-3">
              <button 
                pButton 
                icon="pi pi-pencil" 
                class="p-button-rounded p-button-info button-option" 
                [routerLink]="['/customers/contact', person.id]"
              ></button>
              <button 
                pButton 
                icon="pi pi-trash" 
                class="p-button-rounded p-button-danger button-option"
                (click)="deletePerson(person)"
              ></button>
            </div>
          </td>

          <td *ngFor="let col of columns"> 
            {{ person[col.field] }}
          </td>
        </tr>
      </ng-template>
      <ng-template #emptymessage>
        <tr>
          <td colspan="7">
            <p-message severity="info">No contact persons found.</p-message
          ></td>
        </tr>
      </ng-template>
    </p-table>

    <div class="buttons flex justify-content-center my-2">
      <p-button label="Save" icon="pi pi-check" class="mx-4" severity="success"></p-button>
      <p-button label="Delete" icon="pi pi-trash" class="mx-4" severity="danger"></p-button>
      <p-button 
        label="Cancel" 
        icon="pi pi-times" 
        class="mx-4"
        severity="secondary"
        routerLink="/customers"
      ></p-button>
     </div>
  </div>
</div>

