.funding-form {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;

  label {
      width: 150px;
      font-weight: 500;
  }

  input,
  p-toggleswitch {
      flex: 1;
      max-width: 300px;
      margin-left: 1rem;
  }
}

.button-row {
  display: flex;                
  justify-content: center;      
  gap: 6px;                   
  margin-top: 1.5rem;           
}
