.funding-form{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;

    label {
      width: 150px;
      flex-shrink: 0;
    }
  
    input, .p-inputnumber-input {
      width: 70%;
    }
  }
  .custom-input {
    width: 70% !important;
  }