<p-card
  [style]="{ background: 'var(--light-cyan)' }"
  [header]="'FUNDING.HEADER.EDIT_FUNDING' | translate"
>
  <form [formGroup]="fundingForm" (ngSubmit)="onSubmit()">
    <div class="mb-2">
      <div class="funding-form">
        <label for="name">{{ "FUNDING.LABEL.PROGRAM" | translate }}</label>
        <input pInputText id="name" formControlName="name" autocomplete="off"/>
      </div>

      <div class="funding-form">
        <label for="defaultFundingRate">{{ "FUNDING.LABEL.RATE" | translate }}</label>
        <div class="input-message">
          <p-inputnumber mode="decimal" [min]="0" [useGrouping]="true" [minFractionDigits]="2" [maxFractionDigits]="2" locale="de-DE"
            inputId="defaultFundingRate" formControlName="defaultFundingRate" [inputStyle]="{'text-align': 'right', 'width': '70%' }"
            autocomplete="off" invalid="
              fundingForm.get('defaultFundingRate')?.invalid  
                && fundingForm.get('defaultFundingRate')?.dirty 
                || fundingForm.get('defaultFundingRate')?.touched"/>
            <p-message severity="error" [showTransitionOptions]="'0ms'" variant="simple" size="small" *ngIf="
              fundingForm.get('defaultFundingRate')?.invalid && 
              fundingForm.get('defaultFundingRate')?.dirty
            ">{{ 'ERROR.NUMBER_MAX' | translate }}</p-message>
        </div>
      </div>

      <div class="funding-form">
        <label for="defaultStuffFlat">{{ "FUNDING.LABEL.PERSONNEL_RATE" | translate }}</label>
        <div class="input-message">
          <p-inputnumber mode="decimal" [min]="0" [useGrouping]="true" [minFractionDigits]="2" [maxFractionDigits]="2" locale="de-DE"
            inputId="defaultStuffFlat" formControlName="defaultStuffFlat" [inputStyle]="{'text-align': 'right', 'width': '70%' }"
            autocomplete="off" invalid="
              fundingForm.get('defaultStuffFlat')?.invalid  
                && fundingForm.get('defaultStuffFlat')?.dirty 
                || fundingForm.get('defaultStuffFlat')?.touched"/>
            <p-message severity="error" [showTransitionOptions]="'0ms'" variant="simple" size="small" *ngIf="
              fundingForm.get('defaultStuffFlat')?.invalid && 
              fundingForm.get('defaultStuffFlat')?.dirty
            ">{{ 'ERROR.NUMBER_MAX' | translate }}</p-message>
        </div>
      </div>

      <div class="funding-form">
        <label for="defaultResearchShare">{{ "FUNDING.LABEL.RESEARCH_SHARE" | translate }}</label>
        <div class="input-message">
          <p-inputnumber mode="decimal" [min]="0" [useGrouping]="true" [minFractionDigits]="2" [maxFractionDigits]="2" locale="de-DE"
            inputId="defaultResearchShare" formControlName="defaultResearchShare" [inputStyle]="{'text-align': 'right', 'width': '70%' }"
            autocomplete="off" invalid="
                fundingForm.get('defaultResearchShare')?.invalid  
                  && fundingForm.get('defaultResearchShare')?.dirty 
                  || fundingForm.get('defaultResearchShare')?.touched"/>
          <p-message severity="error" [showTransitionOptions]="'0ms'" variant="simple" size="small" *ngIf="
            fundingForm.get('defaultResearchShare')?.invalid && 
            fundingForm.get('defaultResearchShare')?.dirty
          ">{{ 'ERROR.NUMBER_MAX' | translate }}</p-message>
        </div>
      </div>

      <div class="funding-form">
        <label for="defaultHoursPerYear">{{ "FUNDING.LABEL.PRODUCTIVE_HOURS" | translate }}</label>
        <p-inputnumber mode="decimal" [max]="99999.99" [min]="0" [useGrouping]="true" [minFractionDigits]="2" [maxFractionDigits]="2" locale="de-DE"
          inputId="defaultHoursPerYear" formControlName="defaultHoursPerYear" [inputStyle]="{'text-align': 'right', 'width': '70%' }"
          autocomplete="off"
        />
      </div>

      <div class="flex justify-content-center gap-2 mt-4">
        <p-button
          class="save me-2"
          size="small"
          [label]="'BUTTONS.SAVE' | translate"
          icon="pi pi-check"
          iconPos="left"
          type="submit"
          [loading]="isLoading"
          [disabled]="fundingForm.invalid || !fundingForm.dirty || isLoading"
        ></p-button>

        <p-button
          class="cancel me-2"
          size="small"
          [label]="'BUTTONS.CANCEL' | translate"
          icon="pi pi-times"
          iconPos="left"
          (click)="clearForm()"
          type="button"
          (keydown)="clearForm()"
        ></p-button>
      </div>
    </div>
  </form>
</p-card>
<app-occ-error-modal
  *ngIf="showOCCErrorModaFunding"
  (close)="showOCCErrorModaFunding = false"
  [useEmitter]="true"
  (refresh)="onRefresh()">
</app-occ-error-modal>
<p-toast/>
