<p-card [style]="{ background: 'var(--light-cyan)' }" [header]="'NETWORKS.LABEL.EDIT_NETWORK' | translate ">
    <form [formGroup]="editNetworkForm" (ngSubmit)="onSubmit()">
        <div class="flex flex-column mb-2 mt-4">
            <div class="network-form flex flex-row mb-4">
                <label for="network">{{ 'NETWORKS.LABEL.NETWORK' | translate }}</label>
                <input pInputText type="text" id="network" formControlName="network" autocomplete="off" />
            </div>
            <master-data-genaral-table
                [tableValues]="partners"
                [columns]="columsHeaderFieldPartner"
                [filterByColumns]="false"
                [hideColumns]="false"
                nameNewButton="NETWORKS.LABEL.NEW_PARTNER"
            ></master-data-genaral-table>
            <div class="row mt-2">
                <div class="col flex justify-content-center">
                    <p-button class="save me-2" size="small" [label]="'BUTTONS.SAVE' | translate" icon="pi pi-check" iconPos="left" />
                    <p-button class="cancel me-2" size="small" [label]="'BUTTONS.CANCEL' | translate" icon="pi pi-times" iconPos="left" />
                </div>
            </div>
        </div>
    </form>
</p-card>