<p-card [style]="{ background: 'var(--light-cyan)' }" [header]="'NETWORKS.LABEL.EDIT_NETWORK' | translate ">
    <form [formGroup]="editNetworkForm" (ngSubmit)="onSubmit()">
        <div class="flex flex-column mb-2 mt-4">
            <div class="network-form flex flex-row mb-4">
                <label for="name">{{ 'NETWORKS.LABEL.NETWORK' | translate }}</label>
                <input #firstInput pInputText type="text" id="name" formControlName="name" autocomplete="off" />
            </div>
            <master-data-genaral-table
                [tableId]="tableKey"
                [tableValues]="networksPartners()"
                [columns]="columsHeaderFieldPartner"
                [filterByColumns]="false"
                [hideColumns]="false"
                nameNewButton="NETWORKS.LABEL.NEW_PARTNER"
                [userPreferences]="userEditNetworkPreferences"
                [dataKeys]="dataKeys"
                (onColumnChanges)="onUserEditNetworkPreferencesChanges($event)"
                (onCreateRegister)="handleTableEvents({ type: 'create' })"
                (onEditRegister)="handleTableEvents({ type: 'edit', data: $event })"
                (onDeleteRegister)="handleTableEvents({ type: 'delete', data: $event })"
                [enableCreateButton]="!isCreateButtonEnable"
            ></master-data-genaral-table>
            <p-dialog 
              [header]="modalNetworkPartnerType === 'create' 
                ? ('NETWORKS.MODAL.NEW_PARTNER' | translate) 
                : modalNetworkPartnerType === 'edit'
                  ? ('NETWORKS.MODAL.EDIT_PARTNER' | translate) 
                  : ('NETWORKS.MODAL.DELETE_PARTNER' | translate)" 
              [modal]="true"
              [(visible)]="visibleNetworksPartnersModal"
            >
              <app-network-partner-modal
                [modalType]="modalNetworkPartnerType"
                [network]="networkToEdit"
                [selectedNetworkPartner]="selectedNetworkPartner"
                [visible]="visibleNetworksPartnersModal"
                (isVisibleModal)="onModalNetworkPartenerVisibilityChange($event)"
                (createNetworkPartner)="onCreateNetworkPartner($event)"
                (editNetworkPartner)="onEditNetworkPartner($event)"
                (deleteNetworkPartner)="onDeleteNetworkPartner($event)"
              ></app-network-partner-modal>
            </p-dialog>
            <div class="row mt-2">
                <div class="col flex justify-content-center">
                    <p-button class="save me-2" size="small" type="submit" [loading]="isLoading" [label]="'BUTTONS.SAVE' | translate" icon="pi pi-check" iconPos="left" />
                    <p-button class="cancel me-2" size="small" [disabled]="isLoading" (onClick)="clearForm()" [label]="'BUTTONS.CANCEL' | translate" icon="pi pi-times" iconPos="left" />
                </div>
            </div>
        </div>
    </form>
</p-card>
<app-occ-error-modal
  *ngIf="showOCCErrorModalNetwork"
  (close)="showOCCErrorModalNetwork = false"
  [useEmitter]="true"
  (refresh)="onRefresh()">
</app-occ-error-modal>