.fa-form {
  margin-left: 5% !important;
  margin-right: 5% !important;
}

.form-fa-container {
  display: block !important;
}

.order_input {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  font-weight: normal;

  label {
    width: 170px !important;
    font-weight: normal;
  }

  input,
  p-select,
  p-datepicker {
    width: 55% !important;
  }
}

.buttons-fa-container {
  display: flex;
}

.order_input p-calendar,
.order_input p-calendar .p-inputtext {
  width: 70%;
}

::ng-deep .p-datepicker {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  padding: 0 ;
}

::ng-deep .p-datepicker table,
::ng-deep .p-datepicker .p-monthpicker,
::ng-deep .p-datepicker .p-yearpicker,
::ng-deep .p-datepicker .p-datepicker-group {
  width: 100%;
  table-layout: fixed;
}