<ng-container *ngIf="isCreateFrameworkAgreementMode; else deleteFrameworkAgreementTemplate">
  <form [formGroup]="basicContractCreateForm" (ngSubmit)="onSubmit()">
    <div class="fa-form align-items-center mb-2 mt-4">
      <div class="form-fa-container flex align-items-center mb-6">
        <div class="order_input_fa mb-2">
            <label for="orderId">{{ 'FRAMEWORK-AGREEMENTS.DETAIL.FORM.FRAMEWORK_AGREEMENT_NO' | translate }}</label>
            <p-inputnumber readonly [disabled]="true" id="orderId" formControlName="contractNo" autocomplete="off"
             [useGrouping]="false" [inputStyle]="{'text-align': 'right'}"/>
        </div>
        <div class="order_input_fa mb-2">
            <label for="orderLabel">{{ 'FRAMEWORK-AGREEMENTS.DETAIL.FORM.FRAMEWORK_AGREEMENT' | translate }}</label>
            <input #inputText pInputText type="text" id="orderLabel" formControlName="contractLabel" autocomplete="off" />
        </div>
        <div class="order_input_fa mb-2">
            <label for="orderDate">{{ 'FRAMEWORK-AGREEMENTS.DETAIL.FORM.DATE' | translate }}</label>
            <p-datepicker inputId="orderDate" 
              appendTo="body"
              formControlName="date"  
              [showIcon]="true" 
              [showClear]="true" 
              dateFormat="dd.mm.yy" 
            />
        </div>
        <div class="order_input_fa mb-2">
            <label for="contractTitle">{{ 'FRAMEWORK-AGREEMENTS.DETAIL.FORM.LONG_TEXT' | translate }}</label>
            <input pInputText type="text" id="contractTitle" formControlName="contractTitle" autocomplete="off" />
        </div>
        <div class="order_input_fa mb-2"> 
            <label for="confirmationDate">{{ 'FRAMEWORK-AGREEMENTS.DETAIL.FORM.SIGNATURE_DATE' | translate }}</label>
            <p-datepicker inputId="confirmationDate" 
              appendTo="body"
              formControlName="confirmationDate"  
              showIcon 
              showClear 
              dateFormat="dd.mm.yy" 
            />
        </div>
        
        <div class="order_input_fa mb-2">
            <label for="fundingProgram">{{ 'FRAMEWORK-AGREEMENTS.DETAIL.FORM.FUNDING_PROGRAM' | translate }}</label>
            <p-select inputId="fundingProgram" 
                [options]="fundingPrograms()" 
                optionLabel="name"
                optionValue="id"
                [appendTo]="'body'"
                formControlName="fundingProgram" showClear
             [emptyMessage]="'TABLES.NO_RESULTS_FOUND' | translate"></p-select>
        </div>
        
        <div class="order_input_fa mb-2">
            <label for="contractStatus">{{ 'FRAMEWORK-AGREEMENTS.DETAIL.FORM.CONTRACT_STATUS' | translate }}</label>
            <p-select inputId="contractStatus" 
                [options]="contractStatus()" 
                optionLabel="status"
                optionValue="id"
                [appendTo]="'body'"
                formControlName="contractStatus" showClear
             [emptyMessage]="'TABLES.NO_RESULTS_FOUND' | translate"></p-select>
        </div>
        
        <div class="order_input_fa mb-2">
            <label for="employeeIws">{{ 'FRAMEWORK-AGREEMENTS.DETAIL.FORM.IWS_EMPLOYEES' | translate }}</label>
            <p-select inputId="employeeIws" 
                [options]="employeeIws()" 
                optionLabel="employeeLabel"
                optionValue="id"
                [appendTo]="'body'"
                formControlName="employeeIws" showClear
             [emptyMessage]="'TABLES.NO_RESULTS_FOUND' | translate"></p-select>
        </div> 
      </div>  
    </div>
    <div class="buttons-fa-container  flex justify-content-center gap-2 mt-4">
      <p-button type="submit" class="save" size="small" [label]="'BUTTONS.SAVE' | translate" icon="pi pi-check"
        iconPos="left"/>
      <p-button class="cancel" size="small" [label]="'BUTTONS.CANCEL' | translate" icon="pi pi-times" iconPos="left"
        (onClick)="closeModal()" />
    </div>
  </form>
</ng-container> 
<ng-template #deleteFrameworkAgreementTemplate>
  <div class="confirmation-content mb-2 mt-4">
    <p class="mb-4">
      {{ 'FRAMEWORK-AGREEMENTS.REMOVE_QUESTION' | translate }}
      <strong class="stronglock mt-1">"{{ selectedFrameworkAgreement?.contractLabel	}}"</strong>?
    </p>
    <div class="flex justify-content-center gap-2">
      <p-button type="button" class="delete" size="small" [label]="'BUTTONS.DELETE' | translate"
          icon="pi pi-trash" iconPos="left" (onClick)="onFrameworkAgreementDeleteConfirm()" severity="danger" />
      <p-button type="button" class="cancel" size="small" [label]="'BUTTONS.CANCEL' | translate"
          icon="pi pi-times" iconPos="left" (onClick)="closeModal()"/>
    </div>
  </div>
</ng-template>