.network-partner-form {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  
  label {
    width: 90px;
    flex-shrink: 0;
  }
  input, p-inputnumber {
    min-width: 200px;
    width: 100%;
  }

  ::ng-deep .p-inputnumber-input {
    width: 100%;
  }

  .p-select {
    min-width: 10%;
    width: 100% !important;
  }
}