<ng-container *ngIf="isCreateMode; else deleteTemplate">
   <form [formGroup]="ContractDetailsForm" (ngSubmit)="onSubmit()">
    <div class="create-employee-contract-form align-items-center mb-2 mt-4">
      <div class="form-container flex align-items-center mb-6">
        <div class="contract_input contract_name mb-2">
          <label for="startDate">{{ 'EMPLOYEE-CONTRACTS.FORM.START_DATE' | translate }}</label>
          <p-datepicker id="startDate"
                        formControlName="startDate"
                        [showIcon]="true"
                        iconDisplay="input"
                        dateFormat="dd.mm.yy">
          </p-datepicker>
        </div>
        <div class="contract_input mb-2">
          <label for="salaryPerMonth">{{ 'EMPLOYEE-CONTRACTS.FORM.SALARY_PER_MONTH' | translate }}</label>
          <input pInputText type="number" id="salaryPerMonth" formControlName="salaryPerMonth" autocomplete="off" />
        </div>
        <div class="contract_input mb-2">
          <label for="hoursPerWeek">{{ 'EMPLOYEE-CONTRACTS.FORM.WEEKLY_HOURS' | translate }}</label>
          <input pInputText type="number" id="hoursPerWeek" formControlName="hoursPerWeek" autocomplete="off" />
        </div>
        <div class="contract_input mb-2">
          <label for="workShortTime">{{ 'EMPLOYEE-CONTRACTS.FORM.WORK_SHORT_TIME' | translate }}</label>
          <input pInputText type="text" id="workShortTime" formControlName="workShortTime" autocomplete="off" />
        </div>
        <div class="contract_input mb-2">
          <label for="specialPayment">{{ 'EMPLOYEE-CONTRACTS.FORM.SPECIAL_PAYMENT' | translate }}</label>
          <input pInputText type="number" id="specialPayment" formControlName="specialPayment" autocomplete="off" />
        </div>
        <div class="contract_input mb-2">
          <label for="maxHoursPerMonth">{{ 'EMPLOYEE-CONTRACTS.FORM.MAX_HOURS_PER_MONTH' | translate }}</label>
          <input pInputText type="number" id="maxHoursPerMonth" formControlName="maxHoursPerMonth" autocomplete="off" />
        </div>
        <div class="contract_input mb-2">
          <label for="maxHoursPerDay">{{ 'EMPLOYEE-CONTRACTS.FORM.MAX_HOURS_PER_DAY' | translate }}</label>
          <input pInputText type="number" id="maxHoursPerDay" formControlName="maxHoursPerDay" autocomplete="off" />
        </div>
        <div class="contract_input mb-2">
          <label for="hourlyRate">{{ 'EMPLOYEE-CONTRACTS.FORM.HOURLY_RATE' | translate }}</label>
          <input pInputText type="number" id="hourlyRate" formControlName="hourlyRate" autocomplete="off" />
        </div>
      </div>
    </div>
    <div class="buttons-container flex justify-content-center gap-2 mt-4">
      @if(workContract) {
        <p-button type="submit" class="save" size="small" [label]="'BUTTONS.SAVE' | translate" icon="pi pi-check" iconPos="left"  />
      } @else {
        <p-button class="save" size="small" [label]="'BUTTONS.SAVE' | translate" icon="pi pi-check" iconPos="left"  />
      }
      <p-button class="cancel" size="small" [label]="'BUTTONS.CANCEL' | translate" icon="pi pi-times"
      iconPos="left" (onClick)="goBackListContracts()"/>      
    </div>
  </form>
</ng-container>
<ng-template #deleteTemplate>
    <div class="confirmation-content mb-2 mt-4">
        <p class="mb-4">
            {{ 'EMPLOYEE-CONTRACTS.LABEL.REMOVE_EMPLOYEE_CONTRACT_QUESTION' | translate }}
            <strong class="stronglock mt-1">"{{ workContract }}"</strong>?
        </p>

        <div class="flex justify-content-center gap-2">
            <p-button type="button" class="delete" size="small" [label]="'BUTTONS.DELETE' | translate"
                icon="pi pi-trash" iconPos="left" severity="danger"
             />

            <p-button type="button" class="cancel" size="small" [label]="'BUTTONS.CANCEL' | translate"
                icon="pi pi-times" iconPos="left" (onClick)="closeModal()" />

        </div>
    </div>
</ng-template>
<app-occ-error-modal
  *ngIf="showOCCErrorModalContract"
  (onClose)="showOCCErrorModalContract = false">
</app-occ-error-modal>