<ng-container *ngIf="isCreateMode; else deleteTemplate">
    <form [formGroup]="vatForm" (ngSubmit)="onSubmit()">
        <div class="flex flex-column mt-4">
            <div class="sales-tax-form flex flex-row mb-3 align-items-center">
                <label for="label">{{ 'SALES_TAX.LABEL.SALES_TAX_LABEL' | translate }}</label>
                <input #firstInput pInputText type="text" id="label" formControlName="label" autocomplete="off" />
            </div>
            <div class="row">
                <div class="col flex justify-content-center">
                    <p-button class="save me-2" type="submit" [loading]="isLoading" [disabled]="vatForm.invalid || !vatForm.dirty" size="small" [label]="'BUTTONS.SAVE' | translate" icon="pi pi-check" iconPos="left" />
                    <p-button class="cancel me-2" size="small" [disabled]="isLoading" (onClick)="closeModal()" [label]="'BUTTONS.CANCEL' | translate" icon="pi pi-times" iconPos="left" />
                </div>
            </div>
        </div>
    </form>
</ng-container>

<ng-template #deleteTemplate>
    <div class="confirmation-content mb-2 mt-4">
        <p class="mb-4" [innerHTML]="'DIALOG.DELETE' | translate:{ value: selectedVat.label }"></p>

        <div class="flex justify-content-center gap-2">
            <p-button type="button" class="delete" size="small" [label]="'BUTTONS.DELETE' | translate"
                icon="pi pi-trash" iconPos="left"  severity="danger" [loading]="isLoading" (onClick)="deleteSelectedVat()" 
                [disabled]="isLoading" />

            <p-button type="button" class="cancel" size="small" [label]="'BUTTONS.CANCEL' | translate"
                icon="pi pi-times" iconPos="left" (onClick)="closeModal()" [disabled]="isLoading" />
        </div>
  </div>
</ng-template>
<app-occ-error-modal
  *ngIf="showOCCErrorModalVat"
  (close)="showOCCErrorModalVat = false"
  [errorType]="occErrorType"
  [reloadCurrentPage]="true">
</app-occ-error-modal>