<p-card [style]="{ background: 'var(--light-cyan)' }" [header]="'TEXT.LABEL.EDIT_TEXT' | translate">
    <form [formGroup]="editTextForm" (ngSubmit)="onSubmit()">
        <div class="align-items-center mb-2">
            <div class="text-form mb-2 flex align-items-center">
                <label for="label">{{ 'TEXT.LABEL.TEXT_LABEL' | translate }}</label>
                <input pInputText type="text" id="label" formControlName="label" [ngClass]="{'ng-invalid': editTextForm.get('label')?.invalid && 
                  editTextForm.get('label')?.dirty && editTextForm.get('label')?.touched}" autocomplete="off" />
                <p-message severity="error" variant="simple" size="small" *ngIf="
                     editTextForm.get('label')?.invalid && 
                     editTextForm.get('label')?.dirty && 
                     editTextForm.get('label')!.hasError('required')
                     ">
                     {{ 'TEXT.ERROR.TEXT_LABEL_REQUIRED' | translate }}
                </p-message>
            </div>
            <div class="text-form mb-2 flex">
                <label for="content">{{ 'TEXT.LABEL.TEXT_VALUE' | translate }}</label>
                <textarea pTextarea id="content" formControlName="content" rows="6"  style="resize: none"  
                [ngClass]="{'ng-invalid': editTextForm.get('text')?.invalid && editTextForm.get('text')?.dirty && editTextForm.get('text')?.touched}" ></textarea>
                <p-message severity="error" variant="simple" size="small" *ngIf="
                    editTextForm.get('text')?.invalid && 
                    editTextForm.get('text')?.dirty &&
                    editTextForm.get('text')!.hasError('required')
                    ">
                    {{ 'TEXT.ERROR.TEXT_VALUE_REQUIRED' | translate }}</p-message> 
            </div>
        </div>
        <div class="flex justify-content-center gap-2 mt-4">
            <p-button size="small" type="submit" [loading]="isLoading" [label]="'BUTTONS.SAVE' | translate" icon="pi pi-check"
            iconPos="left" />
            <p-button class="cancel" (onClick)="clearForm()" [disabled]="isLoading" size="small" [label]="'BUTTONS.CANCEL' | translate"
            icon="pi pi-times" iconPos="left" />
        </div>
    </form>
</p-card>
<app-occ-error-modal
  *ngIf="showOCCErrorModalText"
  (close)="showOCCErrorModalText = false"
  [useEmitter]="true"
  (refresh)="onRefresh()">
</app-occ-error-modal>