.project-funnel-form {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;

  label {
    width: 130px;
    flex-shrink: 0;
  }

  input,
  p-select {
    width: 100%;
    max-width: 300px;
  }

  p-inputnumber {
    width: 100%;
    max-width: 300px;
  }

  #promoterName2{
    margin-top: 0.4rem;
  }
}

.group {
  width: 100%;
}