<div class="group-bar">
  <div
    *ngFor="let group of masterDataGroups"
    class="group-tab"
    (click)="onGroupClick(group)"
    (keydown)="onGroupClick(group)"
    [class.active]="selectedGroupLabel === group.label"
  >
    {{ group.label | translate }}
  </div>
</div>

<div class="item-bar" *ngIf="activeItems.length > 0">
  <div
    *ngFor="let item of activeItems"
    class="menu-item"
    [routerLink]="item.routerLink"
    routerLinkActive="active"
  >
    {{ item.label }}
  </div>
</div>
