<div class="container">
  <div class="row">
    <master-data-genaral-table
      [tableId]="tableKey"
      [tableValues]="billingMethodsValues()"
      [columns]="billingMethodColumns"
      [userPreferences]="userBillingMethodsPreferences"
      [dataKeys]="dataKeys"
      (onColumnChanges)="onUserBillingMethodsPreferencesChanges($event)"
      (onCreateRegister)="handleTableEvents({ type: 'create' })"
      (onDeleteRegister)="handleTableEvents({ type: 'delete', data: $event })"
    ></master-data-genaral-table>
    
    <p-dialog
      [header]="modalType === 'create' 
          ? ('BILLING_METHODS.MODAL.NEW' | translate) 
          : ('BILLING_METHODS.MODAL.DELETE' | translate)" 
      [modal]="true" 
      [(visible)]="visibleModal"
      >
        <app-modal-billing-methods
          [modalType]="modalType"
          [visible]="visibleModal"
          [selectedInvoiceType]="selectedInvoiceType"
          (isVisibleModal)="visibleModal = $event"
          (createInvoiceType)="onCreateInvoiceType($event)"
          (deleteInvoiceType)="onDeleteInvoiceType($event)"
        ></app-modal-billing-methods>
    </p-dialog>
  </div>
</div>