@use 'variables' as *;

.iws-commissionInput{
    width: 100% !important;

    label {
        width: 33%;
        flex-shrink: 0;
    }

}

.align-right {
    text-align: right;
}

.label-modal {
    display: flex;
    align-items: center;
    width: 140px;
    flex-shrink: 0;
}