<p-card [style]="{ background: 'var(--light-cyan)' }">
    <ng-template #title>{{ 'FRAMEWORK-AGREEMENTS.DETAIL.FORM_TABLE_IWS_COMMISSION.TITLE_TABLE' | translate}}</ng-template>

    <form [formGroup]="orderCommissionForm">
      <div class="align-items-center mb-2">
          <div class="iws-commissionInput project_name mb-2">
              <label for="fixCommission">{{ 'FRAMEWORK-AGREEMENTS.DETAIL.FORM_TABLE_IWS_COMMISSION.FIXED_COMMISSION' | translate}}</label>
              <p-inputnumber mode="decimal" [max]="999.99" [min]="0" [useGrouping]="true" 
                [minFractionDigits]="2" [maxFractionDigits]="2" locale="de-DE" [inputStyle]="{'text-align': 'right'}"
                inputId="fixCommission" 
                autocomplete="off" 
                formControlName="fixCommission"
              />
              {{ 'FRAMEWORK-AGREEMENTS.DETAIL.FORM_TABLE_IWS_COMMISSION.EURO' | translate}}
          </div>
          <div class="iws-commissionInput order_maxCommission mb-2">
              <label for="maxCommission">{{ 'FRAMEWORK-AGREEMENTS.DETAIL.FORM_TABLE_IWS_COMMISSION.MAX_COMMISSION' | translate}}</label>
              <p-inputnumber mode="decimal" [max]="99999999.99" [min]="0" [useGrouping]="true" 
                [minFractionDigits]="2" [maxFractionDigits]="2" locale="de-DE" [inputStyle]="{'text-align': 'right'}"
                inputId="maxCommission" 
                autocomplete="off" 
                formControlName="maxCommission"
              />
              {{ 'FRAMEWORK-AGREEMENTS.DETAIL.FORM_TABLE_IWS_COMMISSION.EURO' | translate}}
          </div>
      </div>
    </form>
 
    <master-data-genaral-table
      [tableId]="tableKey"
      [tableValues]="orderCommissions"
      [columns]="selectedColumns"
      [userPreferences]="userIwsProvisionPreferences"
      [dataKeys]="dataKeys"
      (onColumnChanges)="onUserIwsProvisionPreferencesChanges($event)"
      (onCreateRegister)="showModalIwsCommission('create')"
      (onEditRegister)="showModalIwsCommission('edit', $event)"
      (onDeleteRegister)="deleteCommission($event)"
    ></master-data-genaral-table>

</p-card>

<p-dialog
  [header]="'ORDERS.COMMISSIONS.TITLE_DIALOG_' + typeModal.toUpperCase()| translate"
  (onHide)="closeModalIwsCommission()"
  [modal]="true"
  [(visible)]="visibleModalIWSCommission"
  [style]="{ width: typeModal === 'delete' ? '30rem' : '40rem' }"
>
  @if (typeModal !== 'delete') {
     <form [formGroup]="iwsCommissionFAForm" (ngSubmit)="onSubmit()">
    <div class="flex gap-4 mb-3 mt-4">
      <label for="fromValue" class="label-modal">{{ 'ORDERS.COMMISSIONS.FROM_VALUE' | translate }}</label>
      <p-inputnumber #inputNumber mode="decimal" [max]="99999.99" [min]="0" [useGrouping]="true" 
        [minFractionDigits]="2" [maxFractionDigits]="2" locale="de-DE" [inputStyle]="{'text-align': 'right'}"
        inputId="fromValue"
        class="flex-auto"
        formControlName="fromOrderValue"
        autocomplete="off"
      />
    </div>
    <div class="flex gap-4 mb-3">
      <label for="provision" class="label-modal">{{ 'ORDERS.COMMISSIONS.COMMISSION' | translate }}</label>
      <div class="input-message">
        <p-inputnumber mode="decimal" [min]="0" [useGrouping]="true" 
          [minFractionDigits]="2" [maxFractionDigits]="2" locale="de-DE" [inputStyle]="{'text-align': 'right'}"
          inputId="provision"
          class="flex-auto"
          formControlName="provision"
          autocomplete="off"
        /> 
        <p-message severity="error" variant="simple" size="small" *ngIf="
          iwsCommissionFAForm.get('provision')?.invalid && 
          iwsCommissionFAForm.get('provision')?.dirty
        ">{{ 'ERROR.NUMBER_MAX' | translate }}</p-message>
      </div>
    </div>
    <div class="flex gap-4 mb-3">
      <label for="minCommission" class="label-modal">{{ 'ORDERS.COMMISSIONS.MIN_COMMISSION' | translate }}</label>
      <p-inputnumber mode="decimal" [max]="99999.99" [min]="0" [useGrouping]="true" 
        [minFractionDigits]="2" [maxFractionDigits]="2" locale="de-DE" [inputStyle]="{'text-align': 'right'}"
        inputId="minCommission"
        class="flex-auto"
        formControlName="minCommission"
        autocomplete="off"
      />
    </div>
    <div class="flex justify-content-center gap-2">
      <p-button
        [label]="'BUTTONS.SAVE' | translate"
        icon="pi pi-check"
        size="small"
        iconPos="left"
        type="submit"
        [loading]="isLoading"
        [disabled]="iwsCommissionFAForm.invalid"
      ></p-button>
    
      @if(typeModal === 'edit') {
        <p-button type="button" class="delete" size="small" [label]="'BUTTONS.DELETE' | translate" icon="pi pi-trash"
        iconPos="left" (onClick)="this.visibleModalIWSCommissionEntity = true;" severity="danger" [loading]="isLoading"
        [disabled]="isLoading" />
      }

      <p-button
        [label]="'BUTTONS.CANCEL' | translate"
        icon="pi pi-times"
        iconPos="left"
        size="small"
        class="cancel"
        [disabled]="isLoading"
        (onClick)="closeModalIwsCommission()"
      ></p-button>
    </div>
  </form>
 } @else {
  <div class="delete-confirmation-component mb-2 mt-4 justify-content-center ">
    <p class="mb-4 text-center">
      {{ 'ORDERS.REMOVE_ORDER_IWS_COMMISSION_QUESTION' | translate }}
      <strong>"{{ selectedOrderCommission?.fromOrderValue}}"</strong>?
    </p>

    <div class="flex justify-content-center gap-2">
      <p-button type="button" class="delete" size="small" [label]="'BUTTONS.DELETE' | translate" icon="pi pi-trash"
        iconPos="left" (onClick)="onIwsCommissionDeleteConfirm()" severity="danger" [loading]="isLoading"
        [disabled]="isLoading" />
      <p-button type="button" class="cancel" size="small" [label]="'BUTTONS.CANCEL' | translate" icon="pi pi-times"
        iconPos="left" (onClick)="this.visibleModalIWSCommission = false;" [disabled]="isLoading" />
    </div>
  </div>
}
    
</p-dialog>
<p-dialog
  [header]="'ORDERS.COMMISSIONS.TITLE_DIALOG_DELETE'| translate"
  (onHide)="this.visibleModalIWSCommissionEntity = false;"
  [modal]="true"
  [(visible)]="visibleModalIWSCommissionEntity"
  [style]="{ width: '30rem' }"
>
  <div class="delete-confirmation-component-entity mb-2 mt-4 justify-content-center ">
    <p class="mb-4 text-center delete-iws-provision-title">
      {{ 'ORDERS.REMOVE_ORDER_IWS_COMMISSION_QUESTION' | translate }}
      <strong>"{{ selectedOrderCommission?.fromOrderValue}}"</strong>?
    </p>

    <div class="flex justify-content-center gap-2 delete-iws-provision-buttons">
      <p-button type="button" class="delete" size="small" [label]="'BUTTONS.DELETE' | translate" icon="pi pi-trash"
        iconPos="left" (onClick)="onIwsCommissionDeleteConfirm()" severity="danger" [loading]="isLoading"
        [disabled]="isLoading" />
      <p-button type="button" class="cancel" size="small" [label]="'BUTTONS.CANCEL' | translate" icon="pi pi-times"
        iconPos="left" (onClick)="this.visibleModalIWSCommissionEntity = false;" [disabled]="isLoading" />
    </div>
  </div>
</p-dialog>