@use 'variables' as *;

.iws-commissionInput{
    width: 100% !important;

    label {
        width: 33%;
    }

}

.align-right {
    text-align: right;
}

.label-modal {
    display: flex;
    align-items: center;
}