.modal-content-contact {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px; 
}

.form-row {
    display: flex;
    align-items: center; 
    margin-bottom: 1rem; 

    label {
        width: 150px; 
        flex-shrink: 0;
    }
}


input, p-select {
    width: 100%; 
    min-width: 200px;
}

// switch 
.checkbox-container {
    display: flex;
    align-items: center;

    span {
        margin-left: 5px;
    }
}

