<div class="modal-content-contact">
    <form [formGroup]="contactForm">
        <div class="form-row spacer">
            <label for="lastname">Last Name</label>
            <input type="text" id="lastname" formControlName="lastname">
        </div>

        <div class="form-row spacer">
            <label for="firstname">First Name</label>
            <input type="text" id="firstname" formControlName="firstname">
        </div>

        <div class="form-row spacer">
            <label for="salutation">Salutation</label>
            <select id="salutation" formControlName="salutation">
                <option value="mr">Mr.</option>
                <option value="ms">Ms.</option>
            </select>
        </div>

        <div class="form-row spacer">
            <label for="title">Title</label>
            <select id="title" formControlName="title">
                <option value="dr">Dr.</option>
                <option value="msc">MSc.</option>
            </select>
        </div>

        <div class="form-row spacer">
            <label for="position">Position</label>
            <input type="text" id="position" formControlName="position">
        </div>

        <div class="form-row spacer">
            <label for="emailaddress">Email Address</label>
            <input type="email" id="emailaddress" formControlName="emailaddress">
        </div>

        <div class="form-row">
            <label for="invoicerecipient">Invoice Recipient</label>
            <div class="checkbox-container">
                <input type="checkbox" id="invoicerecipient" formControlName="invoicerecipient">
                <label for="invoicerecipient">Is Invoice Recipient</label>
            </div>
        </div>

        <!-- Botones centrados -->
        <div class="button-container">
            <button type="button" (click)="save()">Save</button>
            <button type="button" (click)="cancel()" class="cancel-btn">Cancel</button>
        </div>
    </form>
</div>

