<div class="modal-content-contact">
    <form [formGroup]="contactForm">
        <div class="form-row spacer">
            <label for="nachname">{{ 'CONTACT.FORM.LAST_NAME' | translate }}</label>
            <input type="text" id="nachname" formControlName="nachname" pInputText>
        </div>

        <div class="form-row spacer">
            <label for="vorname">{{ 'CONTACT.FORM.FIRST_NAME' | translate }}</label>
            <input type="vorname" id="firstname" formControlName="vorname" pInputText>
        </div>

        <div class="form-row spacer">
            <label for="anrede">{{ 'CONTACT.FORM.SALUTATION' | translate }}</label>
            <select id="anrede" formControlName="anrede">
                <option value="herr">Herr</option>
                <option value="frau">Frau</option>
            </select>
        </div>

        <div class="form-row spacer">
            <label for="titel">{{ 'CONTACT.FORM.TITLE' | translate }}</label>
            <select id="titel" formControlName="titel">
                <option value="dr">Dr.</option>
                <option value="dr">Prof.</option>
                <option value="msc">Prof. Dr.</option>
            </select>
        </div>

        <div class="form-row spacer">
            <label for="funktion">{{ 'CONTACT.FORM.FUNCTION' | translate }}</label>
            <input type="text" id="funktion" formControlName="funktion" pInputText>
        </div>

        <div class="form-row spacer">
            <label for="mailadresse">{{ 'CONTACT.FORM.EMAIL_ADDRESS' | translate }}</label>
            <input type="mailadresse" id="mailadresse" formControlName="mailadresse" pInputText>
        </div>

        <div class="form-row1">
            <label for="rechnungsempfänger" class="rechnungsempfaenger-label">{{ 'CONTACT.LABELS.INVOICE' | translate }}</label>
            <div class="checkbox-container"> 
                <input type="checkbox" id="rechnungsempfänger" formControlName="rechnungsempfänger">
                <span>{{ 'CONTACT.LABELS.IS_INVOICE_RECIPIENT' | translate }}</span> 
            </div>
        </div>
    </form>
</div>

