.modal-content-contact {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px; 
}

.form-row {
    display: flex;
    align-items: center; 
    gap: 82px; 
    margin-bottom: 20px; 
}

label {
    font-weight: bold;
    width: 200px; 
    text-align: left; 
}

input, select {
    padding: 8px;
    font-size: 16px;
    width: 100%; 
    border: 1px solid #ccc;
    border-radius: 4px;
}

.rechnungsempfaenger-label {
    font-weight: bold;
    text-align: left;
    vertical-align: middle; 
}

.form-row1 {
    display: flex;
    align-items: center;
    gap: 0px;
    margin-bottom: 20px; 
}

.checkbox-container {
    display: flex;
    align-items: center;

    input[type="checkbox"] {
        width: 20px; 
        height: 20px; 
        margin-left: 2px; 
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
}

.checkbox-form-row {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.checkbox-container span {
    margin-left: 5px;
    font-size: 16px;
}

.spacer{
    justify-content: space-between;
}
.rechnungsempfaenger-label {
    width: 184px; /* 👈 controla el ancho aquí */
    display: inline-block; /* necesario para que width funcione bien */
}
