.modal-content-contact {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px; 
}

.form-row {
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos */
    gap: 82px; /* Reduce el espacio entre label e input */
    margin-bottom: 20px; 
}

label {
    font-weight: bold;
    width: 200px; 
    text-align: left; 
}

input, select {
    padding: 8px;
    font-size: 16px;
    width: 100%; 
    border: 1px solid #ccc;
    border-radius: 4px;
}

.rechnungsempfaenger-label {
    font-weight: bold;
    text-align: left;
    vertical-align: middle; /* Alinea verticalmente al centro */
}

.form-row1 {
    display: flex;
    align-items: center;
    gap: 0px;
    margin-bottom: 20px; 
}

.checkbox-container {
    display: flex;
    align-items: center;

    input[type="checkbox"] {
        width: 20px;  /* Ajusta el ancho según sea necesario */
        height: 20px; /* Ajusta la altura según sea necesario */
        margin-left: 5px; /* Ajusta el margen si es necesario */
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
}

.checkbox-form-row {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.checkbox-container span {
    margin-left: 5px;
    font-size: 16px;
}

.spacer{
    justify-content: space-between;
}