p-button{
    color: blue;
}

//Styles btns edit delete
.button-option.p-button-rounded {
    height: 1.5rem;
    width: 1.5rem;
}

// td, th {
//     padding: 5px 16px !important;
//     font-size: 14px;
//     margin-left: 15px !important;
// }

//Styles table head
.thead {
    background: #007fff;
    color: #fff;
    min-width: 6.25rem;//=100px
  
    &:hover {
      background: #abcbeb;
      color: #1E293B
    }
}

.thead-bg-blue {
    background: #007fff;
}

.thead-input-id {
    width: 4.4rem;//=70px
}

.thead-input-width {
    width: 100%;
}