@use 'variables' as *;

p-button {
    color: $primary-light;
}

//Styles table head
.thead {
    background: $primary-color;
    color: #fff;
    min-width: 1.25rem; //=100px

    &:hover {
        background: $accent-color;
        color: $primary-dark;
    }
}

.thead-bg-blue {
    background: $primary-color;
}

.thead-input-id {
    min-width: 4.4rem; //=70px
    width: 100%;
}

.thead-input-width {
    width: 100%;
}

.align-right {
    text-align: right;
}

.spinner-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.custom-spinner {
    width: 50px;
    height: 50px;
}