<div class="container">
  <master-data-genaral-table
    [tableId]="tableKey"
    [tableValues]="absenceTypes()"
    [columns]="cols"
    [userPreferences]="userAbsenceTypePreferences"
    [dataKeys]="dataKeys"
    [sortField]="'type'" 
    [sortOrder]="1"
    (onColumnChanges)="onUserAbsenceTypePreferencesChanges($event)"
    (onCreateRegister)="handleTableEvents({ type: 'create' })"
    (onDeleteRegister)="handleTableEvents({ type: 'delete', data: $event })"
    (onEditRegister)="editAbsenceType($event)"
  ></master-data-genaral-table>
  
  <p-dialog 
    [header]="modalType === 'create' 
      ? ('ABSENCE_TYPES.MODAL.NEW' | translate) 
      : ('ABSENCE_TYPES.MODAL.DELETE' | translate)" 
    [modal]="true" 
    [(visible)]="visibleModal" 
    [style]="{ width: '35rem' }"
    (onHide)="onModalAbscenceTypeClose()"
  >
    <app-modal-absence-types
      #abscenceTypeModal
      [modalType]="modalType"
      [selectedAbsenceType]="selectedAbsenceType"
      [visible]="visibleModal"
      (isVisibleModal)="onModalVisibilityChange($event)"
      (createAbsenceType)="onCreateAbsenceType($event)"
      (deleteAbsenceTypeEvent)="onDeleteAbsenceType($event)"
    ></app-modal-absence-types>
  </p-dialog>
</div>