<div class="container">
  <div class="row">
    <master-data-genaral-table
      [tableId]="tableKey"
      [tableValues]="countries()"
      [columns]="columnsHeaderFieldCoutries"
      (editItem)="editCountry($event)"
      [userPreferences]="userCountriesPreferences"
      [dataKeys]="dataKeys"
      (onColumnChanges)="onUserCountriesPreferencesChanges($event)"
      (onCreateRegister)="visibleModal=true"
      ></master-data-genaral-table>
      <p-dialog [header]="'COUNTRIES.MODAL_CREATE.CREATE_FORM' | translate" [modal]="true" [(visible)]="visibleModal" [style]="{ width: '25rem' }">
        <app-country-modal (isVisibleModal)="visibleModal = $event"></app-country-modal>
      </p-dialog>
  </div>
</div>
