<p-card [style]="{ background: 'var(--light-cyan)' }">
    <ng-template #title>Projekt</ng-template>

    <form [formGroup]="iwsEmployeeForm" (ngSubmit)="onSubmit()">
        <div class="align-items-center mb-2">
            <div class="iws-employeeInput project_name mb-2">
                <label for="fixCommission">Fixe Provision:</label>
                <input pInputText type="text" id="fixCommission" formControlName="fixCommission" autocomplete="off" />
                Euro
            </div>
            <div class="iws-employeeInput order_maxCommission mb-2">
                <label for="maxCommission">Max. Provision:</label>
                <input pInputText type="text" id="maxCommission" formControlName="maxCommission" autocomplete="off" />
                Euro
            </div>
        </div>
    </form>
    <p-table #dt [value]="orderCommissions" [tableStyle]="{ 'min-width': '270%' }" [rows]="10" [columns]="cols"
        [paginator]="true" scrollable="true" [rowsPerPageOptions]="[10, 25, 50]" scrollHeight="90vh"
        [globalFilterFields]="[
            'fromordervalue',
            'commission',
            'mincommission'
            ]" [(selection)]="selectedOrderCommission" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template #caption>
            <div class="flex items-center justify-between">
                <h5 class="m-0">Employee Overview</h5>
            </div>
        </ng-template>
        <ng-template #header>
            <tr>
                <th style="width: 5vw">

                </th>
                <th pSortableColumn="fromOrderValue" style="width: auto">
                    ab Wert<p-sortIcon field="fromOrderValue" />
                </th>
                <th pSortableColumn="commission" style="width: auto">
                    Provision <p-sortIcon field="commission" />
                </th>
                <th pSortableColumn="minCommission" style="width: auto">
                    Mindestprovision <p-sortIcon field="minCommission" />
                </th>
            </tr>
        </ng-template>
        <ng-template #body let-orderCommissions>
            <tr>
                <td>
                    <div class="flex items-center justify-center gap-2">
                        <button pButton icon="pi pi-pencil" class="p-button-rounded p-button-info"></button>
                        <button pButton icon="pi pi-trash" class="p-button-rounded p-button-danger"></button>
                    </div>

                </td>
                <td>{{ orderCommissions.fromOrderValue }}</td>
                <td>{{ orderCommissions.commission }}</td>
                <td>{{ orderCommissions.minCommission }}</td>
            </tr>
        </ng-template>
    </p-table>
</p-card>