<p-card [style]="{ background: 'var(--light-cyan)' }" [header]="'TERMS_OF_PAYMENT.TITLE_FORM' | translate ">
    <form [formGroup]="editTermPaymentForm" (ngSubmit)="onSubmit()">
        <div class="flex flex-column mb-2 px-6">
            <div class="term-payment-form mb-2">
                <label for="terms-of-payment">{{ 'TERMS_OF_PAYMENT.TERMS_OF_PAYMENT' | translate }}</label>
                <input pInputText type="text" id="terms-of-payment" formControlName="termsPayment" autocomplete="off" />
            </div>
            <div class="term-payment-form mb-2">
                <label for="term-of-payment">{{ 'TERMS_OF_PAYMENT.TERM_OF_PAYMENT_DAYS' | translate }}</label>
                <input pInputText type="text" class="text-right" id="term-of-payment" formControlName="termPayment" autocomplete="off" />
            </div>
            <div class="term-payment-form mb-2 flex flex-column align-items-start gap-2">
                <label for="invoice-text">{{ 'TERMS_OF_PAYMENT.INVOICE_TEXT' | translate }}</label>
                <textarea pTextarea id="invoice-text" rows="6" formControlName="invoiceText" style="resize: none;" ></textarea>
            </div>
            <div class="row">
                <div class="col flex justify-content-center mt-2">
                    <p-button class="save me-2" size="small" [label]="'BUTTONS.SAVE' | translate" icon="pi pi-check" iconPos="left" />
                    <p-button class="cancel me-2" size="small" [label]="'BUTTONS.CANCEL' | translate" icon="pi pi-times" iconPos="left" />
                </div>
            </div>
        </div>
    </form>
</p-card>