<ng-container *ngIf="isCreateMode; else deleteTemplate">
    <form [formGroup]="companyTypeForm" (ngSubmit)="onCompanyTypeSubmit()">
        <div class="create-form mt-4">
            <label for="name">{{ 'TYPE_OF_COMPANIES.LABEL.COMPANY_TYPE' | translate }}</label>
            <div class="input-message">
                <input #companyTypeInput pInputText type="text" id="name" formControlName="name" autocomplete="off" 
                invalid= "createUserForm.get('name')?.invalid  
                        && createUserForm.get('name')?.dirty 
                        || createUserForm.get('name')?.touched
                        || nameAlreadyExist"/>
                 <p-message severity="error" [showTransitionOptions]="'0ms'" variant="simple" size="small" *ngIf="
                    companyTypeForm.get('name')?.invalid && 
                    companyTypeForm.get('name')?.dirty || nameAlreadyExist
                    ">{{ nameAlreadyExist ? ('USERS.ERROR.USERNAME_ALREADY_EXIST' | translate) : ('ERROR.FIELD_REQUIRED' | translate) }}</p-message>   
            </div>
        </div>

        <div class="flex justify-content-center gap-2 mt-4">
            <p-button type="submit" class="save" size="small" [label]="'BUTTONS.SAVE' | translate"
                icon="pi pi-check" iconPos="left" [loading]="isLoading"
                [disabled]="companyTypeForm.invalid || isLoading" />

            <p-button type="button" class="cancel" size="small" [label]="'BUTTONS.CANCEL' | translate"
                icon="pi pi-times" iconPos="left" (onClick)="closeModal()" [disabled]="isLoading" />
        </div>
    </form>
</ng-container>

<ng-template #deleteTemplate>
    <div class="confirmation-content mb-2 mt-4">
        <p class="mb-4" [innerHTML]="'DIALOG.DELETE' | translate:{ value: companyTypeName }"></p>

        <div class="flex justify-content-center gap-2">
            <p-button type="button" class="delete" size="small" [label]="'BUTTONS.DELETE' | translate"
                icon="pi pi-trash" iconPos="left" (onClick)="onCompanyDeleteConfirm()" severity="danger" [loading]="isLoading"
                [disabled]="isLoading" />

            <p-button type="button" class="cancel" size="small" [label]="'BUTTONS.CANCEL' | translate"
                icon="pi pi-times" iconPos="left" (onClick)="closeModal()" [disabled]="isLoading" />

        </div>
    </div>
</ng-template>
<app-occ-error-modal
  *ngIf="showOCCErrorModalCompanyType"
  [errorType]="occErrorType"
  [reloadCurrentPage]="true"
  (close)="showOCCErrorModalCompanyType = false">
</app-occ-error-modal>