.create-form {
    display: flex;
    align-items: center;
    
    label {
        width: 120px;
        flex-shrink: 0;
        margin-bottom: 1.3rem;
    }

    input {
       width: 100%;
       margin-bottom: 1.3rem;
    }
}