<div class="card">
  <master-data-genaral-table
    [tableId]="tableKey"
    [tableValues]="demands"
    [columns]="selectedColumns"
    [userPreferences]="userReceivablePreferences"
    [dataKeys]="dataKeys"
    (onColumnChanges)="onUserReceivablePreferencesChanges($event)"
    (onEditRegister)="goToReceivableDetails($event)"
    (onDeleteRegister)="openDeleteModal($event)"
  ></master-data-genaral-table>
   <p-dialog 
    [header]="('RECEIVABLES.RECEIVABLES_DIALOG_REMOVE' | translate)" 
    [modal]="true" 
    [(visible)]="visibleReceivablesModal"
  >
    <div class="confirmation-content mb-2 mt-4">
      <p class="mb-4" [innerHTML]="'DIALOG.DELETE' | translate:{ value: selectedReceivables?.idClaim }"></p>

      <div class="flex justify-content-center gap-2">
        <p-button type="button" class="delete" size="small" [label]="'BUTTONS.DELETE' | translate"
            icon="pi pi-trash" iconPos="left" (onClick)="onReceivablesDelete()" severity="danger" [loading]="isReceivablesLoading"
            [disabled]="isReceivablesLoading" />

        <p-button type="button" class="cancel" size="small" [label]="'BUTTONS.CANCEL' | translate"
            icon="pi pi-times" iconPos="left" (onClick)="this.visibleReceivablesModal = false;" [disabled]="isReceivablesLoading" />

      </div>
    </div>
  </p-dialog>
</div>