<p-card [style]="{ background: 'var(--light-cyan)' }">
    <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
        <div class="align-items-center mb-2">
            <div class="proj_input project_name mb-2">
                <label for="projectLabel">{{ 'ORDERS.PROJECT.PROJECT' | translate }}</label>
                <p-select formControlName="projectLabel" [editable]="true" [showClear]="true" optionLabel="name" />
            </div>
            <div class="proj_input project_id mb-2">
                <label for="projectId">{{ 'ORDERS.PROJECT.SPONSOR_ID' | translate }}</label>
                <input pInputText type="text" id="projectId" formControlName="projectId" autocomplete="off" />
            </div>
            <div class="proj_input promoter_id mb-2">
                <label for="promoterId">{{ 'ORDERS.PROJECT.SPONSOR' | translate }}</label>
                <input pInputText type="text" id="promoterId" formControlName="promoterId" autocomplete="off" />
            </div>
            <div class="proj_input project_startDate mb-2">
                <label for="startDate">{{ 'ORDERS.PROJECT.START_DATE' | translate }}</label>
                <input pInputText type="text" id="startDate" formControlName="startDate" autocomplete="off" />
            </div>
            <div class="proj_input project_endDate mb-2">
                <label for="endDate">{{ 'ORDERS.PROJECT.END_DATE' | translate }}</label>
                <input pInputText type="text" id="endDate" formControlName="endDate" autocomplete="off" />
            </div>
        </div>
    </form>
</p-card>
