input{
    height: 25px; 
    font-size: 0.85rem; 
    padding: 2px 6px;
}

.proj_input{
    width: 100% !important;

    label {
        width: 102px;
    }

    input{
        width: 170px;
    }

    span {
        width: 170px;
    }
}