.proj_input{
    width: 100% !important;
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;

    label {
        width: 140px;
        flex-shrink: 0;
    }

    input,
    p-select {
        width: 400px;
    }

    ::ng-deep p-datepicker {
        width: 400px !important;
    }

    ::ng-deep .p-datepicker {
        width: 100% !important;
    }
}