.network-form {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1rem;

  label {
      width: 70px;
      flex-shrink: 0;
  }

  .input-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  input {
    width: 100%;
  }

  p-message {
      margin-top: 0.15rem;
      margin-bottom: -1.6rem;
    }
}