<p-card
  [style]="{ background: 'var(--light-cyan)' }"
  [header]="'HOLIDAYS.HEADER.EDIT_HOLIDAY' | translate"
>
  <form [formGroup]="editPublicHolidayForm" (ngSubmit)="onSubmit()">
    <div class="align-items-center mb-2">
      <div class="holiday-form mb-2">
        <label for="name">{{
          "HOLIDAYS.LABEL.HOLIDAY_NAME" | translate
        }}</label>
        <input
          pInputText
          type="text"
          id="publicHoliday"
          formControlName="publicHoliday"
          [ngClass]="{'ng-invalid ng-dirty': editPublicHolidayForm.get('publicHoliday')?.invalid && editPublicHolidayForm.get('projectStatus')?.touched}"
          autocomplete="off"
        />
        <p-message severity="error" variant="simple" size="small" *ngIf="
                        editPublicHolidayForm.get('publicHoliday')?.invalid &&
                        editPublicHolidayForm.get('publicHoliday')?.touched &&
                        editPublicHolidayForm.get('publicHoliday')!.hasError('required')
                    ">
                        {{ 'PROJECT_STATUS.ERROR.PROJECT_STATUS_LABEL_REQUIRED' | translate }}
                    </p-message>
      </div>

      <div class="holiday-form mb-2">
        <label for="sequenceNo">{{ "HOLIDAYS.LABEL.SORT" | translate }}</label>
        <input pInputText type="number" id="sequenceNo" formControlName="sequenceNo" />
      </div>

      <div class="holiday-form mb-2 flex align-items-center gap-2">
        <div class="holiday-form-check">
          <label for="isFixedDate">{{
            "HOLIDAYS.LABEL.FIXED_DATE" | translate
          }}</label>
          <p-toggleswitch formControlName="isFixedDate" class="flex">
            <ng-template #handle let-checked="checked">
              <i
                [ngClass]="[
                  '!text-xs',
                  'pi',
                  checked ? 'pi-check' : 'pi-times'
                ]"
              ></i>
            </ng-template>
          </p-toggleswitch>
        </div>

        <p-datepicker
          formControlName="date"
          showIcon="true"
          dateFormat="dd.mm.yy"
          [showButtonBar]="true"
          [placeholder]="'dd.mm.yy'"
        ></p-datepicker>
        <p-button
          type="submit"
          [label]="'BUTTONS.SAVE' | translate"
          icon="pi pi-check"
          class="p-button-sm"
        ></p-button>
      </div>
    </div>
  </form>

  <div class="grid">
    <div class="col-6">
      <p-table
        [value]="bundeslands"
        showGridlines
        stripedRows
        [tableStyle]="{ 'min-width': '100%' }"
        [rows]="12"
        scrollable="true"
        scrollHeight="200px"
      >
        <ng-template #header>
          <tr>
            <th class="thead" scope="col">
              {{ "HOLIDAYS.TABLE.BUNDESLAND" | translate }}
            </th>
            <th class="thead align-center" scope="col">
              {{ "HOLIDAYS.TABLE.SELECT" | translate }}
            </th>
          </tr>
        </ng-template>

        <ng-template #body let-bl let-i="rowIndex">
          <tr [ngClass]="{ 'odd-row': i % 2 !== 0, 'even-row': i % 2 === 0 }">
            <td>{{ bl.name }}</td>
            <td class="align-center">
              <p-toggleswitch
                [(ngModel)]="bl.selected"
                
              >
                <ng-template #handle let-checked="checked">
                  <i
                    [ngClass]="[
                      '!text-xs',
                      'pi',
                      checked ? 'pi-check' : 'pi-times'
                    ]"
                  ></i>
                </ng-template>
              </p-toggleswitch>
            </td>
          </tr>
        </ng-template>

        <ng-template #emptymessage>
          <tr>
            <td colspan="2">
              <p-message severity="info">
                {{ "HOLIDAYS.MESSAGE.NO_BUNDESLANDS" | translate }}
              </p-message>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div class="col-6">
      <p-table
        [value]="years"
        showGridlines
        stripedRows
        [tableStyle]="{ 'min-width': '100%' }"
        [rows]="12"
        scrollable="true"
        scrollHeight="200px"
      >
        <ng-template #header>
          <tr>
            <th class="thead" scope="col">
              {{ "HOLIDAYS.TABLE.YEAR" | translate }}
            </th>
            <th class="thead" scope="col">
              {{ "HOLIDAYS.TABLE.DATE" | translate }}
            </th>
          </tr>
        </ng-template>

        <ng-template #body let-year let-i="rowIndex">
          <tr [ngClass]="{ 'odd-row': i % 2 !== 0, 'even-row': i % 2 === 0 }">
            <td>{{ year.year }}</td>
            <td>{{ formatDate(year.date) }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

  <div class="buttons mt-3 flex gap-2 justify-content-left">
    <p-button
      class="p-button-sm"
      size="small"
      [label]="'BUTTONS.NEW_YEAR' | translate"
      icon="pi pi-plus"
      (click)="addYear()"
      (keydown.enter)="addYear()"
    ></p-button>
  </div>
</p-card>

<app-occ-error-modal
    *ngIf="showOCCErrorModalPublicHoliday"
    [useEmitter]="true"
    (close)="showOCCErrorModalPublicHoliday = false"
    (refresh)="onRefresh()">
</app-occ-error-modal>
<p-toast></p-toast>
