@use "variables" as *;
.holiday-form {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  label {
    width: 120px;       // ancho fijo para alinear todos los labels
    flex-shrink: 0;
  }

  input[pInputText] {
    width: 190px;
    flex-shrink: 0;

  }

  ::ng-deep .p-inputnumber-input {
    width: 190px !important;
  }

  ::ng-deep .p-datepicker input {
    width: 120px !important; // ancho fijo para el campo de fecha
    text-align: center;
  }
}

.holiday-form-check {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.holiday-form.mb-2.flex {
  align-items: flex-end;  // alinear todos abajo
  gap: 1rem;
}

.states-table td {
    padding: 3.8px 16px !important; 
    font-size: 14px;
    margin-left: 15px !important;
    height: 29.7333px;
}

.magin-bottom-form {
  margin-bottom: 0;
}

.clickable-title:hover {
  text-decoration: underline !important;
  color: #1976d2 !important;
  cursor: pointer;
}