<p-card
  [style]="{ background: 'var(--light-cyan)' }"
  [header]="'HOLIDAYS.HEADER.EDIT_HOLIDAY' | translate"
>
  <form [formGroup]="editPublicHolidayForm" (ngSubmit)="onSubmit()">
    <div class="magin-bottom-form">
      <div class="holiday-form mb-3">
        <label for="name">{{ "HOLIDAYS.LABEL.HOLIDAY_NAME" | translate }}</label>
        <input
          pInputText
          #firstInput
          type="text"
          id="name"
          formControlName="publicHoliday"
          autocomplete="off"
          [class.ng-invalid]="holidayAlreadyExists"
          [class.ng-dirty]="holidayAlreadyExists"
          invalid="editPublicHolidayForm.get('publicHoliday')?.invalid &&
            editPublicHolidayForm.get('publicHoliday')?.dirty &&
            editPublicHolidayForm.get('publicHoliday')!.hasError('required')"
        />
        <p-message severity="error" [showTransitionOptions]="'0ms'" variant="simple" size="small" *ngIf="
            editPublicHolidayForm.get('publicHoliday')?.invalid &&
            editPublicHolidayForm.get('publicHoliday')?.touched &&
            editPublicHolidayForm.get('publicHoliday')!.hasError('required') || holidayAlreadyExists
        ">{{ holidayAlreadyExists ? ('HOLIDAYS.ERROR.HOLIDAY_ALREADY_EXISTS' | translate) : ('ERROR.FIELD_REQUIRED' | translate) }}</p-message>
      </div>

      <div class="holiday-form mb-3">
        <label for="sequenceNo">{{ "HOLIDAYS.LABEL.SORT" | translate }}</label>
        <p-inputnumber inputId="sequenceNo" formControlName="sequenceNo" autocomplete="off" 
          [useGrouping]="true" [inputStyle]="{'text-align': 'right'}"/>
      </div>

      <div class="holiday-form flex align-items-center gap-4 mb-3 flex-wrap">
        <div class="holiday-form-check col p-0">
          <label for="isFixedDate">{{ "HOLIDAYS.LABEL.FIXED_DATE" | translate }}</label>
          <p-toggleswitch inputId="isFixedDate" formControlName="isFixedDate" class="flex">
            <ng-template #handle let-checked="checked">
              <i [ngClass]="['!text-xs','pi',checked ? 'pi-check' : 'pi-times']"></i>
            </ng-template>
          </p-toggleswitch>

          <p-datepicker
            formControlName="date"
            #datePicker
            [showIcon]="true"
            [dateFormat]="isFixedDate ? 'dd.mm.' : 'dd.mm.yy'"
            [showButtonBar]="true"
            [showClear]="true"
            [placeholder]="isFixedDate ? ('HOLIDAYS.LABEL.FIX_DATE_FORMAT' | translate) : ('HOLIDAYS.LABEL.DATE_FORMAT' | translate)"
            [class.ng-invalid]="editPublicHolidayForm.get('date')?.invalid  
              && editPublicHolidayForm.get('date')?.dirty 
              && editPublicHolidayForm.get('date')!.hasError('required')"
            [class.ng-dirty]="editPublicHolidayForm.get('date')?.invalid  
              && editPublicHolidayForm.get('date')?.dirty 
              && editPublicHolidayForm.get('date')!.hasError('required')"
          />
          <p-message severity="error" [showTransitionOptions]="'0ms'" variant="simple" size="small" *ngIf="
              editPublicHolidayForm.get('date')?.invalid &&
              editPublicHolidayForm.get('date')?.dirty &&
              editPublicHolidayForm.get('date')!.hasError('required')
          ">{{ 'ERROR.FIELD_REQUIRED' | translate }}</p-message>
        </div>

        <div class="flex align-items-center gap-3 justify-content-center col p-0">
          <p-button
            type="submit"
            [label]="'BUTTONS.SAVE' | translate"
            icon="pi pi-check"
            [loading]="isSaving"
            [disabled]="editPublicHolidayForm.invalid || isSaving || !hasChanges"
          ></p-button>
  
           <p-button
              type="button"
              class="cancel"
              size="small"
              [label]="'BUTTONS.CANCEL' | translate"
              icon="pi pi-times"
              iconPos="left"
              [disabled]="isSaving"
              (onClick)="clearForm()"
            />
        </div>
      </div>
    </div>
  </form>

  <!-- Table States -->
  <div class="grid">
    <div class="col-6">
      <p-table
        class="states-table"
        [value]="bundeslands"
        showGridlines
        stripedRows
        [tableStyle]="{ 'min-width': '100%', 'border-spacing': '0.5px' }"
        [rows]="12"
        scrollable="true"
        scrollHeight="382px"
      >
        <ng-template #header>
          <tr>
            <th class="thead" scope="col">
              {{ "HOLIDAYS.TABLE.BUNDESLAND" | translate }}
            </th>
            <th class="thead align-center" scope="col">
              {{ "HOLIDAYS.TABLE.SELECT" | translate }}
            </th>
          </tr>
        </ng-template>

        <ng-template #body let-bl let-i="rowIndex">
          <tr [ngClass]="{ 'odd-row': i % 2 !== 0, 'even-row': i % 2 === 0 }">
            <td>{{ bl.name }}</td>
            <td class="align-center">
              <p-toggleswitch
                [(ngModel)]="bl.selected"
                (onChange)="onStateSelectionChange()"
                class="flex align-content-center justify-content-center"
              >
                <ng-template #handle let-checked="checked">
                  <i
                    [ngClass]="[
                      '!text-xs',
                      'pi',
                      checked ? 'pi-check' : 'pi-times'
                    ]"
                  ></i>
                </ng-template>
              </p-toggleswitch>
            </td>
          </tr>
        </ng-template>

        <ng-template #emptymessage>
          <tr>
            <td colspan="2">
              <p-message severity="info">
                {{ "HOLIDAYS.MESSAGE.NO_BUNDESLANDS" | translate }}
              </p-message>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <!-- Tables Years -->
    <div class="col-6">
      <p-table
        class="states-table"
        [value]="years"
        showGridlines
        stripedRows
        [tableStyle]="{ 'min-width': '100%', 'border-spacing': '0.5px' }"
        [rows]="12"
        scrollable="true"
        scrollHeight="382px"
      >
        <ng-template #header>
          <tr>
            <th class="thead" scope="col">
              {{ "HOLIDAYS.TABLE.YEAR" | translate }}
            </th>
            <th class="thead" scope="col">
              {{ "HOLIDAYS.TABLE.DATE" | translate }}
            </th>
          </tr>
        </ng-template>

        <ng-template #body let-year let-i="rowIndex">
          <tr [ngClass]="{ 'odd-row': i % 2 !== 0, 'even-row': i % 2 === 0 }">
            @if(currentPublicHoliday?.isFixedDate){
              <td class="unispace-font-style">{{ year.year | date:'yyyy' }}</td>
            }@else{
              <td (click)="onEditYear(year)" (keypress)="onEditYear(year)" class="clickable-title unispace-font-style">{{ year.year | date:'yyyy' }}</td>
            }
            <td class="unispace-font-style">{{ year.date | date:'dd.MM.yyyy' }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

  <div class="buttons mt-3 flex gap-2 justify-content-end">
    <p-button
      [label]="'BUTTONS.NEW_YEAR' | translate"
      icon="pi pi-plus"
      (onClick)="onNewYear()"
      [disabled]="!selectedPublicHolidayId || isFixedDate"
    ></p-button>
  </div>
</p-card>

<p-dialog
  [header]="modalType === 'create' 
    ? ('HOLIDAYS.HEADER.NEW_YEAR' | translate)
    : ('HOLIDAYS.HEADER.EDIT_YEAR' | translate)"
  [modal]="true"
  [(visible)]="visibleModal">
  <app-new-year
    [modalType]="modalType"
    [visible]="visibleModal"
    [currentPublicHolday]="currentPublicHoliday"
    [currentHolidayYear]="holidayYearToEdit"
    (created)="onCreate($event)"
    (updated)="onEdit($event)"
    (showModalDelete)="visibleDeleteModal = $event"
    (isVisibleModal)="visibleModal = $event"
  ></app-new-year>
</p-dialog>

<!-- Modal delete holiday year -->
<p-dialog [header]="('HOLIDAYS.MODAL.DELETE_HOLIDAY_YEAR') | translate" [modal]="true"
  [(visible)]="visibleDeleteModal" [style]="{ width: 'auto' }">
  <div class="confirmation-content mb-2 mt-4">
    <p class="mb-4" [innerHTML]="'DIALOG.DELETE' | translate:{ value: holidayYearToEdit?.year | date:'yyyy' }"></p>

    <div class="flex justify-content-center gap-2">
      <p-button type="button" class="delete" size="small" [label]="'BUTTONS.DELETE' | translate" icon="pi pi-trash"
        iconPos="left" severity="danger" [loading]="isLoadingDelete" (onClick)="removeHolidayYear()" />

      <p-button type="button" class="cancel" size="small" [label]="'BUTTONS.CANCEL' | translate" icon="pi pi-times"
        iconPos="left" (onClick)="visibleDeleteModal = false;" [disabled]="isLoadingDelete" />
    </div>
  </div>
</p-dialog>

<app-occ-error-modal
  *ngIf="showOCCErrorModalPublicHoliday"
  [useEmitter]="occErrorHolidayType === 'UPDATE_UPDATED'"
  (refresh)="onRefresh()"
  [errorType]="occErrorHolidayType"
  [reloadCurrentPage]="true"
  (close)="showOCCErrorModalPublicHoliday = false">
</app-occ-error-modal>