@use 'variables' as *;

.type-of-companies-form{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    label {
        width: 120px;
        flex-shrink: 0;
    }

    input {
        width: 250px;
    }
}
