<p-card [style]="{ background: 'var(--light-cyan)' }" [header]="'TYPE_OF_COMPANIES.LABEL.EDIT_COMPANY_TYPE' | translate">
    <form [formGroup]="companyTypeEditForm" (ngSubmit)="onCompanyTypeEditFormSubmit()">
        <div class="type-of-companies-form px-2">
            <label for="name">{{ 'TYPE_OF_COMPANIES.LABEL.COMPANY_TYPE' | translate }}</label>
            <div class="input-message">
                <input #firstInput pInputText type="text" id="name" formControlName="name" autocomplete="off" 
                invalid= "createUserForm.get('name')?.invalid  
                        && createUserForm.get('name')?.dirty 
                        || createUserForm.get('name')?.touched
                        || nameAlreadyExist"/>
                 <p-message severity="error" [showTransitionOptions]="'0ms'" variant="simple" size="small" *ngIf="
                    companyTypeEditForm.get('name')?.invalid && 
                    companyTypeEditForm.get('name')?.dirty || nameAlreadyExist
                    ">{{ nameAlreadyExist ? ('USERS.ERROR.USERNAME_ALREADY_EXIST' | translate) : ('ERROR.FIELD_REQUIRED' | translate) }}</p-message> 
            </div>
            
        </div>
        <div class="flex justify-content-center my-2">
            <p-button type="submit" class="save me-2" size="small" [label]="'TYPE_OF_COMPANIES.BUTTON.SAVE' | translate" icon="pi pi-check"
                [disabled]="companyTypeEditForm.invalid || !companyTypeEditForm.dirty || isSaving" [loading]="isSaving" iconPos="left" />
            <p-button class="cancel me-2" size="small" [label]="'TYPE_OF_COMPANIES.BUTTON.CANCEL' | translate"
                icon="pi pi-times" iconPos="left" [disabled]="isSaving" (click)="clearForm()" (keydown.enter)="clearForm()" />
        </div>
    </form>
</p-card>


<app-occ-error-modal
  *ngIf="showOCCErrorModalCompanyType"
  [useEmitter]="occErrorType === 'UPDATE_UPDATED'"
  (refresh)="onRefresh()"
  [errorType]="occErrorType"
  (close)="showOCCErrorModalCompanyType = false"
  [reloadCurrentPage]="true">
</app-occ-error-modal>