<p-card [style]="{ background: 'var(--light-cyan)' }" [header]="'TYPE_OF_COMPANIES.LABEL.EDIT_COMPANY_TYPE' | translate">
    <form [formGroup]="companyTypeEditForm" (ngSubmit)="onCompanyTypeEditFormSubmit()">
        <div class="align-items-center mb-2">
            <div class="type-of-companies-form mb-2 flex">
                <label for="name">{{ 'TYPE_OF_COMPANIES.LABEL.COMPANY_TYPE' | translate }}</label>
                <div>
                    <input pInputText type="text" id="name" formControlName="name" [ngClass]="{'ng-invalid': companyTypeEditForm.get('name')?.invalid && 
                      companyTypeEditForm.get('name')?.dirty && companyTypeEditForm.get('name')?.touched}" autocomplete="off" />
                     <p-message severity="error" variant="simple" size="small" *ngIf="
                         companyTypeEditForm.get('name')?.invalid && 
                         companyTypeEditForm.get('name')?.dirty && 
                         companyTypeEditForm.get('name')!.hasError('required')
                         ">
                         {{ 'TYPE_OF_COMPANIES.ERROR.COMPANY_TYPE_REQUIRED' | translate }}</p-message>
                    <p-message severity="error" variant="simple" size="small" *ngIf="
                         companyTypeEditForm.get('name')?.invalid && 
                         companyTypeEditForm.get('name')?.dirty && 
                         companyTypeEditForm.get('name')!.hasError('emptyValue')
                         ">
                         {{ 'TYPE_OF_COMPANIES.ERROR.COMPANY_TYPE_EMPTY' | translate }}</p-message>      
                </div>
                
            </div>
        </div>
        <div class="buttons">
            <div class="row">
                <div class="col-4">
                </div>
                <div class="col-8">
                    <p-button type="submit" class="save me-2" size="small" [label]="'TYPE_OF_COMPANIES.BUTTON.SAVE' | translate" icon="pi pi-check"
                        [disabled]="companyTypeEditForm.invalid || !companyTypeEditForm.dirty || isSaving" iconPos="left" />
                    <p-button class="cancel me-2" size="small" [label]="'TYPE_OF_COMPANIES.BUTTON.CANCEL' | translate"
                        icon="pi pi-times" iconPos="left" (click)="clearForm()" (keydown.enter)="clearForm()" />
                </div>
            </div>
        </div>
    </form>
</p-card>


<app-occ-error-modal
  *ngIf="showOCCErrorModalCompanyType"
  (onClose)="showOCCErrorModalCompanyType = false">
</app-occ-error-modal>
<p-toast></p-toast>