<p-popover #op>
    <ng-container [ngSwitch]="type">

        <!-- TYPE: LIST -->
        <ng-container *ngSwitchCase="'list'">
            <div class="flex flex-col gap-3 p-3">

                <span class="font-medium">Seleccionar</span>

                <ul class="list-none p-0 m-0 flex flex-col">
                    <li *ngFor="let item of values"
                        class="px-3 py-2 rounded cursor-pointer hover:bg-surface-200 flex items-center gap-2"
                        (keydown)="handleKeyPress($event, item)"
                        (click)="onSelect(item)">
                        <span>{{ item.label }}</span>
                    </li>
                </ul>

            </div>
        </ng-container>

        <!-- DEFAULT -->
        <ng-container *ngSwitchDefault>
            <div class="p-3 w-40 text-center">
                <span class="font-medium">Contenido vacío</span>
            </div>
        </ng-container>

    </ng-container>
</p-popover>

<!-- Botón que abre el popover -->
<p-button icon="pi pi-ellipsis-h" styleClass="p-button-text p-button-sm w-full h-full" (click)="toggle($event)">
</p-button>