<p-popover #op>
    <ng-container [ngSwitch]="type">

        <!-- TYPE: LIST -->
        <ng-container *ngSwitchCase="'list'">
            <div class="popover-content">
                <!-- Header -->
                <div class="popover-header">
                    <h3>Seleccionar</h3>
                </div>

                <!-- Lista de items -->
                <div class="popover-list">
                    <div *ngFor="let item of values; let i = index" class="popover-item"
                        [ngStyle]="{'backgroundColor': getItemBackgroundColor(i)}" (click)="onSelect(item)"
                        (keydown.enter)="onSelect(item)" tabindex="0">

                        <!-- Contenido principal -->
                        <div class="item-fields-container">
                            <ng-container *ngFor="let field of displayFields; let fieldIndex = index">

                                <!-- Campo como badge -->
                                <span *ngIf="shouldShowAsBadge(field)" class="badge" [ngStyle]="getBadgeStyles(i)">
                                    {{ getFieldValue(item, field) }}
                                </span>

                                <!-- Campo como texto normal -->
                                <span *ngIf="!shouldShowAsBadge(field)" class="text-field">
                                    {{ getFieldValue(item, field) }}
                                </span>

                                <!-- Separador (excepto el último) -->
                                <span *ngIf="shouldShowSeparator(fieldIndex)" class="separator">•</span>
                            </ng-container>
                        </div>

                        <!-- Indicador visual para feriados -->
                        <div *ngIf="getRawValue(item, 'isHoliday') === 1" class="holiday-indicator">
                            <i class="pi pi-sun"></i>
                            <span>Es feriado</span>
                        </div>
                    </div>
                </div>

                <!-- Footer -->
                <div class="popover-footer">
                    <button pButton label="Limpiar" icon="pi pi-times" class="p-button-text p-button-sm"
                        (click)="onSelect(null)"></button>
                </div>
            </div>
        </ng-container>

        <!-- DEFAULT -->
        <ng-container *ngSwitchDefault>
            <div class="popover-default">
                <div class="default-icon">
                    <i class="pi pi-inbox"></i>
                </div>
                <span>Sin opciones disponibles</span>
            </div>
        </ng-container>

    </ng-container>
</p-popover>