<div class="container">
  <div class="row">
    <div class="col-6">
      <master-data-genaral-table
        [tableId]="tableKey"
        [tableValues]="projectFunnels()"
        [columns]="columsHeaderFieldProjecFunnels"
        [userPreferences]="userProjectFunnelsPreferences"
        [dataKeys]="dataKeys"
        (onColumnChanges)="onUserProjectFunnelsPreferencesChanges($event)"
        (onCreateRegister)="handleTableEvents({ type: 'create' })"
        (onDeleteRegister)="handleTableEvents({ type: 'delete', data: $event })"
      ></master-data-genaral-table>

      <p-dialog
        [header]="modalType === 'create' ?
          ('PROJECT_FUNNELS.MODAL.NEW' | translate) :
          ('PROJECT_FUNNELS.MODAL.DELETE' | translate)"
        [modal]="true"
        [(visible)]="isVisibleModal"
        [style]="{ width: '35rem' }"
        >
        <app-modal-project-funnel
          [visible]="isVisibleModal"
          [selectedProjectFunnels]="selectedProjectFunnels"
          [modalType]="modalType"
          (isVisibleModal)="isVisibleModal = $event"
          (createPromoter)="onCreatePromoter($event)"
          (deletePromoter)="onDeletePromoter($event)"
        ></app-modal-project-funnel>
      </p-dialog>
    </div>
    <div class="col-6">
      <master-data-edit-project-funnel></master-data-edit-project-funnel>
    </div>
  </div>
</div>
