.create-form{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    label {
        width: 100px;
        flex-shrink: 0;
    }

    input, p-password {
        width: 100%;
    } 

    
    p-toggleswitch {
        display: flex;
        align-items: center;
    }
}

::ng-deep .p-password, 
::ng-deep #password.p-password-input {
    width: 100% !important;
}