.order_input input{
    width: 20vw;
}

p-floatlabel{
    margin-left: 5px;

    #customerId{
        width: 6vw;
    }

    #customerName{
        width: 13.1vw;
    }
}

.order_input{
    width: 100% !important;   
    display: flex;

    label {
        width: 33%;
    }
}

.order_input p-dropdown {
    flex: unset; 
    width: 20vw;
}
::ng-deep .p-datepicker table,
::ng-deep .p-datepicker .p-monthpicker,
::ng-deep .p-datepicker .p-yearpicker,
::ng-deep .p-datepicker .p-datepicker-group {
  width: 100%;
  table-layout: fixed;
}