<p-card
  [style]="{ background: 'var(--light-cyan)' }"
  [header]="'COSTS.HEADER.EDIT_COST' | translate"
>
  <form [formGroup]="costForm" (ngSubmit)="updateCost()">
    <div class="align-items-center mb-2">
      <div class="cost-form mb-2">
        <label for="type">{{ "COSTS.LABEL.NAME" | translate }}</label>
        <input
          pInputText
          type="text"
          id="type"
          formControlName="type"
          autocomplete="off"
        />
      </div>

      <div class="cost-form mb-2">
        <label for="sequenceNo">{{ "COSTS.LABEL.SORT" | translate }}</label>
        <p-inputnumber [inputStyle]="{'text-align': 'right'}"
          inputId="sequenceNo"
          formControlName="sequenceNo"
          autocomplete="off"
        />
      </div>
    </div>

    <div class="flex justify-content-center gap-2 mt-4">
      <p-button
        size="small"
        [label]="'BUTTONS.SAVE' | translate"
        icon="pi pi-check"
        type="submit"
        [loading]="isLoading"
        [disabled]="costForm.invalid || !costForm.dirty || isLoading"
      ></p-button>
      <p-button
        class="cancel"
        size="small"
        [disabled]="isLoading"
        [label]="'BUTTONS.CANCEL' | translate"
        icon="pi pi-times"
        severity="secondary"
        (keydown)="clearForm()"
        (click)="clearForm()"
      ></p-button>
    </div>
  </form>
</p-card>
<app-occ-error-modal
  *ngIf="showOCCErrorModaCost"
  (close)="showOCCErrorModaCost = false"
  [useEmitter]="true"
  (refresh)="onRefresh()">
</app-occ-error-modal>
<p-toast/>