.cost-form {
  display: flex;
  align-items: center;
  flex-direction: row;

  label {
    width: 100px;
    flex-shrink: 0;
  }

  input, p-inputnumber {
    width: 100%;
  }

  ::ng-deep .p-inputnumber-input {
    width: 100% !important;
  }
}