<ng-container *ngIf="isStateCreateMode; else deleteStateTemplate">
    <form [formGroup]="stateForm" (ngSubmit)="onCreateStateFormSubmit()">
        <div class="align-items-center mb-2 mt-4">
            <div class="create-state-form flex align-items-center mb-4">
                <label for="name">{{ 'STATES.LABEL.STATE' | translate }}</label>
                <div class="input-message">
                    <input #stateInput pInputText type="text" id="name" formControlName="name" autocomplete="off" 
                        invalid="stateForm.get('name')?.invalid  
                            && stateForm.get('name')?.dirty 
                            || stateForm.get('name')?.touched
                            || nameAlreadyExist"/>
                     <p-message severity="error" [showTransitionOptions]="'1ms'" variant="simple" size="small" *ngIf="
                        stateForm.get('name')?.invalid && 
                        stateForm.get('name')?.dirty || nameAlreadyExist
                        ">{{ nameAlreadyExist ? ('STATES.ERROR.STATE_ALREADY_EXIST' | translate) : ('ERROR.FIELD_REQUIRED' | translate) }}</p-message>
                </div>
            </div>

            <div class="flex justify-content-center gap-2 mt-2">
                <p-button type="submit" class="save" size="small" [label]="'BUTTONS.SAVE' | translate"
                    icon="pi pi-check" iconPos="left" [loading]="isStateLoading"
                    [disabled]="stateForm.invalid || isStateLoading" />

                <p-button type="button" class="cancel" size="small" [label]="'BUTTONS.CANCEL' | translate"
                    icon="pi pi-times" iconPos="left" (onClick)="closeStateModal()" [disabled]="isStateLoading" />
            </div>
        </div>
    </form>
</ng-container>

<ng-template #deleteStateTemplate>
    <div class="confirmation-content mb-2 mt-4">
        <p class="mb-4" [innerHTML]="'DIALOG.DELETE' | translate:{ value: stateName }"></p>

        <div class="flex justify-content-center gap-2">
            <p-button type="button" class="delete" size="small" [label]="'BUTTONS.DELETE' | translate"
                icon="pi pi-trash" iconPos="left" (onClick)="onStateDeleteConfirm()" severity="danger" [loading]="isStateLoading"
                [disabled]="isStateLoading" />

            <p-button type="button" class="cancel" size="small" [label]="'BUTTONS.CANCEL' | translate"
                icon="pi pi-times" iconPos="left" (onClick)="closeStateModal()" [disabled]="isStateLoading" />
        </div>
    </div>
</ng-template>
<app-occ-error-modal
  *ngIf="showOCCErrorModalState"
  [useEmitter]="occErrorStateType === 'DELETE_UNEXISTED'"
  (refresh)="onRefresh()"
  [errorType]="occErrorStateType"
  [reloadCurrentPage]="true"
  (close)="showOCCErrorModalState = false">
</app-occ-error-modal>