<p-card [style]="{ background: 'var(--light-cyan)' }" [header]="'ABSENCE_TYPES.LABEL.TITLE_FORM' | translate">
    <form [formGroup]="editProjectCarrierForm" (ngSubmit)="onSubmit()">
        <div class="align-items-center mb-2">
            <div class="absence-form mb-2">
                <label for="absenceType">{{ 'ABSENCE_TYPES.LABEL.TYPE' | translate }}</label>
                <input pInputText type="text" id="absenceType" formControlName="absenceType" autocomplete="off" />
            </div>
            <div class="absence-form mb-2">
                <label for="absenceTypeLabel">{{ 'ABSENCE_TYPES.LABEL.ABBREVIATION' | translate }}</label>
                <input pInputText type="text" id="absenceTypeLabel" formControlName="absenceTypeLabel"
                    autocomplete="off" />
            </div>
            <div class="absence-form mb-2">
                <label for="shareOfDay">{{ 'ABSENCE_TYPES.LABEL.FRACTION_OF_DAY' | translate }}</label>
                <input pInputText type="text" id="shareOfDay" formControlName="shareOfDay" autocomplete="off" />
            </div>
            <div class="absence-form-check mb-2">
                <label for="isHoliday">{{ 'ABSENCE_TYPES.LABEL.IS_VACATION' | translate }}</label>
                <p-toggleswitch id="isHoliday" formControlName="isHoliday">
                    <ng-template #handle let-checked="checked">
                        <i [ngClass]="['!text-xs', 'pi', checked ? 'pi-check' : 'pi-times']"></i>
                    </ng-template>
                </p-toggleswitch>
            </div>
            <div class="absence-form-check mb-2">
                <label for="canBeBooked">{{ 'ABSENCE_TYPES.LABEL.CAN_BE_BOOKED' | translate }}</label>
                <p-toggleswitch id="canBeBooked" formControlName="canBeBooked">
                    <ng-template #handle let-checked="checked">
                        <i [ngClass]="['!text-xs', 'pi', checked ? 'pi-check' : 'pi-times']"></i>
                    </ng-template>
                </p-toggleswitch>
            </div>
            <div class="flex justify-content-center gap-2">
                <p-button size="small" [label]="'BUTTONS.SAVE' | translate" icon="pi pi-check" iconPos="left" />
                <p-button class="cancel" size="small" [label]="'BUTTONS.CANCEL' | translate" icon="pi pi-times" iconPos="left" />
            </div>
        </div>
    </form>
</p-card>