.absence-form, .absence-form-check {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;

  label {
    width: 130px;
    flex-shrink: 0;
  }
  input,
  .p-inputnumber,
  p-toggleswitch {
    width: 100%;
    display: flex;
    align-items: center;
  }
}