<div class="container">
    <div class="row">
        <div class>
            <master-data-genaral-table
            [tableId]="tableKey"
            [tableValues]="employeeCategories()"
            [columns]="columsHeaderFieldEmployee"
            [userPreferences]="userEmployeeQualificationPreferences"
            [dataKeys]="dataKeys"
            (onColumnChanges)="onUserEmployeeQualificationPreferencesChanges($event)"
            (onCreateRegister)="handleTableEvents({ type: 'create' })"
            (onDeleteRegister)="handleTableEvents({ type: 'delete', data: $event })"
            (onEditRegister)="editEmployeeCategory($event)"
        ></master-data-genaral-table>
        <p-dialog 
            [header]="modalType === 'create' 
            ? ('EMPLOYEE_QUALIFICATION.FORM.QUALIFICATION_FORM' | translate) 
            : ('EMPLOYEE_QUALIFICATION.DELETE.CONFIRMATION' | translate)" 
            [modal]="true" 
            [(visible)]="visibleModal"
        >
            <app-employee-qualification-modal
            [modalType]="modalType"
            [visibleModal]="visibleModal"
            [employeeCategoryName]="NameEmployeeQualification"
            [employeeCategoryToDelete]="selectedEmployeeQualification"
            (isVisibleModal)="onModalVisibilityChange($event)"
            (toastMessage)="toastMessageDisplay($event)"
            (employeeCategoryCreated)="onCreateEmployeeCategory($event)"
            #titleModal
            ></app-employee-qualification-modal>
        </p-dialog>
        </div>
    </div>
</div>
