.form-container {
  display: block !important;
}

.sub_contract_input {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;

  label {
    width: 200px;
    flex-shrink: 0;
  }

  input, 
  p-inputnumber,
  p-select,
  p-datepicker,
  textarea {
    width: 100%;
  }

  ::ng-deep {
    .p-inputtext,
    .p-inputnumber-input,
    .p-inputnumber {
      width: 100%;
    }

  }
}

::ng-deep .p-datepicker {
  width: auto;
  min-width: 100%;
}

::ng-deep .p-datepicker table,
::ng-deep .p-datepicker .p-monthpicker,
::ng-deep .p-datepicker .p-yearpicker,
::ng-deep .p-datepicker .p-datepicker-group {
  width: 100%;
  table-layout: fixed;
}

.buttons-container {
  margin-top: 1.5rem;
}

.confirmation-content {
  text-align: center;
  
  .stronglock {
    display: inline;
  }
}

::ng-deep .sub_contract_input .p-select-option {
  white-space: normal !important;
}

::ng-deep .p-select .p-select-label {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 10px !important;
}
