<div class="card">
  <master-data-genaral-table
    [tableId]="tableKey"
    [tableValues]="subcontracts"
    [columns]="selectedColumns"
    [userPreferences]="userSubcontractsListPreferences"
    [dataKeys]="dataKeys"
    removeKey="id"
    (onColumnChanges)="onUserSubcontractsListPreferencesChanges($event)"
    (onCreateRegister)="goToSubContractDetails()"
    (onEditRegister)="goToEditSubContractDetails($event)"
    (onDeleteRegister)="handleDeleteSubcontracts($event)"
  ></master-data-genaral-table>
</div>
<p-dialog 
  [header]="getModalHeader()"
  [modal]="true" 
  [(visible)]="visibleSubcontractModal"
  [style]="{ width: 'auto' }"
  >
  <app-subcontract-modal
    [selectedSubContract]="selectedSubcontract"
    [customer]="customer"
    [modalSubcontractType]="subContractModalType"
    [isVisibleModal]="visibleSubcontractModal"
    [isLoading]="isCreating"
    [isLoadingDelete]="isDeletingSubcontract"
    (createdSubContract)="onCreateSubcontract($event)"
    (deletedSubContract)="onDeleteSubcontract($event)"
    (visibleModal)="onModalVisible($event)"
  ></app-subcontract-modal>
</p-dialog>
<app-occ-error-modal 
  *ngIf="showOCCErrorModalSubcontract" 
  [errorType]="errorType"
  [reloadCurrentPage]="true"
  (onClose)="showOCCErrorModalSubcontract = false">
</app-occ-error-modal>