<div class="container">
    <div class="row">
        <div class="col-md-6">
            <app-order></app-order>
        </div>
        <div class="col-md-6">
            <div class="mb-2">
                <app-project></app-project>
            </div>
            <div class="mb-2">
                <app-iws-provision></app-iws-provision>
            </div>
        </div>
    </div>

    <div class="buttons">
        <div class="row">
            <div class="col-4">
                <p-button class="order_PDF" size="small" label="Auftrags-PDF erzeugen" icon="pi pi-file-pdf"
                    iconPos="right"  [style]="{ background: '#0ea5e9' }"/>
            </div>
            <div class="col-8">
                <p-button class="Save me-2" size="small" label="Speichern" icon="pi pi-check"
                    iconPos="right" />
                <p-button class="Delete me-2" size="small" label="Löschen" icon="pi pi-trash"
                    iconPos="right" [style]="{ background: '#ef4444' }" />
                <p-button class="Cancel me-2" size="small" label="Abbrechen" icon="pi pi-times"
                    iconPos="right" [style]="{ background: '#000' }"/>

            </div>
        </div>
    </div>
</div>
