<div class="container">
  <div class="row">
    <div class="col-md-6">
      <app-order (onCreateOrder)="onOrder($event)" [orderToEdit]="currentOrder"></app-order>
    </div>
    <div class="col-md-6">
      <div class="mb-2">
        <app-project (onCreateOrderProject)="onOrderProject($event)" [orderToEdit]="currentOrder"></app-project>
      </div>
      <div class="mb-2">
        <app-iws-provision (onCreateOrderCommission)="onOrderCommission($event)"
          [orderToEdit]="currentOrder"></app-iws-provision>
      </div>
    </div>
  </div>

  <div class="buttons">
    <div class="row">
      <div class="col-4">
        <p-button class="order_PDF" size="small" [label]="'BUTTONS.GENERATE_PDF_ORDER' | translate"
          icon="pi pi-file-pdf" iconPos="right" [style]="{ background: '#656565' }" />
      </div>
      <div class="col-8">
        <p-button class="Save me-2" size="small" [label]="'BUTTONS.SAVE' | translate" icon="pi pi-check" iconPos="left"
          [loading]="isLoading" (onClick)="onSubmit()" />
        <p-button class="Delete me-2" size="small" [label]="'BUTTONS.DELETE' | translate" icon="pi pi-trash"
          iconPos="left" [style]="{ background: '#ef4444' }" (onClick)="visibleOrderDeleteModal = true;"/>
        <p-button class="cancel me-2" size="small" [label]="'BUTTONS.CANCEL' | translate" icon="pi pi-times"
          iconPos="left" (onClick)="goBackListOrders()" />
      </div>
    </div>
  </div>
</div>
<p-dialog
  [header]="('ORDERS.ORDER_DIALOG_REMOVE' | translate)" 
  [modal]="true"
  [(visible)]="visibleOrderDeleteModal"
  >
  <div class="confirmation-content mb-2 mt-4">
    <p class="mb-4" *ngIf="currentOrder">
      {{ 'ORDERS.REMOVE_ORDERS_QUESTION' | translate }}
      <strong class="stronglock mt-1">"{{ currentOrder.orderLabel }}"</strong>?
    </p>

    <div class="flex justify-content-center gap-2">
      <p-button type="button" class="delete" size="small" [label]="'BUTTONS.DELETE' | translate"
          icon="pi pi-trash" iconPos="left" (onClick)="onOrderDelete()" severity="danger" [loading]="isLoading"
          [disabled]="isLoading" />

      <p-button type="button" class="cancel" size="small" [label]="'BUTTONS.CANCEL' | translate"
          icon="pi pi-times" iconPos="left" (onClick)="this.visibleOrderDeleteModal = false;" [disabled]="isLoading" />

    </div>
  </div>
</p-dialog>
<app-occ-error-modal 
  *ngIf="showOCCErrorModalOrder" 
  [errorType]="occErrorType"
  [redirectRoute]="redirectRoute"
  (onClose)="showOCCErrorModalOrder = false">
</app-occ-error-modal>
<p-toast />