<ng-container *ngIf="isCreateMode; else deleteTemplate">
    <form [formGroup]="createEmployeeIwsForm" (ngSubmit)="onSubmit()">
        <div class="align-items-center mb-2 mt-4">
            <div class="create-form flex align-items-center mb-3">
                <label for="employeeNo">{{ 'IWS_STAFF.LABEL.STAFF_ID' | translate }}</label>
                <p-inputnumber [useGrouping]="true" inputId="employeeNo" formControlName="employeeNo" autocomplete="off"
                    [attr.aria-invalid]="createEmployeeIwsForm.get('employeeNo')?.invalid" [inputStyle]="{'text-align': 'right'}"
                    [attr.aria-describedby]="createEmployeeIwsForm.get('employeeNo')?.invalid ? 'employeeNoError' : null"
                    />

                <small *ngIf="createEmployeeIwsForm.get('employeeNo')?.invalid && createEmployeeIwsForm.get('employeeNo')?.touched"
                    id="employeeNoError" class="text-red-500 block mt-1">
                </small>
            </div>
            <div class="create-form flex align-items-center mb-3">
                <label for="employeeLabel">{{ 'IWS_STAFF.LABEL.SHORT_NAME' | translate }}</label>
                <div class="input-message">
                  <input #fisrtInput pInputText type="text" id="employeeLabel" formControlName="employeeLabel" autocomplete="off"
                      [attr.aria-invalid]="createEmployeeIwsForm.get('employeeLabel')?.invalid"
                      [attr.aria-describedby]="createEmployeeIwsForm.get('employeeLabel')?.invalid ? 'employeeLabelError' : null"
                      [attr.invalid]="(createEmployeeIwsForm.get('employeeLabel')?.invalid && 
                      createEmployeeIwsForm.get('employeeLabel')?.dirty) 
                      || shortNameAlreadyExist"
                  />
                  <p-message 
                    severity="error" 
                    [showTransitionOptions]="'0ms'" 
                    variant="simple" 
                    size="small" 
                    *ngIf="(createEmployeeIwsForm.get('employeeLabel')?.invalid && 
                    createEmployeeIwsForm.get('employeeLabel')?.dirty) 
                    || shortNameAlreadyExist">
                    <span *ngIf="createEmployeeIwsForm.get('employeeLabel')?.errors?.['required'] && createEmployeeIwsForm.get('employeeLabel')?.dirty">
                      {{ 'ERROR.FIELD_REQUIRED' | translate }}
                    </span>
                    <span *ngIf="shortNameAlreadyExist && !createEmployeeIwsForm.get('employeeLabel')?.errors?.['required']">
                      {{ 'IWS_STAFF.ERROR.SHORT_NAME_ALREADY_EXIST' | translate }}
                    </span>
                  </p-message>
                </div>
            </div>
            <div class="create-form flex align-items-center mb-3">
                <label for="firstName">{{ 'IWS_STAFF.LABEL.FIRST_NAME' | translate }}</label>
                <input pInputText type="text" id="firstName" formControlName="firstName" autocomplete="off"
                    [attr.aria-invalid]="createEmployeeIwsForm.get('firstName')?.invalid"
                    [attr.aria-describedby]="createEmployeeIwsForm.get('firstName')?.invalid ? 'emplopyeeIwsError' : null"
                    />

                <small *ngIf="createEmployeeIwsForm.get('firstName')?.invalid && createEmployeeIwsForm.get('firstName')?.touched"
                    id="emplopyeeIwsError" class="text-red-500 block mt-1">
                </small>
            </div>
            <div class="create-form flex align-items-center mb-3">
                <label for="lastName">
                    {{ 'IWS_STAFF.LABEL.LAST_NAME' | translate }}
                </label>
                <input pInputText type="text" id="lastName" formControlName="lastName" autocomplete="off"
                    [attr.aria-invalid]="createEmployeeIwsForm.get('lastName')?.invalid"
                    [attr.aria-describedby]="createEmployeeIwsForm.get('lastName')?.invalid ? 'lastNameError' : null"
                    />

                <small *ngIf="createEmployeeIwsForm.get('lastName')?.invalid && createEmployeeIwsForm.get('lastName')?.touched"
                    id="lastNameError" class="text-red-500 block mt-1">
                </small>
            </div>
            <div class="create-form flex align-items-center mb-3">
                <label for="mail">
                    {{ 'IWS_STAFF.LABEL.EMAIL' | translate }}
                </label>
                <input pInputText type="text" id="mail" formControlName="mail" autocomplete="off"
                    [attr.aria-invalid]="createEmployeeIwsForm.get('mail')?.invalid"
                    [attr.aria-describedby]="createEmployeeIwsForm.get('mail')?.invalid ? 'mailError' : null"
                    />

                <small *ngIf="createEmployeeIwsForm.get('mail')?.invalid && createEmployeeIwsForm.get('mail')?.touched"
                    id="mailError" class="text-red-500 block mt-1">
                </small>
            </div>
            <div class="create-form flex align-items-center mb-3">
                <label for="team">{{ "IWS_STAFF.LABEL.TEAM" | translate }}</label>
                <p-select
                [options]="teams"
                formControlName="teamIws"
                optionLabel="name"
                [placeholder]="'IWS_STAFF.LABEL.SELECT_TEAM' | translate"
                optionDisabled="inactive"
                appendTo="body"
                showClear
                ></p-select>
            </div>
            <div class="create-form flex align-items-center mb-3">
                <label for="startDate">{{ "IWS_STAFF.LABEL.STAFF_SINCE" | translate }}</label>
                <p-datepicker
                    formControlName="startDate"
                    [showIcon]="true"
                    inputId="startDate"
                    dateFormat="dd.mm.yy"
                    [showClear]="true"
                    appendTo="body"
                />
            </div>
            <div class="create-form flex align-items-center mb-3">
                <label for="endDate">{{ "IWS_STAFF.LABEL.STAFF_UNTIL" | translate }}</label>
                <p-datepicker
                    formControlName="endDate"
                    [showIcon]="true"
                    inputId="endDate"
                    dateFormat="dd.mm.yy"
                    [showClear]="true"
                    appendTo="body"
                />
            </div>
            <div class="create-form flex align-items-center mb-3">
                <label for="active">{{ "IWS_STAFF.LABEL.ACTIVE" | translate }}</label>
                <p-toggleswitch inputId="active" formControlName="active">
                    <ng-template #handle let-checked="checked">
                        <i [ngClass]="['!text-xs', 'pi', checked ? 'pi-check' : 'pi-times']"></i>
                    </ng-template>
                </p-toggleswitch>
            </div>
            <div class="flex justify-content-center gap-2 mt-4">
                <p-button type="submit" class="save" size="small" [label]="'BUTTONS.SAVE' | translate"
                    icon="pi pi-check" iconPos="left" [loading]="isLoading"
                    [disabled]="!createEmployeeIwsForm.valid || isLoading || !createEmployeeIwsForm.dirty" />

                <p-button type="button" class="cancel" size="small" [label]="'BUTTONS.CANCEL' | translate"
                    icon="pi pi-times" iconPos="left" (onClick)="closeAndReset()" [disabled]="isLoading" />
            </div>
        </div>
    </form>

</ng-container>

<ng-template #deleteTemplate>
    <div class="confirmation-content mb-2 mt-4">
        <p class="mb-4" [innerHTML]="'DIALOG.DELETE' | translate:{ value: employeeIwsName }"></p>

        <div class="flex justify-content-center gap-2">
            <p-button type="button" class="delete" size="small" [label]="'BUTTONS.DELETE' | translate"
                icon="pi pi-trash" iconPos="left" (onClick)="onDeleteConfirm()" severity="danger" [loading]="isLoading"
                [disabled]="isLoading" />

            <p-button type="button" class="cancel" size="small" [label]="'BUTTONS.CANCEL' | translate"
                icon="pi pi-times" iconPos="left" (onClick)="closeAndReset()" [disabled]="isLoading" />

        </div>
    </div>
</ng-template>
<app-occ-error-modal
  *ngIf="showOCCErrorModalIWSStaff"
  [errorType]="occErrorType"
  [reloadCurrentPage]="true"
  (close)="showOCCErrorModalIWSStaff = false">
</app-occ-error-modal>