.field {
    display: flex;
    align-items: center;
    margin-bottom: 1.2rem;

    label {
        width: 110px;
        flex-shrink: 0;
        margin-bottom: 0;
    }

    input {
        min-width: 5rem !important;
        width: 23rem !important;
    }

    p-select {
        width: 10rem;
    }

    .inputs {
        min-width: 15rem;

        p-select {
            width: 23rem;
        }

        input {
            width: 10rem !important;
        }
    }
}