<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="field">
        <label for="customer">{{ 'SIDEBAR.CUSTOMER' | translate }}</label>
        <input pInputText type="text" id="customer" disabled>
      </div>
      <form [formGroup]="formYearEmployee" class="mb-7">
        <div class="field">
            <label for="year">{{ 'PROJECT_PERIOD.TABLE.YEAR' | translate }}</label>
            <p-select inputId="year" formControlName="year"
            [showClear]="true"
            [emptyMessage]="'TABLES.NO_RESULTS_FOUND' | translate"  />
        </div>
        <div class="field">
            <label for="employeeno">{{ 'SIDEBAR.EMPLOYEES' | translate }}</label>
            <div class="inputs flex gap-2">
                <p-select inputId="employeeno" formControlName="employeeno" 
                 [showClear]="true"
                 [emptyMessage]="'TABLES.NO_RESULTS_FOUND' | translate" />
                <input pInputText id="employeeFullName" formControlName="employeeFullName">
            </div>
        </div>
      </form>
      <p-button [label]="'BUTTONS.IMPORT_ABSENCES' | translate" />
    </div>
    <div class="col-6">
      <master-data-genaral-table></master-data-genaral-table>
    </div>
  </div>
  <div class="calendar-table-container">
    <app-calendar-view></app-calendar-view>
  </div>
</div>
