<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="field">
        <label for="customer">{{ 'SIDEBAR.CUSTOMER' | translate }}</label>
        <input *ngIf="currentCustomer" pInputText type="text" id="customer" disabled
          [value]="currentCustomer.customername1">
      </div>
      <form [formGroup]="formYearEmployee" class="mb-7">
        <div class="field">
          <label for="year">{{ 'PROJECT_PERIOD.TABLE.YEAR' | translate }}</label>
          <p-select inputId="year" formControlName="year" [options]="years"
            [emptyMessage]="'TABLES.NO_RESULTS_FOUND' | translate" />
        </div>
        <div class="field">
          <label for="employeeno">{{ 'SIDEBAR.EMPLOYEES' | translate }}</label>
          <div class="inputs flex gap-2">
            <p-select inputId="employeeFullName" formControlName="employeeFullName" [options]="processedEmployees()" optionLabel="fullName"
              optionValue="id" [showClear]="true" [emptyMessage]="'TABLES.NO_RESULTS_FOUND' | translate" />
            <input pInputText id="employeeno" formControlName="employeeno">
          </div>
        </div>
      </form>
      <p-button [label]="'BUTTONS.IMPORT_ABSENCES' | translate" />
    </div>
    <div class="col-6">
      <master-data-genaral-table [tableId]="tableKey" [tableValues]="absenceDayCounts()" [dataKeys]="dataKeys"
        [columns]="selectedColumns" [userPreferences]="userAbsenceTypeDayPreferences" [showButtonNew]="false"
        [showButtonsEditDelete]="false"></master-data-genaral-table>
    </div>
  </div>
  <div class="calendar-table-container">
    <app-calendar-view [currentYear]="currentYear" [employee]="selectedEmployee" (employeeIdAfterRefresh)="loadEmployeeAfterRefreshOCC($event)"
      [weekendsHolidaysMap]="holidaysWeekendMap" (absenceChanged)="onCalendarAbsenceChanged()"></app-calendar-view>
  </div>
</div>