<p-card [style]="{ background: 'var(--light-cyan)' }" [header]="'STATES.LABEL.EDIT_STATE' | translate">
    <form [formGroup]="editStateForm" (ngSubmit)="onStateEditFormSubmit()">
        <div class="align-items-center mb-2">
            <div class="state-form mb-2 flex">
                <label for="name">{{ 'STATES.LABEL.STATE' | translate }}</label>
                <div>
                    <input pInputText type="text" id="name" formControlName="name" [ngClass]="{'ng-invalid': editStateForm.get('name')?.invalid && 
                      editStateForm.get('name')?.dirty && editStateForm.get('name')?.touched}" autocomplete="off" />
                     <p-message severity="error" variant="simple" size="small" *ngIf="
                         editStateForm.get('name')?.invalid && 
                         editStateForm.get('name')?.dirty && 
                         editStateForm.get('name')!.hasError('required')
                         ">
                         {{ 'STATES.ERROR.STATE_REQUIRED' | translate }}</p-message>
                    <p-message severity="error" variant="simple" size="small" *ngIf="
                         editStateForm.get('name')?.invalid && 
                         editStateForm.get('name')?.dirty && 
                         editStateForm.get('name')!.hasError('emptyValue')
                         ">
                         {{ 'STATES.ERROR.STATE_EMPTY' | translate }}</p-message>      
                </div>
            </div>
            <div class="flex justify-content-center gap-2 mt-4">
                <p-button type="submit" class="save me-2" size="small" [label]="'BUTTONS.SAVE' | translate" icon="pi pi-check"
                    [disabled]="editStateForm.invalid || !editStateForm.dirty || isSaving" iconPos="left" />
                <p-button class="cancel me-2" size="small" [label]="'BUTTONS.CANCEL' | translate"
                    icon="pi pi-times" iconPos="left" (click)="clearForm()" (keydown.enter)="clearForm()" />
            </div>
        </div>
    </form>
</p-card>
<app-occ-error-modal
  *ngIf="showOCCErrorModaState"
  (onClose)="showOCCErrorModaState = false">
</app-occ-error-modal>
<p-toast></p-toast>