<p-card [style]="{ background: 'var(--light-cyan)' }" [header]="'STATES.LABEL.EDIT_STATE' | translate">
    <form [formGroup]="editStateForm" (ngSubmit)="onStateEditFormSubmit()">
        <div class="align-items-center mb-2">
            <div class="state-form">
                <label for="name">{{ 'STATES.LABEL.STATE' | translate }}</label>
                <div class="input-message">
                    <input #firstInput pInputText type="text" id="name" formControlName="name" autocomplete="off" 
                    invalid="editStateForm.get('name')?.invalid  
                            && editStateForm.get('name')?.dirty 
                            || editStateForm.get('name')?.touched
                            || nameAlreadyExist"/>
                     <p-message severity="error" [showTransitionOptions]="'1ms'" variant="simple" size="small" *ngIf="
                        editStateForm.get('name')?.invalid && 
                        editStateForm.get('name')?.dirty || nameAlreadyExist
                        ">{{ nameAlreadyExist ? ('STATES.ERROR.STATE_ALREADY_EXIST' | translate) : ('ERROR.FIELD_REQUIRED' | translate) }}</p-message>
                </div>
            </div>
            <div class="flex justify-content-center gap-2 mt-4">
                <p-button type="submit" class="save me-2" size="small" [label]="'BUTTONS.SAVE' | translate" icon="pi pi-check"
                    [disabled]="editStateForm.invalid || !editStateForm.dirty || isSaving" [loading]="isSaving" iconPos="left" />
                <p-button class="cancel me-2" size="small" [label]="'BUTTONS.CANCEL' | translate"
                    icon="pi pi-times" iconPos="left" (onClick)="clearForm()" [disabled]="isSaving"/>
            </div>
        </div>
    </form>
</p-card>
<app-occ-error-modal
  *ngIf="showOCCErrorModaState"
  [useEmitter]="occErrorStateType === 'UPDATE_UPDATED'"
  (refresh)="onRefresh()"
  [errorType]="occErrorStateType"
  [reloadCurrentPage]="true"
  (close)="showOCCErrorModaState = false">
</app-occ-error-modal>