<p-card [style]="{ background: 'var(--light-cyan)' }" [header]="'STATES.LABEL.EDIT_STATE' | translate">
    <form [formGroup]="editStateForm" (ngSubmit)="onSubmit()">
        <div class="align-items-center mb-2">
            <div class="state-form mb-2">
                <label for="stateName">{{ 'STATES.LABEL.STATE' | translate }}</label>
                <input pInputText type="text" id="stateName" formControlName="stateName" autocomplete="off" />
            </div>
            <div class="row">
                <div class="col">
                    <p-button class="save me-2" size="small" [label]="'BUTTONS.SAVE' | translate" icon="pi pi-check" iconPos="left" />
                </div>
                <div class="col">
                    <p-button class="cancel me-2" size="small" [label]="'BUTTONS.CANCEL' | translate" icon="pi pi-times" iconPos="left" />
                </div>
            </div>
        </div>
    </form>
</p-card>
