<p-card [style]="{ background: 'var(--light-cyan)' }" [header]="'CONTRACT_STATUS.LABEL.EDIT_CONTRACT_STATUS' | translate">
    <form [formGroup]="contractStatusForm" (ngSubmit)="onSubmit()">
        <div class="align-items-center mb-2">
            <div class="contract-status-form mb-2 px-6">
                <label for="status">{{ 'CONTRACT_STATUS.LABEL.CONTRACT_STATUS' | translate }}</label>
                <div class="input-message">
                    <input #firstInput pInputText type="text" id="status" formControlName="status" [ngClass]="{'ng-invalid': contractStatusForm.get('status')?.invalid && 
                      contractStatusForm.get('status')?.dirty && contractStatusForm.get('status')?.touched}" autocomplete="off" />
                     <p-message severity="error" variant="simple" size="small" *ngIf="
                         contractStatusForm.get('status')?.invalid && 
                         contractStatusForm.get('status')?.dirty && 
                         contractStatusForm.get('status')!.hasError('required')
                         ">
                         {{ 'CONTRACT_STATUS.ERROR.CONTRACT_STATUS_REQUIRED' | translate }}</p-message>
                </div>
                
            </div>
        </div>
        <div class="flex justify-content-center gap-2 mt-3">
            <p-button class="save me-2" size="small" [label]="'BUTTONS.SAVE' | translate" icon="pi pi-check"
                iconPos="left" type="submit" [disabled]="contractStatusForm.invalid || !contractStatusForm.dirty" [loading]="isLoading" />
            <p-button class="cancel me-2" size="small" [label]="'BUTTONS.CANCEL' | translate"
                icon="pi pi-times" iconPos="left" [disabled]="isLoading" (onClick)="cancel()"/>
        </div>
    </form>
</p-card>