.country-form {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;

  label {
    flex-shrink: 0;
    width: 100px;
  }

  .input-message {
    width: 100%;
    position: relative;

    input {
      width: 100%;
    }

    p-message {
      position: absolute;
      left: 0px;
      bottom: -18px;
    }
  }
}
