<p-card [style]="{ background: 'var(--light-cyan)' }" [header]="'COUNTRIES.HEADER.EDIT_COUNTRY' | translate">
  <form [formGroup]="countryForm" (ngSubmit)="onSubmit()">
    <div class="align-items-center mb-2">
      <div class="country-form">
        <label for="name">{{ "COUNTRIES.LABEL.NAME" | translate }}</label>
        <div class="input-message">
          <input
            pInputText
            type="text"
            id="name"
            formControlName="name"
            [ngClass]="{'ng-invalid ng-dirty': countryForm.get('name')?.invalid && countryForm.get('name')?.touched}"
            autocomplete="off"
          />
          <p-message severity="error" variant="simple" size="small"
            *ngIf="countryForm.get('name')?.invalid && countryForm.get('name')?.touched && countryForm.get('name')!.hasError('required')">
            {{ 'COUNTRIES.ERROR.COUNTRY_NAME_REQUIRED' | translate }}
          </p-message>
        </div>
      </div>

      <div class="country-form">
        <label for="abbreviation">{{ "COUNTRIES.LABEL.ABBREVIATION" | translate }}</label>
        <div class="input-message">
          <input
            pInputText
            type="text"
            id="abbreviation"
            formControlName="abbreviation"
            [ngClass]="{'ng-invalid ng-dirty': countryForm.get('abbreviation')?.invalid && countryForm.get('abbreviation')?.touched}"
            autocomplete="off"
          />
          <p-message severity="error" variant="simple" size="small"
            *ngIf="countryForm.get('abbreviation')?.invalid && countryForm.get('abbreviation')?.touched && countryForm.get('abbreviation')!.hasError('required')">
            {{ 'COUNTRIES.ERROR.ABBREVIATION_REQUIRED' | translate }}
          </p-message>
        </div>
      </div>

      <div class="country-form">
        <label for="isStandardChecked">{{ "COUNTRIES.LABEL.IS_STANDARD" | translate }}</label>
        <p-toggleswitch formControlName="isStandard" class="flex">
          <ng-template #handle let-checked="checked">
            <i [ngClass]="['!text-xs', 'pi', checked ? 'pi-check' : 'pi-times']"></i>
          </ng-template>
        </p-toggleswitch>
      </div>
    </div>
    <div class="flex justify-content-center gap-2 mt-4">
      <p-button
        type="submit"
        size="small"
        [label]="'BUTTONS.SAVE' | translate"
        icon="pi pi-check"
        iconPos="left"
        [disabled]="countryForm.invalid || !countryForm.dirty || isSaving"
      ></p-button>
      <p-button
        type="button"
        class="cancel"
        size="small"
        [label]="'BUTTONS.CANCEL' | translate"
        icon="pi pi-times"
        iconPos="left"
        (click)="clearForm()"
        (keydown.enter)="clearForm()"
      ></p-button>
    </div>
  </form>
</p-card>
<p-toast></p-toast>