<ng-container *ngIf="isCreateMode; else deleteTemplate">
    <form [formGroup]="payConditionForm" (ngSubmit)="onSubmit()">
        <div class="flex flex-column mt-4">
            <div class="term-payment-form mb-2">
                <label for="name">{{ 'TERMS_OF_PAYMENT.TERMS_OF_PAYMENT' | translate }}</label>
                <input #firstInput pInputText type="text" id="name" formControlName="name" autocomplete="off" />
            </div>
            <div class="term-payment-form mb-2">
                <label for="deadline">{{ 'TERMS_OF_PAYMENT.TERM_OF_PAYMENT_DAYS' | translate }}</label>
                <p-inputnumber [useGrouping]="true" inputId="deadline" formControlName="deadline" autocomplete="off" [inputStyle]="{'text-align': 'right'}"/>
            </div>
            <div class="term-payment-form mb-2 flex flex-column align-items-start gap-2">
                <label for="text">{{ 'TERMS_OF_PAYMENT.INVOICE_TEXT' | translate }}</label>
                <textarea pTextarea id="text" rows="6" formControlName="text" style="resize: none;" ></textarea>
            </div>
            <div class="row">
                <div class="col flex justify-content-center mt-2">
                    <p-button class="save me-2" type="submit" [loading]="isLoading" [disabled]="payConditionForm.invalid || !payConditionForm.dirty" size="small" [label]="'BUTTONS.SAVE' | translate" icon="pi pi-check" iconPos="left" />
                    <p-button class="cancel me-2" size="small" (onClick)="closeModal()" [disabled]="isLoading" [label]="'BUTTONS.CANCEL' | translate" icon="pi pi-times" iconPos="left" />
                </div>
            </div>
        </div>
    </form>
</ng-container>

<ng-template #deleteTemplate>
    <div class="confirmation-content mb-2 mt-4">
    <p class="mb-4">
      {{ 'TERMS_OF_PAYMENT.MODAL.CONFIRM_QUESTION' | translate }}
      <strong class="stronglock mt-1">"{{ termPayment.name }}"</strong>?
    </p>

    <div class="flex justify-content-center gap-2">
      <p-button type="button" class="delete" size="small" [label]="'BUTTONS.DELETE' | translate"
        icon="pi pi-trash" iconPos="left" severity="danger" [loading]="isLoading"
        [disabled]="isLoading" (onClick)="confirmDelete()"/>

      <p-button type="button" class="cancel" size="small" [label]="'BUTTONS.CANCEL' | translate"
        icon="pi pi-times" iconPos="left" (onClick)="closeModal()" [disabled]="isLoading" />

    </div>
  </div>
</ng-template>
