<div class="card">
    <p-toast />
    <div class="flex px-4 py-3 align-items-center">
        <label for="SearchCustomer">{{ 'COMMON.CUSTOMER_NAME' | translate }}</label>
        <p-iconfield class="px-4">
            <p-inputicon styleClass="pi pi-search px-4" />
            <input pInputText type="text" placeholder="" [(ngModel)]="customer" />
        </p-iconfield>
    </div>
    <app-sub-menu
        [menuItems]="currentSidebarItems"
    ></app-sub-menu>

    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
</div>
