@use 'variables' as *;

.search-label {
  padding-right: 10px;
}

.search-box {
  min-width: 200px !important;
}

:host ::ng-deep .p-select-label {
  margin-right: 10px !important;
}

:host ::ng-deep .p-select-dropdown {
  justify-content: end;
}