<p-card [style]="{ background: 'var(--light-cyan)' }">
  <ng-template #title>{{ 'SUB-CONTRACTS.PROJECT.TABLE_NAME' | translate }}</ng-template>

  <master-data-genaral-table [tableId]="tableKey" [tableValues]="allocations" [columns]="allocationsColumns"
    [userPreferences]="userAllocationsPreferences" [dataKeys]="dataKeys" removeKey="id"
    (onColumnChanges)="onUserAllocationsPreferencesChanges($event)" (onCreateRegister)="showModal(option.new)"
    (onEditRegister)="showModal(option.edit, $event.projectName)"
    (onDeleteRegister)="showModal(option.delete, $event)"></master-data-genaral-table>

</p-card>
<div class="card">
  <p-dialog
    [header]="modalType === 'Delete' 
                ?  ('SUB-CONTRACTS.LABEL.DELETE_SUBCONTRACT_PROJECT' | translate)  
                : modalType === 'Create' 
                  ? ('SUB-CONTRACTS.PROJECT.MODAL_TITLE_NEW' | translate) 
                  : ('SUB-CONTRACTS.PROJECT.MODAL_TITLE_EDIT' | translate) "
    (onHide)="closeModal()"
    [modal]="true"
    [(visible)]="visibleModal"
    [style]="{ width: '40rem' }"
  >
    <app-project-allocation-modal 
      [subcontractProject]="selectedSubcontractProject"
      (isProjectAllocationVisibleModal)="onSubcontractProjectModalVisible($event)"
      (subcontractProjectDeleted)="onSubcontractProjecteDeleted($event)"
    ></app-project-allocation-modal>
  </p-dialog>
</div>