<p-card [style]="{ background: 'var(--light-cyan)' }">
  <ng-template #title>{{ 'SUB-CONTRACTS.PROJECT.TABLE_NAME' | translate }}</ng-template>

  <master-data-genaral-table [tableId]="tableKey" [tableValues]="allocations" [columns]="allocationsColumns"
    [userPreferences]="userAllocationsPreferences" [dataKeys]="dataKeys" removeKey="projectName"
    (onColumnChanges)="onUserAllocationsPreferencesChanges($event)" (onCreateRegister)="showModal(option.new)"
    (onEditRegister)="showModal(option.edit, $event.projectName)"
    (onDeleteRegister)="deleteAllocation($event)"></master-data-genaral-table>

</p-card>

<div class="card">
  <p-dialog [header]="'SUB-CONTRACTS.PROJECT.MODAL_TITLE_' + optionSelected.toUpperCase() | translate"
    (onHide)="closeModal()" [modal]="true" [(visible)]="visibleModal" [style]="{ width: '40rem' }">
    <hr class="mt-0" />
    <app-project-allocation-modal [visible]="visibleModal" [modalType]="modalType"
      [subcontractProject]="currentSubcontractProject" [isVisibleModal]="visibleModal"
      (onMessageOperation)="messageOperation($event)"
      (isProjectAllocationVisibleModal)="onModalVisibilityChange($event)"
      (onSubcontractProjectDeleted)="onSubcontractProjectDeleted($event)" 
      (SubcontractProjectUpdated)="onSubcontractProjectUpdated($event)"
      (onSubcontractProjectCreated)="onSubcontractProjectCreated($event)">
    </app-project-allocation-modal>
  </p-dialog>
</div>