<p-card [style]="{ background: 'var(--light-cyan)' }">
  <ng-template #title>Projekte</ng-template>

  <p-table
    #dt
    [value]="allocations"
    showGridlines
    stripedRows
    [tableStyle]="{ 'min-width': '100%' }"
    [rows]="4"
    [paginator]="true"
    scrollable="true"
    scrollHeight="90vh"
    [rowsPerPageOptions]="[10, 25, 50]"
    [globalFilterFields]="['projectName', 'percentage', 'amount']"
    [(selection)]="selectedProjectName"
    [rowHover]="true"
    dataKey="projectName"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
  >
    <ng-template #header>
      <tr>
        <th id="action-th" class="thead"></th>
        <th id="col-fiel" pSortableColumn="projectName" class="thead">
          Projekt <p-sortIcon field="projectName" />
        </th>
        <th id="col-fiel" pSortableColumn="percentage" class="thead">
          Anteil % <p-sortIcon field="percentage" />
        </th>
        <th id="col-fiel" pSortableColumn="amount" class="thead">
          Betrag <p-sortIcon field="amount" />
        </th>
      </tr>
    </ng-template>

    <ng-template #body let-entry>
      <tr>
        <td>
          <div class="flex items-center justify-center gap-2">
            <button
              pButton
              icon="pi pi-pencil"
              (click)="showModal(option.edit, entry.projectName)"
              class="p-button-rounded p-button-info button-option"
            ></button>
            <button
              pButton
              icon="pi pi-trash"
              (click)="deleteAllocation(entry.projectName)"
              class="p-button-rounded p-button-danger button-option"
            ></button>
          </div>
        </td>
        <td>{{ entry.projectName }}</td>
        <td [ngClass]="'align-right'">{{ entry.percentage }}%</td>
        <td>{{ entry.amount | currency : "EUR" }}</td>
      </tr>
    </ng-template>
  </p-table>

  <div class="mt-2">
    <p-button
      size="small"
      label="Neu"
      icon="pi pi-plus"
      iconPos="left"
      (click)="showModal(option.new)"
      [attr.aria-label]="'Add new project'"
      (keydown.enter)="showModal(option.new)"
    ></p-button>
  </div>
</p-card>

<div class="card">
  <p-dialog
    header="Unterauftrag – Projekte"
    (onHide)="closeModal()"
    [modal]="true"
    [(visible)]="visibleModal"
    [style]="{ width: '40rem' }"
  >
    <hr class="mt-0" />
    <form [formGroup]="allocationForm" (ngSubmit)="saveAllocation()">
      <div class="flex gap-4 mb-3">
        <label for="projectName" class="w-3">Projekt</label>
        <input
          pInputText
          id="projectName"
          class="flex-auto"
          formControlName="projectName"
          autocomplete="off"
        />
      </div>
      <div class="flex gap-4 mb-3">
        <label for="percentage" class="w-3">Anteil %</label>
        <input
          pInputText
          id="percentage"
          class="flex-auto"
          formControlName="percentage"
          autocomplete="off"
        />
      </div>
      <div class="flex gap-4 mb-3">
        <label for="amount" class="w-3">Betrag</label>
        <input
          pInputText
          id="amount"
          class="flex-auto"
          formControlName="amount"
          autocomplete="off"
        />
      </div>
      <div class="flex justify-content-center gap-2">
        <p-button
          label="Save"
          (click)="saveAllocation()"
          (keydown.enter)="saveAllocation()"
        ></p-button>

        <p-button
          label="Cancel"
          (click)="closeModal()"
          (keydown.enter)="closeModal()"
        ></p-button>
      </div>
    </form>
  </p-dialog>
</div>
