.contract_form_wrapper {
    margin-left: 60px;
  }
  
  .contract_input {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    font-weight: normal;
  
    label {
      width: 150px;
      font-weight: normal;
    }
  
    input,
    p-select,
    p-datepicker {
      width: 20vw;
    }
  }
  .kunde {
    margin-bottom: 2rem !important;
  }
  .flex.px-4.py-3.align-items-center {
    margin-bottom: 1rem;
  
    label {
      width: 150px;
      font-weight: normal;
    }
  
    input {
      width: 20vw;
    }

    .icon-field-wrapper {
        width: 20vw;
      
        input {
          width: 100%;
        }
      }
  }

.contract_input p-calendar,
.contract_input p-calendar .p-inputtext {
  width: 20vw;
}

::ng-deep .p-datepicker {
  width: 20vw ;
  min-width: 20vw ;
  max-width: 20vw ;
  box-sizing: border-box;
  padding: 0 ;
}

::ng-deep .p-datepicker table,
::ng-deep .p-datepicker .p-monthpicker,
::ng-deep .p-datepicker .p-yearpicker,
::ng-deep .p-datepicker .p-datepicker-group {
  width: 100%;
  table-layout: fixed;
}

.buttons {
    margin-top: 5rem; 
    display: flex;
    justify-content: left; 
    gap: 20px; 
    margin-left: 70px
  }
  
  

  