<p-card [style]="{ background: 'var(--light-cyan)' }" [header]="'SALES_TAX.LABEL.EDIT_SALES_TAX' | translate">
  <form [formGroup]="editSalesTaxForm" (ngSubmit)="onSubmit()">
    <div class="align-items-center mb-2">
      <div class="sales-tax-form mb-4">
        <label for="label">{{ 'SALES_TAX.LABEL.SALES_TAX_LABEL' | translate }}</label>
        <div class="input-message">
          <input #firstInput pInputText type="text" id="label" formControlName="label" [ngClass]="{'ng-invalid': editSalesTaxForm.get('label')?.invalid && 
            editSalesTaxForm.get('label')?.dirty && editSalesTaxForm.get('label')?.touched}" autocomplete="off" />
          <p-message severity="error" variant="simple" size="small" *ngIf="
            editSalesTaxForm.get('label')?.invalid && 
            editSalesTaxForm.get('label')?.dirty && 
            editSalesTaxForm.get('label')!.hasError('labelExists')"
          >{{ 'SALES_TAX.ERROR.NAME_ALREADY_EXISTS' | translate }}</p-message>
        </div>
      </div>
      <div class="flex justify-content-center gap-3">
        <p-button class="save ml-5" type="submit" [loading]="isLoading" [disabled]="editSalesTaxForm.invalid || isLoading || !editSalesTaxForm.dirty" size="small" [label]="'BUTTONS.SAVE' | translate" icon="pi pi-check" iconPos="left"/>
        <p-button class="cancel" (onClick)="clearForm()" [disabled]="isLoading" size="small" [label]="'BUTTONS.CANCEL' | translate" icon="pi pi-times" iconPos="left" />
      </div>
    </div>
  </form>
  <div class="row">
    <master-data-genaral-table
      [tableId]="tableKey"
      [tableValues]="vatRates()"
      [columns]="salesTaxRatesColumns"
      [userPreferences]="userSalesTaxFormPreferences"
      [dataKeys]="dataKeys"
      [disableButtons]="buttonsDisabledTableVatRate"
      (onColumnChanges)="onUserSalesTaxFormPreferencesChanges($event)"
      (onCreateRegister)="handleTableEvents({ type: 'create' })"
      (onDeleteRegister)="handleTableEvents({ type: 'delete', data: $event })"
      (onEditRegister)="handleTableEvents({ type: 'edit', data: $event })"
    ></master-data-genaral-table>

    <p-dialog
      [header]="modalType === 'delete' ? 
        ('SALES_TAX.TABLE_SALES_TAX_FORM.MODAL_SALES_TAX_RATE.DELETE' | translate) : modalType === 'create' ? 
        ('SALES_TAX.TABLE_SALES_TAX_FORM.MODAL_SALES_TAX_RATE.NEW' | translate) : 
        ('SALES_TAX.TABLE_SALES_TAX_FORM.MODAL_SALES_TAX_RATE.EDIT' | translate)"
      [modal]="true"
      [(visible)]="visibleModal"
      (onHide)="onCloseModal()"
      >
      <app-modal-sales-tax-rate
        #vatRateModal
        [modalType]="modalType"
        [visibleModal]="visibleModal"
        [selectedVatRate]="selectedVatRate"
        (isVisibleModal)="visibleModal = $event"
        (createVatRate)="onCreateVatRate($event)"
        (deleteVatRate)="onDeleteVatRate($event)"
        (editVatRate)="onEditVatRate($event)"
        (updatedVatRate)="vatRateEdited.emit()"
      ></app-modal-sales-tax-rate>
    </p-dialog>
  </div>
</p-card>
<app-occ-error-modal
  *ngIf="showOCCErrorModalVat"
  [useEmitter]="occErrorType === 'UPDATE_UPDATED'"
  (refresh)="onRefresh()"
  (close)="showOCCErrorModalVat = false"
  [errorType]="occErrorType"
  [reloadCurrentPage]="true">
</app-occ-error-modal>