<p-card [style]="{ background: 'var(--light-cyan)' }" [header]="'SALES_TAX.LABEL.EDIT_SALES_TAX' | translate">
    <form [formGroup]="editSalesTaxForm" (ngSubmit)="onSubmit()">
        <div class="align-items-center mb-2">
            <div class="sales-tax-form mb-2 flex">
                <label for="vatlabel">{{ 'SALES_TAX.LABEL.SALES_TAX_LABEL' | translate }}</label>
                <div>
                    <input pInputText type="text" id="vatlabel" formControlName="vatlabel" [ngClass]="{'ng-invalid': editSalesTaxForm.get('vatlabel')?.invalid && 
                    editSalesTaxForm.get('vatlabel')?.dirty && editSalesTaxForm.get('vatlabel')?.touched}" autocomplete="off" />
                     <p-message severity="error" variant="simple" size="small" *ngIf="
                         editSalesTaxForm.get('name')?.invalid && 
                         editSalesTaxForm.get('name')?.dirty && 
                         editSalesTaxForm.get('name')!.hasError('required')
                         ">
                         {{ 'SALES_TAX.ERROR.SALES_TAX_REQUIRED' | translate }}</p-message>
                </div>
                <p-button class="save ml-5" size="small" [label]="'BUTTONS.SAVE' | translate" />
            </div>
        </div>
    </form>
    <div class="row">
      <div class>
        <master-data-genaral-table
          [tableId]="tableKey"
          [tableValues]="salesTaxRatesValues"
          [columns]="salesTaxRatesColumns"
          [userPreferences]="userSalesTaxFormPreferences"
          [dataKeys]="dataKeys"
          (onColumnChanges)="onUserSalesTaxFormPreferencesChanges($event)"
        ></master-data-genaral-table>
      </div>
    </div>
</p-card>