<div class="container">
    <div class="row">
      <div class="col-6">
        <master-data-genaral-table
          [tableId]="tableKey"
          [tableValues]="dunningLevels()"
          [columns]="columsHeaderField"
          [userPreferences]="userDunningPreferences"
          [dataKeys]="dataKeys"
          (onColumnChanges)="onUserDunningPreferencesChanges($event)"
          (onCreateRegister)="handleTableEvents({ type: 'create' })"
          (onDeleteRegister)="handleTableEvents({ type: 'delete', data: $event })"
          (onEditRegister)="onEditDunningLevel($event)"
        ></master-data-genaral-table>
      </div>
      <div class="col-6">
        <app-edit-dunning-level
          [selectedDunningLevel]="selectedDunningLevelToEdit"
          (cancelAction)="onCancelEdit($event)"
        ></app-edit-dunning-level>
      </div>
    </div>
    <p-dialog 
      [header]="modalType === 'create' 
        ? ('DUNNING_LEVELS.MODAL.NEW' | translate) 
        : ('DUNNING_LEVELS.MODAL.DELETE' | translate)" 
      [modal]="true" 
      [(visible)]="visibleDunningLevelModal"
      (onHide)="onModalDunningLevelClose()"
    >
      <app-dunning-level-modal
        #dunnigLevelModal
        [modalType]="modalType"
        [visible]="visibleDunningLevelModal"
        [selectedDunningLevel]="selectedDunningLevel"
        [existingDunningLevels]="dunningLevels()"
        (isVisibleModal)="onModalVisibilityChange($event)"
        (createDunningLevel)="onCreateDunningLevel($event)"
        (deleteDunningLevel)="onDeleteDunningLevel($event)"
      ></app-dunning-level-modal>
    </p-dialog>
  </div>