<p-card [style]="{ background: 'var(--light-cyan)' }">
  <form [formGroup]="iwsEmployeeForm" (ngSubmit)="onSubmit()">
    <div class="align-items-center mb-2">
      <div class="iws-employeeInput project_name mb-2">
        <label for="fixCommission">{{ 'ORDERS.COMMISSIONS.FIXED_COMMISSION' | translate }}</label>
        <input
          pInputText
          type="text"
          id="fixCommission"
          formControlName="fixCommission"
          autocomplete="off"
        />
        Euro
      </div>
      <div class="iws-employeeInput order_maxCommission mb-2">
        <label for="maxCommission">{{ 'ORDERS.COMMISSIONS.MAX_COMMISSION' | translate }}</label>
        <input
          pInputText
          type="text"
          id="maxCommission"
          formControlName="maxCommission"
          autocomplete="off"
        />
        Euro
      </div>
    </div>
    <master-data-genaral-table
    [tableId]="tableKey"
    [tableValues]="orderCommissions"
    [columns]="cols"
    [userPreferences]="userIwsProvisionPreferences"
    [dataKeys]="dataKeys"
    removeKey="fromOrderValue"
    (onColumnChanges)="onUserIwsProvisionPreferencesChanges($event)"
    (onEditRegister)="showModalIwsCommission(optionIwsCommission.edit, $event)"
    (onDeleteRegister)="deleteCommission($event)"
    (onCreateRegister)="showModalIwsCommission(optionIwsCommission.new)"
    ></master-data-genaral-table>
    
    <div class="row">
      <div class="col-12">
        <div class="project_name mb-2">
          <label class="me-2" for="estimated">{{ 'ORDERS.COMMISSIONS.ESTIMATED_IWS_COMMISSION' | translate }}</label>
          <input
          pInputText
          type="text"
          id="estimated"
          formControlName="estimated"
          autocomplete="off"
          />
        </div>
      </div>
    </div>
  </form>
</p-card>

<!-- Modal IWS Commission -->
<div class="card">
  <p-dialog
    [header]="'ORDERS.COMMISSIONS.TITLE_DIALOG_' + optionSelected.toUpperCase() | translate"
    (onHide)="closeModalIwsCommission()"
    [modal]="true"
    [(visible)]="visibleModalIWSCommission"
    [style]="{ width: '40rem' }"
  >
    <hr class="mt-0" />
    <form [formGroup]="iwsCommissionForm" (ngSubmit)="onSubmit()">
      <div class="flex gap-4 mb-3">
        <label for="fromValue" class="w-3">{{ 'ORDERS.COMMISSIONS.FROM_VALUE' | translate }}</label>
        <input
          pInputText
          id="fromValue"
          class="flex-auto"
          formControlName="fromOrderValue"
          autocomplete="off"
        />
      </div>
      <div class="flex gap-4 mb-3">
        <label for="provision" class="w-3">{{ 'ORDERS.COMMISSIONS.COMMISSION' | translate }}</label>
        <input
          pInputText
          id="provision"
          class="flex-auto"
          formControlName="provision"
          autocomplete="off"
        />
      </div>
      <div class="flex gap-4 mb-3">
        <label for="minCommission" class="w-3">{{ 'ORDERS.COMMISSIONS.MIN_COMMISSION' | translate }}</label>
        <input
          pInputText
          id="minCommission"
          class="flex-auto"
          formControlName="minCommission"
          autocomplete="off"
        />
      </div>
      <div class="flex justify-content-center gap-2">
        <p-button
          [label]="'BUTTONS.SAVE' | translate"
          icon="pi pi-check"
          size="small"
          iconPos="left"
          (click)="addIwsCommission()"
          (keydown.enter)="addIwsCommission()"
        ></p-button>

        <p-button
          [label]="'BUTTONS.CANCEL' | translate"
          icon="pi pi-times"
          iconPos="left"
          size="small"
          class="cancel"
          (click)="closeModalIwsCommission()"
          (keydown.enter)="closeModalIwsCommission()"
        ></p-button>
      </div>
    </form>
  </p-dialog>
</div>
