@use 'variables' as *;

.iws-employeeInput{
    width: 100% !important;

    label {
        width: 140px;
    }

    ::ng-deep p-inputnumber .p-inputnumber-input {
        width: 170px;
    }
}

.form-item-commission {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;

    label {
        width: 140px;
        flex-shrink: 0;
    }
    .input-message {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;

        ::ng-deep p-inputnumber.ng-invalid.ng-dirty > .p-inputtext:enabled:focus {
            border-color: #dc2626 !important;
            box-shadow: none !important;
        }

        ::ng-deep p-message .p-message-text {
            position: absolute;
            top: 23px;
        }
    }
}

::ng-deep p-inputnumber input#estimated.p-inputnumber-input {
    width: 100px !important;
}