@use 'variables' as *;

.iws-employeeInput{
    width: 100% !important;

    label {
        width: 102px;
    }

    input{
        width: 170px;
    }
}

#estimated{
    width: 120px;
}

.thead {
    background: $primary-color;
    color: #fff;
    min-width: 6.25rem; 

    &:hover {
        background: #abcbeb;
        color: #1E293B
    }
}

.thead-bg-blue {
    background: $primary-color;
}

.thead-input-id {
    width: 4.4rem; //=70px
}

.thead-input-width {
    width: 100%;
}