@use 'variables' as *;

.iws-employeeInput{
    width: 100% !important;

    label {
        width: 140px;
    }

    ::ng-deep p-inputnumber .p-inputnumber-input {
        width: 170px;
    }
}

::ng-deep p-inputnumber input#estimated.p-inputnumber-input {
    width: 100px !important;
}