<ng-container *ngIf="isCreateContractorMode; else deleteContractorTemplate">
  <form [formGroup]="contractorForm" (ngSubmit)="onSubmit()" [style]="{ width: '30rem' }">
    <div class="mb-2 mt-4">
      <div class="form-container flex align-items-center mb-5">
        <div class="contract_input">
          <label for="contractorlabel">{{ 'CONTRACTS.FORM.CONTRACTOR_LABEL' | translate }}</label>
          <input pInputText type="text" id="contractorlabel" formControlName="contractorlabel" autocomplete="off"
            [appAutoFocusOnVisible]="isVisibleModal"
            [ngClass]="{'ng-invalid': contractorForm.get('contractorlabel')?.invalid && contractorForm.get('contractorlabel')?.dirty}" />
          <p-message severity="error" variant="simple" size="small" *ngIf="
      contractorForm.get('contractorlabel')?.invalid && 
      contractorForm.get('contractorlabel')?.touched && 
      contractorForm.get('contractorlabel')?.errors?.['required']">
            {{ 'ERROR.FIELD_REQUIRED' | translate }}
          </p-message>
          <p-message severity="error" variant="simple" size="small" *ngIf="
      contractorForm.get('contractorlabel')?.invalid && 
      contractorForm.get('contractorlabel')?.touched && 
      contractorForm.get('contractorlabel')!.hasError('labelExists')">
            {{ 'ERROR.RECORD_ARLEADY_EXISTS' | translate }}
          </p-message>
        </div>
        <div class="contract_input">
          <label for="contractorname">{{ 'CONTRACTS.FORM.CONTRACTOR_NAME' | translate }}</label>
          <input pInputText type="text" id="contractorname" formControlName="contractorname" autocomplete="off" />
        </div>
        <div class="contract_input">
          <label for="country">{{ 'CONTRACTS.FORM.COUNTRY_LABEL' | translate }}</label>
          <p-select formControlName="country" id="country" [options]="countries()" optionLabel="name" optionValue="id"
            appendTo="body" [showClear]="true" [emptyMessage]="'TABLES.NO_RESULTS_FOUND' | translate">
            <!-- Opción seleccionada (visualización en el input) -->
            <ng-template let-country pTemplate="selectedItem">
              <div class="flex align-items-center gap-2" *ngIf="country">
                <span>{{ country.name }}</span>
              </div>
            </ng-template>

            <!-- Personalización de cada opción -->
            <ng-template let-country pTemplate="item">
              <div class="flex align-items-center gap-2">
                <span>{{ country.name }}</span>
              </div>
            </ng-template>
          </p-select>
        </div>
        <div class="contract_input">
          <label for="street">{{ 'CONTRACTS.FORM.STREET' | translate }}</label>
          <input pInputText type="text" id="street" formControlName="street" autocomplete="off" />
        </div>
        <div class="contract_input">
          <label for="zipcode">{{ 'CONTRACTS.FORM.ZIP_CODE' | translate }} / {{ 'CONTRACTS.FORM.CITY' | translate
            }}</label>
          <div class="postal-city">
            <input type="text" id="zipcode" class="postal" pInputText formControlName="zipcode" autocomplete="off" />
            <input type="text" id="city" class="city" pInputText formControlName="city" autocomplete="off" />
          </div>
        </div>
        <div class="contract_input">
          <label for="taxno">{{ 'CONTRACTS.FORM.TAX_NUMBER' | translate }}</label>
          <input pInputText type="text" id="taxno" formControlName="taxno" autocomplete="off" />
        </div>
      </div>
    </div>
    <div class="flex justify-content-center gap-2 mt-4">
      <p-button type="submit" class="save" size="small" [label]="'BUTTONS.SAVE' | translate" icon="pi pi-check"
        iconPos="left" [loading]="isLoading" [disabled]="!hasAtLeastOneFieldFilled()  || !contractorForm.dirty || contractorForm.invalid" />
      @if(modalContractType === 'edit') {
      <p-button type="button" class="delete" size="small" [label]="'BUTTONS.DELETE' | translate" icon="pi pi-trash"
        iconPos="left" severity="danger" [disabled]="isLoading"
        (onClick)="this.visibleContractorDeleteEntityModal = true;" />
      }
      <p-button class="cancel" size="small" [label]="'BUTTONS.CANCEL' | translate" icon="pi pi-times" iconPos="left"
        (onClick)="closeModal()" [disabled]="isLoading" />
    </div>
  </form>
</ng-container>
<ng-template #deleteContractorTemplate>
  <div class="confirmation-content mb-2 mt-4">
    <p class="mb-4" [innerHTML]="'DIALOG.DELETE' | translate:{ value: contractor?.name }"></p>

    <div class="flex justify-content-center gap-2">
      <p-button type="button" class="delete" size="small" [label]="'BUTTONS.DELETE' | translate" icon="pi pi-trash"
        iconPos="left" severity="danger" [loading]="isLoadingDelete" (onClick)="removeContractor()" />

      <p-button type="button" class="cancel" size="small" [label]="'BUTTONS.CANCEL' | translate" icon="pi pi-times"
        iconPos="left" (onClick)="closeModal()" [disabled]="isLoadingDelete" />

    </div>
  </div>
</ng-template>

<p-dialog [header]="('CONTRACTS.LABEL.DELETE_CONTRACTOR' | translate)" [modal]="true"
  [(visible)]="visibleContractorDeleteEntityModal">
  <div class="confirmation-content mb-2 mt-4 delete-contractor-entity">
    <p class="mb-4 delete-contractor-entity-title"
      [innerHTML]="'DIALOG.DELETE' | translate:{ value: contractor?.name }">
    </p>

    <div class="flex justify-content-center gap-2 delete-contractor-entity-buttons">
      <p-button type="button" class="delete" size="small" [label]="'BUTTONS.DELETE' | translate" icon="pi pi-trash"
        iconPos="left" severity="danger" [loading]="isLoading" (onClick)="removeContractor()" />

      <p-button type="button" class="cancel" size="small" [label]="'BUTTONS.CANCEL' | translate" icon="pi pi-times"
        iconPos="left" (onClick)="this.visibleContractorDeleteEntityModal = false;" />

    </div>
  </div>
</p-dialog>