.contractor-form {
  margin-left: 5% !important;
  margin-right: 5% !important;
}

.form-container {
  display: block !important;
}

.contract_input {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  font-weight: normal;

  label {
    width: 150px !important;
    font-weight: normal;
  }

  input,
  p-select,
  p-datepicker {
    width: 70% !important;
  }
}

.buttons-container {
  display: flex;
}

.postal-city {
  width: 70% !important;
  display: flex;
  gap: 5px;
  
  .postal {
    width: 33.333% !important;
    
  }
  .city {
    width: 100% !important;
  }

}