@use 'variables' as *;

.form-row {
  display: flex;
  gap: 20px;
  margin-bottom: 12px;
}

.form-column {
  flex: 1;
}

label {
  margin-bottom: 0;
  min-width: 140px;
  width: 33%;
}

input,
p-select {
  width: 20vw;
}

.label-customer {
  min-width: 140px;
  width: 32.396%;
}