<div class="container">
    <div class="col-6 pl-6 py-0 pr-0 mb-3">
        <label class="label-customer" for="customerName">{{ 'EMPLOYEE.FORM.CUSTOMER' | translate }}</label>
        <input class="col-md-6" [disabled]="true" type="text" pInputText [(ngModel)]="customerName" />
    </div>
    <app-employee-form></app-employee-form>
    <div class="mb-2">
        <master-data-genaral-table
          [tableId]="tableKey"
          [tableValues]="employeeContracts"
          [columns]="selectedColumns"
          [userPreferences]="userEmployeeDetailPreferences"
          [dataKeys]="dataKeys"
          (onColumnChanges)="onUserEmployeeDetailPreferencesChanges($event)"
        ></master-data-genaral-table>
    </div>
</div>