<ng-container *ngIf="isCreateMode; else deleteTemplate">
    <form [formGroup]="createSalutationForm" (ngSubmit)="onSubmit()">
        <div class="align-items-center mb-2 mt-4">
            <div class="create-form">
                <label for="salutationName" class="block">{{ 'SALUTATION.FORM.NEW_SALUTATION' | translate }}</label>
                <div class="input-wrapper">
                <input #salutationInput pInputText type="text" id="salutationName" formControlName="name" autocomplete="off"
                    [attr.aria-invalid]="createSalutationForm.get('name')?.invalid"
                    [attr.aria-describedby]="createSalutationForm.get('name')?.invalid ? 'salutationError' : null"
                    class="w-full" />

                <p-message severity="error" [showTransitionOptions]="'0ms'" variant="simple" size="small" *ngIf="
                    createSalutationForm.get('name')?.invalid && 
                    createSalutationForm.get('name')?.dirty || salutationAlreadyExist
                    ">{{ salutationAlreadyExist ? ('USERS.ERROR.USERNAME_ALREADY_EXIST' | translate) : ('ERROR.FIELD_REQUIRED' | translate) }}</p-message>
                </div>
            </div>

            <div class="flex justify-content-center gap-2 mt-4">
                <p-button type="submit" class="save" size="small" [label]="'BUTTONS.SAVE' | translate"
                    icon="pi pi-check" iconPos="left" [loading]="isLoading"
                    [disabled]="createSalutationForm.invalid || isLoading" />
                <p-button type="button" class="cancel" size="small" [label]="'BUTTONS.CANCEL' | translate"
                    icon="pi pi-times" iconPos="left" (onClick)="closeModal()" [disabled]="isLoading" />
            </div>
        </div>
    </form>
</ng-container>

<ng-template #deleteTemplate>
    <div class="confirmation-content mb-2 mt-4">
        <p class="mb-4" [innerHTML]="'DIALOG.DELETE' | translate:{ value: salutationName }"></p>

        <div class="flex justify-content-center gap-2">
            <p-button type="button" class="delete" size="small" [label]="'BUTTONS.DELETE' | translate"
                icon="pi pi-trash" iconPos="left" (onClick)="onDeleteConfirm()" severity="danger" [loading]="isLoading"
                [disabled]="isLoading" />
            <p-button type="button" class="cancel" size="small" [label]="'BUTTONS.CANCEL' | translate"
                icon="pi pi-times" iconPos="left" (onClick)="closeModal()" [disabled]="isLoading" />
        </div>
    </div>
</ng-template>
<app-occ-error-modal
  *ngIf="showOCCErrorModalSalutation"
  [errorType]="occErrorType"
  [reloadCurrentPage]="true"
  (close)="showOCCErrorModalSalutation = false">
</app-occ-error-modal>