.create-form {
    display: flex;
    align-items: center;
    justify-content: center;
    
    label {
        width: auto;
        font-weight: 500;
        display: flex !important;
        align-items: center;
        height: 100%;
        margin-bottom: 0 !important;
        white-space: nowrap;
        margin-top: 3px;
    }

    input {
       flex: 1;
       max-width: 300px;
       margin-left: 1rem;
    }
}

strong {
    display: inline;
}