.create-form {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1rem;
    
    label {
        width: 70px;
        flex-shrink: 0;
        margin-top: 0.5rem;
    }

    .input-wrapper {
    width: 100%; 
    display: flex;
    flex-direction: column; 
    }

    input {
       width: 100%;
    }
}

p-message {
  margin-bottom: -1.5rem;
}