@use 'variables' as *;

.edit-system-constant-form {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  
  label {
    width: 130px;
    flex-shrink: 0;
  }
  
  input, p-inputnumber {
    width: 100%;
    margin-bottom: .4rem;
  }

  ::ng-deep .p-inputnumber-input {
    width: 100%;
  }
}