<p-card [style]="{ background: 'var(--light-cyan)' }" [header]="'SYSTEM_CONSTANT.LABEL.EDIT_SYSTEM_CONSTANT' | translate">
    <form [formGroup]="editSystemConstantForm" (ngSubmit)="onSubmit()">
        <div class="align-items-center mt-4 mb-2">
            <div class="edit-system-constant-form mb-2 flex">
                <label for="name">{{ 'SYSTEM_CONSTANT.LABEL.CONSANT' | translate }}</label>
                <div class="input-message">
                  <input pInputText type="text" id="name" formControlName="name" [ngClass]="{'ng-invalid': editSystemConstantForm.get('name')?.invalid && 
                  editSystemConstantForm.get('name')?.dirty && editSystemConstantForm.get('name')?.touched}" autocomplete="off" />
                  <p-message severity="error" variant="simple" size="small" *ngIf="
                      editSystemConstantForm.get('name')?.invalid && 
                      editSystemConstantForm.get('name')?.dirty && 
                      editSystemConstantForm.get('name')!.hasError('required')
                      ">
                      {{ 'SYSTEM_CONSTANT.ERROR.NAME_REQUIRED' | translate }}
                  </p-message>
                </div>             
            </div>
            <div class="edit-system-constant-form mb-2 flex">
                <label for="valuenum">{{ 'SYSTEM_CONSTANT.LABEL.VALUE_NUMERIC' | translate }}</label>
                <div class="input-message">
                  <p-inputnumber #firstInput mode="decimal" [min]="0" [useGrouping]="true" [minFractionDigits]="2" [maxFractionDigits]="2" locale="de-DE"
                    inputId="valuenum" formControlName="valueNum" autocomplete="off" [inputStyle]="{'text-align': 'right'}"  invalid="
                    editSystemConstantForm.get('valueNum')?.invalid  
                    && editSystemConstantForm.get('valueNum')?.dirty 
                    || editSystemConstantForm.get('valueNum')?.touched"/>
                    <p-message severity="error" variant="simple" size="small" *ngIf="
                        editSystemConstantForm.get('valueNum')?.invalid && 
                        editSystemConstantForm.get('valueNum')?.dirty
                    ">{{ 'ERROR.NUMBER_MAX' | translate }}</p-message>
                </div>
            </div>
            <div class="edit-system-constant-form mb-2 flex">
                <label for="valuechar">{{ 'SYSTEM_CONSTANT.LABEL.VALUE_ALPHANUMERIC' | translate }}</label>
                <div class="input-message">
                  <input pInputText type="text" id="valuechar" formControlName="valueChar" [ngClass]="{'ng-invalid': editSystemConstantForm.get('valueChar')?.invalid && 
                  editSystemConstantForm.get('valueChar')?.dirty && editSystemConstantForm.get('valueChar')?.touched}" autocomplete="off" />
                  <p-message severity="error" variant="simple" size="small" *ngIf="
                      editSystemConstantForm.get('valueChar')?.invalid && 
                      editSystemConstantForm.get('valueChar')?.dirty && 
                      editSystemConstantForm.get('valueChar')!.hasError('pattern')
                      ">
                      {{ 'SYSTEM_CONSTANT.ERROR.ONLY_ALPHANUMERIC_REQUIRED' | translate }}
                  </p-message >  
                </div>
            </div>
        </div>
        <div class="flex justify-content-center gap-2 mt-4">
            <p-button size="small" type="submit" [label]="'BUTTONS.SAVE' | translate" icon="pi pi-check"
                iconPos="left" [loading]="isLoading" [disabled]="editSystemConstantForm.invalid || isLoading || !editSystemConstantForm.dirty" />
            <p-button class="cancel" size="small" [label]="'BUTTONS.CANCEL' | translate"
                icon="pi pi-times" iconPos="left" [disabled]="isLoading" (onClick)="clearForm()" />
        </div>
    </form>
</p-card>