@use 'variables' as *;

.edit-system-constant-form {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  
  label {
      width: 150px;
  }
  .edit-input-container {
    flex: 1;
    margin-left: 1rem;

    input {
      width: 70%;
    }
  }
}