<div class="card">
  <p-table
    #dt2
    [value]="demands"
    showGridlines
    stripedRows
    [columns]="selectedColumns"
    [paginator]="true"
    [rows]="15"
    scrollable="true"
    scrollHeight="60vh"
    [resizableColumns]="true"
    columnResizeMode="expand"
    currentPageReportTemplate="Es werden {first} bis {last} von {totalRecords} Einträgen angezeigt"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[15, 30, 50]"
    [tableStyle]="{'min-width': 'auto','border-spacing': '1px'}"
    [resizableColumns]="true"
    styleClass="p-datatable-gridlines"
    stateStorage="local"
    stateKey="receivables-table-state"
  >

  <ng-template #header let-columns>
    <tr>
      <th id="list-demands-table-options">
      </th>
      <th id="list-demands-table-search-field" *ngFor="let col of selectedColumns; let i = index" >
        
        <input
          pInputText 
          pSize="small"
          type="text"
          [ngClass]="{'thead-input-id': i == 0, 'thead-input-width': i > 0}"
          (input)="applyFilter($event, col.field)"
          
        />
      </th>
    </tr>
    <tr>

     <th id="hide-columns" class="thead-bg-blue">
          <p-multiselect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header"
            [appendTo]="'body'"
            dropdownIcon="pi pi-eye" 
            [maxSelectedLabels]="0"/>
        </th>
      <th id="list-demands-table-field" *ngFor="let col of columns; let i = index" 
        [pSortableColumn]="col.field" 
        class="thead" 
        pResizableColumn>
          {{ col.header }} 
        <p-sortIcon [field]="col.field"/>
      </th>
    </tr>

  </ng-template>

     
    <ng-template #body let-demand let-i="rowIndex" let-columns="columns">
      <tr [ngClass]="{ 'odd-row': i % 2 !== 0, 'even-row': i % 2 === 0 }">
        <td>
          <div class="flex items-center justify-center gap-2">
              <button pButton icon="pi pi-pencil" class="p-button-rounded p-button-info button-option" 
                [routerLink]="['/customers/detail-customer', demand.idClaim]"        
              ></button>
              <button pButton icon="pi pi-trash" class="p-button-rounded p-button-danger button-option" (click)="deleteDemand(demand.idClaim)"></button>
          </div>
        </td>
        <td *ngFor="let col of columns; let j = index" 
            [ngClass]="{'align-right': j === 8 || j === 11 || j === 12 || j === 13 || j === 14 || j === 15 || j === 16, 
                'text-center': j == 6 || j == 7 || j == 9 || j == 10}">
             {{ demand[col.field] }}
        </td>
        
      </tr>
    </ng-template>
    <ng-template #emptymessage>
      <tr>
        <td colspan="7">
          <p-message severity="info">No demands found.</p-message
        ></td>
      </tr>
    </ng-template>
  </p-table>
  <p-toolbar>
    <ng-template #start>
      <p-button [label]="'BUTTONS.NEW' | translate" icon="pi pi-plus" routerLink="/projects/project-details"
    ></p-button>
    </ng-template>
    <ng-template #end>
    </ng-template>
  </p-toolbar>

</div>