<div class="container">
    <div class="row">
      <div class="col-6">
        <master-data-genaral-table
          [tableId]="tableKey"
          [tableValues]="billers"
          [columns]="columsHeaderFieldBillers"
          [hideColumns]="false"
          tableTitle="SIDEBAR.BILLERS"
          userPreferences]="userBillersPreferences"
          [dataKeys]="dataKeys"
          (onColumnChanges)="onUserBillersPreferencesChanges($event)"
        ></master-data-genaral-table>
      </div>
      <div class="col-6">
        <master-data-edit-biller/>
      </div>
    </div>
</div>