<div class="container">
  <div class="row">
    <div class="col-6">
      <master-data-genaral-table
        [tableId]="tableKey"
        [tableValues]="billers()"
        [columns]="columsHeaderFieldBillers"
        [hideColumns]="false"
        tableTitle="SIDEBAR.BILLERS"
        [userPreferences]="userBillersPreferences"
        [dataKeys]="dataKeys"
        (onColumnChanges)="onUserBillersPreferencesChanges($event)"
        (onCreateRegister)="handleTableEvents({ type: 'create' })"
        (onDeleteRegister)="handleTableEvents({ type: 'delete', data: $event })"
        (onEditRegister)="onEditBiller($event)"
      ></master-data-genaral-table>

      <p-dialog
        [header]="modalType === 'create'
        ? ('BILLERS.MODAL.NEW' | translate)
        : ('BILLERS.MODAL.DELETE' | translate)"
        [modal]="true"
        [(visible)]="isVisibleModal"
        (onHide)="onCloseModal()"
        >
          <app-modal-biller
            #billerModal
            [visible]="isVisibleModal"
            [modalType]="modalType"
            [selectedBiller]="biller"
            (isVisibleModal)="isVisibleModal = $event"
            (createBiller)="onCreateBiller($event)"
            (deleteBiller)="onDeleteBiller($event)"
          ></app-modal-biller>
      </p-dialog>
    </div>
    <div class="col-6">
      <master-data-edit-biller/>
    </div>
  </div>
</div>