<ng-container *ngIf="isCreateMode; else deleteTemplate">
  <form [formGroup]="employmentContractForm">
    <div class="create-employee-contract-form mt-4">
      <div class="contract_input">
        <label for="startDate">{{ 'EMPLOYEE-CONTRACTS.FORM.START_DATE' | translate }}</label>
        <p-datepicker inputId="startDate" formControlName="startDate" [showIcon]="true" [showClear]="true"
          dateFormat="dd.mm.yy">
        </p-datepicker>
      </div>

      <div class="contract_input">
        <label for="salaryPerMonth">{{ 'EMPLOYEE-CONTRACTS.FORM.SALARY_PER_MONTH' | translate }}</label>
        <input pInputText type="text" id="salaryPerMonth" formControlName="salaryPerMonth" autocomplete="off" />
      </div>

      <div class="contract_input">
        <label for="hoursPerWeek">{{ 'EMPLOYEE-CONTRACTS.FORM.WEEKLY_HOURS' | translate }}</label>
        <input pInputText type="text" id="hoursPerWeek" formControlName="hoursPerWeek" autocomplete="off" />
      </div>

      <div class="contract_input">
        <label for="workShortTime">{{ 'EMPLOYEE-CONTRACTS.FORM.WORK_SHORT_TIME' | translate }}</label>
        <input pInputText type="text" id="workShortTime" formControlName="workShortTime" autocomplete="off" />
      </div>

      <div class="contract_input">
        <label for="specialPayment">{{ 'EMPLOYEE-CONTRACTS.FORM.SPECIAL_PAYMENT' | translate }}</label>
        <input pInputText type="text" id="specialPayment" formControlName="specialPayment" autocomplete="off" />
      </div>

      <div class="contract_input">
        <label for="maxHoursPerMonth">{{ 'EMPLOYEE-CONTRACTS.FORM.MAX_HOURS_PER_MONTH' | translate }}</label>
        <input pInputText type="text" id="maxHoursPerMonth" formControlName="maxHoursPerMonth" autocomplete="off" />
      </div>

      <div class="contract_input">
        <label for="maxHoursPerDay">{{ 'EMPLOYEE-CONTRACTS.FORM.MAX_HOURS_PER_DAY' | translate }}</label>
        <input pInputText type="text" id="maxHoursPerDay" formControlName="maxHoursPerDay" autocomplete="off" />
      </div>

      <div class="contract_input">
        <label for="hourlyRate">{{ 'EMPLOYEE-CONTRACTS.FORM.HOURLY_RATE' | translate }}</label>
        <input pInputText type="text" id="hourlyRate" formControlName="hourlyRate" autocomplete="off" />
      </div>

    </div>
    <div class="flex justify-content-center gap-4 mt-4">
      <p-button class="save" type="submit" (onClick)="onSubmit()" size="small" [label]="'BUTTONS.SAVE' | translate"
        icon="pi pi-check" iconPos="left" />
      @if(employmentContract) {
      <p-button class="Delete" size="small" [label]="'BUTTONS.DELETE' | translate" icon="pi pi-trash" iconPos="left"
        [style]="{ background: '#ef4444' }" />
      }
      <p-button class="cancel" size="small" [label]="'BUTTONS.CANCEL' | translate" icon="pi pi-times" iconPos="left"
        (onClick)="goBackListContracts()" />
    </div>
  </form>
</ng-container>
<ng-template #deleteTemplate>
  <div class="confirmation-content mb-2 mt-4">
    <p class="mb-4">
      {{ 'EMPLOYEE-CONTRACTS.LABEL.REMOVE_EMPLOYEE_CONTRACT_QUESTION' | translate }}
      ?
    </p>

    <div class="flex justify-content-center gap-2">
      <p-button type="button" class="delete" size="small" [label]="'BUTTONS.DELETE' | translate" icon="pi pi-trash"
        iconPos="left" severity="danger" (onClick)="removeEmploymentContract()" />

      <p-button type="button" class="cancel" size="small" [label]="'BUTTONS.CANCEL' | translate" icon="pi pi-times"
        iconPos="left" (onClick)="closeModal()" />
    </div>
  </div>
</ng-template>