<p-card [style]="{ background: 'var(--light-cyan)' }" [header]="'SALUTATION.LABEL.EDIT_TITLE' | translate">
    <form [formGroup]="editSalutationForm" (ngSubmit)="onSubmit()">
        <div class="salutation-form pb-2 flex align-items-center">
            <label for="salutation">{{ 'SALUTATION.LABEL.TITLE_LABEL' | translate }}</label>
            <div class="input-message">
                <input #firstInput pInputText type="text" id="salutation" formControlName="salutation" [ngClass]="{'ng-invalid ng-dirty': editSalutationForm.get('salutation')?.invalid && 
                    editSalutationForm.get('salutation')?.touched}" autocomplete="off" />
                <p-message severity="error" variant="simple" [showTransitionOptions]="'0ms'" size="small" *ngIf="
                     editSalutationForm.get('salutation')?.invalid && 
                     editSalutationForm.get('salutation')?.touched && 
                     editSalutationForm.get('salutation')!.hasError('required')
                     ">
                    {{ 'SALUTATION.ERROR.SALUTATION_REQUIRED' | translate }}
                </p-message>
            </div>
        </div>
        <div class="flex justify-content-center gap-2 mt-4">
            <p-button type="submit" size="small" [label]="'BUTTONS.SAVE' | translate" icon="pi pi-check" iconPos="left"
                [disabled]="editSalutationForm.invalid || !editSalutationForm.dirty || isSaving" [loading]="isSaving" />
            <p-button type="button" class="cancel" size="small" [label]="'BUTTONS.CANCEL' | translate"
                icon="pi pi-times" iconPos="left" (onClick)="clearForm()" [disabled]="isSaving" />
        </div>
    </form>
</p-card>

<app-occ-error-modal
  *ngIf="showOCCErrorModalSalutation"
  [useEmitter]="true"
  (close)="showOCCErrorModalSalutation = false"
  (refresh)="onRefresh()">
</app-occ-error-modal>