<div class="header">
      <div class="grid m-0 h-full align-items-center px-3 menu-options" *ngFor="let item of items">
        <div class="col" (click)="onMenuSelect(item.command?? 'default')">
          <span class="menu-item-text">{{ item.label }}</span>
        </div>        
      </div>
    <div class="header-right">
      <p-menu #userMenu [popup]="true" [model]="userMenuItems"></p-menu>
      <button pButton 
              type="button"
              class="p-button-text user-button"
              [label]="username"
              (click)="userMenu.toggle($event)">
              <p-avatar image="assets/user/PatrickZessin.jpg" shape="circle" />
      </button>
    </div>
  </div>