@use "variables" as *;

.header {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 50px;
  background: $primary-dark;
  font-weight: bold;
  color: $primary-light;
  max-width: 100vw;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  flex-wrap: nowrap;

  .user-button {
    color: $primary-light;
    background: transparent !important;
    border: none;
    font-weight: bold;

    &:hover {
      background: rgba(255, 255, 255, 0.1) !important;
    }
  }
}

.header-right {
  display: flex;
  align-items: end;
  gap: 1rem;
}

:host ::ng-deep .p-menu {
  background: $primary-light !important;
  border: 1px solid $primary-light !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) !important;
}

:host ::ng-deep .p-menuitem-link {
  color: $primary-dark !important;

  &:hover {
    background: rgba(46, 64, 83, 0.1) !important;
  }
}

.menu-options {
  cursor: pointer;
  min-width: 150px;
  text-align: center;
  position: relative;

  transition: background-color 0.4s ease, color 0.4s ease, transform 0.4s ease,
    box-shadow 0.4s ease;
  background-color: transparent;

  &:hover {
    background-color: $primary-light;
    color: $primary-dark;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
    transform: scale(1.05);
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6px;
    background-color: $primary-light;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-out;
  }
}

:host ::ng-deep .menu-options.active {
  background-color: $accent-color !important;
  border-color: $accent-color !important;
  color: rgb(18, 67, 93) !important;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  transform: scale(1.05);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6), 0 0 10px rgba(38, 123, 191, 0.4),
    inset 0 -2px 5px rgba(0, 0, 0, 0.2);

  &::after {
    transform: scaleX(1);
    transform-origin: left;
  }

  .menu-item-text {
    text-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    transition: color 0.4s, text-shadow 0.4s;
  }
}
.menu-options:not(.active):hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.idioma-btn {
  font-size: 1.1rem;
  height: 50px;
  border-radius: 0px;
}
.idioma-btn:hover {
  background-color: $primary-dark;
  border-color: $primary-dark;
}

.p-button-outlined {
  background: $primary-dark;
  border-color: $primary-dark;
  color: $primary-light;
}

.lang-panel {
  padding: 0.5rem;
  min-width: 180px;
}

.flag-option {
  all:unset;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: #f4f4f4;
  }
}

.flag-icon {
  width: 1.5rem;
  height: 1rem;
  display: inline-block;
  background-size: cover;
  background-position: center;
}

.flag-icon-de {
  background-image: url("../../../../../assets/flags/de.png");
}

.flag-icon-gb {
  background-image: url("../../../../../assets/flags/gb.png");
}

.flag-icon-es {
  background-image: url("../../../../../assets/flags/es.png");
}

button{
  background-color: $primary-dark;
}

@media (max-width: 768px) {
  .menu-options {
    min-width: 100px;
    font-size: 0.9rem;
  }

  .header {
    padding: 0 0.5rem;
  }

  .header-right {
    gap: 0.5rem;
  }
}
