@use 'variables' as *;

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background: $primary-dark; 
    padding: 0 1.5rem;
    font-weight: bold;
    color: $primary-light;

    .user-button {
        color: $primary-light;
        background: transparent !important;
        border: none;
        font-weight: bold;

        &:hover {
            background: rgba(255, 255, 255, 0.1) !important;
        }
    }

    .menu-button {
        color: $primary-dark !important;
        background: transparent !important;
        border: none;

        &:hover {
            background: rgba(255, 255, 255, 0.1) !important;
        }
    }
}

.header-right {
    display: flex;
    align-items: end;
    gap: 1rem;
}

:host ::ng-deep .p-menu {
    background: $primary-light !important;
    border: 1px solid $primary-light !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) !important;
}

:host ::ng-deep .p-menuitem-link {
    color: $primary-dark !important;

    &:hover {
        background: rgba(46, 64, 83, 0.1) !important;
    }
}

.menu-options{
    cursor: pointer;

    &:hover {
        background-color: $primary-light;
        color: $primary-dark;
    }
}
