<p-card [style]="{ background: 'var(--light-cyan)', height: '220px' }" header="Anrede bearbeiten">
    <form [formGroup]="editSalutationForm" (ngSubmit)="onSubmit()">
        <div class="align-items-center mb-2 mt-4">
            <div class="salutation-form mb-6">
                <label for="salutation">Anrede</label>
                <input pInputText type="text" id="salutation" formControlName="salutation" autocomplete="off" />
            </div>
            <div class="row">
                <div class="col flex justify-content-center">
                    <p-button class="save me-2" size="small" [label]="'BUTTONS.SAVE' | translate" icon="pi pi-check" iconPos="left" />
                    <p-button class="cancel me-2" size="small" [label]="'BUTTONS.CANCEL' | translate" icon="pi pi-times" iconPos="left" />
                </div>
            </div>
        </div>
    </form>
</p-card>