<p-card [style]="{ background: 'var(--light-cyan)' }" [header]="'TITLE.LABEL.EDIT_TITLE' | translate">
    <form [formGroup]="editTitleForm" (ngSubmit)="onSubmit()">
        <div class="align-items-center mb-2">
            <div class="title-form mb-2 flex align-items-center">
                <label for="title">{{ 'TITLE.LABEL.TITLE_LABEL' | translate }}</label>
                <input pInputText type="text" id="title" formControlName="title" [ngClass]="{'ng-invalid': editTitleForm.get('title')?.invalid && 
                    editTitleForm.get('title')?.touched}" autocomplete="off" />
                <p-message severity="error" variant="simple" size="small" *ngIf="
                     editTitleForm.get('title')?.invalid && 
                     editTitleForm.get('title')?.touched && 
                     editTitleForm.get('title')!.hasError('required')
                     ">
                    {{ 'TITLE.ERROR.TITLE_LABEL_REQUIRED' | translate }}</p-message>
            </div>
        </div>
        <div class="flex justify-content-center gap-2 mt-4">
            <p-button type="submit" size="small" [label]="'BUTTONS.SAVE' | translate" icon="pi pi-check" iconPos="left"
                [disabled]="editTitleForm.invalid || !editTitleForm.dirty || isSaving" />
            <p-button type="button" class="cancel" size="small" [label]="'BUTTONS.CANCEL' | translate"
                icon="pi pi-times" iconPos="left" (click)="clearForm()" (keydown.enter)="clearForm()" />
        </div>
    </form>
</p-card>
<p-toast></p-toast>