<p-card [style]="{ background: 'var(--light-cyan)' }" [header]="'TITLE.LABEL.EDIT_TITLE' | translate">
    <form [formGroup]="editTitleForm" (ngSubmit)="onSubmit()">
        <div class="title-form flex align-items-center pb-2">
            <label for="title">{{ 'TITLE.LABEL.TITLE_LABEL' | translate }}</label>
            <div class="input-message">
                <input #firstInput pInputText type="text" id="title" formControlName="title"
                    [ngClass]="{'ng-invalid ng-dirty': (editTitleForm.get('title')?.invalid && editTitleForm.get('title')?.touched) || titleAlreadyExist}"
                    autocomplete="off" />

                <p-message severity="error" variant="simple" size="small" *ngIf="
                    (editTitleForm.get('title')?.invalid && editTitleForm.get('title')?.dirty) || 
                    titleAlreadyExist">
                    <span
                        *ngIf="editTitleForm.get('title')?.errors?.['required'] && editTitleForm.get('title')?.dirty">
                        {{ 'TITLE.ERROR.TITLE_LABEL_REQUIRED' | translate }}
                    </span>
                    <span *ngIf="titleAlreadyExist && !editTitleForm.get('title')?.errors?.['required']">
                        {{ 'TITLE.ERROR.TITLE_ALREADY_EXISTS' | translate }}
                    </span>
                </p-message>
            </div>
        </div>
        <div class="flex justify-content-center gap-2 mt-4">
            <p-button type="submit" size="small" [label]="'BUTTONS.SAVE' | translate" icon="pi pi-check" iconPos="left"
                [disabled]="editTitleForm.invalid || !editTitleForm.dirty || isSaving" [loading]="isSaving" />
            <p-button type="button" class="cancel" size="small" [label]="'BUTTONS.CANCEL' | translate"
                icon="pi pi-times" iconPos="left" (onClick)="clearForm()" [disabled]="isSaving" />
        </div>
    </form>
</p-card>
<app-occ-error-modal *ngIf="showOCCErrorModaTitle" [useEmitter]="occErrorType==='UPDATE_UPDATED'"
    (refresh)="onRefresh()" [errorType]="occErrorType" [reloadCurrentPage]="true"
    (close)="showOCCErrorModaTitle = false">
</app-occ-error-modal>