<div class="card">
  <master-data-genaral-table
    [tableId]="tableKey"
    [tableValues]="projects()"
    [columns]="selectedColumns"
    [userPreferences]="userProjectPreferences"
    [dataKeys]="dataKeys"
    (onColumnChanges)="onUserProjectPreferencesChanges($event)"
    (onDeleteRegister)="openDeleteModal($event)"
    (onEditRegister)="editProject($event)"
  ></master-data-genaral-table>
   <p-dialog 
    [header]="('PROJECTS.PROJECTS_DIALOG_REMOVE' | translate)" 
    [modal]="true" 
    [(visible)]="visibleProjectModal"
  >
    <div class="confirmation-content mb-2 mt-4">
      <p class="mb-4" [innerHTML]="'DIALOG.DELETE' | translate:{ value: selectedProject?.projectLabel }"></p>

      <div class="flex justify-content-center gap-2">
        <p-button type="button" class="delete" size="small" [label]="'BUTTONS.DELETE' | translate"
            icon="pi pi-trash" iconPos="left" (onClick)="onProjectDelete()" severity="danger" [loading]="isProjectLoading"
            [disabled]="isProjectLoading" />

        <p-button type="button" class="cancel" size="small" [label]="'BUTTONS.CANCEL' | translate"
            icon="pi pi-times" iconPos="left" (onClick)="this.visibleProjectModal = false;" [disabled]="isProjectLoading" />

      </div>
    </div>
  </p-dialog>
</div>