<div class="container">
  <div class="row">
    <div class>
      <master-data-genaral-table
        [tableId]="tableKey"
        [tableValues]="users()"
        [columns]="userDisplayedColumns"
        [userPreferences]="userUserPreferences"
        [dataKeys]="dataKeys"
        (onColumnChanges)="onUserPreferencesChanges($event)"
        (onCreateRegister)="handleTableEvents({ type: 'create' })"
        (onDeleteRegister)="handleTableEvents({ type: 'delete', data: $event })"
        (onEditRegister)="editUser($event)"
      ></master-data-genaral-table>
      <p-dialog 
        [header]="modalType === 'create' 
          ? ('USERS.FORM.USER_FORM' | translate) 
          : ('USERS.DELETE.CONFIRMATION' | translate)" 
        [modal]="true" 
        [(visible)]="visibleModal" 
      >
        <app-user-modal
          [modalType]="modalType"
          [userName]="UserName"
          [visibleModal]="visibleModal"
          [userToDelete]="selectedUser"
          (isVisibleModal)="onModalVisibilityChange($event)"
          (toastMessage)="toastMessageDisplay($event)"
        ></app-user-modal>
      </p-dialog>
    </div>
  </div>
</div>
<p-toast/>
