<p-card [style]="{ background: 'var(--light-cyan)' }" [header]="'APPROVAL_STATUS.FORM.TITLE_FORM' | translate">
    <form [formGroup]="editApprovalStatusForm"  (ngSubmit)="onSubmit()">
        <div class="align-items-center mb-2">
            <!-- Grupo: status -->
            <div class="approval-status-form">
                <label for="status">{{ 'APPROVAL_STATUS.TABLE.APPROVAL_STATUS' | translate }}</label>
                <div class="input-message">
                    <input #firstInput
                        pInputText
                        type="text"
                        id="status"
                        formControlName="status"
                        autocomplete="off"
                        [ngClass]="{'ng-invalid': editApprovalStatusForm.get('status')?.invalid && 
                        (editApprovalStatusForm.get('status')?.dirty || editApprovalStatusForm.get('status')?.touched) ||
                        statusAlreadyExist}"
                        invalid="editApprovalStatusForm.get('status')?.invalid  
                        && editApprovalStatusForm.get('status')?.dirty 
                        || editApprovalStatusForm.get('status')?.touched
                        || statusAlreadyExist" />
                    <p-message severity="error" variant="simple" [showTransitionOptions]="'0ms'" size="small"
                        *ngIf="editApprovalStatusForm.get('status')?.invalid && 
                        (editApprovalStatusForm.get('status')?.dirty || editApprovalStatusForm.get('status')?.touched) ||
                        statusAlreadyExist">
                        {{ statusAlreadyExist ? ('APPROVAL_STATUS.ERROR.STATUS_ALREADY_EXIST' | translate) : ('ERROR.FIELD_REQUIRED' | translate) }}
                    </p-message>
                </div>
            </div>

            <!-- Grupo: sequenceNo -->
            <div class="approval-status-form">
                <label for="order">{{ 'APPROVAL_STATUS.TABLE.ORDER' | translate }}</label>
                <div class="input-message">
                    <p-inputnumber
                        inputId="order"
                        [useGrouping]="true"
                        formControlName="order"
                        [ngClass]="{'ng-invalid': editApprovalStatusForm.get('order')?.invalid && 
                         editApprovalStatusForm.get('order')?.dirty && 
                         editApprovalStatusForm.get('order')?.touched}"
                        autocomplete="off"
                        [inputStyle]="{'text-align': 'right'}" 
                    />
                    <p-message severity="error" variant="simple" [showTransitionOptions]="'0ms'" size="small"
                        *ngIf="editApprovalStatusForm.get('order')?.invalid && 
                         editApprovalStatusForm.get('order')?.dirty && 
                         editApprovalStatusForm.get('order')?.touched && 
                         editApprovalStatusForm.get('order')!.hasError('required')">
                        {{ 'APPROVAL_STATUS.ERROR.ORDER_REQUIRED' | translate }}
                    </p-message>
                </div>
            </div>

            <!-- Grupo: forProject -->
            <div class="approval-status-form">
                <label for="forProject">{{ 'APPROVAL_STATUS.FORM.APPLIES_TO_PROJECT' | translate }}</label>
                <p-toggleswitch 
                    inputId="forProject"
                    formControlName="forProject"
                    class="flex"
                >
                    <ng-template #handle let-checked="checked">
                        <i [ngClass]="['!text-xs', 'pi', checked ? 'pi-check' : 'pi-times']"></i>
                    </ng-template>
                </p-toggleswitch>
            </div>

            <!-- Grupo: forNetwork -->
            <div class="approval-status-form">
                <label for="forNetwork">{{ 'APPROVAL_STATUS.FORM.APPLIES_TO_NETWORK' | translate }}</label>
                <p-toggleswitch 
                    inputId="forNetwork"
                    formControlName="forNetwork"
                    class="flex"
                >
                    <ng-template #handle let-checked="checked">
                        <i [ngClass]="['!text-xs', 'pi', checked ? 'pi-check' : 'pi-times']"></i>
                    </ng-template>
                </p-toggleswitch>
            </div>

            <!-- Botones -->
            <div class="flex justify-content-center gap-2 mt-4">
                <p-button
                    type="submit"
                    size="small"
                    [label]="'BUTTONS.SAVE' | translate"
                    icon="pi pi-check"
                    iconPos="left"
                    [loading]="isLoading"
                    [disabled]="editApprovalStatusForm.invalid || !editApprovalStatusForm.dirty || isLoading || statusAlreadyExist"/>
                <p-button
                    type="button"
                    class="cancel"
                    size="small"
                    [label]="'BUTTONS.CANCEL' | translate"
                    icon="pi pi-times"
                    iconPos="left"
                    [disabled]="isLoading"
                    (onClick)="clearForm()"/>
            </div>
        </div>
    </form>
</p-card>

<app-occ-error-modal
  *ngIf="showOCCErrorModalApprovalStatus"
  [useEmitter]="occErrorApprovalStatus === 'UPDATE_UPDATED'"
  (refresh)="onRefresh()"
  [errorType]="occErrorApprovalStatus"
  [reloadCurrentPage]="true"
  (close)="showOCCErrorModalApprovalStatus = false">
</app-occ-error-modal>