// Contenedor principal del formulario
.form-container {
    display: flex;
    flex-direction: column;
}

// Grupos de formulario
.form-group,
.form-group-check {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;

    label {
        width: 150px;
    }

    input,
    p-toggleswitch {
        flex: 1;
        max-width: 300px;
        margin-left: 1rem;
    }
}
