<p-card [style]="{ background: 'var(--light-cyan)' }" [header]="'APPROVAL_STATUS.FORM.TITLE_FORM' | translate">
    <form [formGroup]="editApprovalStatusForm" (ngSubmit)="onSubmit()">
        <div class="form-container">
            <!-- Grupo: Bewilligungsstatus -->
            <div class="form-group">
                <label for="approvalStatus">{{ 'APPROVAL_STATUS.TABLE.APPROVAL_STATUS' | translate }}</label>
                <input pInputText type="text" id="approvalStatus" formControlName="approvalStatus" autocomplete="off" />
            </div>

            <!-- Grupo: Reihenfolge -->
            <div class="form-group">
                <label for="order">{{ 'APPROVAL_STATUS.TABLE.ORDER' | translate }}</label>
                <input pInputText type="text" id="order" formControlName="order" autocomplete="off" />
            </div>

            <!-- Grupo: gilt für Projekte -->
            <div class="form-group-check">
                <label for="appliesToProject">{{ 'APPROVAL_STATUS.FORM.APPLIES_TO_PROJECT' | translate }}</label>
                <p-toggleswitch formControlName="appliesToProject" id="appliesToProject">
                    <ng-template #handle let-checked="checked">
                        <i [ngClass]="['!text-xs', 'pi', checked ? 'pi-check' : 'pi-times']"></i>
                    </ng-template>
                </p-toggleswitch>
            </div>

            <!-- Grupo: gilt fur Netzwerke -->
            <div class="form-group-check">
                <label for="appliesToNetwork">{{ 'APPROVAL_STATUS.FORM.APPLIES_TO_NETWORK' | translate }}</label>
                <p-toggleswitch formControlName="appliesToNetwork" id="appliesToNetwork">
                    <ng-template #handle let-checked="checked">
                        <i [ngClass]="['!text-xs', 'pi', checked ? 'pi-check' : 'pi-times']"></i>
                    </ng-template>
                </p-toggleswitch>
            </div>

            <!-- Botones -->
            <div class="flex justify-content-center gap-2 mt-4">
                <p-button size="small" [label]="'BUTTONS.SAVE' | translate" icon="pi pi-check" iconPos="left" />
                <p-button class="cancel" size="small" [label]="'BUTTONS.CANCEL' | translate" icon="pi pi-times" iconPos="left" />
            </div>
        </div>
    </form>
</p-card>