.approval-status-form {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    label {
        flex-shrink: 0;
        width: 120px;
    }

    input, p-inputnumber {
        width: 100%;
    }

    ::ng-deep .p-inputnumber-input {
        width: 100%;
    }
}