<div class="container">
    <div class="row">
      <div class>
        <master-data-genaral-table
          [tableId]="tableKey"
          [tableValues]="rolesData()"
          [columns]="cols"
          [userPreferences]="userRolPreferences"
          [dataKeys]="dataKeys"
          (onColumnChanges)="onUserRolPreferencesChanges($event)"
          (onCreateRegister)="handleTableEvents({ type: 'create' })"
          (onDeleteRegister)="handleTableEvents({type: 'delete', data: $event})"
          (onEditRegister)="editRole($event)"
        ></master-data-genaral-table>
        <p-dialog 
          [header]="modalType === 'create'
            ? ('ROLES.MODAL_CREATE.CREATE_FORM' |  translate) 
            : ('ROLES.DELETE.CONFIRMATION' | translate)" 
          [modal]="true" 
          [(visible)]="visibleModal"
          (onShow)="onDialogShow()" 
        >
          <app-rol-modal
            #roleModal
            (isVisibleModal)="onVisibleModal($event)"
            (confirmDelete)="onConfirmDelete($event)"
            (roleCreated)="onCreateRole($event)"
            [modalType]="modalType"
            [roleName]="roleName"
            [roleToDelete]="selectedRole"
            (isVisibleModal)="onModalVisibilityChange($event)"
          ></app-rol-modal>
        </p-dialog>
      </div>
    </div>
  </div>