<p-card [style]="{ background: 'var(--light-cyan)' }" [header]="'DUNNING_LEVELS.LABEL.EDIT_DUNNING_LEVEL' | translate ">
    <form [formGroup]="editDunningLevelForm" class="edit-form" (ngSubmit)="onSubmit()">
        <div class="flex flex-column mb-2 edit-form-container">
            <div class="dunning-level-form">
                <label for="levelNo">{{ 'DUNNING_LEVELS.LABEL.DUNNING_LEVEL' | translate }}</label>
                <div class="input-message">
                    <p-inputnumber #firstInput [useGrouping]="true" inputId="levelNo"
                        formControlName="levelNo" autocomplete="off" [inputStyle]="{'text-align': 'right'}"
                        invalid="editDunningLevelForm.get('levelNo')?.invalid  
                        && editDunningLevelForm.get('levelNo')?.dirty 
                        || editDunningLevelForm.get('levelNo')?.touched
                        || levelNoAlreadyExist" />
                    <p-message severity="error" [showTransitionOptions]="'0ms'" variant="simple" size="small" *ngIf="
                        editDunningLevelForm.get('levelNo')?.invalid && 
                        editDunningLevelForm.get('levelNo')?.dirty || levelNoAlreadyExist
                        ">{{ levelNoAlreadyExist ? ('DUNNING_LEVELS.VALIDATION.DUNNING_LVL_EXISTS' | translate) : ('ERROR.FIELD_REQUIRED' | translate) }}</p-message>
                </div>
            </div>
            <div class="dunning-level-form">
                <label for="designation">{{ 'DUNNING_LEVELS.LABEL.DESIGNATION' | translate }}</label>
                <input pInputText type="text" id="designation" formControlName="reminderTitle" autocomplete="off" />
            </div>
            <div class="dunning-level-form">
                <label for="fee">{{ 'DUNNING_LEVELS.LABEL.FEE' | translate }}</label>
                <p-inputnumber mode="decimal" [min]="0" [useGrouping]="true" [minFractionDigits]="2" [maxFractionDigits]="2" locale="de-DE"
                    inputId="fee" formControlName="fee" autocomplete="off" [inputStyle]="{'text-align': 'right'}"/>
            </div>
            <div class="dunning-level-form">
                <label for="default-interest">{{ 'DUNNING_LEVELS.LABEL.DEFAULT_INTEREST' | translate }} (%)</label>
                <div class="input-message">
                    <p-inputnumber mode="decimal" [min]="0" [useGrouping]="true" [minFractionDigits]="2" [maxFractionDigits]="2" locale="de-DE"
                    inputId="default-interest" formControlName="interestRate" autocomplete="off" 
                    [inputStyle]="{'text-align': 'right'}" invalid="
                            editDunningLevelForm.get('interestRate')?.invalid  
                            && editDunningLevelForm.get('interestRate')?.dirty 
                            || editDunningLevelForm.get('interestRate')?.touched"/>
                    <p-message severity="error" [showTransitionOptions]="'0ms'" variant="simple" size="small" *ngIf="
                        editDunningLevelForm.get('interestRate')?.invalid && 
                        editDunningLevelForm.get('interestRate')?.dirty
                    ">{{ 'ERROR.NUMBER_MAX' | translate }}</p-message>
                </div>
            </div>
            <div class="dunning-level-form">
                <label for="payment-term">{{ 'DUNNING_LEVELS.LABEL.PAYMENT_TERM' | translate }}</label>
                <p-inputnumber [useGrouping]="true" inputId="payment-term" formControlName="payPeriod" 
                    autocomplete="off" [inputStyle]="{'text-align': 'right'}"/>
            </div>
            <div class="dunning-level-form align-items-start">
                <label for="reminderText">{{ 'DUNNING_LEVELS.LABEL.REMINDER_TEXT' | translate }}</label>
                <textarea pTextarea id="reminderText" formControlName="reminderText" 
                autocomplete="off" rows="6"  style="resize: none"></textarea>
            </div>
            <div class="row mt-2">
                <div class="col flex justify-content-center edit-field-buttons-container">
                    <p-button class="save me-2" type="submit" [loading]="isLoading" [disabled]="editDunningLevelForm.invalid || !editDunningLevelForm.dirty" size="small" [label]="'BUTTONS.SAVE' | translate" icon="pi pi-check" iconPos="left" />
                    <p-button class="cancel me-2" size="small" [disabled]="isLoading" (onClick)="clearForm()" [label]="'BUTTONS.CANCEL' | translate" icon="pi pi-times" iconPos="left" />
                </div>
            </div>
        </div>
    </form>
</p-card>
<app-occ-error-modal
  *ngIf="showOCCErrorModalDunningLevel"
  [useEmitter]="occErrorDunningLevelType === 'UPDATE_UPDATED'"
  (refresh)="onRefresh()"
  [errorType]="occErrorDunningLevelType"
  [reloadCurrentPage]="true"
  (close)="showOCCErrorModalDunningLevel = false">
</app-occ-error-modal>