<p-card
  [style]="{ background: 'var(--light-cyan)' }"
  [header]="'IWS_STAFF.HEADER.EDIT_STAFF' | translate"
>
  <form [formGroup]="editIwsStaffForm" (ngSubmit)="onSubmit()">
    <div class="mb-2">
      <div class="iws-form">
        <label for="staffId">{{ "IWS_STAFF.LABEL.STAFF_ID" | translate }}</label>
        <p-inputnumber [useGrouping]="true" [inputStyle]="{'text-align': 'right'}"
          inputId="staffId"
          formControlName="staffId"
          autocomplete="off"
        />
      </div>

      <div class="iws-form">
          <label for="shortName">{{ "IWS_STAFF.LABEL.SHORT_NAME" | translate }}</label>
          <div class="input-message">
            <input #firstInput
              pInputText
              type="text"
              id="shortName"
              formControlName="shortName"
              autocomplete="off"
              [attr.invalid]="(editIwsStaffForm.get('shortName')?.invalid && 
              editIwsStaffForm.get('shortName')?.dirty) 
              || shortNameAlreadyExist"
            />
            <p-message 
              severity="error" 
              [showTransitionOptions]="'0ms'" 
              variant="simple" 
              size="small" 
              *ngIf="(editIwsStaffForm.get('shortName')?.invalid && 
              editIwsStaffForm.get('shortName')?.dirty) 
              || shortNameAlreadyExist">
              <span *ngIf="editIwsStaffForm.get('shortName')?.errors?.['required'] && editIwsStaffForm.get('shortName')?.dirty">
                {{ 'ERROR.FIELD_REQUIRED' | translate }}
              </span>
              <span *ngIf="shortNameAlreadyExist && !editIwsStaffForm.get('shortName')?.errors?.['required']">
                {{ 'IWS_STAFF.ERROR.SHORT_NAME_ALREADY_EXIST' | translate }}
              </span>
            </p-message>
          </div>
      </div>

      <div class="iws-form">
        <label for="firstName">{{ "IWS_STAFF.LABEL.FIRST_NAME" | translate }}</label>
        <input
          pInputText
          type="text"
          id="firstName"
          formControlName="firstName"
          autocomplete="off"
        />
      </div>

      <div class="iws-form">
        <label for="lastName">{{ "IWS_STAFF.LABEL.LAST_NAME" | translate }}</label>
        <input
          pInputText
          type="text"
          id="lastName"
          formControlName="lastName"
          autocomplete="off"
        />
      </div>

      <div class="iws-form">
        <label for="email">{{ "IWS_STAFF.LABEL.EMAIL" | translate }}</label>
        <input
          pInputText
          type="email"
          id="email"
          formControlName="email"
          autocomplete="off"
        />
      </div>

      <div class="iws-form">
        <label for="team">{{ "IWS_STAFF.LABEL.TEAM" | translate }}</label>
        <p-select
          inputId="team"
          [options]="teams"
          formControlName="team"
          optionLabel="name"
          showClear
          [placeholder]="'IWS_STAFF.LABEL.SELECT_TEAM' | translate"
        ></p-select>
      </div>

      <div class="iws-form">
        <label for="staffSince">{{ "IWS_STAFF.LABEL.STAFF_SINCE" | translate }}</label>
        <p-datepicker
          inputId="staffSince"
          formControlName="staffSince"
          dateFormat="dd.mm.yy"
          showIcon="true"
          showClear
        ></p-datepicker>
      </div>

      <div class="iws-form">
        <label for="staffUntil">{{ "IWS_STAFF.LABEL.STAFF_UNTIL" | translate }}</label>
        <p-datepicker
          inputId="staffUntil"
          formControlName="staffUntil"
          dateFormat="dd.mm.yy"
          showIcon="true"
          showClear
        ></p-datepicker>
      </div>

      <div class="iws-form">
        <label for="active">{{ "IWS_STAFF.LABEL.ACTIVE" | translate }}</label>
        <p-toggleswitch inputId="active" formControlName="active">
          <ng-template #handle let-checked="checked">
            <i [ngClass]="['!text-xs', 'pi', checked ? 'pi-check' : 'pi-times']"></i>
          </ng-template>
        </p-toggleswitch>
      </div>

      <div class="flex justify-content-center gap-2 mt-4">
        <p-button
          size="small"
          [label]="'BUTTONS.SAVE' | translate"
          icon="pi pi-check"
          iconPos="left"
          type="submit"
          [loading]="isSaving"
          [disabled]="isSaving || editIwsStaffForm.invalid || !editIwsStaffForm.dirty"
        ></p-button>
        <p-button
          class="cancel"
          size="small"
          [label]="'BUTTONS.CANCEL' | translate"
          icon="pi pi-times"
          iconPos="left"
          [disabled]="isSaving"
          (onClick)="cancelEdit()"
        ></p-button>
      </div>
    </div>
  </form>
</p-card>

<app-occ-error-modal
    *ngIf="showOCCErrorModaEmployeeIws"
    [useEmitter]="occErrorType==='UPDATE_UPDATED'"
    [errorType]="occErrorType"
    (refresh)="onRefresh()"
    (close)="showOCCErrorModaEmployeeIws = false"
    [reloadCurrentPage]="true">
</app-occ-error-modal>