<p-card
  [style]="{ background: 'var(--light-cyan)' }"
  [header]="'IWS_STAFF.HEADER.EDIT_STAFF' | translate"
>
  <form [formGroup]="editIwsStaffForm" (ngSubmit)="onSubmit()">
    <div class="align-items-center mb-2">
      <div class="iws-form mb-2">
        <label for="staffId">{{
          "IWS_STAFF.LABEL.STAFF_ID" | translate
        }}</label>
        <input
          pInputText
          type="text"
          id="staffId"
          formControlName="staffId"
          autocomplete="off"
        />
      </div>

      <div class="iws-form mb-2">
        <label for="shortName">{{
          "IWS_STAFF.LABEL.SHORT_NAME" | translate
        }}</label>
        <input
          pInputText
          type="text"
          id="shortName"
          formControlName="shortName"
          autocomplete="off"
        />
      </div>

      <div class="iws-form mb-2">
        <label for="firstName">{{
          "IWS_STAFF.LABEL.FIRST_NAME" | translate
        }}</label>
        <input
          pInputText
          type="text"
          id="firstName"
          formControlName="firstName"
          autocomplete="off"
        />
      </div>

      <div class="iws-form mb-2">
        <label for="lastName">{{
          "IWS_STAFF.LABEL.LAST_NAME" | translate
        }}</label>
        <input
          pInputText
          type="text"
          id="lastName"
          formControlName="lastName"
          autocomplete="off"
        />
      </div>

      <div class="iws-form mb-2">
        <label for="email">{{ "IWS_STAFF.LABEL.EMAIL" | translate }}</label>
        <input
          pInputText
          type="email"
          id="email"
          formControlName="email"
          autocomplete="off"
        />
      </div>

      <div class="iws-form mb-2">
        <label for="team">{{ "IWS_STAFF.LABEL.TEAM" | translate }}</label>
        <p-dropdown
          [options]="teams"
          formControlName="team"
          optionLabel="name"
          [placeholder]="'IWS_STAFF.LABEL.SELECT_TEAM' | translate"
        ></p-dropdown>
      </div>

      <div class="iws-form mb-2">
        <label for="staffSince">{{
          "IWS_STAFF.LABEL.STAFF_SINCE" | translate
        }}</label>
        <p-datepicker
          id="staffSince"
          formControlName="staffSince"
          dateFormat="dd.mm.yy"
          showIcon="true"
        ></p-datepicker>
      </div>

      <div class="iws-form mb-2">
        <label for="staffUntil">{{
          "IWS_STAFF.LABEL.STAFF_UNTIL" | translate
        }}</label>
        <p-datepicker
          id="staffUntil"
          formControlName="staffUntil"
          dateFormat="dd.mm.yy"
          showIcon="true"
        ></p-datepicker>
      </div>

      <div class="flex justify-content-center gap-2 mt-4">
        <p-button
          size="small"
          [label]="'BUTTONS.SAVE' | translate"
          icon="pi pi-check"
          iconPos="left"
          type="submit"
        ></p-button>
        <p-button
          class="cancel"
          size="small"
          [label]="'BUTTONS.CANCEL' | translate"
          icon="pi pi-times"
          iconPos="left"
          (click)="cancelEdit()"
          type="button"
          (keydown)="cancelEdit()"
        ></p-button>
      </div>
    </div>
  </form>
</p-card>
