<form [formGroup]="yearForm">
  <div class="mt-4">
    <div class="year-form">
      <label for="year">{{ 'SUB-CONTRACTS.DEPRECIATION_COLUMNS.YEAR' | translate }}</label>
      <div class="input-message">
        <p-datepicker #yearPicker formControlName="year" inputId="year" view="year" 
          dateFormat="yy" appendTo="body"
          showIcon showClear 
          [ngClass]="{'ng-invalid ng-dirty': yearForm.get('year')?.errors?.['required'] && yearForm.get('year')?.dirty || yearAlreadyExists}"/>
        <p-message severity="error" [showTransitionOptions]="'0ms'" variant="simple" size="small" 
            *ngIf="yearForm.get('year')?.invalid &&  yearForm.get('year')?.dirty || yearAlreadyExists">
          {{ yearAlreadyExists ? ('HOLIDAYS.ERROR.YEAR_ALREADY_EXISTS' | translate) :
            ('ERROR.FIELD_REQUIRED' | translate)
          }}
        </p-message>
      </div>
    </div>
    <div class="year-form mb-5">
      <label for="date">{{ "HOLIDAYS.MODAL.DATE" | translate }}</label>
      <div class="input-message">
        <p-datepicker
          #datePicker
          formControlName="date"
          [showIcon]="true"
          inputId="date"
          dateFormat="dd.mm.yy"
          [showClear]="true"
          appendTo="body"
          [defaultDate]="getDefaultDate()"
        />
      </div>
    </div>

    <div class="flex justify-content-center gap-4">
      @if(isCreateMode){
        <p-button
          class="save"
          size="small"
          [label]="'BUTTONS.SAVE' | translate"
          icon="pi pi-check"
          iconPos="left"
          (onClick)="onSubmit('save')"
          [loading]="isLoading"
          [disabled]="yearForm.invalid || isLoadingAndNew || !yearForm.dirty"
        />
  
        <p-button
          class="save"
          size="small"
          [label]="'BUTTONS.SAVE_AND_NEW' | translate"
          icon="pi pi-check"
          iconPos="left"
          (onClick)="onSubmit('saveAndNew')"
          [loading]="isLoadingAndNew"
          [disabled]="yearForm.invalid || isLoading || !yearForm.dirty"
        />
      }@else {
        <p-button
          class="save"
          [label]="'BUTTONS.SAVE' | translate"
          icon="pi pi-check"
          iconPos="left"
          (onClick)="onSubmit()"
          [loading]="isLoading"
          [disabled]="yearForm.invalid || !yearForm.dirty"
        />

        <p-button
          class="delete"
          [label]="'BUTTONS.DELETE' | translate"
          icon="pi pi-trash"
          iconPos="left"
          (onClick)="openModalDelete()"
          [disabled]="isLoading"
        />
      }

      <p-button
        type="button"
        class="cancel"
        size="small"
        [label]="'BUTTONS.CANCEL' | translate"
        icon="pi pi-times"
        iconPos="left"
        (onClick)="onCancel()"
        [disabled]="isLoading || isLoadingAndNew"
      />
    </div>
  </div>
</form>