<p-card [style]="{ background: 'var(--light-cyan)' }" [header]="'PROJECT_STATUS.EDIT_PROJECT_STATUS' | translate ">
    <form [formGroup]="editProjectStatusForm" (ngSubmit)="onSubmit()">
        <div class="project-status-form flex align-items-center pb-4">
            <label for="projectStatus"> {{ 'PROJECT_STATUS.PROJECT_STATUS' | translate }}</label>
            <div class="input-message">
                <input #firstInput pInputText type="text" id="projectStatus" formControlName="projectStatus" [ngClass]="{'ng-invalid ng-dirty': editProjectStatusForm.get('projectStatus')?.invalid &&
                    editProjectStatusForm.get('projectStatus')?.touched}" autocomplete="off"/>
                    <p-message severity="error" variant="simple" size="small" *ngIf="
                        editProjectStatusForm.get('projectStatus')?.invalid &&
                        editProjectStatusForm.get('projectStatus')?.touched &&
                        editProjectStatusForm.get('projectStatus')!.hasError('required')
                    ">
                        {{ 'PROJECT_STATUS.ERROR.PROJECT_STATUS_LABEL_REQUIRED' | translate }}
                    </p-message>
            </div>
        </div>
        <div class="flex justify-content-center gap-2 mt-4">
            <p-button  type="submit" size="small" [label]="'BUTTONS.SAVE' | translate" icon="pi pi-check" iconPos="left"
                [disabled]="editProjectStatusForm.invalid || !editProjectStatusForm.dirty || isSaving" [loading]="isSaving"/>
            <p-button type="button" class="cancel" size="small" [label]="'BUTTONS.CANCEL' | translate"
                icon="pi pi-times" iconPos="left" (click)="clearForm()" (keydown.enter)="clearForm()"/>
        </div>
    </form>
</p-card>
<app-occ-error-modal
    *ngIf="showOCCErrorModalProjectStatus"
    [useEmitter]="true"
    (close)="showOCCErrorModalProjectStatus = false"
    (refresh)="onRefresh()">
</app-occ-error-modal>