<p-card [style]="{ background: 'var(--light-cyan)' }" [header]="'PROJECT_STATUS.EDIT_PROJECT_STATUS' | translate ">
    <form [formGroup]="editProjectStatusForm" (ngSubmit)="onSubmit()">
        <div class="flex flex-column mb-2 mt-4 px-5">
            <div class="project-status-form flex flex-row mb-6 align-items-center">
                <label for="project-status">{{ 'PROJECT_STATUS.PROJECT_STATUS' | translate }}</label>
                <input pInputText type="text" id="project-status" formControlName="projectStatus" autocomplete="off" />
            </div>
            <div class="row">
                <div class="col flex justify-content-center">
                    <p-button class="save me-2" size="small" [label]="'BUTTONS.SAVE' | translate" icon="pi pi-check" iconPos="left" />
                    <p-button class="cancel me-2" size="small" [label]="'BUTTONS.CANCEL' | translate" icon="pi pi-times" iconPos="left" />
                </div>
            </div>
        </div>
    </form>
</p-card>