<ng-container *ngIf="isCreateMode; else deleteTemplate">
  <form [formGroup]="allocationForm" (ngSubmit)="saveAllocation()">
      <div class="form-item-container flex gap-4 mb-3">
          <label for="projectName" class="w-3">{{ 'SUB-CONTRACTS.PROJECT.PROJECT' | translate }}</label>
          <input pInputText id="projectName" class="flex-auto" formControlName="projectName" autocomplete="off" />
      </div>
      <div class="form-item-container flex gap-4 mb-3">
          <label for="percentage" class="w-3">{{ 'SUB-CONTRACTS.PROJECT.SHARE' | translate }} %</label>
          <input pInputText id="percentage" class="flex-auto" formControlName="percentage" autocomplete="off" />
      </div>
      <div class="form-item-container flex gap-4 mb-3">
          <label for="amount" class="w-3">{{ 'SUB-CONTRACTS.PROJECT.AMOUNT' | translate }}</label>
          <input pInputText id="amount" class="flex-auto" formControlName="amount" autocomplete="off" />
      </div>
      <div class="flex justify-content-center gap-2">
          <p-button [label]="'BUTTONS.SAVE' | translate" icon="pi pi-check" iconPos="left" size="small"
              (click)="saveAllocation()" (keydown.enter)="saveAllocation()"></p-button>
  
          <p-button [label]="'BUTTONS.CANCEL' | translate" (click)="closeModal()" class="cancel" icon="pi pi-times"
              iconPos="left" size="small" (keydown.enter)="closeModal()"></p-button>
      </div>
  </form>
</ng-container>
<ng-template #deleteTemplate>
  <div class="confirmation-content mb-2 mt-4">
    <p class="mb-4">
      {{ 'SUB-CONTRACTS.LABEL.REMOVE_SUBCONTRACT_PROJECT_QUESTION' | translate }} 
      <strong class="stronglock mt-1">"{{subcontractProject?.projectName}}"</strong>
      ?
    </p>

    <div class="flex justify-content-center gap-2">
      <p-button type="button" class="delete" size="small" [label]="'BUTTONS.DELETE' | translate" icon="pi pi-trash"
        iconPos="left" severity="danger" [loading]="isSubcontractProjectPerformigAction" (onClick)="removeSubcontractProject()" />

      <p-button type="button" class="cancel" size="small" [label]="'BUTTONS.CANCEL' | translate" icon="pi pi-times"
        iconPos="left" (onClick)="closeModal()" />
    </div>
  </div>
</ng-template>