<ng-container *ngIf="isCreateMode; else deleteTemplate">
  <form [formGroup]="allocationForm" (ngSubmit)="onSubmit()">
      <div class="form-item-container flex gap-4 mb-3">
          <label for="projectLabel" class="w-3">{{ 'SUB-CONTRACTS.PROJECT.PROJECT' | translate }}</label>
          <p-select 
            formControlName="projectLabel" 
            inputId="country" 
            [options]="projectLabels()" 
            optionLabel="projectLabel" 
            optionValue="id"
            appendTo="body" 
            [showClear]="true" 
            [emptyMessage]="'TABLES.NO_RESULTS_FOUND' | translate"
          ></p-select>
      </div>
      <div class="form-item-container flex gap-4 mb-3">
          <label for="percentage" class="w-3">{{ 'SUB-CONTRACTS.PROJECT.SHARE' | translate }} %</label>
          <p-inputnumber inputId="percentage" class="flex-auto" formControlName="percentage" 
            mode="decimal" [max]="100.00" [min]="0" [useGrouping]="true" [inputStyle]="{'text-align': 'right'}"
            [minFractionDigits]="2" [maxFractionDigits]="2" locale="de-DE" autocomplete="off" />
      </div>
      <div class="form-item-container flex gap-4 mb-3">
          <label for="amount" class="w-3">{{ 'SUB-CONTRACTS.PROJECT.AMOUNT' | translate }}</label>
          <p-inputnumber inputId="amount" class="flex-auto" formControlName="amount" mode="decimal" 
          [max]="99999.99" [min]="0" [useGrouping]="true" [inputStyle]="{'text-align': 'right'}"
          [minFractionDigits]="2" [maxFractionDigits]="2" locale="de-DE" autocomplete="off" />
      </div>
      <div class="flex justify-content-center gap-2">
          <p-button type="submit" [label]="'BUTTONS.SAVE' | translate" icon="pi pi-check" 
            [loading]="isSubcontractProjectPerformigAction" iconPos="left" size="small"></p-button>
  
          <p-button [label]="'BUTTONS.CANCEL' | translate" (click)="closeModal()" class="cancel" icon="pi pi-times"
              iconPos="left" size="small" (keydown.enter)="closeModal()"></p-button>
      </div>
  </form>
</ng-container>
<ng-template #deleteTemplate>
  <div class="confirmation-content mb-2 mt-4">
    <p class="mb-4">
      {{ 'SUB-CONTRACTS.LABEL.REMOVE_SUBCONTRACT_PROJECT_QUESTION' | translate }} 
      <strong class="stronglock mt-1">"{{subcontractProject?.project?.projectLabel}}"</strong>
      ?
    </p>

    <div class="flex justify-content-center gap-2">
      <p-button type="button" class="delete" size="small" [label]="'BUTTONS.DELETE' | translate" icon="pi pi-trash"
        iconPos="left" severity="danger" [loading]="isSubcontractProjectPerformigAction" (onClick)="removeSubcontractProject()" />

      <p-button type="button" class="cancel" size="small" [label]="'BUTTONS.CANCEL' | translate" icon="pi pi-times"
        iconPos="left" (onClick)="closeModal()" />
    </div>
  </div>
</ng-template>
<app-occ-error-modal *ngIf="showOCCErrorSubcontractProject" (onClose)="showOCCErrorSubcontractProject = false">
</app-occ-error-modal>