<ng-container *ngIf="isCreateEmployeeDetailsMode; else deleteEmployeeDetailsModal">
    <form [formGroup]="createEmployeeDetailsForm" (ngSubmit)="onSubmit()">
        <div class="align-items-center mb-2 mt-4">
            <div class="create-form">
                <label for="employee">{{ 'EMPLOYEE.LABELS.EMPLOYEE' | translate }}</label>
                <p-select #pSelect formControlName="employee" [options]="employees" optionLabel="displayName" optionValue="id"
                    appendTo="body" showClear ></p-select>
            </div>
            <div class="create-form">
                <label for="employeeNo">{{ 'EMPLOYEE.TABLE.EMPLOYEE_ID' | translate }}</label>
                <p-inputnumber [useGrouping]="true" inputId="employeeNo" formControlName="employeeNo" autocomplete="off"
                    [attr.aria-invalid]="createEmployeeDetailsForm.get('employeeNo')?.invalid"
                    [inputStyle]="{'text-align': 'right'}"
                    [attr.aria-describedby]="createEmployeeDetailsForm.get('employeeNo')?.invalid ? 'employeeNoError' : null" />
            </div>
            <div class="create-form">
                <label for="hourlyrate">{{ 'EMPLOYEE-CONTRACTS.TABLE.HOURLY_RATE' | translate }}</label>
                <div class="input-message">
                  <p-inputnumber [useGrouping]="true" inputId="name" formControlName="hourlyrate" autocomplete="off"
                  [inputStyle]="{'text-align': 'right'}" mode="decimal" [minFractionDigits]="2" 
                  [maxFractionDigits]="2" locale="de-DE" invalid="createEmployeeDetailsForm.get('hourlyrate')?.invalid
                  && createEmployeeDetailsForm.get('hourlyrate')?.dirty
                  || createEmployeeDetailsForm.get('hourlyrate')?.touched"/>
                  <p-message severity="error" [showTransitionOptions]="'0ms'" variant="simple" size="small" *ngIf="createEmployeeDetailsForm.get('hourlyrate')?.invalid && createEmployeeDetailsForm.get('hourlyrate')?.dirty">
                    {{ createEmployeeDetailsForm.get('hourlyrate')?.errors?.['required']? ('ERROR.FIELD_REQUIRED' | translate) : ('ERROR.NUMBER_GREATER_THAN_0' | translate) }}
                  </p-message>
                </div>
            </div>
            <div class="create-form wide">
                <label for="qualificationkmui">{{ 'PROJECT_EMPLOYEES.TABLE.FZ_ABBREVIATION_R&H_ACTIVITY' | translate }}</label>
                <input pInputText type="text" id="qualificationkmui" formControlName="qualificationkmui"
                    autocomplete="off" />
            </div>
            <div class="create-form">
                <label for="order">{{ 'ORDERS.FORM.ORDER_LABEL' | translate }}</label>
                <div class="input-message">
                    <p-select formControlName="order" [options]="orders" optionLabel="orderLabel" optionValue="id"
                        appendTo="body" showClear></p-select>
                    <p-message severity="error" [showTransitionOptions]="'0ms'" variant="simple" size="small" *ngIf="createEmployeeDetailsForm.get('order')?.errors?.['required'] && (createEmployeeDetailsForm.get('order')?.dirty || createEmployeeDetailsForm.get('order')?.touched)">
                        {{ 'ERROR.FIELD_REQUIRED' | translate }}
                    </p-message>
                </div>
                </div>
            <div class="flex justify-content-center gap-2 mt-4">
                <p-button type="submit" class="save" size="small" [label]="'BUTTONS.SAVE' | translate"
                    icon="pi pi-check" iconPos="left" [loading]="isLoading" [disabled]="isLoading || !createEmployeeDetailsForm.dirty || isLoadingDelete"></p-button>

                @if(modalType === 'edit'){
                    <p-button type="button" class="remove" size="small" [label]="'BUTTONS.REMOVE_FROM_PROJECT' | translate"
                        icon="pi pi-minus" iconPos="left" (onClick)="modalDeleteVisible = true" [disabled]="isLoading || isLoadingDelete"></p-button>
                }

                <p-button type="button" class="cancel" size="small" [label]="'BUTTONS.CANCEL' | translate"
                    icon="pi pi-times" iconPos="left" (onClick)="closeAndReset()" [disabled]="isLoading || isLoadingDelete"></p-button>
            </div>
        </div>
    </form>

</ng-container>

<ng-template #deleteEmployeeDetailsModal>
  <div class="confirmation-content mb-2 mt-4">
    <p class="mb-4" [innerHTML]="'DIALOG.DELETE' | translate:{ value: employeeNo }"></p>

    <div class="flex justify-content-center gap-2">
      <p-button type="button" class="delete" size="small" [label]="'BUTTONS.DELETE' | translate" icon="pi pi-trash"
        iconPos="left" (onClick)="onDeleteConfirm()" severity="danger" [loading]="isLoadingDelete" [disabled]="isLoadingDelete" />

      <p-button type="button" class="cancel" size="small" [label]="'BUTTONS.CANCEL' | translate" icon="pi pi-times"
        iconPos="left" (onClick)="closeAndReset()" [disabled]="isLoading || isLoadingDelete" />

    </div>
  </div>
</ng-template>
<app-occ-error-modal 
  *ngIf="showOCCErrorModalEmployeeDetail" 
  [errorType]="occErrorEmployeeDetailType"
  [reloadCurrentPage]="true" 
  (onClose)="showOCCErrorModalEmployeeDetail = false">
</app-occ-error-modal>
<p-dialog [header]="'IWS_STAFF.DELETE.CONFIRMATION' | translate" [modal]="true" appendTo="body" [(visible)]="modalDeleteVisible">
  <div class="confirmation-content mb-2 mt-4">
    <p class="mb-4" [innerHTML]="'DIALOG.DELETE' | translate:{ value: employeeNo }"></p>

    <div class="flex justify-content-center gap-2">
      <p-button type="button" class="delete" size="small" [label]="'BUTTONS.DELETE' | translate" icon="pi pi-trash"
        iconPos="left" (onClick)="onDeleteConfirm()" severity="danger" [loading]="isLoadingDelete" [disabled]="isLoadingDelete" />

      <p-button type="button" class="cancel" size="small" [label]="'BUTTONS.CANCEL' | translate" icon="pi pi-times"
        iconPos="left" (onClick)="modalDeleteVisible = false;" [disabled]="isLoadingDelete" />

    </div>
  </div>
</p-dialog>