<ng-container *ngIf="isCreateEmployeeDetailsMode; else deleteEmployeeDetailsModal">
    <form [formGroup]="createEmployeeDetailsForm" (ngSubmit)="onSubmit()">
        <div class="align-items-center mb-2 mt-4">
            <div class="create-form flex align-items-center mb-3">
                <label for="employee">{{ 'EMPLOYEE.LABELS.EMPLOYEE' | translate }}</label>
                <p-select #pSelect formControlName="employee" [options]="employees" optionLabel="displayName" optionValue="id"
                    appendTo="body" showClear ></p-select>
            </div>
            <div class="create-form flex align-items-center mb-3">
                <label for="employeeNo">{{ 'EMPLOYEE.TABLE.EMPLOYEE_ID' | translate }}</label>
                <p-inputnumber [useGrouping]="true" inputId="employeeNo" formControlName="employeeNo" autocomplete="off"
                    [attr.aria-invalid]="createEmployeeDetailsForm.get('employeeNo')?.invalid"
                    [inputStyle]="{'text-align': 'right'}"
                    [attr.aria-describedby]="createEmployeeDetailsForm.get('employeeNo')?.invalid ? 'employeeNoError' : null" />
            </div>
            <div class="create-form flex flex-row mb-4">
                <label for="hourlyrate">{{ 'EMPLOYEE-CONTRACTS.TABLE.HOURLY_RATE' | translate }}</label>
                <p-inputnumber [useGrouping]="true" inputId="name" formControlName="hourlyrate" autocomplete="off"
                [inputStyle]="{'text-align': 'right'}" mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="2" locale="de-DE"/>
            </div>
            <div class="create-form wide">
                <label for="qualificationkmui">{{ 'PROJECT_EMPLOYEES.TABLE.FZ_ABBREVIATION_R&H_ACTIVITY' | translate
                    }}</label>
                <input pInputText type="text" id="qualificationkmui" formControlName="qualificationkmui"
                    autocomplete="off" />
            </div>
            <div class="create-form flex align-items-center mb-3">
                <label for="order">{{ 'ORDERS.FORM.ORDER_LABEL' | translate }}</label>
                <div class="input-message">
                    <p-select formControlName="order" [options]="orders" optionLabel="orderLabel" optionValue="id"
                        appendTo="body" showClear></p-select>
                    <p-message severity="error" [showTransitionOptions]="'0ms'" variant="simple" size="small" *ngIf="createEmployeeDetailsForm.get('order')?.errors?.['required'] && (createEmployeeDetailsForm.get('order')?.dirty || createEmployeeDetailsForm.get('order')?.touched)">
                        {{ 'ERROR.FIELD_REQUIRED' | translate }}
                    </p-message>
                </div>
                </div>
            <div class="flex justify-content-center gap-2 mt-4">
                <p-button type="submit" class="save" size="small" [label]="'BUTTONS.SAVE' | translate"
                    icon="pi pi-check" iconPos="left" [loading]="isLoading" [disabled]="isLoading || !createEmployeeDetailsForm.dirty"></p-button>

                <p-button type="button" class="remove" size="small" [label]="'BUTTONS.REMOVE_FROM_PROJECT' | translate"
                    icon="pi pi-minus" iconPos="left" (onClick)="removeFromProject()" [disabled]="isLoading || !createEmployeeDetailsForm.dirty"></p-button>

                <p-button type="button" class="cancel" size="small" [label]="'BUTTONS.CANCEL' | translate"
                    icon="pi pi-times" iconPos="left" (onClick)="closeAndReset()" [disabled]="isLoading"></p-button>
            </div>
        </div>
    </form>

</ng-container>

<ng-template #deleteEmployeeDetailsModal>
  <div class="confirmation-content mb-2 mt-4">
    <p class="mb-4" [innerHTML]="'DIALOG.DELETE' | translate:{ value: employeeNo }"></p>

    <div class="flex justify-content-center gap-2">
      <p-button type="button" class="delete" size="small" [label]="'BUTTONS.DELETE' | translate" icon="pi pi-trash"
        iconPos="left" (onClick)="onDeleteConfirm()" severity="danger" [loading]="isLoading" [disabled]="isLoading" />

      <p-button type="button" class="cancel" size="small" [label]="'BUTTONS.CANCEL' | translate" icon="pi pi-times"
        iconPos="left" (onClick)="closeAndReset()" [disabled]="isLoading" />

    </div>
  </div>
</ng-template>