<p-card [style]="{ background: 'var(--light-cyan)' }">
    <ng-template #title>{{ 'ORDERS.PROJECT.PROJECT' | translate}}</ng-template>
    <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
        <div class="proj_input">
            <label for="projectLabel">{{ 'ORDERS.PROJECT.PROJECT' | translate }}</label>
            <p-select formControlName="projectLabel" inputId="projectLabel" 
                [showClear]="true" [options]="projects()" 
                optionLabel="projectLabel" optionValue="id"
                [emptyMessage]="'TABLES.NO_RESULTS_FOUND' | translate" />
        </div>
        <div class="proj_input">
            <label for="promoterNo">{{ 'ORDERS.PROJECT.SPONSOR_ID' | translate }}</label>
            <input pInputText type="text" id="promoterNo" formControlName="promoterNo" autocomplete="off" readonly [disabled]="true"/>
        </div>
        <div class="proj_input">
            <label for="promoter">{{ 'ORDERS.PROJECT.SPONSOR' | translate }}</label>
            <input pInputText type="text" id="promoter" formControlName="promoter" autocomplete="off" readonly [disabled]="true"/>
        </div>
        <div class="proj_input">
            <label for="startDate">{{ 'ORDERS.PROJECT.START_DATE' | translate }}</label>
            <p-datepicker dateFormat="dd.mm.yy" id="startDate" formControlName="startDate" autocomplete="off" readonlyInput [disabled]="true"/>
        </div>
        <div class="proj_input">
            <label for="endDate">{{ 'ORDERS.PROJECT.END_DATE' | translate }}</label>
            <p-datepicker dateFormat="dd.mm.yy" id="endDate" formControlName="endDate" autocomplete="off" readonlyInput [disabled]="true"/>
        </div>
    </form>
</p-card>
