.order_input input, p-inputnumber{
    width: 20vw;
}
.order_input{
    width: 100% !important;   
    display: flex;

    label {
        width: 33%;
    }
}

.order_input p-select {
    flex: unset; 
    width: 20vw;
}

 /* Estilo del calendario */
::ng-deep .p-datepicker {
    width: 20vw;
    min-width: 20vw;
    max-width: 20vw;
}

::ng-deep .p-datepicker table,
::ng-deep .p-datepicker .p-monthpicker,
::ng-deep .p-datepicker .p-yearpicker,
::ng-deep .p-datepicker .p-datepicker-group {
  width: 100%;
  table-layout: fixed;
}