<form [formGroup]="basicContractForm" (ngSubmit)="onSubmit()">
    <div class="align-items-center mb-2">
        <div class="order_input">
            <label for="orderId">{{ 'FRAMEWORK-AGREEMENTS.DETAIL.FORM.FRAMEWORK_AGREEMENT_NO' | translate }}</label>
            <p-inputnumber readonly [disabled]="true" type="text" id="orderId" formControlName="contractNo" autocomplete="off"
             [useGrouping]="false" [inputStyle]="{'text-align': 'right'}"/>
        </div>
        <div class="order_input">
            <label for="orderLabel">{{ 'FRAMEWORK-AGREEMENTS.DETAIL.FORM.FRAMEWORK_AGREEMENT' | translate }}</label>
            <input pInputText type="text" id="orderLabel" formControlName="contractLabel" autocomplete="off" />
        </div>
        <div class="order_input">
            <label for="orderDate">{{ 'FRAMEWORK-AGREEMENTS.DETAIL.FORM.DATE' | translate }}</label>
            <p-datepicker inputId="orderDate" showIcon showClear formControlName="date"  dateFormat="dd.mm.yy"  />
        </div>
        <div class="order_input">
            <label for="contractTitle">{{ 'FRAMEWORK-AGREEMENTS.DETAIL.FORM.LONG_TEXT' | translate }}</label>
            <input pInputText type="text" id="contractTitle" formControlName="contractTitle" autocomplete="off" />
        </div>
        <div class="order_input"> 
            <label for="confirmationDate">{{ 'FRAMEWORK-AGREEMENTS.DETAIL.FORM.SIGNATURE_DATE' | translate }}</label>
            <p-datepicker inputId="confirmationDate" showIcon showClear formControlName="confirmationDate"  dateFormat="dd.mm.yy"  />
        </div>
        
        <div class="order_input">
            <label for="fundingProgram">{{ 'FRAMEWORK-AGREEMENTS.DETAIL.FORM.FUNDING_PROGRAM' | translate }}</label>
            <p-select inputId="fundingProgram" 
                [options]="fundingPrograms()" 
                optionLabel="name"
                optionValue="id"
                formControlName="fundingProgram" showClear
             [emptyMessage]="'TABLES.NO_RESULTS_FOUND' | translate"></p-select>
        </div>
        
        <div class="order_input">
            <label for="contractStatus">{{ 'FRAMEWORK-AGREEMENTS.DETAIL.FORM.CONTRACT_STATUS' | translate }}</label>
            <p-select inputId="contractStatus" 
                [options]="contractStatus()" 
                optionLabel="status"
                optionValue="id"
                formControlName="contractStatus" showClear
             [emptyMessage]="'TABLES.NO_RESULTS_FOUND' | translate"></p-select>
        </div>
        
        <div class="order_input">
            <label for="employeeIws">{{ 'FRAMEWORK-AGREEMENTS.DETAIL.FORM.IWS_EMPLOYEES' | translate }}</label>
            <p-select inputId="employeeIws" 
                [options]="employeeIws()" 
                optionLabel="employeeLabel"
                optionValue="id"
                formControlName="employeeIws" showClear
             [emptyMessage]="'TABLES.NO_RESULTS_FOUND' | translate"></p-select>
        </div>  
    </div>
</form>
<p-toast/>