<ng-container *ngIf="isCreateMode; else deleteTemplate">
  <form [formGroup]="createIwsCommissionForm" (ngSubmit)="onSubmit()">
    <div class="align-items-center mb-2 mt-4">
      <div class="commission-form">
        <label for="fromOrderValue" class="block">{{ 'IWS_COMMISSIONS.FORM.THRESHOLD' | translate }}</label>
        <p-inputnumber #firstInput inputId="fromOrderValue" formControlName="fromOrderValue" autocomplete="off"
          mode="decimal" [useGrouping]="true" [inputStyle]="{'text-align': 'right'}"
          [minFractionDigits]="2" [maxFractionDigits]="2" locale="de-DE"/>
      </div>
      <div class="commission-form">
        <label for="commission" class="block">{{ 'IWS_COMMISSIONS.FORM.PERCENTAGE' | translate }}</label>
        <div class="input-message">
          <p-inputnumber inputId="commission" formControlName="commission" autocomplete="off"
            mode="decimal" [useGrouping]="true" [inputStyle]="{'text-align': 'right'}"
            [minFractionDigits]="2" [maxFractionDigits]="2" locale="de-DE"
            invalid="createIwsCommissionForm.get('commission')?.invalid  
              && createIwsCommissionForm.get('commission')?.dirty 
              || createIwsCommissionForm.get('commission')?.touched"/>
          <p-message severity="error" [showTransitionOptions]="'0ms'" variant="simple" size="small" *ngIf="
            createIwsCommissionForm.get('commission')?.invalid && 
            createIwsCommissionForm.get('commission')?.dirty">
            {{ 'ERROR.NUMBER_MAX' | translate }}</p-message>
        </div>

      </div>
      <div class="commission-form">
        <label for="minCommission" class="block">{{ 'IWS_COMMISSIONS.FORM.MIN_COMMISSION' | translate }}</label>
        <p-inputnumber inputId="minCommission" formControlName="minCommission" autocomplete="off"
          mode="decimal" [useGrouping]="true" [inputStyle]="{'text-align': 'right'}"
          [minFractionDigits]="2" [maxFractionDigits]="2" locale="de-DE"/>
      </div>
      <div class="flex justify-content-center gap-2 mt-4">
        <p-button type="submit" class="save" size="small" [label]="'BUTTONS.SAVE' | translate"
          icon="pi pi-check" iconPos="left" [loading]="isLoading"
          [disabled]="createIwsCommissionForm.invalid || isLoading" />

        <p-button type="button" class="cancel" size="small" [label]="'BUTTONS.CANCEL' | translate"
          icon="pi pi-times" iconPos="left" (onClick)="onCancel()" [disabled]="isLoading" />
      </div>
    </div>
  </form>
</ng-container>

<ng-template #deleteTemplate>
  <div class="confirmation-content mb-2 mt-4">
    <p class="mb-4">
      {{ 'IWS_COMMISSIONS.DELETE.CONFIRM_QUESTION' | translate }}
      <strong class="stronglock mt-1">"{{ iwsCommissionName }}"</strong>?
    </p>

    <div class="flex justify-content-center gap-2">
      <p-button type="button" class="delete" size="small" [label]="'BUTTONS.DELETE' | translate"
        icon="pi pi-trash" iconPos="left" (onClick)="onDeleteConfirm()" severity="danger" [loading]="isLoading"
        [disabled]="isLoading" />

      <p-button type="button" class="cancel" size="small" [label]="'BUTTONS.CANCEL' | translate"
        icon="pi pi-times" iconPos="left" (onClick)="onCancel()" [disabled]="isLoading" />

    </div>
  </div>
</ng-template>