.commission-form {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;

  label {
    width: 125px;
    flex-shrink: 0;
    margin-right: 10px;
  }

  p-inputnumber {
    width: 100%;
  }
}