<div class="container">
    <div class="row">
      <div class="col-6">
        <master-data-genaral-table
          [tableId]="tableKey"
          [tableValues]="networks()"
          tableTitle="networks"
          [columns]="columsHeaderFieldNetworks"
          [hideColumns]="false"
          [userPreferences]="userNetworksPreferences"
          [dataKeys]="dataKeys"
          [sortField]="'name'" 
          [sortOrder]="1"
          (onColumnChanges)="onUserNetworksPreferencesChanges($event)"
          (onCreateRegister)="handleTableEvents({ type: 'create' })"
          (onDeleteRegister)="handleTableEvents({ type: 'delete', data: $event })"
          (onEditRegister)="onEditNetwork($event)"
        ></master-data-genaral-table>
      </div>
      <div class="col-6">
        <master-data-edit-network></master-data-edit-network>
      </div>
    </div>
    <p-dialog 
      [header]="modalType === 'create' 
        ? ('NETWORKS.MODAL.NEW' | translate) 
        : ('NETWORKS.MODAL.DELETE' | translate)" 
      [modal]="true" 
      [(visible)]="visibleNetworksModal"
    >
      <app-network-modal
        [modalType]="modalType"
        [visible]="visibleNetworksModal"
        [selectedNetwork]="selectedNetwork"
        (isVisibleModal)="onModalVisibilityChange($event)"
        (deleteNetwork)="onDeleteNetwork($event)"
        (createNetwork)="onCreateNetwork($event)"
      ></app-network-modal>
    </p-dialog>
</div>