<div class="container">
    <div class="row">
      <div class="col-6">
        <master-data-genaral-table
          [tableId]="tableKey"
          [tableValues]="networks"
          tableTitle="networks"
          [columns]="columsHeaderFieldNetworks"
          [hideColumns]="false"
          [userPreferences]="userPreferences"
          [dataKeys]="dataKeys"
          (onColumnChanges)="onUserPreferencesChanges($event)"
        ></master-data-genaral-table>
      </div>
      <div class="col-6">
        <master-data-edit-network></master-data-edit-network>
      </div>
    </div>
</div>