@use "variables" as *;
.idioma-btn {
  font-size: 1.1rem;
  padding: 1.7rem 1.6rem; // 👉 MÁS ALTO verticalmente
  line-height: 1.2rem; // 🧘 Ajusta el texto para que no se achique
  border-radius: 0px;
  margin-top: 2px;
}
.idioma-btn:hover {
  background-color: $primary-color;
  border-color: $primary-color;
}

.p-button-outlined {
  background: $accent-color;
  border-color: $accent-color;
  color: $primary-dark;
}

.lang-panel {
  padding: 0.5rem;
  min-width: 180px;
}

.flag-option {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: #f4f4f4;
  }
}

.flag-icon {
  width: 1.5rem;
  height: 1rem;
  display: inline-block;
  background-size: cover;
  background-position: center;
}

.flag-icon-de {
  background-image: url("../assets/flags/de.png");
}

.flag-icon-gb {
  background-image: url("../assets/flags/gb.png");
}

.flag-icon-es {
  background-image: url("../assets/flags/es.png");
}
