.create-form {

  .absence-form{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 1rem;

    label {
      width: 130px;
      flex-shrink: 0;
    }
  
    input, p-inputnumber {
      width: 100%;
      max-width: 300px;
    }
  }
}

::ng-deep input.p-inputnumber-input#shareOfDay {
  width: 100% !important;
}