<ng-container *ngIf="isCreateMode; else deleteTemplate">
  <form [formGroup]="chanceForm" (ngSubmit)="onSubmit()">
    <div class="create-form my-4">
      <div class="chance-form">
        <label for="probability">{{ "SIDEBAR.REALIZATION_PROBABILITIES" | translate }}</label>
        <div class="input-message">
            <p-inputnumber #firstInput mode="decimal" [min]="0" [useGrouping]="true" [minFractionDigits]="2" [maxFractionDigits]="2" locale="de-DE"
            inputId="probability" formControlName="probability" [inputStyle]="{'text-align': 'right'}"
            autocomplete="off" invalid="
                chanceForm.get('probability')?.invalid  
                && chanceForm.get('probability')?.dirty 
                || chanceForm.get('probability')?.touched"/>
            <p-message severity="error" variant="simple" [showTransitionOptions]="'0ms'" size="small" *ngIf="
                chanceForm.get('probability')?.invalid && 
                chanceForm.get('probability')?.dirty
            ">{{ 'ERROR.NUMBER_MAX' | translate }}</p-message>
        </div>
      </div>
    </div>

    <div class="flex justify-content-center gap-2 mt-4">
        <p-button type="submit" class="save" size="small" [label]="'BUTTONS.SAVE' | translate"
            icon="pi pi-check" iconPos="left" [loading]="isLoading"
            [disabled]="chanceForm.invalid || isLoading || !chanceForm.dirty" />

        <p-button type="button" class="cancel" size="small" [label]="'BUTTONS.CANCEL' | translate"
            icon="pi pi-times" iconPos="left" (onClick)="closeModal()" [disabled]="isLoading" />
    </div>
  </form>
</ng-container>

<ng-template #deleteTemplate>
  <div class="confirmation-content mb-2 mt-4">
    <p class="mb-4">
      {{ 'REALIZATION_PROBABILITIES.MODAL.CONFIRM_QUESTION' | translate }}
      <strong class="stronglock mt-1">"{{ selectedChance.probability | number:'1.2-2':'de-DE' }}"</strong>?
    </p>

    <div class="flex justify-content-center gap-2">
      <p-button type="button" class="delete" size="small" [label]="'BUTTONS.DELETE' | translate"
        icon="pi pi-trash" iconPos="left" (onClick)="onDelete()" severity="danger" [loading]="isLoading"
        [disabled]="isLoading" />

      <p-button type="button" class="cancel" size="small" [label]="'BUTTONS.CANCEL' | translate"
        icon="pi pi-times" iconPos="left" (onClick)="closeModal()" [disabled]="isLoading" />
    </div>
  </div>
</ng-template>