<div class="container">
    <div class="row">
      <div class>
        <master-data-genaral-table
          [tableId]="tableKey"
          [tableValues]="states()"
          [columns]="cols"
          [userPreferences]="userStatesPreferences"
          [dataKeys]="dataKeys"
          (onColumnChanges)="onUserStatesPreferencesChanges($event)"
          (onCreateRegister)="handleStateTableEvents({ type: 'create' })"
          (onDeleteRegister)="handleStateTableEvents({ type: 'delete', data: $event })"
          (onEditRegister)="editState($event)"
        ></master-data-genaral-table>
        <p-dialog 
        [header]="stateModalType === 'create' 
          ? ('STATES.LABEL.NEW_STATE' | translate) 
          : ('STATES.LABEL.DELETE_STATE' | translate)" 
        [modal]="true" 
        [(visible)]="visibleStateModal" 
        (onShow)="onDialogShow()"
        >
          <app-state-modal
            [modalType]="stateModalType"
            [stateName]="stateName"
            [stateToDelete]="selectedState"
            (isVisibleModal)="onModalVisibilityChange($event)"
            (confirmStateDelete)="onConfirmStateDelete($event)"
            #stateModal
          ></app-state-modal>
        </p-dialog>
      </div>
    </div>
  </div>