.team-form {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;

  label {
    width: 100px;
    margin-right: 0.5rem;
    flex-shrink: 0;
  }

  input,
  ::ng-deep .p-select {
    min-width: 10%;
    width: 100%;
  }
}