.team-form {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;

  label {
    width: 100px;
    margin-right: 0.5rem;
  }

  input,
  ::ng-deep .p-dropdown {
    flex: 1;       
    max-width: 16em; 
  }
}