<p-card
  [style]="{ background: 'var(--light-cyan)' }"
  [header]="'IWS_TEAMS.HEADER.EDIT_TEAM' | translate"
>
  <form [formGroup]="editTeamForm" (ngSubmit)="onSubmit()">
    <div class="align-items-center">
      <div class="team-form">
        <label for="name">{{
          "IWS_TEAMS.LABEL.TEAM_NAME" | translate
        }}</label>
        <input
          pInputText
          id="name"
          formControlName="name"
          autocomplete="off"
        />
      </div>

      <div class="team-form">
        <label for="teamLeader">{{
          "IWS_TEAMS.LABEL.TEAM_LEADER" | translate
        }}</label>
        <p-dropdown
          [options]="leaders"
          optionValue="id"
          optionLabel="fullName"
          formControlName="teamLeader"
          [placeholder]="'IWS_TEAMS.PLACEHOLDER.SELECT_LEADER' | translate"
        >
        </p-dropdown>
      </div>
    </div>

    <div class="flex justify-content-center gap-2 mt-4">
      <p-button
        size="small"
        [label]="'BUTTONS.SAVE' | translate"
        icon="pi pi-check"
        type="submit"
      ></p-button>
      <p-button
        class="cancel"
        size="small"
        type="button"
        [label]="'BUTTONS.CANCEL' | translate"
        icon="pi pi-times"
        severity="secondary"
        (keydown)="cancelEdit()"
        (click)="cancelEdit()"
      ></p-button>
    </div>
  </form>
</p-card>
<app-occ-error-modal
    *ngIf="showOCCErrorModalTeamIws"
    [useEmitter]="true"
    (close)="showOCCErrorModalTeamIws = false"
    (refresh)="onRefresh()">
</app-occ-error-modal>
<p-toast></p-toast>
