<p-card
  [style]="{ background: 'var(--light-cyan)' }"
  [header]="'IWS_TEAMS.HEADER.EDIT_TEAM' | translate"
>
  <form [formGroup]="editTeamForm" (ngSubmit)="onSubmit()">
    <div class="align-items-center">
      <div class="team-form">
        <label for="name">{{ "IWS_TEAMS.LABEL.TEAM_NAME" | translate }}</label>
        <div class="input-message">
          <input #firstInput
            pInputText
            id="name"
            formControlName="name"
            autocomplete="off"
            [attr.invalid]="(editTeamForm.get('name')?.invalid && 
            editTeamForm.get('name')?.dirty) 
            || teamNameAlreadyExist"
          />
          <p-message 
            severity="error" 
            [showTransitionOptions]="'0ms'" 
            variant="simple" 
            size="small" 
            *ngIf="(editTeamForm.get('name')?.invalid && 
            editTeamForm.get('name')?.dirty) 
            || teamNameAlreadyExist">
            <span *ngIf="editTeamForm.get('name')?.errors?.['required'] && editTeamForm.get('name')?.dirty">
              {{ 'ERROR.FIELD_REQUIRED' | translate }}
            </span>
            <span *ngIf="teamNameAlreadyExist && !editTeamForm.get('name')?.errors?.['required']">
              {{ 'IWS_TEAMS.ERROR.TEAM_NAME_ALREADY_EXIST' | translate }}
            </span>
          </p-message>
        </div>
      </div>

      <div class="team-form">
        <label for="teamLeader">{{ "IWS_TEAMS.LABEL.TEAM_LEADER" | translate }}</label>
        <p-select
          [options]="leaders"
          optionValue="id"
          optionLabel="fullName"
          formControlName="teamLeader"
          [showClear]="true"
          [placeholder]="'IWS_TEAMS.PLACEHOLDER.SELECT_LEADER' | translate"
          [emptyMessage]="'TABLES.NO_RESULTS_FOUND' | translate"
        >
        </p-select>
      </div>
    </div>

    <div class="flex justify-content-center gap-2 mt-4">
      <p-button
        size="small"
        [label]="'BUTTONS.SAVE' | translate"
        icon="pi pi-check"
        type="submit"
        [disabled]="editTeamForm.invalid || isSaving || !editTeamForm.dirty"
        [loading]="isSaving"
      ></p-button>
      <p-button
        class="cancel"
        size="small"
        type="button"
        [label]="'BUTTONS.CANCEL' | translate"
        icon="pi pi-times"
        severity="secondary"
        [disabled]="isSaving"
        (onClick)="cancelEdit()"
      ></p-button>
    </div>
  </form>
</p-card>
<app-occ-error-modal
    *ngIf="showOCCErrorModalTeamIws"
    [useEmitter]="occErrorType==='UPDATE_UPDATED'"
    (refresh)="onRefresh()"
    [errorType]="occErrorType"
    [reloadCurrentPage]="true"
    (close)="showOCCErrorModalTeamIws = false">
</app-occ-error-modal>