<div class="container">
    <div class="section-project">
        <label for="projectLabel">{{ 'PROJECTS.FORM.PROJECT' | translate }}</label>
        <div class="inputs-project">
            <input pInputText type="text" id="projectLabel" [value]="currentProject?.projectLabel || ''" disabled>
            <input pInputText type="text" id="projectName" [value]="currentProject?.projectName ||  ''" disabled>
        </div>
    </div>

    <master-data-genaral-table
        [tableId]="tableKey"
        [tableValues]="projectEmployees"
        [columns]="selectedColumns"
        [userPreferences]="userProjectEmployeesPreferences"
        [dataKeys]="dataKeys"
        nameNewButton="EMPLOYEE.LABELS.NEW_EMPLOYEE"
        [isFileUploadButtonVisible]="true"
        [customerUploadButtonText]="'BUTTONS.IMPORT_EMPLOYEES' | translate"
        [isAdditionalButtonsVisible]="true"
        additionalButtonText="BUTTONS.ASSIGN_MORE_EMPLOYEES"
        (onColumnChanges)="onUserProjectEmployeePreferencesChanges($event)"
        (additionalAccion)="handleTableEvents({ type: 'create' })"
        (onCreateRegister)="handleTableEvents({ type: 'new employee' })"
        (onEditRegister)="handleTableEvents({ type: 'edit', data: $event })"
        (onDeleteRegister)="handleTableEvents({ type: 'delete', data: $event })"
        [enableCreateButton]="!isCreateButtonEnable"
    ></master-data-genaral-table>
    <p-dialog 
        [header]="modalType === 'create' 
          ? ('EMPLOYEE.LABELS.PROJECTEMPLOYEE' | translate) 
          : ('IWS_STAFF.DELETE.CONFIRMATION' | translate)" 
        [modal]="true" 
        [(visible)]="visibleModal"
        (onHide)="onCloseModal()"
      >
        <app-employee-detail-modal
          [modalType]="modalType"
          [visibleModal]="visibleModal"
          [employeeToDelete]="selectedEmployeeDetails"
          [employeeNo]="employeeNo"
          (isVisibleModal)="onModalVisibilityChange($event)"
          (deleteProjectPackageEvent)="onDeleteEmployee($event)" 
          #employeeDetailModal
        ></app-employee-detail-modal>
      </p-dialog>
</div>