<div class="flex px-4 py-3 align-items-center">
  <label class="search-label-project" for="SearchProject">{{ 'COMMON.PROJECT' | translate }}:</label>
  <p-select 
    [options]="projects()" 
    class="search-box-project w-auto"
    [(ngModel)]="selectedProject"
    optionLabel="projectLabel" 
    optionValue="id" 
    [filter]="true" 
    filterBy="projectLabel" 
    [placeholder]="'COMMON.SELECT_PROJECT' | translate" 
    [appendTo]="'body'"
    [emptyMessage]="'TABLES.NO_RESULTS_FOUND' | translate"
    [emptyFilterMessage]="'TABLES.NO_RESULTS_FOUND' | translate"
    (onChange)="onSelectedItem($event)">
      <ng-template #selectedItem let-selectedOption>
          <div class="flex items-center gap-2">
              <div>{{ selectedOption.projectLabel }}</div>
          </div>
      </ng-template>
  </p-select>
</div>
<div class="card account-year">
  <master-data-genaral-table
    [tableId]="projectAccountYearTableKey"
    [tableValues]="projectsAccountYears"
    [columns]="selectedProjectAccountYearTableColumns"
    [userPreferences]="userProjectAccountYearPreferences"
    [dataKeys]="projectAccountYearDataKeys"
    [nameNewButton]="'BUTTONS.NEW_ACCOUNTING_YEAR'"
    (onColumnChanges)="onUserProjectAccountYearPreferencesChanges($event)"
    (onDeleteRegister)="handleTableEvents({ type: 'delete', data: $event })"
    (onEditRegister)="handleTableEvents({ type: 'edit', data: $event })"
    (onCreateRegister)="handleTableEvents({ type: 'create'})"
  ></master-data-genaral-table>
  <p-dialog 
    [header]="modalProjectPeriodType === 'edit' 
      ? ('PROJECT_PERIOD.MODAL.EDIT' | translate) 
      : modalProjectPeriodType === 'create' 
       ? ('PROJECT_PERIOD.MODAL.CREATE' | translate) 
       : ('PROJECT_PERIOD.MODAL.DELETE' | translate)" 
    [modal]="true" 
    [(visible)]="visibleProjectPeriodModal"
    [style]="{ 'max-width': '80vw' }"
  >
    <app-project-period-modal
      [modalType]="modalProjectPeriodType"
      [visibleModal]="visibleProjectPeriodModal"
      [currentProject]="currentProject"
      [currentProjectPeriodEntity]="currentProjectPeriod"
      (isVisibleProjectPeriodModal)="onModalProjectPeriodModalVisibilityChange($event)"
      (deletedProjectPeriod)="onDeleteProjectPeriod($event)"
      (projectPeriodCreatedUpdated)="createUpdateProjectPeriod($event)"
    ></app-project-period-modal>
  </p-dialog>
</div>

<app-occ-error-modal
  *ngIf="showOCCErrorModalProjectPeriod"
  [errorType]="occErrorType"
  [reloadCurrentPage]="true"
  (onClose)="showOCCErrorModalProjectPeriod = false">
</app-occ-error-modal>
