@use 'variables' as *;

:host ::ng-deep .account-year {
  width: 35% !important;
  margin-left: 75px;
}

:host ::ng-deep .search-box-project {
  width: 35% !important;
  margin: 15px !important;
}

.account-year {
  margin-bottom: 30px;
}