<ng-container *ngIf="isCreateMode; else deleteTemplate">
  <form [formGroup]="employmentContractForm">
    <div class="create-employee-contract-form mt-4">
      <div class="contract_input">
        <label for="startDate">{{ 'EMPLOYEE-CONTRACTS.FORM.START_DATE' | translate }}</label>
        <div class="input-message">
          <p-datepicker #datePicker [showOnFocus]="false" inputId="startDate" 
            formControlName="startDate" [showIcon]="true" [showClear]="true" dateFormat="dd.mm.yy" 
            [ngClass]="{'ng-invalid ng-dirty': employmentContractForm.get('startDate')?.errors?.['required'] && (employmentContractForm.get('startDate')?.dirty || employmentContractForm.get('startDate')?.touched) || startDateContractAlreadyExists}">
          </p-datepicker>
          <p-message severity="error" [showTransitionOptions]="'0ms'" variant="simple" size="small" *ngIf="employmentContractForm.get('startDate')?.errors?.['required'] && (employmentContractForm.get('startDate')?.dirty || employmentContractForm.get('startDate')?.touched) || startDateContractAlreadyExists">
            {{ startDateContractAlreadyExists ? ('EMPLOYEE-CONTRACTS.LABEL.START_DATE_ALREADY_EXISTS' | translate) : ('ERROR.FIELD_REQUIRED' | translate) }}
          </p-message>
        </div>
      </div>

      <div class="contract_input">
        <label for="salaryPerMonth">{{ 'EMPLOYEE-CONTRACTS.FORM.SALARY_PER_MONTH' | translate }}</label>
        <div class="input-message">
          <p-inputnumber mode="decimal" [min]="0" [useGrouping]="true" [inputStyle]="{'text-align': 'right'}"
            [minFractionDigits]="2" [maxFractionDigits]="2" locale="de-DE" inputId="salaryPerMonth" 
            formControlName="salaryPerMonth" autocomplete="off" invalid="employmentContractForm.get('salaryPerMonth')?.invalid
            && employmentContractForm.get('salaryPerMonth')?.dirty
            || employmentContractForm.get('salaryPerMonth')?.touched"/>
          <p-message severity="error" [showTransitionOptions]="'0ms'" variant="simple" size="small" *ngIf="
            employmentContractForm.get('salaryPerMonth')?.invalid && 
            employmentContractForm.get('salaryPerMonth')?.dirty
            ">
            {{ 'ERROR.NUMBER_MAX_CUSTOM' | translate:{ value: '99.999.999,99'} }}</p-message>
        </div>
      </div>

      <div class="contract_input">
        <label for="hoursPerWeek">{{ 'EMPLOYEE-CONTRACTS.FORM.WEEKLY_HOURS' | translate }}</label>
        <div class="input-message">
          <p-inputnumber mode="decimal" [min]="0" [useGrouping]="true" [inputStyle]="{'text-align': 'right'}"
            [minFractionDigits]="2" [maxFractionDigits]="2" locale="de-DE" inputId="hoursPerWeek" 
            formControlName="hoursPerWeek" autocomplete="off" invalid="employmentContractForm.get('hoursPerWeek')?.invalid
            && employmentContractForm.get('hoursPerWeek')?.dirty
            || employmentContractForm.get('hoursPerWeek')?.touched" />
          <p-message severity="error" [showTransitionOptions]="'0ms'" variant="simple" size="small" *ngIf="employmentContractForm.get('hoursPerWeek')?.invalid && employmentContractForm.get('hoursPerWeek')?.dirty">
            {{ 'ERROR.NUMBER_MAX_CUSTOM' | translate:{ value: "168" } }}
          </p-message>
        </div>
      </div>

      <div class="contract_input">
        <label for="workShortTime">{{ 'EMPLOYEE-CONTRACTS.FORM.WORK_SHORT_TIME' | translate }}</label>
        <div class="input-message">
          <p-inputnumber mode="decimal" [min]="0" [useGrouping]="true" [inputStyle]="{'text-align': 'right'}"
            [minFractionDigits]="2" [maxFractionDigits]="2" locale="de-DE" inputId="workShortTime" formControlName="workShortTime" autocomplete="off" invalid="
           employmentContractForm.get('workShortTime')?.invalid  
            && employmentContractForm.get('workShortTime')?.dirty 
            || employmentContractForm.get('workShortTime')?.touched"/>
          <p-message severity="error" [showTransitionOptions]="'0ms'" variant="simple" size="small" *ngIf="
            employmentContractForm.get('workShortTime')?.invalid && 
            employmentContractForm.get('workShortTime')?.dirty">
            {{ 'ERROR.NUMBER_MAX_CUSTOM' | translate:{ value: '100'} }}</p-message>
        </div>
      </div>

      <div class="contract_input">
        <label for="specialPayment">{{ 'EMPLOYEE-CONTRACTS.FORM.SPECIAL_PAYMENT' | translate }}</label>
        <div class="input-message">
          <p-inputnumber mode="decimal" [min]="0" [useGrouping]="true" [inputStyle]="{'text-align': 'right'}"
            [minFractionDigits]="2" [maxFractionDigits]="2" locale="de-DE" inputId="specialPayment" 
            formControlName="specialPayment" autocomplete="off" invalid="employmentContractForm.get('specialPayment')?.invalid
            && employmentContractForm.get('specialPayment')?.dirty
            || employmentContractForm.get('specialPayment')?.touched"/>
          <p-message severity="error" [showTransitionOptions]="'0ms'" variant="simple" size="small" *ngIf="
            employmentContractForm.get('specialPayment')?.invalid && 
            employmentContractForm.get('specialPayment')?.dirty
            ">
            {{ 'ERROR.NUMBER_MAX_CUSTOM' | translate:{ value: '99.999.999,99'} }}</p-message>
        </div>
      </div>

      <div class="contract_input">
        <label for="maxHoursPerMonth">{{ 'EMPLOYEE-CONTRACTS.FORM.MAX_HOURS_PER_MONTH' | translate }}</label>
        <div class="input-message">
          <p-inputnumber mode="decimal" [min]="0" [useGrouping]="true" [inputStyle]="{'text-align': 'right'}" readonly [disabled]="true"
            [minFractionDigits]="2" [maxFractionDigits]="2" locale="de-DE" inputId="maxHoursPerMonth" 
            formControlName="maxHoursPerMonth" autocomplete="off" invalid="employmentContractForm.get('maxHoursPerMonth')?.invalid
            && employmentContractForm.get('maxHoursPerMonth')?.dirty
            || employmentContractForm.get('maxHoursPerMonth')?.touched"/>
          <p-message severity="error" variant="simple" size="small" *ngIf="
            employmentContractForm.get('maxHoursPerMonth')?.invalid && 
            employmentContractForm.get('maxHoursPerMonth')?.dirty
            ">
            {{ 'ERROR.NUMBER_MAX_CUSTOM' | translate:{ value: '999,99'} }}</p-message>
        </div>
      </div>

      <div class="contract_input">
        <label for="maxHoursPerDay">{{ 'EMPLOYEE-CONTRACTS.FORM.MAX_HOURS_PER_DAY' | translate }}</label>
        <div class="input-message">
          <p-inputnumber mode="decimal" [min]="0" [useGrouping]="true" [inputStyle]="{'text-align': 'right'}" readonly [disabled]="true"
            [minFractionDigits]="2" [maxFractionDigits]="2" locale="de-DE" inputId="maxHoursPerDay" formControlName="maxHoursPerDay" autocomplete="off" [ngClass]="{
          'ng-invalid': employmentContractForm.get('maxHoursPerDay')?.invalid 
            && employmentContractForm.get('maxHoursPerDay')?.dirty 
            && employmentContractForm.get('maxHoursPerDay')?.touched}"/>
          <p-message severity="error" variant="simple" size="small" *ngIf="
            employmentContractForm.get('maxHoursPerDay')?.invalid && 
            employmentContractForm.get('maxHoursPerDay')?.dirty
            ">
            {{ 'ERROR.NUMBER_FORMAT_ERROR' | translate }}</p-message>
        </div>
      </div>

      <div class="contract_input">
        <label for="hourlyRate">{{ 'EMPLOYEE-CONTRACTS.FORM.HOURLY_RATE' | translate }}</label>
        <div class="input-message">
          <p-inputnumber mode="decimal" [min]="0" [useGrouping]="true" [inputStyle]="{'text-align': 'right'}" readonly [disabled]="true"
            [minFractionDigits]="2" [maxFractionDigits]="2" locale="de-DE" inputId="hourlyRate" 
            formControlName="hourlyRate" autocomplete="off"/>
        </div>
      </div>

      <div class="contract_input">
        <label for="hourlyRealRate">{{ 'EMPLOYEE-CONTRACTS.FORM.HOURLY_REAL_RATE' | translate }}</label>
        <div class="input-message">
          <p-inputnumber mode="decimal" [max]="100" [min]="0" [useGrouping]="true" [inputStyle]="{'text-align': 'right'}" readonly [disabled]="true"
            [minFractionDigits]="2" [maxFractionDigits]="2" locale="de-DE" inputId="hourlyRealRate" 
            formControlName="hourlyRealRate" autocomplete="off" invalid="
           employmentContractForm.get('hourlyRealRate')?.invalid  
            && employmentContractForm.get('hourlyRealRate')?.dirty 
            || employmentContractForm.get('hourlyRealRate')?.touched" />
          <p-message severity="error" [showTransitionOptions]="'0ms'" variant="simple" size="small" *ngIf="
            employmentContractForm.get('hourlyRealRate')?.invalid && 
            employmentContractForm.get('hourlyRealRate')?.dirty
            ">
            {{ 'ERROR.NUMBER_MAX' | translate }}</p-message>
        </div>
      </div>

    </div>
    <div class="flex justify-content-center gap-4 mt-4">
      <p-button class="save" type="submit" (onClick)="onSubmit()" [loading]="isLoading" [disabled]="employmentContractForm.invalid || !employmentContractForm.dirty" 
        size="small" [label]="'BUTTONS.SAVE' | translate" icon="pi pi-check" iconPos="left" />
      @if(employmentContract) {
        <p-button type="button" class="delete" size="small" [label]="'BUTTONS.DELETE' | translate" icon="pi pi-trash"
        iconPos="left" severity="danger" [disabled]="isLoading" (onClick)="this.visibleEmployeeContractEntityModal = true;" />
      }  
      <p-button class="cancel" size="small" [label]="'BUTTONS.CANCEL' | translate" icon="pi pi-times" iconPos="left"
        (onClick)="closeModal()" [disabled]="isLoading" />
    </div>
  </form>
</ng-container>
<ng-template #deleteTemplate>
  <div class="confirmation-content mb-2 mt-4">
    <p class="mb-4">
      {{ 'EMPLOYEE-CONTRACTS.LABEL.REMOVE_EMPLOYEE_CONTRACT_QUESTION' | translate }}?
    </p>

    <div class="flex justify-content-center gap-2">
      <p-button type="button" class="delete" size="small" [label]="'BUTTONS.DELETE' | translate" icon="pi pi-trash"
        iconPos="left" severity="danger" [loading]="isLoadingDelete" (onClick)="removeEmploymentContract()" />

      <p-button type="button" class="cancel" size="small" [label]="'BUTTONS.CANCEL' | translate" icon="pi pi-times"
        iconPos="left" (onClick)="closeModal()" [disabled]="isLoadingDelete" />
    </div>
  </div>
</ng-template>
<p-dialog [header]="('EMPLOYEE-CONTRACTS.LABEL.DELETE_EMPLOYEE_CONTRACT' | translate)" [modal]="true" [(visible)]="visibleEmployeeContractEntityModal">
  <div class="confirmation-content mb-2 mt-4 employee-contract-modal">
    <p class="mb-4 employee-contract-modal-title">
      {{ 'EMPLOYEE-CONTRACTS.LABEL.REMOVE_EMPLOYEE_CONTRACT_QUESTION' | translate }}?
    </p>

    <div class="flex justify-content-center gap-2 employee-contract-modal-buttons">
      <p-button type="button" class="delete" size="small" [label]="'BUTTONS.DELETE' | translate" icon="pi pi-trash"
        iconPos="left" severity="danger" [loading]="isLoadingDelete" (onClick)="removeEmploymentContract()" />

      <p-button type="button" class="cancel" size="small" [label]="'BUTTONS.CANCEL' | translate" icon="pi pi-times"
        iconPos="left" (onClick)="this.visibleEmployeeContractEntityModal = false;" [disabled]="isLoadingDelete" />
    </div>
  </div>
</p-dialog>

<app-occ-error-modal 
  *ngIf="showOCCErrorModalContract" 
  [errorType]="occErrorType"
  [redirectRoute]="redirectRoute"
  [reloadCurrentPage]="true"
  (onClose)="showOCCErrorModalContract = false">
</app-occ-error-modal>