@use "variables" as *;

.sidebar {
  width: 200px;
  background: $primary-dark;
  transition: width 0.3s ease;
  position: relative;
  overflow: hidden;
  height: 100%;

  &.collapsed {
    width: 70px;
    transition: width 0.4s ease-in-out;
    .menu-item-text {
      display: none;
    }

    .p-menuitem-link {
      justify-content: center;
      margin: 4px 0;
    }

    .menu-items a {
      justify-content: center;

      i {
        font-size: 1.6rem;
        margin: 0;
      }
    }

    .sidebar-content {
      padding: 0rem 0.8rem;
      align-items: center;
      transition: width 0.4s ease-in-out;
    }

    .collapse-button {
      right: 10px;
      transform: rotate(180deg);
    }
  }

  .menu-items,
  .collapse-button {
    cursor: pointer;
  }

  .sidebar-content {
    position: relative;
    height: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem 1.3rem;
    gap: 5rem;
    overflow-y: auto;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .sidebar-content::before,
  .sidebar-content::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background: rgba(255, 255, 255, 0.1);
    margin: 0.5rem 0;
  }

  .menu-items {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0.85rem 1.2rem;

    font-size: 0.94rem;
    border-radius: 8px;
    transition: background 0.3s ease, box-shadow 0.3s ease, transform 0.2s ease;

    &:hover {
      background-color: #30465d;
      transform: scale(1.02) scaleX(1.02);
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
      padding-left: 0.95rem;
    }

    &.active {
      background-color: $primary-color;
      border: 1px solid rgba(255, 255, 255, 0.1);
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1),
        0 4px 12px rgba(0, 0, 0, 0.2), 0 0 10px rgba(60, 83, 114, 0.4);
      transform: scaleX(1.02);
      padding-left: 1rem;

      a {
        font-weight: 700;
      }
    }

    a {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      color: $primary-light;
      font-weight: 600;
      text-decoration: none;
      transition: all 0.3s ease;

      .pi {
        font-size: 1.2rem !important;
        margin-right: 0.5rem;
      }

      .menu-item-text {
        white-space: nowrap;
        flex-grow: 1;
        transition: text-shadow 0.3s ease;
      }

      .arrow-icon {
        font-size: 1rem;
        color: $primary-light;
        opacity: 0.6;
        transition: transform 0.2s ease, opacity 0.2s ease;
      }

      &:hover .arrow-icon {
        transform: translateX(4px);
        opacity: 1;
      }
    }
  }

  .collapse-button {
    position: absolute;
    bottom: 20px;
    border: none;
    background: none;
    appearance: none;
    right: 15px;
    width: 50px;
    height: 50px;
    background-color: $primary-color;
    color: white;
    border-radius: 50%;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    z-index: 999;

    &:hover {
      background-color: $primary-color;
      box-shadow: 0 0 12px rgba(255, 255, 255, 0.2),
        0 6px 14px rgba(0, 0, 0, 0.4);
      transform: scale(1.15);
    }

    &.rotate {
      transform: rotate(180deg);
    }

    ::ng-deep .pi {
      font-size: 1.2rem;
      transition: transform 0.4s ease-in-out;
    }
  }
}
