<ng-container *ngIf="isCreateMode; else deleteTemplate">
  <form [formGroup]="costTypeForm" (ngSubmit)="onSubmit()">
    <div class="create-form my-4">
      <div class="cost-form">
        <label for="type">{{ "COSTS.LABEL.NAME" | translate }}</label>
        <input #firstInput
          pInputText
          type="text"
          id="type"
          formControlName="type"
          autocomplete="off"
        />
      </div>

      <div class="cost-form">
        <label for="sequenceNo">{{ "COSTS.LABEL.SORT" | translate }}</label>
        <p-inputnumber [useGrouping]="true" locale="de-DE"
          inputId="sequenceNo" [inputStyle]="{'text-align': 'right'}"
          formControlName="sequenceNo"
          autocomplete="off"
        />
      </div>

    </div>

    <div class="flex justify-content-center gap-2 mt-4">
        <p-button type="submit" class="save" size="small" [label]="'BUTTONS.SAVE' | translate"
            icon="pi pi-check" iconPos="left" [loading]="isLoading"
            [disabled]="costTypeForm.invalid || isLoading || !costTypeForm.dirty"/>

        <p-button type="button" class="cancel" size="small" [label]="'BUTTONS.CANCEL' | translate"
            icon="pi pi-times" iconPos="left" (onClick)="closeModal()" [disabled]="isLoading" />
    </div>
  </form>
</ng-container>

<ng-template #deleteTemplate>
  <div class="confirmation-content mb-2 mt-4">
    <p class="mb-4" [innerHTML]="'DIALOG.DELETE' | translate:{ value: selectedCostType?.type }"></p>

    <div class="flex justify-content-center gap-2">
      <p-button type="button" class="delete" size="small" [label]="'BUTTONS.DELETE' | translate"
        icon="pi pi-trash" iconPos="left" (onClick)="onDeleteCostTypeConfirm()" severity="danger" [loading]="isLoading"
        [disabled]="isLoading" />

      <p-button type="button" class="cancel" size="small" [label]="'BUTTONS.CANCEL' | translate"
        icon="pi pi-times" iconPos="left" (onClick)="closeModal()" [disabled]="isLoading" />

    </div>
  </div>
</ng-template>
<app-occ-error-modal
  *ngIf="showOCCErrorModalCost"
  [errorType]="occErrorType"
  [reloadCurrentPage]="true"
  (close)="showOCCErrorModalCost = false">
</app-occ-error-modal>