@use 'variables' as *;

.iws-employeeInput{
    width: 100% !important;

    label {
        width: 33%;
    }

}

//Styles table head
//Styles table head
.thead {
    background: $primary-color;
    color: #fff;
    min-width: 6.25rem; //=100px

    &:hover {
        background: #abcbeb;
        color: #1E293B
    }
}

.thead-bg-blue {
    background: $primary-color;
}

.thead-input-id {
    width: 4.4rem; //=70px
}

.thead-input-width {
    width: 100%;
}