<p-card [style]="{ background: 'var(--light-cyan)' }">
  <ng-template #title>{{ 'SUB-CONTRACTS.DEPRECIATION_COLUMNS.TABLE_NAME' | translate }}</ng-template>

  <master-data-genaral-table
    [tableId]="tableKey"
    [tableValues]="subcontractsYear"
    [columns]="depreciationColumns"
    [userPreferences]="userDepreciationPreferences"
    [dataKeys]="dataKeys"
    (onColumnChanges)="onUserDepreciationPreferencesChanges($event)"
    (onCreateRegister)="showModal('new')"
    (onEditRegister)="showModal('edit', $event.id)"
    (onDeleteRegister)="showModal('delete', $event)"
  ></master-data-genaral-table>
</p-card>

<div class="card">
  <p-dialog
    [header]="modalType === 'delete' ?  ('SUB-CONTRACTS.LABEL.DELETE_SUBCONTRACT_YEAR' | translate)  : 'SUB-CONTRACTS.DEPRECIATION_COLUMNS.MODAL_TITLE_' + modalType.toUpperCase() | translate"
    (onHide)="closeModal()"
    [modal]="true"
    [(visible)]="visibleModal"
    [style]="{ width: '30rem' }"
  >
    <ng-container *ngIf="modalType !== 'delete'; else deleteTemplate">
      <hr class="mt-0" />
      <form [formGroup]="depreciationForm" (ngSubmit)="onSubmit()">
        <div class="form-item-container flex gap-4 mb-3">
          <label for="year" class="label-modal">{{ 'SUB-CONTRACTS.DEPRECIATION_COLUMNS.YEAR' | translate }}</label>
          <p-datepicker 
            formControlName="year"
            inputId="year"
            view="year"
            dateFormat="yy"
            appendTo="body"
            showIcon
            showClear
          />
        </div>
        <div class="form-item-container flex gap-4 mb-3">
          <label for="months" class="label-modal">{{ 'SUB-CONTRACTS.DEPRECIATION_COLUMNS.SERVICE_LIFE' | translate }} %</label>
          <input
            pInputText
            id="months"
            formControlName="months"
            autocomplete="off"
          />
        </div>
        <div class="form-item-container flex gap-4 mb-3">
          <label for="depreciationAmount" class="label-modal">{{ 'SUB-CONTRACTS.DEPRECIATION_COLUMNS.AFA_BY_YEAR' | translate }}</label>
          <p-inputnumber
            inputId="depreciationAmount"
            formControlName="depreciationAmount"
            autocomplete="off"
            [minFractionDigits]="2"
            [maxFractionDigits]="2"
            [disabled]="true"
            readonly
          />
        </div>
        <div class="flex justify-content-center gap-2">
          <p-button
            [label]="'BUTTONS.SAVE' | translate"
            icon="pi pi-check"
            iconPos="left"
            size="small"
            type="submit"
            [loading]="isLoading"
            [disabled]="isLoading"
          ></p-button>
  
          <p-button
            [label]="'BUTTONS.CANCEL' | translate"
            class="cancel"
            icon="pi pi-times"
            iconPos="left"
            size="small"
            (click)="closeModal()"
            (keydown.enter)="closeModal()"
          ></p-button>
        </div>
      </form>
    </ng-container>
    <ng-template #deleteTemplate>
      <div class="confirmation-content mb-2 mt-4">
        <p class="mb-4">
          {{ 'SUB-CONTRACTS.LABEL.REMOVE_SUBCONTRACT_YEAR_QUESTION' | translate }}
          <strong class="stronglock mt-1">"{{ selectedSubcontractYear?.year }} "</strong>?
        </p>
    
        <div class="flex justify-content-center gap-2">
          <p-button type="button" class="delete" size="small" [label]="'BUTTONS.DELETE' | translate" icon="pi pi-trash"
            iconPos="left" severity="danger" [loading]="isLoading" [disabled]="isLoading" (onClick)="removeSubcontractYear()" />
    
          <p-button type="button" class="cancel" size="small" [label]="'BUTTONS.CANCEL' | translate" icon="pi pi-times"
            iconPos="left" (onClick)="closeModal()" />
        </div>
      </div>
    </ng-template>
    
  </p-dialog>
</div>
