<p-card [style]="{ background: 'var(--light-cyan)' }">
  <ng-template #title>{{ 'SUB-CONTRACTS.DEPRECIATION_COLUMNS.TABLE_NAME' | translate }}</ng-template>

  <master-data-genaral-table [tableId]="tableKey" [tableValues]="subcontractsYear" [columns]="depreciationColumns"
    [userPreferences]="userDepreciationPreferences" [dataKeys]="dataKeys"
    (onColumnChanges)="onUserDepreciationPreferencesChanges($event)" (onCreateRegister)="showModal('new')"
    (onEditRegister)="showModal('edit', $event.id)"
    (onDeleteRegister)="showModal('delete', $event)"></master-data-genaral-table>
</p-card>

<div class="card">
  <p-dialog
    [header]="modalType === 'delete' ?  ('SUB-CONTRACTS.LABEL.DELETE_SUBCONTRACT_YEAR' | translate)  : 'SUB-CONTRACTS.DEPRECIATION_COLUMNS.MODAL_TITLE_' + modalType.toUpperCase() | translate"
    (onHide)="closeModal()" [modal]="true" [(visible)]="visibleModal" [style]="{ width: 'auto' }">
    <ng-container *ngIf="modalType !== 'delete'; else deleteTemplate">
      <hr class="mt-0" />
      <form [formGroup]="depreciationForm" (ngSubmit)="onSubmit()">
        <div class="form-item-container flex gap-4 mb-3">
          <label for="year" class="label-modal">{{ 'SUB-CONTRACTS.DEPRECIATION_COLUMNS.YEAR' | translate }}</label>
          <p-datepicker #datePicker formControlName="year" inputId="year" view="year" dateFormat="yy" appendTo="body"
            showIcon showClear />
        </div>
        <div class="form-item-container flex gap-4 mb-3">
          <label for="months" class="label-modal">{{ 'SUB-CONTRACTS.FORM_COMMISSION.DURATION_OF_USE' | translate
            }}</label>
          <div class="input-message">
            <p-inputnumber [inputStyle]="{'text-align': 'right'}" inputId="months" [min]="0"
              [useGrouping]="true" formControlName="months" autocomplete="off" invalid="
              depreciationForm.get('months')?.invalid  
              && depreciationForm.get('months')?.dirty 
              || depreciationForm.get('months')?.touched" />
            <p-message severity="error" [showTransitionOptions]="'0ms'" variant="simple" size="small" *ngIf="
              depreciationForm.get('months')?.invalid && 
              depreciationForm.get('months')?.dirty
            ">{{ 'ERROR.NUMBER_MAX_12' | translate }}</p-message>
          </div>
        </div>
        <div class="form-item-container flex gap-4 mb-3">
          <label for="depreciationAmount" class="label-modal">{{ 'SUB-CONTRACTS.DEPRECIATION_COLUMNS.AFA_BY_YEAR' |
            translate }}</label>
          <p-inputnumber inputId="depreciationAmount" formControlName="depreciationAmount" autocomplete="off"
            mode="decimal" [max]="99999.99" [min]="0" locale="de-DE" [inputStyle]="{'text-align': 'right'}"
            [minFractionDigits]="2" [maxFractionDigits]="2" [useGrouping]="true" [disabled]="true" readonly />
        </div>
        <div class="flex justify-content-center gap-2">
          <p-button [label]="'BUTTONS.SAVE' | translate" icon="pi pi-check" iconPos="left" size="small" type="submit"
            [loading]="isLoading" [disabled]="depreciationForm.invalid || !depreciationForm.dirty"></p-button>
          @if(selectedSubcontractYear) {
          <p-button type="button" class="delete" size="small" [label]="'BUTTONS.DELETE' | translate" icon="pi pi-trash"
            iconPos="left" severity="danger" [disabled]="isLoading"
            (onClick)="visibleSubcontractYearModal = true;" />
          }
          <p-button [label]="'BUTTONS.CANCEL' | translate" class="cancel" icon="pi pi-times" iconPos="left" size="small"
            (onClick)="closeModal()" [disabled]="isLoading" ></p-button>
        </div>
      </form>
    </ng-container>
    <ng-template #deleteTemplate>
      <div class="confirmation-content mb-2 mt-4">
        <p class="mb-4" [innerHTML]="'DIALOG.DELETE' | translate:{ value: selectedSubcontractYear?.year | date:'yyyy' }"></p>

        <div class="flex justify-content-center gap-2">
          <p-button type="button" class="delete" size="small" [label]="'BUTTONS.DELETE' | translate" icon="pi pi-trash"
            iconPos="left" severity="danger" [loading]="isLoadingDelete"
            (onClick)="removeSubcontractYear()" />

          <p-button type="button" class="cancel" size="small" [label]="'BUTTONS.CANCEL' | translate" icon="pi pi-times"
            iconPos="left" (onClick)="closeModal()" [disabled]="isLoadingDelete" />
        </div>
      </div>
    </ng-template>
  </p-dialog>
</div>

<p-dialog [header]="'SUB-CONTRACTS.LABEL.DELETE_SUBCONTRACT_YEAR' | translate" [modal]="true"
  [(visible)]="visibleSubcontractYearModal" [style]="{ width: 'auto' }">
  <div class="confirmation-content mb-2 mt-4">
    <p class="mb-4" [innerHTML]="'DIALOG.DELETE' | translate:{ value: selectedSubcontractYear?.year | date:'yyyy' }"></p>

    <div class="flex justify-content-center gap-2">
      <p-button type="button" class="delete" size="small" [label]="'BUTTONS.DELETE' | translate" icon="pi pi-trash"
        iconPos="left" severity="danger" [loading]="isLoadingDelete"
        (onClick)="removeSubcontractYear()" />

      <p-button type="button" class="cancel" size="small" [label]="'BUTTONS.CANCEL' | translate" icon="pi pi-times"
        iconPos="left" (onClick)="visibleSubcontractYearModal = false;" [disabled]="isLoadingDelete" />
    </div>
  </div>
</p-dialog>

<app-occ-error-modal 
  *ngIf="showOCCErrorModalSubcontractYear" 
  [errorType]="occErrorType" 
  [reloadCurrentPage]="true"
  (close)="showOCCErrorModalSubcontractYear = false">
</app-occ-error-modal>