<p-card [style]="{ background: 'var(--light-cyan)' }">
  <ng-template #title>{{ 'SUB-CONTRACTS.DEPRECIATION_COLUMNS.TABLE_NAME' | translate }}</ng-template>

  <master-data-genaral-table
    [tableId]="tableKey"
    [tableValues]="depreciationEntries"
    [columns]="depreciationColumns"
    [userPreferences]="userDepreciationPreferences"
    [dataKeys]="dataKeys"
    removeKey="year"
    (onColumnChanges)="onUserDepreciationPreferencesChanges($event)"
    (onCreateRegister)="showModal(option.new)"
    (onEditRegister)="showModal(option.edit, $event.year)"
    (onDeleteRegister)="deleteDepreciation($event)"
  ></master-data-genaral-table>
</p-card>

<div class="card">
  <p-dialog
    [header]="'SUB-CONTRACTS.DEPRECIATION_COLUMNS.MODAL_TITLE_' + optionSelected.toUpperCase() | translate"
    (onHide)="closeModal()"
    [modal]="true"
    [(visible)]="visibleModal"
    [style]="{ width: '40rem' }"
  >
    <hr class="mt-0" />
    <form [formGroup]="depreciationForm" (ngSubmit)="saveDepreciation()">
      <div class="flex gap-4 mb-3">
        <label for="year" class="w-3">{{ 'SUB-CONTRACTS.DEPRECIATION_COLUMNS.YEAR' | translate }}</label>
        <input
          pInputText
          id="year"
          class="flex-auto"
          formControlName="year"
          autocomplete="off"
        />
      </div>
      <div class="flex gap-4 mb-3">
        <label for="usagePercentage" class="w-3">{{ 'SUB-CONTRACTS.DEPRECIATION_COLUMNS.SERVICE_LIFE' | translate }} %</label>
        <input
          pInputText
          id="usagePercentage"
          class="flex-auto"
          formControlName="usagePercentage"
          autocomplete="off"
        />
      </div>
      <div class="flex gap-4 mb-3">
        <label for="depreciationAmount" class="w-3">{{ 'SUB-CONTRACTS.DEPRECIATION_COLUMNS.AFA_BY_YEAR' | translate }}</label>
        <input
          pInputText
          id="depreciationAmount"
          class="flex-auto"
          formControlName="depreciationAmount"
          autocomplete="off"
        />
      </div>
      <div class="flex justify-content-center gap-2">
        <p-button
          [label]="'BUTTONS.SAVE' | translate"
          (click)="saveDepreciation()"
          (keydown.enter)="saveDepreciation()"
        ></p-button>

        <p-button
          [label]="'BUTTONS.CANCEL' | translate"
          class="cancel"
          icon="pi pi-times"
          (click)="closeModal()"
          (keydown.enter)="closeModal()"
        ></p-button>
      </div>
    </form>
  </p-dialog>
</div>
