@use 'variables' as *;

.label-modal {
  display: flex;
  align-items: center;
  width: 120px;
  flex-shrink: 0;
}

::ng-deep .form-item-container p-inputnumber {
  width: auto;
}

::ng-deep .form-item-container .p-datepicker{
  width: 20vw !important;
}

::ng-deep .p-datepicker-panel {
  button.p-ripple.p-button.p-component{
    background-color: initial !important;
    border: none;
    color: $primary-color;

    &:hover{
      background-color: $accent-color !important;
    }
  }

  .p-datepicker-year-selected{
    background: $primary-color !important;
  }
}