<form [formGroup]="subcontractForm" (ngSubmit)="onSubmit()">
  <div class="align-items-center mb-2">

    <div class="order_input order_name mb-2">
      <label for="contractTitle">{{ 'SUB-CONTRACTS.FORM.ORDER_TITLE' | translate }}</label>
      <input
        pInputText
        type="text"
        id="contractTitle"
        formControlName="contractTitle"
        autocomplete="off"
      />
    </div>

    <div class="order_input order_name mb-2">
      <label for="contractor">{{ 'SUB-CONTRACTS.FORM.CONTRACTOR' | translate }}</label>
      <p-select
        [style]="{ width: '20vw' }"
        inputId="contractor"
        [options]="contractorsName()"
        formControlName="contractor"
        optionLabel="name"
        optionValue="id"
        showClear
      ></p-select>
    </div>
    <div class="order_input order_name mb-2">
      <label for="invoiceNumber">{{ 'SUB-CONTRACTS.FORM.INVOICE_NUMBER' | translate }}</label>
      <input
        pInputText
        type="text"
        id="invoiceNumber"
        formControlName="invoiceNumber"
        autocomplete="off"
      />
    </div>

    <div class="order_input order_name mb-2">
      <label for="invoiceDate">{{ 'SUB-CONTRACTS.FORM.INVOICE_DATE' | translate }}</label>
      <p-datepicker
        inputId="invoiceDate"
        [showIcon]="true"
        [showClear]="true"
        formControlName="invoiceDate"
        dateFormat="dd.mm.yy"
      ></p-datepicker>
    </div>

    <div class="order_input order_name mb-2">
      <label for="netOrGross">{{ 'SUB-CONTRACTS.FORM.INVOICE_NET_OR_GROSS' | translate }}</label>
      <p-select
        [style]="{ width: '20vw' }"
        inputId="netOrGross"
        [options]="optionsNetOrGross"
        formControlName="netOrGross"
        optionLabel="label"
        optionValue="value"
      ></p-select>
    </div>

    <!-- Monto -->
    <div class="order_input order_name mb-2">
      <label for="invoiceAmount">{{ 'SUB-CONTRACTS.FORM.INVOICE_AMOUNT' | translate }}</label>
      <p-inputNumber class="p-inputnumber-input" size="large" id="invoiceAmount" formControlName="invoiceAmount" mode="decimal" [max]="99999.99" [min]="0" [useGrouping]="false" [minFractionDigits]="2" [maxFractionDigits]="2" locale="de-DE"/>
    </div>

    <div class="order_input order_name mb-2">
      <label for="afa">{{ 'SUB-CONTRACTS.FORM.IS_AFA' | translate }}</label>
      <p-checkbox
        inputId="afa"
        formControlName="afa"
        binary="true"
      ></p-checkbox>
    </div>

    <div class="order_input order_name mb-2">
      <label for="afaDurationMonths">{{ 'SUB-CONTRACTS.FORM.AFA_MONTHS' | translate }}</label>
      <input
        id="afaDurationMonths"
        type="number"
        pInputText
        formControlName="afaDurationMonths"
      />
    </div>

    <!-- Descripción -->
    <div class="order_input order_name mb-2 flex">
      <label for="description">{{ 'SUB-CONTRACTS.FORM.DESCRIPTION' | translate }}</label>
      <textarea
        id="description"
        pTextarea
        rows="6"
        formControlName="description"
        style="resize: none; width: 20vw;"
      ></textarea>
    </div>
  </div>
</form>
<app-occ-error-modal *ngIf="showOCCErrorModalSubcontract" (onClose)="showOCCErrorModalSubcontract = false">
</app-occ-error-modal>
