<p-card
  [style]="{ background: 'var(--light-cyan)' }"
  [header]="'IWS_COMMISSIONS.FORM.HEADER' | translate"
>
  <form [formGroup]="editCommissionForm" (ngSubmit)="onSubmit()">
    <div class="align-items-center mb-2">
      <div class="commission-form mb-2">
        <label for="threshold">{{
          "IWS_COMMISSIONS.FORM.THRESHOLD" | translate
        }}</label>
        <input
          pInputText
          type="number"
          id="threshold"
          formControlName="threshold"
          autocomplete="off"
        />
      </div>

      <div class="commission-form mb-2">
        <label for="percentage">{{
          "IWS_COMMISSIONS.FORM.PERCENTAGE" | translate
        }}</label>
        <input
          pInputText
          type="number"
          id="percentage"
          formControlName="percentage"
          autocomplete="off"
        />
      </div>

      <div class="commission-form mb-2">
        <label for="minCommission">{{
          "IWS_COMMISSIONS.FORM.MIN_COMMISSION" | translate
        }}</label>
        <input
          pInputText
          type="number"
          id="minCommission"
          formControlName="minCommission"
          autocomplete="off"
        />
      </div>

      <div class="flex justify-content-center gap-2 mt-4">
        <p-button
          size="small"
          [label]="'BUTTONS.SAVE' | translate"
          icon="pi pi-check"
          iconPos="left"
          type="submit"
        ></p-button>
        <p-button
          class="cancel"
          size="small"
          [label]="'BUTTONS.CANCEL' | translate"
          icon="pi pi-times"
          iconPos="left"
          (click)="cancelEdit()"
          (keydown)="cancelEdit()"
        ></p-button>
      </div>
    </div>
  </form>
</p-card>
<app-occ-error-modal
    *ngIf="showOCCErrorModaEmployeeIws"
    [useEmitter]="true"
    (close)="showOCCErrorModaEmployeeIws = false"
    (refresh)="onRefresh()">
</app-occ-error-modal>
<p-toast></p-toast>
