::ng-deep .p-inputtext, p-inputnumber {
  width: 20vw;
}

.order_input{
  width: 100% !important;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;

  label {
    width: 33%;
    flex-shrink: 0;
  }


}

/* Estilo del calendario */
::ng-deep .order_input .p-datepicker {
    width: 20vw;
    min-width: 20vw;
    max-width: 20vw;
}
::ng-deep .p-datepicker table,
::ng-deep .p-datepicker .p-monthpicker,
::ng-deep .p-datepicker .p-yearpicker,
::ng-deep .p-datepicker .p-datepicker-group {
  width: 100%;
  table-layout: fixed;
}
