.user-form,
.user-form-check {
  display: flex;
  align-items: center;

  label {
    width: 150px;
    font-weight: 500;
    margin-left: 25px;
  }

  input,
  p-toggleswitch,
  ::ng-deep p-password {
    flex: 1;
    max-width: 390px;
    margin-left: 1rem;
    display: flex;
  }

  ::ng-deep p-password .p-password-input {
    flex: 1;
    width: 390px !important;
    max-width: 390px !important;
  }
}