.user-form,
.user-form-check {
  display: flex;
  align-items: center;

  label {
    width: 150px;
    font-weight: 500;
    margin-left: 25px;
  }

  input,
  p-toggleswitch {
    flex: 1;
    max-width: 390px;
    margin-left: 1rem;
    display: flex;
  } 
}
