<p-card [style]="{ background: 'var(--light-cyan)', height: '550px' }" [header]="'USERS.FORM.EDIT_TITLE' | translate">
  <form [formGroup]="editUserForm" (ngSubmit)="onSubmit()">
    <div class="align-items-center mb-2">
      <div class="user-form mb-2">
        <label for="username">{{ "USERS.FORM.USERNAME" | translate }}</label>
        <input #firstInput pInputText id="username" formControlName="username" [ngClass]="{'ng-invalid ng-dirty':editUserForm.get('username')?.invalid && 
        editUserForm.get('username')?.touched}" autocomplete="off" />
      </div>

      <div class="user-form mb-2">
        <label for="firstName">{{ "USERS.FORM.FIRSTNAME" | translate }}</label>
        <input pInputText id="firstName" formControlName="firstName" [ngClass]="{'ng-invalid ng-dirty':editUserForm.get('firstName')?.invalid && 
        editUserForm.get('firstName')?.touched}" autocomplete="off"/>
      </div>

      <div class="user-form mb-2">
        <label for="lastName">{{ "USERS.FORM.LASTNAME" | translate }}</label>
        <input pInputText id="lastName" formControlName="lastName" [ngClass]="{'ng-invalid ng-dirty':editUserForm.get('lastName')?.invalid && 
        editUserForm.get('lastName')?.touched}" autocomplete="off" />
      </div>

      <div class="user-form mb-2">
        <label for="email">{{ "USERS.FORM.EMAIL" | translate }}</label>
        <input pInputText id="email" formControlName="email" [ngClass]="{'ng-invalid ng-dirty':editUserForm.get('email')?.invalid && 
        editUserForm.get('email')?.touched}" autocomplete="off"/>
      </div>

      <div class="user-form mb-2">
        <label for="password">{{ "USERS.FORM.PASSWORD" | translate }}</label>
        <p-password #passwordContainer formControlName="password" [feedback]="true" [toggleMask]="true" [ngClass]="{'ng-invalid ng-dirty':editUserForm.get('password')?.invalid && 
        editUserForm.get('password')?.touched}" autocomplete="off" [weakLabel]="'USERS.PASSWORD_LABEL.WEAK' | translate" [mediumLabel]="'USERS.PASSWORD_LABEL.MEDIUM' | translate" 
        [strongLabel]="'USERS.PASSWORD_LABEL.STRONG' | translate" [promptLabel]="'USERS.PASSWORD_LABEL.ENTER_PASSWORD' | translate" inputId="password">
        </p-password>
      </div>
      <div class="user-form mb-2">
        <label for="active">{{ "USERS.FORM.ACTIVE" | translate }}</label>
        <p-toggleswitch formControlName="active" inputId="active">
          <ng-template #handle let-checked="checked">
            <i [ngClass]="['!text-xs', 'pi', checked ? 'pi-check' : 'pi-times']"></i>
          </ng-template>
        </p-toggleswitch>
      </div>

      <div class="col-12 grid mt-4">
        <div class="col-5">
          <label for="availableRolesListbox" class="font-semibold">
            {{ "USERS.FORM.AVAILABLE_ROLES" | translate }}
          </label>
        </div>

        <div class="col-2"></div>

        <div class="col-5">
          <label for="assignedRolesListbox" class="font-semibold">
            {{ "USERS.FORM.ASSIGNED_ROLES" | translate }}
          </label>
        </div>

        <div class="col-12">
          <p-pickList 
            [source]="availableRoless" 
            [target]="userRoles" 
            dragdrop="false" 
            [responsive]="true" 
            [showSourceFilter]="false" 
            [showTargetFilter]="false" 
            [showSourceControls]="false"
            [showTargetControls]="false"
            [metaKeySelection]="false"
            [style]="{ height: '170px' }"
            (onMoveToTarget)="onRolesChange()"
            (onMoveToSource)="onRolesChange()"
            (onMoveAllToSource)="onRolesChange()"
            (onMoveAllToTarget)="onRolesChange()"
            >
          </p-pickList>
        </div>
      </div>

      <div class="flex justify-content-center gap-2 mt-2">
        <p-button
          type="submit"
          size="small"
          [label]="'BUTTONS.SAVE' | translate"
          icon="pi pi-check"
          iconPos="left"
          [loading]="isSaving"
          [disabled]="editUserForm.invalid || !editUserForm.dirty || isSaving"
        />

        <p-button
          class="cancel"
          size="small"
          [label]="'BUTTONS.CANCEL' | translate"
          icon="pi pi-times"
          iconPos="left"
          [disabled]="isSaving"
          (onClick)="onCancel()" 
        />
      </div>
    </div>
  </form>
</p-card>
<app-occ-error-modal
    *ngIf="showOCCErrorModaUser"
    [errorType]="occErrorType"
    [reloadCurrentPage]="true"
    (close)="showOCCErrorModaUser = false">
</app-occ-error-modal>