.p-menu {
    .p-menu-close {
      background-color: #2E4053 !important; // Cambia el color del botón
      color: white !important; // Cambia el color del ícono
      border: none !important; // Elimina el borde
      border-radius: 50% !important; // Hazlo circular
      width: 2rem; // Ajusta el tamaño
      height: 2rem; // Ajusta el tamaño
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }