<form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
    <p-toolbar styleClass="mb-1">
        <ng-template #start>
            <label for="SearchCustomer">Kunde</label>
            <p-iconfield class="px-4">
                <p-inputicon styleClass="pi pi-search px-4" />
                <input pInputText type="text" placeholder="Suche nach Kunden" />
            </p-iconfield>
        </ng-template>
    </p-toolbar>
    <br>
    <div class="align-items-center mb-2">
        <div class="order_input order_id mb-2">
            <label for="orderId">Rahmenvertrag-Nr.</label>
            <input pInputText type="text" id="orderId" formControlName="orderId" autocomplete="off" />
        </div>
        <div class="order_input order_name mb-2">
            <label for="orderLabel">Rahmenvertrag</label>
            <input pInputText type="text" id="orderLabel" formControlName="orderLabel" autocomplete="off" />
        </div>
        <div class="order_input order_name mb-2">
            <label for="orderDate">Datum</label>
            <p-datepicker id="orderDate" showIcon iconDisplay="input" formControlName="orderDate" />
        </div>
        <div class="order_input order_name mb-2">
            <label for="orderTitle">Langtext</label>
            <input pInputText type="text" id="orderTitle" formControlName="orderTitle" autocomplete="off" />
        </div>
        <div class="order_input order_name mb-2"> 
            <label for="approvalDate">Unterschriftsdatum</label>
            <p-datepicker id="approvalDate" showIcon iconDisplay="input" formControlName="approvalDate" />
        </div>
        
        <div class="order_input order_name mb-2">
            <label for="contractTitle">Förderprogramm</label>
            <p-dropdown id="contractTitle" [options]="forderprogrammOptions" formControlName="contractTitle" placeholder="Förderprogramm auswählen"></p-dropdown>
        </div>
        
        <div class="order_input order_name mb-2">
            <label for="employeeiws">Vertragsstatus</label>
            <p-dropdown id="employeeiws" [options]="vertragsstatusOptions" formControlName="employeeiws" placeholder="Vertragsstatus auswählen"></p-dropdown>
        </div>
        
        <div class="order_input order_name mb-2">
            <label for="orderValue">IWS Mitarbeiter</label>
            <p-dropdown id="orderValue" [options]="iwsMitarbeiterOptions" formControlName="orderValue" placeholder="Mitarbeiter auswählen"></p-dropdown>
        </div>
        
    </div>

    <!-- <p-button  size="small" type="submit" [disabled]="!orderForm.valid" label="Save" icon="pi pi-check" iconPos="right" /> -->
</form>
