<div class="work-packages-container">
    <div class="section-project">
        <label for="projectLabel">{{ 'PROJECTS.FORM.PROJECT' | translate }}</label>
        <div class="inputs-project">
            <input pInputText type="text" id="projectLabel" [value]="currentProject?.projectLabel || ''" disabled>
            <input pInputText type="text" id="projectName" [value]="currentProject?.projectName || ''" disabled>
        </div>
    </div>
    <div class="table-container">
        <table class="excel-table">
            <thead>
                <tr>
                    <th rowspan="2" class="gray" id="header-ap">{{ 'EMPLOYEE.WORK_PACKAGES.AP' | translate }}</th>
                    <th rowspan="2" class="gray" id="header-ap-nr">{{ 'EMPLOYEE.WORK_PACKAGES.AP_NR' | translate }}</th>
                    <th rowspan="2" class="gray" id="header-pers-nr">{{ 'EMPLOYEE.WORK_PACKAGES.PERS_NR' | translate }}</th>
                    <th colspan="3" id="header-bewilligt">{{ 'EMPLOYEE.WORK_PACKAGES.APPROVED' | translate }}</th>
                    <th colspan="4" id="header-geplant">{{ 'EMPLOYEE.WORK_PACKAGES.PLANNED' | translate }}</th>
                    <th colspan="4" id="header-abgerechnet">{{ 'EMPLOYEE.WORK_PACKAGES.SETTLED' | translate }}</th>
                    <th colspan="3" id="header-verfuegbar">{{ 'EMPLOYEE.WORK_PACKAGES.AVAILABLE' | translate }}</th>
                </tr>
                <tr>
                    <th class="green" id="header-pm-bewilligt">{{ 'EMPLOYEE.WORK_PACKAGES.PM' | translate }}</th>
                    <th class="green" id="header-pers-kosten-bewilligt">{{ 'EMPLOYEE.WORK_PACKAGES.PERSONAL_COSTS' | translate }}</th>
                    <th class="green" id="header-pk-in-ap-bewilligt">{{ 'EMPLOYEE.WORK_PACKAGES.PK_AP' | translate }}</th>
                    <th class="orange" id="header-pm-geplant">{{ 'EMPLOYEE.WORK_PACKAGES.PM' | translate }}</th>
                    <th class="orange" id="header-std-geplant">{{ 'EMPLOYEE.WORK_PACKAGES.STD' | translate }}</th>
                    <th class="orange" id="header-pers-kosten-geplant">{{ 'EMPLOYEE.WORK_PACKAGES.PERSONAL_COSTS' | translate }}</th>
                    <th class="orange" id="header-pk-in-ap-geplant">{{ 'EMPLOYEE.WORK_PACKAGES.PK_AP' | translate }}</th>
                    <th class="red" id="header-pm-abgerechnet">{{ 'EMPLOYEE.WORK_PACKAGES.PM' | translate }}</th>
                    <th class="red" id="header-std-abgerechnet">{{ 'EMPLOYEE.WORK_PACKAGES.STD' | translate }}</th>
                    <th class="red" id="header-pers-kosten-abgerechnet">{{ 'EMPLOYEE.WORK_PACKAGES.PERSONAL_COSTS' | translate }}</th>
                    <th class="red" id="header-pk-in-ap-abgerechnet">{{ 'EMPLOYEE.WORK_PACKAGES.PK_AP' | translate }}</th>
                    <th class="blue" id="header-pm-verfuegbar">{{ 'EMPLOYEE.WORK_PACKAGES.PM' | translate }}</th>
                    <th class="blue" id="header-std-verfuegbar">{{ 'EMPLOYEE.WORK_PACKAGES.STD' | translate }}</th>
                    <th class="blue" id="header-pk-in-ap-verfuegbar">{{ 'EMPLOYEE.WORK_PACKAGES.PK_AP' | translate }}</th>
                </tr>
            </thead>

            <tbody>
                <ng-container *ngFor="let row of rows; let i = index">
                    <!-- Fila principal -->
                    <tr>
                        <td [attr.rowspan]="row.persNr?.length || 1">{{ row.ap }}</td>
                        <td [attr.rowspan]="row.persNr?.length || 1">{{ row.apNr }}</td>

                        <!-- Pers.Nr -->
                        <td>{{ row.persNr[0] }}</td>

                        <!-- bewilligt -->
                        <td class="light-green">{{ formatNumber(row.pmBewilligt[0]) }}</td>
                        <td class="light-gray">{{ formatNumber(row.persKostenBewilligt[0]) }}</td>
                        <td class="light-gray">{{ formatNumber(row.pkInApBewilligt?.[0]) }}</td>

                        <!-- geplant -->
                        <td class="light-green">{{ formatNumber(row.pmGeplant[0]) }}</td>
                        <td class="light-gray">{{ formatNumber(row.stdGeplant[0]) }}</td>
                        <td class="light-gray">{{ formatNumber(row.persKostenGeplant[0]) }}</td>
                        <td class="light-gray">{{ formatNumber(row.pkInApGeplant?.[0]) }}</td>

                        <!-- abgerechnet -->
                        <td class="light-gray">{{ formatNumber(row.pmAbgerechnet[0]) }}</td>
                        <td class="light-gray">{{ formatNumber(row.stdAbgerechnet[0]) }}</td>
                        <td class="light-gray">{{ formatNumber(row.persKostenAbgerechnet[0]) }}</td>
                        <td class="light-gray">{{ formatNumber(row.pkInApAbgerechnet?.[0]) }}</td>

                        <!-- verfügbar -->
                        <td class="light-gray">{{ formatNumber(row.pmVerfuegbar[0]) }}</td>
                        <td class="light-gray">{{ formatNumber(row.stdVerfuegbar[0]) }}</td>
                        <td class="light-gray">{{ formatNumber(row.pkInApVerfuegbar?.[0]) }}</td>
                    </tr>

                    <!-- Subfilas -->
                    <tr *ngFor="let _ of row.persNr.slice(1); let j = index">
                        <td>{{ row.persNr[j + 1] }}</td>

                        <!-- bewilligt -->
                        <td class="light-green">{{ formatNumber(row.pmBewilligt[j + 1]) }}</td>
                        <td class="light-gray">{{ formatNumber(row.persKostenBewilligt[j + 1]) }}</td>
                        <td class="light-gray">{{ formatNumber(row.pkInApBewilligt?.[j + 1]) }}</td>

                        <!-- geplant -->
                        <td class="light-green">{{ formatNumber(row.pmGeplant[j + 1]) }}</td>
                        <td class="light-gray">{{ formatNumber(row.stdGeplant[j + 1]) }}</td>
                        <td class="light-gray">{{ formatNumber(row.persKostenGeplant[j + 1]) }}</td>
                        <td class="light-gray">{{ formatNumber(row.pkInApGeplant?.[j + 1]) }}</td>

                        <!-- abgerechnet -->
                        <td class="light-gray">{{ formatNumber(row.pmAbgerechnet[j + 1]) }}</td>
                        <td class="light-gray">{{ formatNumber(row.stdAbgerechnet[j + 1]) }}</td>
                        <td class="light-gray">{{ formatNumber(row.persKostenAbgerechnet[j + 1]) }}</td>
                        <td class="light-gray">{{ formatNumber(row.pkInApAbgerechnet?.[j + 1]) }}</td>

                        <!-- verfügbar -->
                        <td class="light-gray">{{ formatNumber(row.pmVerfuegbar[j + 1]) }}</td>
                        <td class="light-gray">{{ formatNumber(row.stdVerfuegbar[j + 1]) }}</td>
                        <td class="light-gray">{{ formatNumber(row.pkInApVerfuegbar?.[j + 1]) }}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
    <div class="flex gap-2 mt-4 buttons-left">
        <p-button type="submit" class="new" size="small" [label]="'EMPLOYEE.WORK_PACKAGES.NEW' | translate"
            [loading]="isLoading" [disabled]="isLoading"></p-button>

        <p-button type="button" class="import" size="small" [label]="'EMPLOYEE.WORK_PACKAGES.IMPORT' | translate"
            [disabled]="isLoading"></p-button>
    </div>
</div>