@use 'variables' as *;

.rol-form{
  display: flex;
  align-items: center;
  margin-bottom: 1rem;

  label {
    width: 120px;
    margin-left: 25px;
    flex-shrink: 0;
  }

  .p-select {
    min-width: 10%;
    width: 100%;
  }

  input {
    width: 100%;
  }
}

//Styles table head
.thead {
    background: $primary-color;
    color: #fff;
    min-width: 6.25rem;
  
    &:hover {
      background-color: $accent-color;
      color: $primary-dark;
    }
}