@use 'variables' as *;

.rol-form{
    label{
        width: 90px;
    }

    input, .p-select{
        width: 250px;
    }
}

//Styles table head
.thead {
    background: $primary-color;
    color: #fff;
    min-width: 6.25rem;
  
    &:hover {
      background-color: $accent-color;
      color: $primary-dark;
    }
}