<div class="container">
    <div class="row">
      <div class>
        <master-data-genaral-table
          [tableId]="tableKey"
          [tableValues]="approvalStatuses()"
          [columns]="selectedColumns"
          [userPreferences]="userApprovalTypePreferences"
          [dataKeys]="dataKeys"
          [sortField]="'sequenceNo'" 
          [sortOrder]="1"
          (onColumnChanges)="onUserApprovalTypePreferencesChanges($event)"
          (onCreateRegister)="handleTableEvents({ type: 'create' })"
          (onDeleteRegister)="handleTableEvents({type: 'delete', data: $event})"
          (onEditRegister)="editApprovalStatus($event)"
        ></master-data-genaral-table>
        <p-dialog 
          [header]="modalType === 'create' 
            ? ('APPROVAL_STATUS.MODAL_CREATE.CREATE_FORM' |  translate) 
            : ('APPROVAL_STATUS.DELETE.CONFIRMATION' | translate)" 
          [modal]="true" 
          [(visible)]="visibleModal"
          (onShow)="onDialogShow()" 
        >
          <app-modal-approval-status
            #approvalStatusModal
            (isVisibleModal)="onVisibleModal($event)"
            [modalType]="modalType"
            [approvalStatusName]="approvalStatusName"
            [approvalStatusToDelete]="selectedApprovalStatus"
            (isVisibleModal)="onModalVisibilityChange($event)"
            (toastMessage)="toastMessageDisplay($event)"
            (approvalStatusDeleted)="onDeleteApprovalStatus()"
          ></app-modal-approval-status>
        </p-dialog>
      </div>
    </div>
  </div>
