<p-card
  [style]="{ background: 'var(--light-cyan)' }"
  [header]="'FUNDING.HEADER.EDIT_FUNDING' | translate"
>
  <form [formGroup]="fundingForm" (ngSubmit)="saveFundingProgram()">
    <div class="align-items-center mb-2">
      <div class="funding-form mb-2">
        <label for="name">{{ "FUNDING.LABEL.PROGRAM" | translate }}</label>
        <input
          pInputText
          type="text"
          id="name"
          formControlName="name"
          autocomplete="off"
        />
      </div>

      <div class="funding-form mb-2">
        <label for="rate">{{ "FUNDING.LABEL.RATE" | translate }}</label>
        <input
          pInputText
          type="number"
          id="rate"
          formControlName="rate"
          autocomplete="off"
        />
      </div>

      <div class="funding-form mb-2">
        <label for="personnelRate">{{
          "FUNDING.LABEL.PERSONNEL_RATE" | translate
        }}</label>
        <input
          pInputText
          type="number"
          id="personnelRate"
          formControlName="personnelRate"
          autocomplete="off"
        />
      </div>

      <div class="funding-form mb-2">
        <label for="researchShare">{{
          "FUNDING.LABEL.RESEARCH_SHARE" | translate
        }}</label>
        <input
          pInputText
          type="number"
          id="researchShare"
          formControlName="researchShare"
          autocomplete="off"
        />
      </div>

      <div class="funding-form mb-2">
        <label for="productiveHours">{{
          "FUNDING.LABEL.PRODUCTIVE_HOURS" | translate
        }}</label>
        <input
          pInputText
          type="number"
          id="productiveHours"
          formControlName="productiveHours"
          autocomplete="off"
        />
      </div>

      <div class="flex justify-content-center gap-2 mt-4">
        <p-button
          class="save me-2"
          size="small"
          [label]="'BUTTONS.SAVE' | translate"
          icon="pi pi-check"
          iconPos="left"
          type="submit"
        ></p-button>

        <p-button
          class="cancel me-2"
          size="small"
          [label]="'BUTTONS.CANCEL' | translate"
          icon="pi pi-times"
          iconPos="left"
          (click)="cancelEdit()"
          type="button"
          (keydown)="cancelEdit()"
        ></p-button>
      </div>
    </div>
  </form>
</p-card>
