<!-- Modified layout template -->
<div class="layout">
  <app-header [username]="'Valentin Laime'" [items]="mainMenuItems" 
  (menuSelected)="onMainMenuSelect($event)" >
 
  </app-header>

  <div class="layout-content">
    <app-sidebar
      [isCollapsed]="sidebarCollapsed"
      [menuItems]="currentSidebarItems"
      (toggleCollapse)="toggleSidebar()"
    >
    </app-sidebar>

    <div class="main-content" [class.sidebar-collapsed]="sidebarCollapsed">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="card flex justify-content-center">
    <p-sidebar #sidebarRef [(visible)]="mainMenuVisible">
      <ng-template pTemplate="headless">
        <div class="flex flex-column h-full">
          <div
            class="flex align-items-center justify-content-between px-4 pt-3 flex-shrink-0"
          >
            Menu
            <span>
              <p-button
                type="button"
                (onClick)="closeCallback($event)"
                severity="contrast"
                icon="pi pi-times" [rounded]="true"  [outlined]="true"
              ></p-button>
            </span>
          </div>
        </div>
      </ng-template>
    </p-sidebar>
  </div>
</div>
