<div class="layout">
  <app-header
    [username]="username"
    [currentMenuKey]="currentMenuKey"
    (menuSelected)="onMainMenuSelect($event)"
  ></app-header>

  <div class="layout-content" *ngIf="isStateLoaded">
    <app-sidebar
      [isCollapsed]="(sidebarCollapsed$ | async) ?? false"
      [menuItems]="mainMenuItems"
    ></app-sidebar>

    <div class="content-wrapper">
      

      <div class="main-content" [class.sidebar-collapsed]="(sidebarCollapsed$ | async) ?? false">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

  <p-sidebar #sidebarRef [(visible)]="mainMenuVisible">
    <ng-template pTemplate="headless">
      <div class="flex flex-column h-full">
        <div
          class="flex align-items-center justify-content-between px-4 pt-3 flex-shrink-0"
        >
          Menu
          <span>
            <p-button
              type="button"
              (onClick)="closeCallback($event)"
              severity="contrast"
              icon="pi pi-times"
              [rounded]="true"
              [outlined]="true"
            ></p-button>
          </span>
        </div>
      </div>
    </ng-template>
  </p-sidebar>
</div>
