<div class="container">
  <div class="row">
    
    @if(subcontractId){
      <!-- Sección izquierda: Datos del subcontrato -->
      <div class="col-md-6">
        <app-subcontract (onLoadingUpdate)="isLoadingEdit = $event" 
          [subcontractToEdit]="currentSubcontract"
          (formDirty)="isDirty = $event"
        ></app-subcontract>
      </div>
      <!-- Sección derecha: Asignaciones -->
      <div class="col-md-6">
        <div class="mb-2">
          <app-project-allocation [currentSubcontract]="currentSubcontract"></app-project-allocation>
        </div>
          <div class="mb-2">
          <app-depreciation-schedule [currentSubcontract]="currentSubcontract"></app-depreciation-schedule>
        </div>
      </div>
    } @else {
      <div class="col-md-12">
        <app-subcontract></app-subcontract>
      </div>
    }
  </div>

  <!-- Botones -->
  <div class="buttons mt-4 mb-4">
    <div class="row">

      <div class="form-row flex flex-wrap gap-3 justify-content-center">
        <p-button
          class="Save me-2"
          size="small"
          [label]="'BUTTONS.SAVE' | translate"
          icon="pi pi-check"
          iconPos="left"
          (onClick)="onSubmit()"
          [loading]="isLoadingEdit"
          [disabled]="!isDirty"
        ></p-button>
        @if(subcontractId){
        <p-button
          class="delete me-2"
          size="small"
          [label]="'BUTTONS.DELETE' | translate"
          icon="pi pi-trash"
          iconPos="left"
          [disabled]="isLoadingEdit"
          (onClick)="visibleSubcontractModal = true"
        ></p-button>
        }
        <p-button
          class="cancel"
          size="small"
          [label]="'BUTTONS.CANCEL' | translate"
          icon="pi pi-times"
          iconPos="left"
          (onClick)="goBackListSubcontracts()"
          [disabled]="isLoadingEdit"
        ></p-button>
      </div>
    </div>
  </div>
</div>
<p-dialog [header]="'SUB-CONTRACTS.LABEL.DELETE_SUBCONTRACT' | translate" [modal]="true" [(visible)]="visibleSubcontractModal">
  <div class="confirmation-content mb-2 mt-4">
    <p class="mb-4" *ngIf="currentSubcontract" [innerHTML]="'DIALOG.DELETE' | translate:{ value: currentSubcontract.contractTitle }">
    </p>
    
    <div class="flex justify-content-center gap-2">
      <p-button type="button" class="delete" size="small" [label]="'BUTTONS.DELETE' | translate" icon="pi pi-trash"
        iconPos="left" (onClick)="onSubcontractDeleteConfirm()" severity="danger" [loading]="isLoadingDelete"
        />
      <p-button type="button" class="cancel" size="small" [label]="'BUTTONS.CANCEL' | translate" icon="pi pi-times"
        iconPos="left" (onClick)="this.visibleSubcontractModal = false;" [disabled]="isLoadingDelete"/>
    </div>
  </div>
</p-dialog>
<app-occ-error-modal 
  *ngIf="showOCCErrorModalSubcontract" 
  [errorType]="errorType"
  [redirectRoute]="redirectRoute"
  (onClose)="showOCCErrorModalSubcontract = false">
</app-occ-error-modal>