<div class="container">
  <div class="row">
    
    @if(subcontractId){
      <!-- Sección izquierda: Datos del subcontrato -->
      <div class="col-md-6">
        <app-subcontract></app-subcontract>
      </div>
      <!-- Sección derecha: Asignaciones -->
      <div class="col-md-6">
        <div class="mb-2">
          <app-project-allocation></app-project-allocation>
        </div>
          <div class="mb-2">
          <app-depreciation-schedule [currentSubcontract]="currentSubcontract"></app-depreciation-schedule>
        </div>
      </div>
    } @else {
      <div class="col-md-12">
        <app-subcontract></app-subcontract>
      </div>
    }
  </div>

  <!-- Botones -->
  <div class="buttons mt-4 mb-4">
    <div class="row">

      <div class="form-row flex flex-wrap gap-3 justify-content-center">
        <p-button
          class="Save me-2"
          size="small"
          [label]="'BUTTONS.SAVE' | translate"
          icon="pi pi-check"
          iconPos="left"
          (onClick)="onSubmit()"
        ></p-button>
        @if(subcontractId){
        <p-button
          class="delete me-2"
          size="small"
          [label]="'BUTTONS.DELETE' | translate"
          icon="pi pi-trash"
          iconPos="left"
          (onClick)="visibleSubcontractModal = true"
        ></p-button>
        }
        <p-button
          class="cancel"
          size="small"
          [label]="'BUTTONS.CANCEL' | translate"
          icon="pi pi-times"
          iconPos="left"
          (onClick)="goBackListSubcontracts()"
        ></p-button>
      </div>
    </div>
  </div>
</div>
<p-dialog [header]="'SUB-CONTRACTS.LABEL.DELETE_SUBCONTRACT' | translate" [modal]="true" [(visible)]="visibleSubcontractModal">
  <div class="confirmation-content mb-2 mt-4">
    <p class="mb-4">
      {{ 'SUB-CONTRACTS.LABEL.REMOVE_SUBCONTRACT_QUESTION' | translate }}
      <strong *ngIf="currentSubcontract" class="stronglock mt-1">"{{ currentSubcontract.contractTitle }}"</strong>?
    </p>
    <div class="flex justify-content-center gap-2">
      <p-button type="button" class="delete" size="small" [label]="'BUTTONS.DELETE' | translate" icon="pi pi-trash"
        iconPos="left" (onClick)="onSubcontractDeleteConfirm()" severity="danger" [loading]="isLoading"
          [disabled]="isLoading"/>
      <p-button type="button" class="cancel" size="small" [label]="'BUTTONS.CANCEL' | translate" icon="pi pi-times"
        iconPos="left" (onClick)="this.visibleSubcontractModal = false;" [disabled]="isLoading"/>
    </div>
  </div>
</p-dialog>