<div class="container">
  <div class="row">
    <!-- Sección izquierda: Datos del subcontrato -->
    <div class="col-md-6">
      <app-subcontract></app-subcontract>
    </div>

    <!-- Sección derecha: Asignaciones -->
    <div class="col-md-6">
      <div class="mb-2">
        <app-project-allocation></app-project-allocation>
      </div>
      <div class="mb-2">
        <app-depreciation-schedule></app-depreciation-schedule>
      </div>
    </div>
  </div>

  <!-- Botones -->
  <div class="buttons mt-4">
    <div class="row">

      <div class="form-row flex flex-wrap gap-3 justify-content-center">
        <p-button
          class="Save me-2"
          size="small"
          [label]="'BUTTONS.SAVE' | translate"
          icon="pi pi-check"
          iconPos="left"
        ></p-button>
        <p-button
          class="Delete me-2"
          size="small"
          [label]="'BUTTONS.DELETE' | translate"
          icon="pi pi-trash"
          iconPos="left"
          [style]="{ background: '#ef4444' }"
        ></p-button>
        <p-button
          class="cancel"
          size="small"
          [label]="'BUTTONS.CANCEL' | translate"
          icon="pi pi-times"
          iconPos="left"
          (onClick)="goBackListSubcontracts()"
        ></p-button>
      </div>
    </div>
  </div>
</div>
