<ng-container *ngIf="isCreateMode;  else deleteTemplate">
    <form [formGroup]="createApprovalStatusForm" (ngSubmit)="onSubmit()">
        <div class="align-items-center display mb-2 mt-4">
            <div class="approvalstatus-form">
                <label for="status">{{ "APPROVAL_STATUS.LABEL.NAME" | translate}}</label>
                <input
                    #approvalStatusNameInput
                    pInputText
                    type="text"
                    id="status"
                    formControlName="status"
                    autocomplete="off"
                    />
            </div>
            <div class="approvalstatus-form">
                <label for="order">{{ 'APPROVAL_STATUS.TABLE.ORDER' | translate }}</label>
                <p-inputnumber
                    inputId="order"
                    formControlName="order"
                    autocomplete="off"
                    [useGrouping]="true"
                    [inputStyle]="{'text-align': 'right'}"
                />
            </div>
            <div class="approvalstatus-form">
                <label for="isProjectChecked">{{ 'APPROVAL_STATUS.LABEL.IS_PROJECTS' | translate }}</label>
                <p-toggleswitch inputId="isProjectChecked" formControlName="isProject" class="flex">
                <ng-template #handle let-checked="checked">
                    <i [ngClass]="['!text-xs', 'pi', checked ? 'pi-check' : 'pi-times']"></i>
                </ng-template>
                </p-toggleswitch>
            </div>
            <div class="approvalstatus-form">
                <label for="isNetworkChecked">{{ 'APPROVAL_STATUS.LABEL.IS_NETWORKS' | translate}}</label>
                <p-toggleswitch inputId="isNetworkChecked" formControlName="isNetwork" class="flex">
                <ng-template #handle let-checked="checked">
                    <i [ngClass]="['!text-xs', 'pi', checked ? 'pi-check' : 'pi-times']"></i>
                </ng-template>
                </p-toggleswitch>
            </div>

            <div class="flex justify-content-center gap-2 mt-4">
                <p-button
                type="submit"
                class="save"
                size="small"
                [label]="'BUTTONS.SAVE' | translate"
                icon="pi pi-check"
                iconPos="left"
                [loading]="isLoading"
                [disabled]="createApprovalStatusForm.invalid || isLoading || !createApprovalStatusForm.dirty"
                />

                <p-button
                type="button"
                class="cancel"
                size="small"
                [label]="'BUTTONS.CANCEL' | translate"
                icon="pi pi-times"
                iconPos="left"
                (click)="onCancel()"
                (keypress)="onCancel()"
                [disabled]="isLoading"
                />
            </div>
        </div>
    </form>
</ng-container>

<ng-template #deleteTemplate>
    <div class="confirmation-content mb-2 mt-4">
        <p class="mb-4">
        {{ 'APPROVAL_STATUS.DELETE.CONFIRM_QUESTION' | translate }}
        <strong class="stronglock mt-1">"{{ approvalStatusName }}"</strong>?
        </p>

        <div class="flex justify-content-center gap-2">
        <p-button
            type="button"
            class="delete"
            size="small"
            [label]="'BUTTONS.DELETE' | translate"
            icon="pi pi-trash"
            iconPos="left"
            (click)="onDeleteConfirm()"
            (keypress)="onDeleteConfirm()"
            severity="danger"
            [loading]="isLoading"
            [disabled]="isLoading"
        />
        
        <p-button
            type="button"
            class="cancel"
            size="small"
            [label]="'BUTTONS.CANCEL' | translate"
            icon="pi pi-times"
            iconPos="left"
            (click)="onCancel()"
            (keypress)="onCancel()"
            [disabled]="isLoading"
        />
        </div>
    </div>
</ng-template>
<app-occ-error-modal
  *ngIf="showOCCErrorModalApprovalStatus"
  [useEmitter]="occErrorApprovalStatusType === 'DELETE_UNEXISTED'"
  (refresh)="onRefresh()"
  [errorType]="occErrorApprovalStatusType"
  [reloadCurrentPage]="true"
  (close)="showOCCErrorModalApprovalStatus = false">
</app-occ-error-modal>