<ng-container *ngIf="isCreateMode; else deleteTemplate">
    <form [formGroup]="dunningLevelForm" (ngSubmit)="onSubmit()">
        <div class="flex flex-column mb-2 mt-4">
            <div class="dunning-level-form">
                <label for="levelNo">{{ 'DUNNING_LEVELS.LABEL.DUNNING_LEVEL' | translate }}</label>
                <p-inputnumber #firstInput [useGrouping]="true" inputId="levelNo"
                 formControlName="levelNo" autocomplete="off" [inputStyle]="{'text-align': 'right'}"/>
            </div>
            <div class="dunning-level-form">
                <label for="reminderTitle">{{ 'DUNNING_LEVELS.LABEL.DESIGNATION' | translate }}</label>
                <input pInputText type="text" id="reminderTitle" formControlName="reminderTitle" autocomplete="off" />
            </div>
            <div class="dunning-level-form">
                <label for="fee-modal">{{ 'DUNNING_LEVELS.LABEL.FEE' | translate }}</label>
                <p-inputnumber mode="decimal" [min]="0" [useGrouping]="true" [minFractionDigits]="2" [maxFractionDigits]="2" locale="de-DE"
                    inputId="fee-modal" formControlName="fee" autocomplete="off" [inputStyle]="{'text-align': 'right'}"/>
            </div>
            <div class="dunning-level-form">
                <label for="interestRate">{{ 'DUNNING_LEVELS.LABEL.DEFAULT_INTEREST' | translate }} (%)</label>
                <div class="input-message">
                    <p-inputnumber mode="decimal" [min]="0" [useGrouping]="true" [minFractionDigits]="2" [maxFractionDigits]="2" locale="de-DE"
                        inputId="interestRate" formControlName="interestRate" autocomplete="off" 
                        [inputStyle]="{'text-align': 'right'}" invalid="
                        dunningLevelForm.get('interestRate')?.invalid  
                        && dunningLevelForm.get('interestRate')?.dirty 
                        || dunningLevelForm.get('interestRate')?.touched"/>
                    <p-message severity="error" [showTransitionOptions]="'0ms'" variant="simple" size="small" *ngIf="
                        dunningLevelForm.get('interestRate')?.invalid && 
                        dunningLevelForm.get('interestRate')?.dirty
                    ">{{ 'ERROR.NUMBER_MAX' | translate }}</p-message>
                </div>
            </div>
            <div class="dunning-level-form">
                <label for="payPeriod">{{ 'DUNNING_LEVELS.LABEL.PAYMENT_TERM' | translate }}</label>
                <p-inputnumber [useGrouping]="true" inputId="payPeriod" formControlName="payPeriod" 
                    autocomplete="off" [inputStyle]="{'text-align': 'right'}"/>
            </div>
            <div class="dunning-level-form align-items-start">
                <label for="reminderText-modal">{{ 'DUNNING_LEVELS.LABEL.REMINDER_TEXT' | translate }}</label>
                <textarea pTextarea id="reminderText-modal" formControlName="reminderText" 
                    autocomplete="off" rows="6"  style="resize: none"></textarea>
            </div>
            <div class="row mt-2">
                <div class="col flex justify-content-center">
                    <p-button class="save me-2" type="submit" [loading]="isLoading" [disabled]="dunningLevelForm.invalid || isLoading || !dunningLevelForm.dirty" size="small" [label]="'BUTTONS.SAVE' | translate" icon="pi pi-check" iconPos="left" />
                    <p-button class="cancel me-2" size="small" [disabled]="isLoading" (onClick)="closeModal()" [label]="'BUTTONS.CANCEL' | translate" icon="pi pi-times" iconPos="left" />
                </div>
            </div>
        </div>
    </form>
</ng-container>
<ng-template #deleteTemplate>
    <div class="confirmation-content mb-2 mt-4">
        <p class="mb-4">
            {{ 'DUNNING_LEVELS.MODAL.DELETE_QUESTION' | translate }}
            <strong class="stronglock mt-1">"{{ selectedDunningLevel?.reminderTitle }}"</strong>?
        </p>

        <div class="flex justify-content-center gap-2">
            <p-button type="button" class="delete" size="small" [label]="'BUTTONS.DELETE' | translate"
                icon="pi pi-trash" iconPos="left" severity="danger" [loading]="isLoading"
                [disabled]="isLoading" (onClick)="onDeleteDunningLevelConfirm()" />

            <p-button type="button" class="cancel" size="small" [label]="'BUTTONS.CANCEL' | translate"
                icon="pi pi-times" iconPos="left" (onClick)="closeModal()" [disabled]="isLoading" />

        </div>
    </div>
</ng-template>