<p-card [style]="{ background: 'var(--light-cyan)' }" [header]="'BILLERS.TITLE_FORM' | translate ">
    <form [formGroup]="editBillerForm" (ngSubmit)="onSubmit()">
        <div class="flex flex-column mb-2 mt-4 px-5">
            <div class="billers-form flex flex-row mb-6 align-items-center gap-4">
                <label for="name">{{ 'SIDEBAR.BILLERS' | translate }}</label>
                <input #firstInput pInputText type="text" id="name" formControlName="name" autocomplete="off" />
            </div>
            <div class="row">
                <div class="col flex justify-content-center">
                    <p-button class="save me-2" type="submit" [loading]="isLoading" [disabled]="editBillerForm.invalid || isLoading || !editBillerForm.dirty" size="small" [label]="'BUTTONS.SAVE' | translate" icon="pi pi-check" iconPos="left" />
                    <p-button class="cancel me-2" size="small" [disabled]="isLoading" (onClick)="clearForm()" [label]="'BUTTONS.CANCEL' | translate" icon="pi pi-times" iconPos="left" />
                </div>
            </div>
        </div>
    </form>
</p-card>
<app-occ-error-modal
  *ngIf="showOCCErrorModaBiller"
  (close)="showOCCErrorModaBiller = false"
  [useEmitter]="true"
  (refresh)="onRefresh()">
</app-occ-error-modal>
<p-toast/>