<ng-container *ngIf="isCreateWorkPackageMode; else deleteWorkPackageTemplate">
  <form [formGroup]="workPackageForm" (ngSubmit)="onSubmit()">
    <div class="create-form my-4">
      <div class="work-package-form">
        <label for="packageno">{{ "PROJECT_PACKAGES.FORM.PACKAGE_NUMBER" | translate }}</label>
        <div class="input-message">
          <input #firstInput pInputText type="text" id="packageno" formControlName="packageno" autocomplete="off"
            [ngClass]="{'ng-invalid ng-dirty': workPackageForm.get('packageno')?.invalid && workPackageForm.get('packageno')?.touched ||
            packageNumberAlreadyExists}"
            invalid="workPackageForm.get('packageno')?.invalid  
            && workPackageForm.get('packageno')?.dirty 
            || workPackageForm.get('packageno')?.touched" />
          <p-message severity="error" [showTransitionOptions]="'0ms'" variant="simple" size="small" *ngIf="
          workPackageForm.get('packageno')?.invalid && 
          workPackageForm.get('packageno')?.dirty || packageNumberAlreadyExists
          ">
            {{ packageNumberAlreadyExists ? ('PROJECT_PACKAGES.ERROR.PACKAGE_NUMBER_ALREADY_EXISTS' | translate) : ('ERROR.FIELD_REQUIRED' | translate) }}
          </p-message>
        </div>
      </div>

      <div class="work-package-form">
        <label for="packageSerial">{{ "PROJECT_PACKAGES.FORM.PACKAGE_SERIAL" | translate }}</label>
        <div class="input-message">
          <input pInputText type="text" id="packageSerial" formControlName="packageSerial" autocomplete="off" />
        </div>
      </div>

      <div class="work-package-form">
        <label for="packageTitle">{{ "PROJECT_PACKAGES.FORM.PACKAGE_NAME" | translate }}</label>
        <div class="input-message">
          <input pInputText type="text" id="packageTitle" formControlName="packageTitle" autocomplete="off" 
            [ngClass]="{'ng-invalid ng-dirty': workPackageForm.get('packageTitle')?.invalid && workPackageForm.get('packageTitle')?.touched ||
            packageNameAlreadyExists}"
            invalid="workPackageForm.get('packageTitle')?.invalid  
            && workPackageForm.get('packageTitle')?.dirty 
            || workPackageForm.get('packageTitle')?.touched" />
            <p-message severity="error" [showTransitionOptions]="'0ms'" variant="simple" size="small" *ngIf="
            workPackageForm.get('packageTitle')?.invalid && 
            workPackageForm.get('packageTitle')?.dirty || packageNameAlreadyExists
            ">
              {{ packageNameAlreadyExists ? ('PROJECT_PACKAGES.ERROR.PACKAGE_NAME_ALREADY_EXISTS' | translate) : ('ERROR.FIELD_REQUIRED' | translate) }}
            </p-message>
        </div>
      </div>

      <div class="work-package-form">
        <label for="dates">{{ "PROJECT_PACKAGES.FORM.DATE_RANGE" | translate }}</label>
        <div class="datepicker-container w-full">
          <p-datepicker formControlName="dates" #datePicker selectionMode="range" [showIcon]="true" inputId="date"
            [dateFormat]="dateFormatPicker" [showClear]="true" appendTo="body"
            [placeholder]="('PROJECT_PACKAGES.LABEL.SELECT_DATES' | translate)"
            [style]="{ 'width': '100%' , 'max-width': '300px'}" inputStyleClass="centered-date"
            panelStyleClass="datepicker-panel" timeZone="UTC" />
        </div>
      </div>
    </div>

    <div class="flex justify-content-center gap-2 mt-4">
      <p-button type="submit" class="save" size="small" [label]="'BUTTONS.SAVE' | translate" icon="pi pi-check"
        iconPos="left" [loading]="isLoading"
        [disabled]="workPackageForm.invalid || isLoadingDelete || !workPackageForm.dirty" />

      <ng-container *ngIf="modalProjectPackageType === 'edit'">
        <p-button type="button" class="delete" size="small" [label]="'BUTTONS.DELETE' | translate" icon="pi pi-trash"
          iconPos="left" severity="danger" [disabled]="isLoading || isLoadingDelete"
          (onClick)="this.visiblWorkPackageModal = true;" />
      </ng-container>

      <p-button type="button" class="cancel" size="small" [label]="'BUTTONS.CANCEL' | translate" icon="pi pi-times"
        iconPos="left" (onClick)="closeModal()" [disabled]="isLoading || isLoadingDelete" />
    </div>
  </form>
</ng-container>

<ng-template #deleteWorkPackageTemplate>
  <div class="confirmation-content mb-2 mt-4">
    <p class="mb-4" [innerHTML]="'DIALOG.DELETE' | translate:{ value: packageNo }"></p>

    <div class="flex justify-content-center gap-2">
      <p-button type="button" class="delete" size="small" [label]="'BUTTONS.DELETE' | translate" icon="pi pi-trash"
        iconPos="left" (onClick)="onDeleteConfirm()" severity="danger" [loading]="isLoadingDelete" [disabled]="isLoadingDelete" />

      <p-button type="button" class="cancel" size="small" [label]="'BUTTONS.CANCEL' | translate" icon="pi pi-times"
        iconPos="left" (onClick)="closeModal()" [disabled]="isLoadingDelete" />

    </div>
  </div>
</ng-template>
<app-occ-error-modal *ngIf="showOCCErrorModalProjectPackage" [errorType]="occErrorProjectPackageType"
  [reloadCurrentPage]="true" (onClose)="showOCCErrorModalProjectPackage = false">
</app-occ-error-modal>
<p-dialog [header]="'PROJECT_PACKAGES.MODAL.DELETE' | translate" [modal]="true" appendTo="body" [(visible)]="visiblWorkPackageModal">
  <div class="confirmation-content mb-2 mt-4">
    <p class="mb-4" [innerHTML]="'DIALOG.DELETE' | translate:{ value: selectedProjectPackage?.packageNo }"></p>

    <div class="flex justify-content-center gap-2">
      <p-button type="button" class="delete" size="small" [label]="'BUTTONS.DELETE' | translate" icon="pi pi-trash"
        iconPos="left" (onClick)="deleteWorkPackage()" severity="danger" [loading]="isLoadingDelete" [disabled]="isLoadingDelete" />

      <p-button type="button" class="cancel" size="small" [label]="'BUTTONS.CANCEL' | translate" icon="pi pi-times"
        iconPos="left" (onClick)="this.visiblWorkPackageModal = false;" [disabled]="isLoadingDelete" />

    </div>
  </div>
</p-dialog>