@use 'variables' as *;

.create-system-constant-form{
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  
  label {
    width: 130px;
    flex-shrink: 0;
  }

  input, p-inputnumber {
    width: 100%;
  }

  ::ng-deep .p-inputnumber-input {
    width: 100%;
  }
}