@use 'variables' as *;

.create-system-constant-form{
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  
  label {
      width: 150px;
  }
  .input-container {
    flex: 1;
     max-width: 300px;
     margin-left: 1rem;
  }
}