<div class="container">
    <div class="row">
      <div class="col-6">
        <!-- <master-data-genaral-table
          [tableId]="tableKey"
          [tableValues]="projects"
          [columns]="columsHeaderFieldProjects"
          [hideColumns]="false"
          tableTitle="PROJECT_STATUS.PROJECT_STATUS"
          [userPreferences]="userProjectStatusPreferences"
          [dataKeys]="dataKeys"
          (onColumnChanges)="onUserProjectStatusPreferencesChanges($event)"
        ></master-data-genaral-table> -->
        <app-table-project-status></app-table-project-status>
      </div>
      <div class="col-6">
        <master-data-edit-project-status></master-data-edit-project-status>
      </div>
    </div>
</div>