<p-card [style]="{ background: 'var(--light-cyan)' }" [header]="'EMPLOYEE_QUALIFICATION.LABEL.TITLE_FORM' | translate">
    <form [formGroup]="editQualificationForm" (ngSubmit)="onSubmit()">
        <div class="align-items-center mb-2">
            <div class="qualification-form">
                <label for="qualification">{{ 'EMPLOYEE_QUALIFICATION.LABEL.QUALIFICATION' | translate }}</label>
                <input #firstInput pInputText type="text" id="qualification" formControlName="qualification"
                    autocomplete="off" />
            </div>
            <div class="qualification-form">
                <label for="abbreviation">{{ 'EMPLOYEE_QUALIFICATION.LABEL.ABBREVIATION' | translate }}</label>
                <input pInputText type="text" id="abbreviation" formControlName="abbreviation" autocomplete="off" />
            </div>
            <div class="row">
                <div class="col flex justify-content-center">
                    <p-button class="save me-2" size="small" [label]="'BUTTONS.SAVE' | translate" icon="pi pi-check"
                        iconPos="left" type="submit" [loading]="isSaving"
                        [disabled]="editQualificationForm.invalid || isSaving || !editQualificationForm.dirty" />
                    <p-button class="cancel me-2" size="small" [label]="'BUTTONS.CANCEL' | translate" icon="pi pi-times"
                        iconPos="left" type="button" [disabled]="isSaving" (onClick)="cancelEdit()" />
                </div>
            </div>
        </div>
    </form>
</p-card>

<app-occ-error-modal *ngIf="showOCCErrorModalEmployeeCategory" [errorType]="occErrorType" [reloadCurrentPage]="true"
    (close)="showOCCErrorModalEmployeeCategory = false">
</app-occ-error-modal>