<div class="card">
  <master-data-genaral-table
    [tableId]="tableKey"
    [tableValues]="contracts"
    [columns]="selectedColumns"
    [userPreferences]="userWorkContractsPreferences"
    [dataKeys]="dataKeys"
    removeKey="id"
    (onColumnChanges)="onUserWorkContractsPreferencesChanges($event)"
    (onEditRegister)="handleTableEvents({ type: 'edit', data: $event })"
    (onDeleteRegister)="handleTableEvents({ type: 'delete', data: $event })"
    (onCreateRegister)="handleTableEvents({ type: 'create' })"
    [isFileUploadButtonVisible]="true"
    acceptFilesFormats="image/*"
  ></master-data-genaral-table>
  <p-dialog 
    [header]="modalType === 'edit' 
      ? ('EMPLOYEE-CONTRACTS.LABEL.EDIT_EMPLOYEE_CONTRACT' | translate) 
      : modalType === 'create' 
       ? ('EMPLOYEE-CONTRACTS.LABEL.CREATE_EMPLOYEE_CONTRACT' | translate) 
       : ('EMPLOYEE-CONTRACTS.LABEL.DELETE_EMPLOYEE_CONTRACT' | translate)" 
    [modal]="true" 
    [(visible)]="visibleModal"
  >
    <app-contract-details
      [modalType]="modalType"
      [workContract]="currentContract"
      (isVisibleModal)="onModalVisibilityChange($event)"
      (deletedEmployeeContract)="onDeleteEmployeeContract($event)"
      (onContractCreated)="onCreateEmployeeContract($event)"
    ></app-contract-details>
  </p-dialog>
</div>