<div class="card">
  <master-data-genaral-table
    [tableId]="tableKey"
    [tableValues]="contracts"
    [columns]="selectedColumns"
    [userPreferences]="userWorkContractsPreferences"
    [dataKeys]="dataKeys"
    removeKey="employeeId"
    (onColumnChanges)="onUserWorkContractsPreferencesChanges($event)"
    (onEditRegister)="goToWorkContractDetails($event)"
    (onDeleteRegister)="deleteWorkContract($event)"
    (onCreateRegister)="createWorkContractDetails()"
    [isFileUploadButtonVisible]="true"
    acceptFilesFormats="image/*"
  ></master-data-genaral-table>
  <p-confirmDialog [style]="{ width: '450px' }" />
</div>