<div class="container">
    <div class="row">
      <div class="col-6">
        <master-data-genaral-table
          [tableId]="tableKey"
          [tableValues]="termsPayment"
          [columns]="columsHeaderFieldTermsPayment"
          [hideColumns]="false"
          tableTitle="TERMS_OF_PAYMENT.TERMS_OF_PAYMENT"
          [userPreferences]="userTermsPaymentPreferences"
          [dataKeys]="dataKeys"
          (onColumnChanges)="onUserTermsPaymentPreferencesChanges($event)"
        ></master-data-genaral-table>
      </div>
      <div class="col-6">
        <master-data-edit-term-payment/>
      </div>
    </div>
</div>