.contract_input {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;

  label {
    width: 150px;
    flex-shrink: 0;
  }

  input,
  p-select,
  p-inputnumber,
  p-datepicker {
    width: 100% !important;
  }

  ::ng-deep .custom-dropdown-panel li.p-select-option {
    justify-content: end !important;
  }
}

::ng-deep .p-datepicker {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  padding: 0 ;
}

::ng-deep .p-datepicker table,
::ng-deep .p-datepicker .p-monthpicker,
::ng-deep .p-datepicker .p-yearpicker,
::ng-deep .p-datepicker .p-datepicker-group {
  width: 100%;
  table-layout: fixed;
}
  

  