@import "bootstrap/dist/css/bootstrap.min.css";
/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.p-component {
    font-family: var(--font-family);
}

.p-component-overlay {
    margin: 0;
    padding: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

//Estilo para sidebar activo
.active {
    background-color: #4b6de8;
}

// Estilos para las filas de una tabla
.odd-row {
    background-color: #ffffff !important;
}
  
.even-row {
    background-color: #34495e38 !important;
}
  
/* Estilo de resaltado cuando el mouse pasa sobre la fila */
.odd-row:hover,
.even-row:hover {
    background-color: #dcdcdc !important; /* Gris claro para resaltar */
    cursor: pointer; /* Cambia el cursor a mano para dar un toque interactivo */
    transition: background-color 0.3s ease; /* Transición suave para el cambio de color */
}
