@use "variables" as *;
@import "bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Michroma&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-size: 12px !important;
}

:root {
  --light-cyan: rgba(142, 197, 255, 0.3);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Inter", Roboto, "Helvetica Neue", sans-serif;
  padding: 0;
  overflow: hidden;
}

.p-component {
  font-family: var(--font-family);
}

.p-component-overlay {
  margin: 0;
  padding: 0;
}

.p-datepicker:has(.p-datepicker-input-icon-container) .p-datepicker-input {
  height: 27px !important;
  font-size: 0.85rem;
  padding: 2px 6px;
  width: 20vw;
}

//Button  +New
button.p-ripple.p-button.p-component {
  height: 27px;
  background-color: #267bbf;
  border: #267bbf;
}

//Cancel button
.cancel button.p-ripple.p-button {
  background-color: #fff ;
  color:rgb(38,123,191);
  border: 1px solid rgb(38,123,191);
}

.active {
  background-color: #267bbf;
  border-color: #267bbf;

  a span {
    color: #eaf3fa;
  }
}

.odd-row {
  background-color: #ffffff !important;
}

.even-row {
  background-color: #34495e38 !important;
}

.odd-row:hover,
.even-row:hover {
  background-color: #dcdcdc !important;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input,
.p-select {
  height: 25px;
  font-size: 0.85rem;
  padding: 2px 6px;
}

.p-select-label {
  height: 18px;
  padding: 0 !important;

  li {
    height: 25px;
  }
}

.p-datatable.p-datatable-striped .p-datatable-tbody > tr:nth-child(odd) {
  background-color: #34495e38 !important;
}

td,
th {
  padding: 5px 16px !important;
  font-size: 14px;
  margin-left: 15px !important;
}

// //Styles btns edit delete
.p-button-rounded {
  height: 1.5rem !important;
  width: 1.5rem !important;
}

.w-13em
  .p-datepicker:has(.p-datepicker-input-icon-container)
  .p-datepicker-input {
  width: 15em !important;
}

.p-datatable-thead > tr > th.p-datatable-column-sorted {
  background: $accent-color;
  color: $primary-dark;
}

.p-toggleswitch.p-toggleswitch-checked .p-toggleswitch-slider{
  background: #267bbf !important;
}

.p-toggleswitch-handle{
  background: #fff !important;
  color: #267bbf !important;
  border-color: #267bbf !important;
}

.p-toggleswitch-slider{
  background: #fff !important;
  border-color: #267bbf !important;
}

// Popup sidebar expanded
div.p-tieredmenu.p-component.p-tieredmenu-overlay {
  width: 170px;
  background-color: $primary-dark;
  top: -95px !important;
  left: 185px !important;

  .p-tieredmenu-submenu {
    background-color: $primary-dark;
  }

  .p-tieredmenu-item {
    padding: 1px 5px;
  }
}

// Selected item popup
.p-tieredmenu-item-content  {
  color: #fff !important;
  background: transparent !important;
  border-radius: 6px !important;
}

.p-tieredmenu-item-active > .p-tieredmenu-item-content {
  color: #fff !important;
  background: #30465d !important;
  border-radius: 6px !important;
}

// Hover item popup
.p-tieredmenu-item:not(.p-disabled) > .p-tieredmenu-item-content:hover {
  color: #fff !important;
  background: #30465d !important;
  border-radius: 6px;
}

// Position collapsed popup
.sidebar.collapsed {
  div.p-tieredmenu.p-component.p-tieredmenu-overlay {
    width: 170px;
    top: -95px !important;
    left: 60px !important;
  }
}

/* Stiles checkboxs */
.p-checkbox-box {
  border: 2px solid #ced4da !important;
  background: #ffffff !important;
}

.p-checkbox.p-checkbox-checked .p-checkbox-box{
  background: #267bbf !important;
  border-color: #267bbf !important;
}

#select-countries-filter {
  height: 25px !important;

  .p-multiselect-label {
    padding: 0.3rem 0 0.3rem 0.7rem !important;
    font-weight: lighter !important;
  }
}
#select-countries-filter_list {
  min-width: 150px !important;
  width: min-content !important;
}