@use 'variables' as *;

.form-container {
  padding-top: 18px;


  .account_input {
    display: flex;
    align-items: center;
    margin-bottom: 1.2rem;
  
    label {
      width: 100px;
      flex-shrink: 0;
    }
  
    p-datepicker,
    p-inputnumber {
      width: 100%;
      min-width: 10rem;
    }
  }

}

.form-container > p-message {
  justify-content: center;
  display: flex;

  position: absolute;
}

::ng-deep .p-datepicker {
  width: auto;
  min-width: 100%;
}

::ng-deep .p-datepicker-panel table,
::ng-deep .p-datepicker-panel .p-monthpicker,
::ng-deep .p-datepicker-panel .p-yearpicker,
::ng-deep .p-datepicker-panel .p-datepicker-group {
  td, th {
    padding: 0 !important;
    text-align: center;
  }
}

::ng-deep .p-datepicker-panel {
  button.p-ripple.p-button.p-component {
    background-color: initial !important;
    border: none;
    color: $primary-color;

    &:hover{
      background-color: $accent-color !important;
    }
  }

  .p-datepicker-day-selected{
    background: $primary-color !important;
  }
}
