<ng-container *ngIf="isCreateMode; else deleteTemplate">
  <form [formGroup]="formAccountYear" (ngSubmit)="onSubmit()">
    <div class="form-container">
      <div class="account_input">
        <label for="periodNo">{{ 'PROJECT_PERIOD.FORM.YEAR' | translate }}</label>
        <div class="input-message">
          <input #firstInput pInputText type="text" id="periodNo" formControlName="periodNo" autocomplete="off"/>  
        </div>
      </div>

      <div class="account_input">
        <label for="startDate">{{ 'PROJECT_PERIOD.FORM.BEGINNING' | translate }}</label>
        <div class="input-message">
          <p-datepicker inputId="startDate" [showIcon]="true" [showClear]="true" appendTo="body"
          formControlName="startDate" dateFormat="dd.mm.yy" 
          [maxDate]="maxStartDate"
          [ngClass]="{ 'ng-invalid ng-dirty': invalidStartDate }"
          (onInput)="validationInputStartDate($event)"
          (onSelect)="validationSelectStartDate($event)"
          (onBlur)="invalidStartDate=false"></p-datepicker>
          <p-message severity="error" [showTransitionOptions]="'0ms'" variant="simple" size="small" 
          *ngIf="formAccountYear.get('startDate')?.invalid && formAccountYear.get('startDate')?.dirty || invalidStartDate" >
              {{ 'PROJECT_PERIOD.ERROR.START_DATE_AFTER_END_DATE_ERROR' | translate }}
          </p-message>     
        </div>
      </div>

      <div class="account_input">
        <label for="endDate">{{ 'PROJECT_PERIOD.FORM.END' | translate }}</label>
        <div class="input-message">
          <p-datepicker inputId="endDate" [showIcon]="true" [showClear]="true" appendTo="body" formControlName="endDate"
          dateFormat="dd.mm.yy" 
          [minDate]="minEndDate"
          [ngClass]="{ 'ng-invalid ng-dirty': invalidEndDate }"
          (onInput)="validationInputEndDate($event)"
          (onSelect)="validationSelectEndDate($event)"
          (onBlur)="invalidEndDate=false"></p-datepicker>
          <p-message severity="error" [showTransitionOptions]="'0ms'" variant="simple" size="small" 
          *ngIf="formAccountYear.get('endDate')?.invalid && formAccountYear.get('endDate')?.dirty || invalidEndDate">
            {{  'PROJECT_PERIOD.ERROR.END_DATE_BEFORE_START_DATE_ERROR' | translate }}
          </p-message>  
        </div>  
      </div>
    </div>
    <div class="flex justify-content-center gap-2 mt-4">
      <p-button type="submit" class="save" size="small" [label]="'BUTTONS.SAVE' | translate" icon="pi pi-check"
        iconPos="left" [loading]="isLoading" [disabled]="!formAccountYear.dirty || formAccountYear.invalid || invalidStartDate || invalidEndDate" />
      @if(modalType === 'edit') {
      <p-button type="button" class="delete" size="small" [label]="'BUTTONS.DELETE' | translate" icon="pi pi-trash"
        iconPos="left" severity="danger" [disabled]="isLoading" (onClick)="visibleDeleteEntityModal = true;" />
      }
      <p-button class="cancel" size="small" [label]="'BUTTONS.CANCEL' | translate" icon="pi pi-times" iconPos="left"
        (onClick)="closeModal()" [disabled]="isLoading" />
    </div>
  </form>
</ng-container>
<ng-template #deleteTemplate>
  <div class="confirmation-content mt-4">
    <p *ngIf="currentProjectPeriodEntity" class="mb-4"
      [innerHTML]="'DIALOG.DELETE' | translate:{ value: currentProjectPeriodEntity.periodNo }">
    </p>

    <div class="flex justify-content-center gap-3">
      <p-button type="button" class="delete" size="small" [label]="'BUTTONS.DELETE' | translate" icon="pi pi-trash"
        iconPos="left" severity="danger" (onClick)="deleteEmployeeContractEntity()" [loading]="isLoadingDelete" />
      <p-button type="button" class="cancel" size="small" [label]="'BUTTONS.CANCEL' | translate" icon="pi pi-times"
        iconPos="left" (onClick)="closeModal()" [disabled]="isLoadingDelete" />
    </div>
  </div>
</ng-template>

<p-dialog [header]="'PROJECT_PERIOD.MODAL.DELETE' | translate" [modal]="true" appendTo="body"
  [(visible)]="visibleDeleteEntityModal">
  <div class="confirmation-content mb-2 mt-4">
    <p class="mb-4" [innerHTML]="'DIALOG.DELETE' | translate:{ value: currentProjectPeriodEntity?.periodNo }"></p>

    <div class="flex justify-content-center gap-2">
      <p-button type="button" class="delete" size="small" [label]="'BUTTONS.DELETE' | translate" icon="pi pi-trash"
        iconPos="left" (onClick)="deleteEmployeeContractEntity()" severity="danger" [loading]="isLoadingDelete"
        [disabled]="isLoadingDelete" />

      <p-button type="button" class="cancel" size="small" [label]="'BUTTONS.CANCEL' | translate" icon="pi pi-times"
        iconPos="left" (onClick)="this.visibleDeleteEntityModal = false;" [disabled]="isLoadingDelete" />

    </div>
  </div>
</p-dialog>