<div #card class="card">
  <p-table id="iwstable" #dt2 [value]="tableValues" dataKey="id" [rows]="15"
    [columns]="this.userPreferences[this.tableId]?.displayedColumns" [rowsPerPageOptions]="[15, 30, 50]"
    [paginator]="true" [currentPageReportTemplate]="'TABLES.PAGINATION_LABEL' | translate"
    [showCurrentPageReport]="true" [resizableColumns]="true" columnResizeMode="expand" showGridlines
    [tableStyle]="{ width: '100%', 'border-spacing': '1px' }" [globalFilterFields]="dataKeys"
    (onFilter)="onTableFilterChange($event)" stateStorage="local" [stateKey]="tableId + '-table-state'"
    [sortField]="sortField" [sortOrder]="sortOrder">
    <ng-template #header let-columns>
      <tr>
        <th id="hide-columns" class="thead-bg-blue">
          <p-multiselect #hiddenColumns [options]="this.columns"
            [ngModel]="this.userPreferences[this.tableId]?.displayedColumns" (onChange)="changeSelect($event)"
            optionLabel="header" [maxSelectedLabels]="0" [appendTo]="'body'" dropdownIcon="pi pi-eye" />
        </th>
        <th id="data-column" scope="col" *ngFor="let col of columns; let i = index" [ngStyle]="col.styles" [ngClass]="col.classesTHead"
          [pSortableColumn]="col.field" pResizableColumn class="thead">
          <div class="flex justify-content-between">
            {{ col.header }} <p-sortIcon [field]="col.field" />
          </div>
        </th>
      </tr>
      <tr *ngIf="filterByColumns">
        <th scope="col"></th>
        <th scope="col" *ngFor="let col of columns; let i = index">
          @if(col.filter && col.filter.type === 'multiple') {
          <p-columnFilter [field]="col.field" matchMode="in" [showMenu]="false">
            <ng-template #filter let-value let-filter="filterCallback">
              <p-multiselect [ngModel]="value" [options]="col.filter.data" (onChange)="filter($event.value)"
                optionLabel="label" optionValue="value" [placeholder]="'COMMON.ANY' | translate"
                [style.min-width.rem]="14" [panelStyle]="{ minWidth: '16rem' }" [appendTo]="'body'">
              </p-multiselect>
            </ng-template>
          </p-columnFilter>
          } @else if (col.filter && col.filter.type === 'boolean') {
          <p-columnFilter [field]="col.field" matchMode="equals" [showMenu]="false">
            <ng-template #filter let-value let-filter="filterCallback">
              <p-select [ngModel]="value" [options]="booleanHeaders" optionLabel="header" optionValue="value"
                (onChange)="filter($event.value)" [placeholder]="'COMMON.SELECT_ONE' | translate" styleClass="w-full"
                [appendTo]="'body'">
              </p-select>
            </ng-template>
          </p-columnFilter>
          } @else if (col.filter && col.filter.type === 'numeric') {
            <p-columnFilter type="numeric" [minFractionDigits]="2" [maxFractionDigits]="2" [field]="col.field" locale="DE">
              <ng-template #filter let-value let-filter="filterCallback">
                <p-inputNumber class="p-inputnumber-input" [ngModel]="value" (ngModelChange)="filter($event)" [inputStyle]="{'text-align': 'right'}"
                  mode="decimal" [max]="99999.99" [min]="0" [useGrouping]="true" [minFractionDigits]="2" [maxFractionDigits]="2" locale="de-DE"
                  [placeholder]="'COMMON.SEARCH' | translate"/>
              </ng-template>
            </p-columnFilter>
          } @else if (col.filter && col.filter.type === 'date') {
            <p-columnFilter #date type="date" [field]="col.field" locale="de-DE">
              <ng-template #filter let-value let-filter="filterCallback">
                <p-datepicker 
                  [ngModel]="value" 
                  (ngModelChange)="filter($event)" 
                  dateFormat="dd.mm.yy"
                  [appendTo]="'body'"
                  [panelStyleClass]="'compact-calendar'"
                  [placeholder]="'COMMON.SEARCH' | translate"/>
              </ng-template>
            </p-columnFilter>
          } @else {      
          <p-columnFilter type="text" [field]="col.field" matchMode="contains" ariaLabel="Filter Name">
            <ng-template #filter let-value let-filter="filterCallback">
              <input type="text" pInputText [ngModel]="value" (ngModelChange)="filter($event)" class="p-inputtext"
                [placeholder]="'COMMON.SEARCH' | translate" />
            </ng-template>
          </p-columnFilter>
          }
        </th>
      </tr>
    </ng-template>

    <ng-template #body let-row let-i="rowIndex" let-columns="columns">
      <tr [ngClass]="{
          'odd-row': i % 2 !== 0,
          'even-row': i % 2 === 0
        }">
        <td>
          <div class="flex justify-content-center gap-2">
            <button pButton icon="pi pi-pencil" type="button" class="p-button-rounded p-button-info button-option"
              (click)="editRegister(row)" [disabled]="disableButtons"></button>
            <button pButton icon="pi pi-trash" type="button" class="p-button-rounded p-button-danger button-option"
              (click)="deleteRegister(row[removeKey])" [disabled]="disableButtons"></button>
          </div>
        </td>
        <td *ngFor="let col of columns; let i = index" [ngClass]="col.customClasses ? col.customClasses : ''" [ngStyle]="col.styleTd">
          <!-- Add link by an <a> tag -->
          @if(col.routerLink) {
          <a [routerLink]="col.routerLink(row)" class="clickable-title" (click)="$event.stopPropagation()"
            style="color: inherit; text-decoration: none;" tabindex="-1">
            {{ getNestedValue(row, col.field) }}
          </a>
          } @else if(col.useSameAsEdit && !disableButtons) {
          <p class="clickable-title without-margin" (click)="editRegister(row)" (keydown.enter)="editRegister(row)" [ngClass]="{'date-font-style' : col.type === 'double' || col.type === 'dateYear' || col.type === 'date'}">
            {{ col.type === 'double'? 
                (getNestedValue(row, col.field) | number:'1.2-2':'de-DE') :
                col.type === 'dateYear' ?
                (getNestedValue(row, col.field) | date: 'yyyy'):
                col.type === 'date' ?
                (getNestedValue(row, col.field) | date:defaultDateFormat) :
                getNestedValue(row, col.field) 
            }}
          </p>
          } @else {
          <ng-container *ngIf="col.routerLink; else plainText">
            <a [routerLink]="col.routerLink(row)" (click)="$event.stopPropagation()"
              style="color: inherit; text-decoration: none;" tabindex="-1">
              {{ getNestedValue(row, col.field) }}
            </a>
          </ng-container>
          <ng-template #plainText>
            <ng-container *ngIf="col.filter && col.filter.type === 'boolean'; else normalText">
              <i class="pi" [ngClass]="
                   row[col.field] ? 'text-green-500 pi-check' : 'text-red-500 pi-times'
                 "></i>
            </ng-container>
            <ng-template #normalText>
              <span [ngClass]="{'date-font-style' : col.type === 'date' || col.type === 'dateYear' || col.type === 'double' || col.type === 'integer'}">
                {{
                  col.type === 'date'
                    ? col.format
                      ? (getNestedValue(row, col.field) | date:col.format)
                      : (getNestedValue(row, col.field) | date:defaultDateFormat)
                    : col.type === 'dateYear'
                      ? (getNestedValue(row, col.field) | date:'yyyy')
                    : col.type === 'double'
                      ? (getNestedValue(row, col.field) | number:'1.2-2':'de-DE')
                    : col.type === 'integer' 
                      ? (getNestedValue(row, col.field) | number:'1.0-0':'de-DE') 
                      : getNestedValue(row, col.field)
                }}
              </span>
            </ng-template>
          </ng-template>
          }

        </td>
      </tr>
    </ng-template>

    <ng-template #emptymessage>
      <tr>
        <td colspan="7">
          <p-message severity="info">{{
            "TABLES.NO_RESULTS_FOUND" | translate
            }}</p-message>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-toolbar>
    <ng-template #start>
      <div class="flex gap-2">
        <p-button [label]="nameNewButton || 'BUTTONS.NEW' | translate" icon="pi pi-plus" [disabled]="disableButtons || enableCreateButton"
          (click)="createRegister('new register')" (keydown.enter)="createRegister('new register')" />

        @if(isFileUploadButtonVisible) {
        <p-fileUpload mode="basic" [accept]="acceptFilesFormats" [maxFileSize]="5000000"
          [chooseLabel]="customerUploadButtonText.length > 0 ? customerUploadButtonText : 'BUTTONS.IMPORT' | translate" auto customUpload class="mr-2 inline-block" />
        }
      </div>
    </ng-template>
  </p-toolbar>
</div>