@use "variables" as *;

p-button {
  color: $primary-light;
}

.thead {
  background: $primary-color;
  color: #fff;
  min-width: 1.25rem;

  &:hover {
    background: $accent-color;
    color: $primary-dark;
  }
}

.thead-bg-blue {
  background: $primary-color;
}

.thead-input-id {
  min-width: 4.4rem;
  width: 100%;
}

.thead-input-width {
  width: 100%;
}

.align-right {
  text-align: right;
}

.td-fix-max-min-width {
  max-width: 30rem !important;
  min-width: 30rem !important;
}

.nowrap-row {
  cursor: default;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 10rem;
}

:host ::ng-deep {
  p-columnfilter {
    button {
      background-color: unset !important;
      border: none !important;
    }
  }

  p-columnfilter>div>p-columnfilterformelement {
    width: 100%;
  }

  .p-inputtext {
    min-width: 70px;
    width: 100% !important;
  }

  .p-datatable-resizable-table>.p-datatable-thead>tr>th.p-datatable-resizable-column:not(.p-datatable-frozen-column) {
    width: 100% !important;
  }

  //class: fix-width -> th -> classesTHead
  p-table#iwstable table.p-datatable-resizable-table>thead.p-datatable-thead>tr>th.p-datatable-resizable-column.fix-width:not(.p-datatable-frozen-column) {
    width: 100px !important;
    max-width: 130px !important;
  }

  //class: fix-td-width -> td -> customClasses
  p-table#iwstable table.p-datatable-resizable-table>tbody.p-datatable-tbody>tr>td.fix-td-width:not(.p-datatable-frozen-column) {
    width: 150px !important;
    max-width: none !important;
  }

  //class: fix-td-width-contractor-taxNo -> td -> customClasses
  p-table#iwstable table.p-datatable-resizable-table>tbody.p-datatable-tbody>tr>td.fix-td-width-contractor-taxNo:not(.p-datatable-frozen-column) {
    width: 200px !important;
    max-width: 13rem !important;
  }

  //class: fix-td-width-contractor-label -> td -> customClasses
  p-table#iwstable table.p-datatable-resizable-table>tbody.p-datatable-tbody>tr>td.fix-td-width-contractor-label:not(.p-datatable-frozen-column) {
    width: 150px !important;
    max-width: 10rem !important;
  }

  //class: fix-td-width-contractor-name -> td -> customClasses
  p-table#iwstable table.p-datatable-resizable-table>tbody.p-datatable-tbody>tr>td.fix-td-width-contractor-name:not(.p-datatable-frozen-column) {
    width: 400px !important;
    max-width: 65rem !important;
  }

  //class: fix-td-width-contractor-street -> td -> customClasses
  p-table#iwstable table.p-datatable-resizable-table>tbody.p-datatable-tbody>tr>td.fix-td-width-contractor-street:not(.p-datatable-frozen-column) {
    width: 150px !important;
    max-width: 16rem !important;
  }

  @for $i from 1 through 100 {
    p-table#iwstable table.p-datatable-resizable-table>thead.p-datatable-thead>tr>th.p-datatable-resizable-column.width-#{$i}:not(.p-datatable-frozen-column) {
      width: #{$i * 1%} !important;
      max-width: 130px !important;
    }
  }

  p-table#iwstable table.p-datatable-resizable-table>thead.p-datatable-thead>tr>th.p-datatable-resizable-column.proportional-width:not(.p-datatable-frozen-column) {
    width: 50% !important;
    max-width: 100px !important;
  }


  thead.p-datatable-thead>tr>th#hide-columns.thead-bg-blue {
    width: 75px !important;
    max-width: 75px !important;
  }
}

.clickable-title:hover {
  text-decoration: underline !important;
  color: #1976d2 !important;
  cursor: pointer;
}

.without-margin {
  display: inline-block !important;
  margin: 0px !important;
}

td {
  user-select: none;
}

::ng-deep .p-datatable-table-container {
  padding-bottom: 10px;
}

::ng-deep .date-font-style {
  font-feature-settings: "tnum";
  font-variant-numeric: tabular-nums;
}