@use 'variables' as *;

p-button {
    color: $primary-light;
}

.thead {
    background: $primary-color;
    color: #fff;
    min-width: 1.25rem; 

    &:hover {
        background: $accent-color;
        color: $primary-dark;
    }
}

.thead-bg-blue {
    background: $primary-color;
    width: 70px;
}

.thead-input-id {
    min-width: 4.4rem; 
    width: 100%;
}

.thead-input-width {
    width: 100%;
}

.align-right {
    text-align: right;
}

.nowrap-row {
  cursor: zoom-in;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 10rem;
}

:host ::ng-deep {
    p-columnfilter {
       button {
        background-color: unset !important;
        border: none !important;
       }  
    }
}