@use 'variables' as *;

.form-row {
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
}

.form-column {
  flex: 1;
  display: flex;
  flex-direction: column;
}


.field {
  display: flex;
  align-items: center;
  margin-bottom: 1.2rem;

  label {
    min-width: 200px;
    width: 200px;
    text-align: left;
    flex-shrink: 0;
  }

 
  .input-wrapper,
  .datepicker-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 400px;
  }

 
  input,
  p-select,
  p-inputnumber,
  p-datepicker,
  .p-inputtext,
  .p-dropdown,
  .p-calendar {
    width: 100% !important;
    flex: 1 1 auto;
    min-width: 0;
  }

  
  p-message {
    width: 100%;
    margin-top: 4px;
  }
}


::ng-deep .p-datepicker table,
::ng-deep .p-datepicker .p-monthpicker,
::ng-deep .p-datepicker .p-yearpicker,
::ng-deep .p-datepicker .p-datepicker-group {
  td, th {
    padding: 0 !important;
    text-align: center;
  }
}

::ng-deep .p-datepicker {
  button.p-ripple.p-button.p-component {
    background-color: initial !important;
    border: none;
    color: $primary-color;

    &:hover {
      background-color: $accent-color !important;
    }
  }

  .p-datepicker-day-selected {
    background: $primary-color !important;
  }
}