<div class="container">
  <div class="row">
    <master-data-genaral-table
      [tableId]="tableKey"
      [tableValues]="teams()"
      [columns]="columnsHeaderIwsTeams"
      [userPreferences]="userIwsTeamsPreferences"
      [dataKeys]="dataKeys"
      (onColumnChanges)="onUserIwsTeamsPreferencesChanges($event)"
      (onCreateRegister)="handleTableEvents({ type: 'create' })"
      (onDeleteRegister)="handleTableEvents({ type: 'delete', data: $event })"
      (onEditRegister)="editTeamIws($event)"
    ></master-data-genaral-table>
    <p-dialog 
        [header]="modalType === 'create' 
          ? ('IWS_TEAMS.FORM.IWS_TEAM_FORM' | translate) 
          : ('IWS_TEAMS.DELETE.CONFIRMATION' | translate)" 
        [modal]="true" 
        [(visible)]="visibleModal" 
        (onShow)="onDialogShow()"
        (onHide)="onClose()"
      >
        <app-iws-teams-modal
          [modalType]="modalType"
          [teamIwsName]="TeamIwsName"
          [teamIwsToDelete]="selectedTeamIws"
          [visibleModal]="visibleModal"
          (isVisibleModal)="onModalVisibilityChange($event)"
          (toastMessage)="toastMessageDisplay($event)"
          (createTeamIws)="createTeamIws($event)" 
          #iwsTeamsModal
        ></app-iws-teams-modal>
      </p-dialog>
  </div>
</div>
