<div class="card">
  <master-data-genaral-table
    [tableId]="tableKey"
    [tableValues]="contractors"
    [columns]="selectedColumns"
    [userPreferences]="userContractorOverviewPreferences"
    [dataKeys]="dataKeys"
    (onColumnChanges)="onUserContractorOverviewPreferencesChanges($event)"
    (onEditRegister)="handleContractorTableEvents({ type: 'edit', data: $event })"
    (onDeleteRegister)="handleContractorTableEvents({ type: 'delete', data: $event })"
    (onCreateRegister)="handleContractorTableEvents({ type: 'create' })"
  ></master-data-genaral-table>
  <p-dialog 
    [header]="modalContractorType === 'edit' 
      ? ('CONTRACTS.LABEL.EDIT_CONTRACTOR' | translate) 
      : modalContractorType === 'create' 
       ? ('CONTRACTS.LABEL.CREATE_CONTRACTOR' | translate) 
       : ('CONTRACTS.LABEL.DELETE_CONTRACTOR' | translate)" 
    [modal]="true" 
    [(visible)]="visibleModal"
  >
    <app-contractor-details
      [visible]="visibleModal"
      [modalContractType]="modalContractorType"
      [currentCustomer]="customer"
      [contractor]="currentContract"
      [isVisibleModal]="visibleModal"
      (onMessageOperation)="messageOperation($event)"
      (isContractVisibleModal)="onModalVisibilityChange($event)"
      (onContractorDeleted)="onContractorDeleted($event)"
      (contractorUpdated)="onContractorUpdated($event)"
      (onContractorCreated)="onContractorCreated($event)"
    ></app-contractor-details>
  </p-dialog>
</div>