<div class="container">
  <div class="row">
    <master-data-genaral-table
      [tableId]="tableKey"
      [tableValues]="employeeIwss()"
      [columns]="columnsHeaderFieldIwsStaff"
      [userPreferences]="userIwsStaffTPreferences"
      [dataKeys]="dataKeys"
      (onColumnChanges)="onUserIwsStaffTPreferencesChanges($event)"
      (onCreateRegister)="handleTableEvents({ type: 'create' })"
      (onDeleteRegister)="handleTableEvents({ type: 'delete', data: $event })"
      (onEditRegister)="editEmployeeIws($event)"
    ></master-data-genaral-table>
    <p-dialog 
        [header]="modalType === 'create' 
          ? ('IWS_STAFF.FORM.IWS_STAFF_FORM' | translate) 
          : ('IWS_STAFF.DELETE.CONFIRMATION' | translate)" 
        [modal]="true" 
        [(visible)]="visibleModal" 
        (onShow)="onDialogShow()"
      >
        <app-iws-staff-modal
          [modalType]="modalType"
          [employeeIwsName]="NameEmployeeIws"
          [employeeIwsToDelete]="selectedEmployeeIws"
          (isVisibleModal)="onModalVisibilityChange($event)"
          (toastMessage)="toastMessageDisplay($event)"
          #titleModal
        ></app-iws-staff-modal>
      </p-dialog>
  </div>
</div>
<p-toast/>
