<div class="card">
  <master-data-genaral-table
    [tableId]="tableKey"
    [tableValues]="frameworkAgreements"
    [columns]="selectedColumns"
    [userPreferences]="userFrameworkAgreementsPreferences"
    [dataKeys]="dataKeys"
    (onColumnChanges)="onUserFrameworkAgreementsPreferencesChanges($event)"
    (onEditRegister)="goToFrameworkAgreementDetail($event)"
    (onDeleteRegister)="deleteFrameworkAgreement($event)"
    (onCreateRegister)="createFrameworkAgreementDetail()"
  ></master-data-genaral-table>
</div>