<div class="card">
  <master-data-genaral-table
    [tableId]="tableKey"
    [tableValues]="frameworkAgreements()"
    [columns]="selectedColumns"
    [userPreferences]="userFrameworkAgreementsPreferences"
    [dataKeys]="dataKeys"
    (onColumnChanges)="onUserFrameworkAgreementsPreferencesChanges($event)"
    (onEditRegister)="goToFrameworkAgreementDetail($event)"
    (onDeleteRegister)="deleteFrameworkAgreement($event)"
    (onCreateRegister)="createFrameworkAgreementDetail()"
  ></master-data-genaral-table>
  <p-dialog 
    [header]="modalFrameworkAgreementType === 'create' 
       ? ('FRAMEWORK-AGREEMENTS.TITLE_DIALOG_CREATE' | translate) 
       : ('FRAMEWORK-AGREEMENTS.TITLE_DIALOG_REMOVE' | translate)" 
    [modal]="true"
    [(visible)]="visibleFrameworkAgreementModal" 
    [style]="{ width: 'auto' }"
  >
    <app-framework-agreements-modal
      [selectedFrameworkAgreement]="selectedFrameworkAgreement"
      [customer]="currentCustomer"
      [modalType]="modalFrameworkAgreementType"
      [visible]="visibleFrameworkAgreementModal"
      (visibleModal)="onModalVisible($event)"
      (showOCCErrorModalFA)="showOCCErrorModalBasicContract = $event"
    ></app-framework-agreements-modal>
  </p-dialog>
</div>
<app-occ-error-modal 
    *ngIf="showOCCErrorModalBasicContract"
    [reloadCurrentPage]="true" 
    [errorType]="occErrorType"
    (onClose)="showOCCErrorModalBasicContract = false">
</app-occ-error-modal>