<div class="card">
  <master-data-genaral-table
    [tableId]="tableKey"
    [tableValues]="frameworkAgreements"
    [columns]="selectedColumns"
    [userPreferences]="userFrameworkAgreementsPreferences"
    [dataKeys]="dataKeys"
    (onColumnChanges)="onUserFrameworkAgreementsPreferencesChanges($event)"
    (onEditRegister)="goToFrameworkAgreementDetail($event)"
    (onDeleteRegister)="deleteFrameworkAgreement($event)"
    (onCreateRegister)="createFrameworkAgreementDetail()"
  ></master-data-genaral-table>
  <p-dialog 
    [header]="modalFrameworkAgreementType === 'create' 
       ? ('FRAMEWORK-AGREEMENTS.TITLE_DIALOG_CREATE' | translate) 
       : ('FRAMEWORK-AGREEMENTS.TITLE_DIALOG_REMOVE' | translate)" 
    [modal]="true"
    (onHide)="onModalHide()"
    [(visible)]="visibleFrameworkAgreementModal" 
    [style]="{ width: '45rem' }"
  >
    <app-framework-agreements-modal
      [selectedFrameworkAgreement]="selectedFrameworkAgreement"
      [customer]="customer"
      [modalType]="modalFrameworkAgreementType"
      [isLoading]="isFrameworkAgreementLoading"
      (createdFrameworkAgreement)="onCreateFrameworkAgreement($event)"
      (deletedFrameworkAgreement)="onDeleteFrameworkAgreement($event)"
      (visibleModal)="onModalVisible($event)"
    ></app-framework-agreements-modal>
  </p-dialog>
</div>