<form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
  <div class="form-row flex flex-wrap justify-content-center">
    <div class="form-column pl-6">
      <div class="field">
        <label for="employeeNumber">{{ 'EMPLOYEE.FORM.EMPLOYEE_ID' | translate }}</label>
        <div class="input-message">
        <p-inputnumber #inputNumber [inputStyle]="{'text-align': 'right'}" [useGrouping]="false" autocomplete="off" formControlName="employeeNumber" id="employeeNumber" 
        [attr.invalid]="(employeeForm.get('employeeNumber')?.invalid && employeeForm.get('employeeNumber')?.dirty) || employeeNumberAlreadyExist"/>
        <p-message severity="error" [showTransitionOptions]="'0ms'" variant="simple" size="small" *ngIf="
            (employeeForm.get('employeeNumber')?.invalid && employeeForm.get('employeeNumber')?.dirty) || employeeNumberAlreadyExist">
            <span *ngIf="employeeForm.get('employeeNumber')?.errors?.['required'] && employeeForm.get('employeeNumber')?.dirty">
              {{ 'ERROR.FIELD_REQUIRED' | translate }}
            </span>
            <span *ngIf="employeeNumberAlreadyExist && !employeeForm.get('employeeNumber')?.errors?.['required']">
              {{ 'FUNDING.ERROR.NAME_ALREADY_EXIST' | translate }}
            </span>
          </p-message>
          </div>
      </div>

      <div class="field">
        <label for="salutation">{{ 'EMPLOYEE.FORM.SALUTATION' | translate }}</label>
        <p-select [options]="salutations()" optionLabel="name" optionValue="id" formControlName="salutation"
          inputId="salutation" [showClear]="true" [emptyMessage]="'TABLES.NO_RESULTS_FOUND' | translate" />
      </div>

      <div class="field">
        <label for="title">{{ 'EMPLOYEE.FORM.TITLE' | translate }}</label>
        <p-select [options]="titles()" optionLabel="name" optionValue="id" formControlName="title" inputId="title"
          [showClear]="true" [emptyMessage]="'TABLES.NO_RESULTS_FOUND' | translate" />
      </div>

      <div class="field">
        <label for="employeeFirstName">{{ 'EMPLOYEE.FORM.FIRST_NAME' | translate }}</label>
        <input  type="text" pInputText formControlName="employeeFirstName" id="employeeFirstName" autocomplete="off"/>
      </div>

      <div class="field">
        <label for="employeeLastName">{{ 'EMPLOYEE.FORM.LAST_NAME' | translate }}</label>
        <div class="input-message">
        <input class="col-md-6" type="text" pInputText formControlName="employeeLastName" id="employeeLastName" autocomplete="off"/>
        <p-message severity="error" [showTransitionOptions]="'0ms'" variant="simple" size="small" *ngIf="
            (employeeForm.get('employeeLastName')?.invalid && employeeForm.get('employeeLastName')?.dirty) ">
            <span *ngIf="employeeForm.get('employeeLastName')?.errors?.['required'] && employeeForm.get('employeeLastName')?.dirty">
              {{ 'ERROR.FIELD_REQUIRED' | translate }}
            </span>
            <span *ngIf="!employeeForm.get('employeeLastName')?.errors?.['required']">
              {{ 'FUNDING.ERROR.NAME_ALREADY_EXIST' | translate }}
            </span>
          </p-message>
          </div>
      </div>

    <div class="field">
      <label for="employeeEmail">{{ 'EMPLOYEE.FORM.EMAIL' | translate }}</label>
      <div class="input-message">
      <input
        type="text"
        pInputText
        formControlName="employeeEmail"
        id="employeeEmail"
        autocomplete="off"
        [attr.invalid]="(employeeForm.get('employeeEmail')?.invalid && employeeForm.get('employeeEmail')?.dirty)"
      />
      <p-message severity="error" [showTransitionOptions]="'0ms'" variant="simple" size="small" *ngIf="
            (employeeForm.get('employeeEmail')?.invalid && employeeForm.get('employeeEmail')?.dirty)">
            <span *ngIf="(employeeForm.get('employeeEmail')?.errors?.['email']||
                employeeForm.get('employeeEmail')?.errors?.['pattern']) && employeeForm.get('employeeEmail')?.dirty">
              {{ 'MESSAGE.INVALID_EMAIL' | translate }}
            </span>
      </p-message>
      </div>
    </div>
    </div>

    <div class="form-column flex flex-column pl-6">
      <div class="field">
        <label for="generalManagerSinceDate">{{ 'EMPLOYEE.FORM.GENERAL_MANAGER_SINCE' | translate }}</label>
        <div class="datepicker-container">
          <p-datepicker formControlName="generalManagerSinceDate" [style]="{'width':'100%'}" [showIcon]="true"
            inputId="generalManagerSinceDate" dateFormat="dd.mm.yy" [showClear]="true" />
        </div>
      </div>

      <div class="field">
        <label for="shareholderSinceDate">{{ 'EMPLOYEE.FORM.SHAREHOLDER_SINCE' | translate }}</label>
        <div class="datepicker-container">
          <p-datepicker formControlName="shareholderSinceDate" [style]="{'width':'100%'}" [showIcon]="true"
            inputId="shareholderSinceDate" dateFormat="dd.mm.yy" [showClear]="true" />
        </div>
      </div>

      <div class="field">
        <label for="solePropietorSinceDate">{{ 'EMPLOYEE.FORM.SOLE_PROPRIETOR_SINCE' | translate }}</label>
        <div class="datepicker-container">
          <p-datepicker formControlName="solePropietorSinceDate" [style]="{'width':'100%'}" [showIcon]="true"
            inputId="solePropietorSinceDate" dateFormat="dd.mm.yy" [showClear]="true" />
        </div>
      </div>

      <div class="field">
        <label for="coentrepreneurSinceDate">{{ 'EMPLOYEE.FORM.CO_ENTREPRENEUR_SINCE' | translate }}</label>
        <div class="datepicker-container">
          <p-datepicker formControlName="coentrepreneurSinceDate" [style]="{'width':'100%'}" [showIcon]="true"
            inputId="coentrepreneurSinceDate" dateFormat="dd.mm.yy" [showClear]="true" />
        </div>
      </div>

      <div class="field">
        <label for="qualificationFzId">{{ 'EMPLOYEE.FORM.QUALIFICATION_FZ' | translate }}</label>
        <p-select [options]="qualificationsFZ()" optionLabel="name" optionValue="id" formControlName="qualificationFzId"
          [showClear]="true" inputId="qualificationFzId" [emptyMessage]="'TABLES.NO_RESULTS_FOUND' | translate" />
      </div>

      <div class="field">
        <label for="qualificationKMUi">{{ 'EMPLOYEE.FORM.QUALIFICATION_KMU_I' | translate }}</label>
        <input class="col-md-6" type="text" pInputText formControlName="qualificationKMUi" id="qualificationKMUi" autocomplete="off"/>
      </div>
    </div>
  </div>

  <div class="form-row flex flex-wrap gap-3 justify-content-center">
    <p-button type="submit" class="Save me-2" size="small" [label]="'BUTTONS.SAVE' | translate" icon="pi pi-check"
      iconPos="left" [loading]="isLoading" [disabled]="employeeForm.invalid || !employeeForm.dirty" />
    @if (currentEmployee) {
    <p-button class="Delete me-2" size="small" [label]="'BUTTONS.DELETE' | translate" icon="pi pi-trash" iconPos="left"
      [style]="{ background: '#ef4444' }" (onClick)="showModalDelete()" [disabled]="isLoading" />
    }
    <p-button class="cancel me-2" size="small" [label]="'BUTTONS.CANCEL' | translate" icon="pi pi-times" iconPos="left"
      (onClick)="goBack()" [disabled]="isLoading" />
  </div>
</form>
<p-dialog [header]="('EMPLOYEE.LABELS.DELETE_EMPLOYEE' | translate)" [modal]="true"
  [(visible)]="visibleEmployeeModalDelete">
  <div class="confirmation-content mb-2 mt-4">
    <p class="mb-4" [innerHTML]="'DIALOG.DELETE' | translate:{ value: getFullNameEmployee() }"></p>

    <div class="flex justify-content-center gap-2">
      <p-button type="button" class="delete" size="small" [label]="'BUTTONS.DELETE' | translate" icon="pi pi-trash"
        iconPos="left" (onClick)="onEmployeeDeleteConfirm()" severity="danger" [loading]="isLoadingDelete"
        [disabled]="isLoading" />

      <p-button type="button" class="cancel" size="small" [label]="'BUTTONS.CANCEL' | translate" icon="pi pi-times"
        iconPos="left" (onClick)="this.visibleEmployeeModalDelete = false;" [disabled]="isLoading" />

    </div>
  </div>
</p-dialog>
<p-toast />
<app-occ-error-modal 
  *ngIf="showOCCErrorModaEmployee" 
  [errorType]="occErrorType"
  [redirectRoute]="occRoute"
  (onClose)="showOCCErrorModaEmployee = false">
</app-occ-error-modal>