<form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
  <div class="align-items-center mb-2">
    <div class="order_input order_id mb-2">
      <label for="orderId">Auftrag-Nr.</label>
      <input
        pInputText
        type="text"
        id="orderId"
        formControlName="orderId"
        autocomplete="off"
      />
    </div>
    <div class="order_input order_name mb-2">
      <label for="orderLabel">Auftrag</label>
      <input
        pInputText
        type="text"
        id="orderLabel"
        formControlName="orderLabel"
        autocomplete="off"
      />
    </div>
    <div class="order_input order_type mb-2">
      <label for="orderType">Auftragsart</label>
      <p-select
        [style]="{ width: '15em' }"
        formControlName="orderType"
        [editable]="true"
        [showClear]="true"
        optionLabel="name"
        autocomplete="off"
      />
    </div>
    <div class="order_input order_customer me-0 mb-2 d-flex">
      <span>Kunde</span>
      <div class="customerId">
        <input
          pInputText
          type="text"
          placeholder="Nr."
          id="customerId"
          formControlName="customerId"
          autocomplete="off"
        />
      </div>
      <div class="customerName">
        <input
          pInputText
          id="customerName"
          placeholder="Name"
          formControlName="customerName"
          autocomplete="off"
        />
      </div>
    </div>
    <div class="order_input order_name mb-2">
      <label for="acronym">Akronym</label>
      <input
        pInputText
        type="text"
        id="acronym"
        formControlName="acronym"
        autocomplete="off"
      />
    </div>
    <div class="order_input order_name mb-2">
      <label for="orderTitle">Langtext</label>
      <input
        pInputText
        type="text"
        id="orderTitle"
        formControlName="orderTitle"
        autocomplete="off"
      />
    </div>
    <div class="order_input order_name mb-2">
      <label for="orderDate">Auftragsdatum</label>
      <p-datepicker
        class="w-13em"
        id="orderDate"
        [showIcon]="true"
        iconDisplay="input"
        formControlName="orderDate"
        dateFormat="dd.mm.yy"
      />
    </div>
    <div class="order_input order_name mb-2">
      <label for="fundingProgram">Förderprogramm</label>
      <p-select
        [style]="{ width: '15em' }"
        id="fundingProgram"
        formControlName="fundingProgram"
        [editable]="true"
        [showClear]="true"
        optionLabel="name"
        autocomplete="off"
      />
    </div>
    <div class="order_input order_name mb-2">
      <label for="contractStatus">Vertragsstatus</label>
      <p-select
        [style]="{ width: '15em' }"
        id="contractStatus"
        formControlName="contractStatus"
        [editable]="true"
        [showClear]="true"
        optionLabel="name"
        autocomplete="off"
      />
    </div>
    <div class="order_input order_name mb-2">
      <label for="approvalDate">Unterschriftsdatum</label>
      <p-datepicker
        class="w-13em"
        id="approvalDate"
        [showIcon]="true"
        iconDisplay="input"
        formControlName="approvalDate"
        dateFormat="dd.mm.yy"
      />
    </div>
    <div class="order_input order_name mb-2">
      <label for="contractTitle">Rahmenvertrag</label>
      <p-select
        [style]="{ width: '15em' }"
        id="contractTitle"
        formControlName="contractTitle"
        [editable]="true"
        [showClear]="true"
        optionLabel="name"
        autocomplete="off"
      />
    </div>
    <div class="order_input order_name mb-2">
      <label for="employeeiws">IWS Mitarbeiter</label>
      <p-select
        [style]="{ width: '15em' }"
        id="employeeiws"
        formControlName="employeeiws"
        [editable]="true"
        [showClear]="true"
        optionLabel="name"
        autocomplete="off"
      />
    </div>
    <div class="order_input order_name mb-2">
      <label for="orderValue">Geschätzter Auftragswert</label>
      <input
        pInputText
        type="text"
        id="orderValue"
        formControlName="orderValue"
        autocomplete="off"
      />
    </div>
  </div>

  <!-- <p-button  size="small" type="submit" [disabled]="!orderForm.valid" label="Save" icon="pi pi-check" iconPos="right" /> -->
</form>
