<form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
  <div class="align-items-center mb-2">
    <div class="order_input order_id mb-2">
      <label for="orderId">{{ 'ORDERS.FORM.ORDER_ID' | translate }}</label>
      <p-inputnumber [useGrouping]="false"
        inputId="orderId"
        formControlName="orderNo"
        autocomplete="off"
      />
    </div>
    <div class="order_input order_name mb-2">
      <label for="orderLabel">{{ 'ORDERS.FORM.ORDER_LABEL' | translate }}</label>
      <input
        pInputText
        type="text"
        id="orderLabel"
        formControlName="orderLabel"
        autocomplete="off"
      />
    </div>
    <div class="order_input order_type mb-2">
      <label for="orderType">{{ 'ORDERS.FORM.ORDER_TYPE' | translate }}</label>
      <p-select
        formControlName="orderType"
        [showClear]="true"
        optionLabel="name"
        autocomplete="off"
        [emptyMessage]="'TABLES.NO_RESULTS_FOUND' | translate"
      />
    </div>
    <div class="order_input me-0 mb-2">
      <label for="customerId">{{ 'ORDERS.FORM.CUSTOMER' | translate }}</label>
      <div class="flex gap-2" [style]="{width: '20vw'}">
        <p-inputnumber [useGrouping]="false" 
          placeholder="{{ 'ORDERS.FORM.NR' | translate }}"
          inputId="customerId"
          formControlName="customerNo"
          autocomplete="off"
        />
        <input
          pInputText
          id="customerName"
          placeholder="{{ 'ORDERS.FORM.NAME' | translate }}"
          formControlName="customerName"
          autocomplete="off"
        />
      </div>
    </div>
    <div class="order_input order_name mb-2">
      <label for="acronym">{{ 'ORDERS.FORM.ACRONYM' | translate }}</label>
      <input
        pInputText
        type="text"
        id="acronym"
        formControlName="acronym"
        autocomplete="off"
      />
    </div>
    <div class="order_input order_name mb-2">
      <label for="orderTitle">{{ 'ORDERS.FORM.ORDER_TITLE' | translate }}</label>
      <input
        pInputText
        type="text"
        id="orderTitle"
        formControlName="orderTitle"
        autocomplete="off"
      />
    </div>
    <div class="order_input order_name mb-2">
      <label for="orderDate">{{ 'ORDERS.FORM.ORDER_DATE' | translate }}</label>
      <p-datepicker
        id="orderDate"
        [showIcon]="true"
        [showClear]="true"
        formControlName="orderDate"
        dateFormat="dd.mm.yy"
      />
    </div>
    <div class="order_input order_name mb-2">
      <label for="fundingProgram">{{ 'ORDERS.FORM.FUNDING_PROGRAM' | translate }}</label>
      <p-select
        id="fundingProgram"
        formControlName="fundingProgram"
        [showClear]="true"
        [options]="fundingPrograms()"
        optionLabel="name"
        optionValue="id"
        [emptyMessage]="'TABLES.NO_RESULTS_FOUND' | translate"
      />
    </div>
    <div class="order_input order_name mb-2">
      <label for="contractStatus">{{ 'ORDERS.FORM.CONTRACT_STATUS' | translate }}</label>
      <p-select
        id="contractStatus"
        formControlName="contractStatus"
        [showClear]="true"
        optionLabel="name"
        autocomplete="off"
        [emptyMessage]="'TABLES.NO_RESULTS_FOUND' | translate"
      />
    </div>
    <div class="order_input order_name mb-2">
      <label for="approvalDate">{{ 'ORDERS.FORM.SIGNATURE_DATE' | translate }}</label>
      <p-datepicker
        class="w-13em"
        id="approvalDate"
        [showIcon]="true"
        [showClear]="true"
        formControlName="approvalDate"
        dateFormat="dd.mm.yy"
      />
    </div>
    <div class="order_input order_name mb-2">
      <label for="contractTitle">{{ 'ORDERS.FORM.CONTRACT_TITLE' | translate }}</label>
      <p-select
        id="contractTitle"
        formControlName="contractTitle"
        [showClear]="true"
        optionLabel="name"
        autocomplete="off"
        [emptyMessage]="'TABLES.NO_RESULTS_FOUND' | translate"
      />
    </div>
    <div class="order_input order_name mb-2">
      <label for="employeeiws">{{ 'ORDERS.FORM.IWS_EMPLOYEE' | translate }}</label>
      <p-select
        id="employeeiws"
        formControlName="employeeIws"
        [showClear]="true"
        optionLabel="name"
        autocomplete="off"
        [emptyMessage]="'TABLES.NO_RESULTS_FOUND' | translate"
      />
    </div>
    <div class="order_input order_name mb-2">
      <label for="orderValue">{{ 'ORDERS.FORM.ORDER_VALUE' | translate }}</label>
      <p-inputnumber mode="decimal" [max]="99999.99" [min]="0" [useGrouping]="true" 
        [minFractionDigits]="2" [maxFractionDigits]="2" locale="de-DE"
        id="orderValue"
        formControlName="orderValue"
        autocomplete="off"
      />
    </div>
  </div>
</form>
