@use 'variables' as *;

$input-width: 254px;

.field {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.2rem;
  align-items: center;
  width: 100%;

  label {
    margin-bottom: 0;
    width: 180px;
    flex-shrink: 0;
  }

  .p-select {
    width: 100%;
    max-width: $input-width;
    min-width: 10%;
  }

  input,
  p-inputnumber {
    width: 100%;
    max-width: $input-width;
    min-width: 10%;
  }

  .datepicker-container {
    width: 100%;
    max-width: $input-width;
  }

  .two-field {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: $input-width;
    gap: 0.5rem;
    min-width: 10%;

    input {
      width: 30%;
    }

    p-select {
      width: 70%;
    }
  }

  #orderIdFueNumber, #orderIdAdminNumber {
    text-align: right;
  }
}

.align-right {
  text-align: right;
}

::ng-deep .p-inputnumber-input {
  min-width: 10%;
}

// Input inválido con borde rojo
.field input.ng-invalid.ng-dirty {
  border-color: #e24c4c !important;
  box-shadow: 0 0 0 1px #e24c4c !important;
}

.container {
  margin-top: 0.5rem;
}