<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form [formGroup]="formProject" action="">
                <div class="grid justify-content-center">
                    <!-- Projekt -->
                    <div class="field">
                        <label for="projectLabel"> {{ "PROJECTS.FORM.PROJECT" | translate }} </label>
                        <input type="text" id="projectLabel" pInputText formControlName="projectLabel"
                            [attr.invalid]="(formProject.get('projectLabel')?.invalid && formProject.get('projectLabel')?.dirty)" />
                    </div>

                    <!-- Longtext -->
                    <div class="field">
                        <label for="projectName"> {{ "PROJECTS.FORM.LONGTEXT" | translate }} </label>
                        <div class="input-message">
                            <input id="projectName" pInputText formControlName="projectName" autocomplete="off"
                                [ngClass]="{'ng-invalid ng-dirty': formProject.get('projectName')?.invalid && formProject.get('projectName')?.touched || nameAlreadyExist}"
                                invalid="formProject.get('projectName')?.invalid  
                                && formProject.get('projectName')?.dirty 
                                || formProject.get('projectName')?.touched"/>
                            <p-message severity="error" [showTransitionOptions]="'0ms'" variant="simple" size="small" *ngIf="
                                formProject.get('projectName')?.invalid && 
                                formProject.get('projectName')?.dirty || nameAlreadyExist
                                ">
                                {{ nameAlreadyExist ? ('PROJECTS.PROJECT_NAME_ALREADY_EXISTS' | translate) : ('ERROR.FIELD_REQUIRED' | translate)}}
                            </p-message>
                        </div>
                    </div>

                    <!-- Kunde -->
                    <div class="field">
                        <label for="customer"> {{ "PROJECTS.FORM.CUSTOMER" | translate }}</label>
                        <p-select formControlName="customer" id="customer" [options]="customers()"
                            optionLabel="customername1" optionValue="id" [showClear]="true" [emptyMessage]="'TABLES.NO_RESULTS_FOUND' | translate"
                            [filter]="true" filterBy="customername1" [emptyFilterMessage]="'TABLES.NO_RESULTS_FOUND' | translate">
                            <ng-template let-customer pTemplate="selectedItem">
                                <div class="flex align-items-center gap-2" *ngIf="customer">
                                    <span>{{ customer.customername1 }}</span>
                                </div>
                            </ng-template>
                            <ng-template let-customer pTemplate="item">
                                <div class="flex align-items-center gap-2">
                                    <span>{{ customer.customername1 }}</span>
                                </div>
                            </ng-template>
                        </p-select>
                    </div>

                    <!-- FuE-Auftrag / Nr. -->
                    <div class="field">
                        <label for="orderIdFue"> {{ "PROJECTS.FORM.R_D_ORDER_NUMBER" | translate }}</label>
                        <div class="two-field">
                            <p-select formControlName="orderIdFue" inputId="orderIdFue" 
                                [options]="orders()"
                                optionLabel="orderLabel" 
                                optionValue="id" 
                                showClear
                                [emptyMessage]="'TABLES.NO_RESULTS_FOUND' | translate"/>
                            <input pInputText type="text" id="orderIdFueNumber" formControlName="orderIdFueNumber"
                                autocomplete="off" readonly [disabled]="true" />
                        </div>
                    </div>

                    <!-- Förderprogramm -->
                    <div class="field">
                        <label for="fundingProgram"> {{ "PROJECTS.FORM.FUNDING_PROGRAM" | translate }}</label>
                        <p-select formControlName="fundingProgram" inputId="fundingProgram" [options]="fundingPrograms()"
                            optionLabel="name" optionValue="id" showClear [emptyMessage]="'TABLES.NO_RESULTS_FOUND' | translate"/>
                    </div>

                    <!-- Projektträger-Nr. -->
                    <div class="field">
                        <label for="promoterNumber"> {{ "PROJECTS.FORM.PROMOTER_NUMBER" | translate }}</label>
                        <input type="text" id="promoterNumber" pInputText formControlName="promoterNumber" />
                    </div>

                    <!-- Projektträger -->
                    <div class="field">
                        <label for="promoter"> {{ "PROJECTS.FORM.PROMOTER" | translate }}</label>
                        <p-select formControlName="promoter" inputId="promoter" [options]="promoters()"
                            optionLabel="promoterName1" optionValue="id" showClear [emptyMessage]="'TABLES.NO_RESULTS_FOUND' | translate"/>
                    </div>

                    <!-- Förderkennzeichen -->
                    <div class="field">
                        <label for="fundingLabel"> {{ "PROJECTS.FORM.FUNDING_LABEL" | translate }}</label>
                        <input type="text" id="fundingLabel" pInputText formControlName="fundingLabel" />
                    </div>

                    <!-- Bewilligungsdatum -->
                    <div class="field">
                        <label for="authorizationDate"> {{ "PROJECTS.FORM.AUTHORIZATION_DATE" | translate }}</label>
                        <div class="datepicker-container">
                            <p-datepicker id="authorizationDate" formControlName="authorizationDate" [showIcon]="true"
                                [style]="{'width':'100%'}" dateFormat="dd.mm.yy" [readonlyInput]="true" />
                        </div>
                    </div>

                    <!-- Laufzeit Start -->
                    <div class="field">
                        <label for="startDate"> {{ "PROJECTS.FORM.DURATION_START" | translate }}</label>
                        <div class="datepicker-container">
                            <p-datepicker id="startDate" formControlName="startDate" [showIcon]="true"
                                dateFormat="dd.mm.yy" [readonlyInput]="true" [style]="{'width':'100%'}" />
                        </div>
                    </div>

                    <!-- Laufzeit Ende -->
                    <div class="field">
                        <label for="endDate"> {{ "PROJECTS.FORM.DURATION_END" | translate }}</label>
                        <div class="datepicker-container">
                            <p-datepicker id="endDate" formControlName="endDate" [showIcon]="true" dateFormat="dd.mm.yy"
                                [readonlyInput]="true" [style]="{'width':'100%'}" />
                        </div>
                    </div>

                    <!-- Fördersatz -->
                    <div class="field">
                        <label for="fundingRate"> {{ "PROJECTS.FORM.FUNDING_RATE" | translate }}</label>
                        <p-inputNumber inputId="fundingRate" formControlName="fundingRate"
                            [inputStyle]="{ 'text-align': 'right' }" mode="decimal" [max]="100" [min]="0" [suffix]="'%'"
                            [minFractionDigits]="2" [maxFractionDigits]="2" locale="de-DE" />
                    </div>

                    <!-- Personalpauschale -->
                    <div class="field">
                        <label for="stuffFlat"> {{ "PROJECTS.FORM.STAFF_FLAT_RATE" | translate }}</label>
                        <p-inputNumber inputId="stuffFlat" formControlName="stuffFlat"
                            [inputStyle]="{ 'text-align': 'right' }" mode="decimal" [max]="999999.99" [min]="0"
                            [useGrouping]="true" [minFractionDigits]="2" [maxFractionDigits]="2" locale="de-DE" />
                    </div>

                    <!-- Anteil Forschungsauftrag -->
                    <div class="field">
                        <label for="shareResearch"> {{ "PROJECTS.FORM.RESEARCH_SHARE" | translate }}</label>
                        <p-inputNumber inputId="shareResearch" formControlName="shareResearch"
                            [inputStyle]="{ 'text-align': 'right' }" mode="decimal" [max]="100" [min]="0" [suffix]="'%'"
                            [minFractionDigits]="2" [maxFractionDigits]="2" locale="de-DE" />
                    </div>

                    <!-- Std.-Satz MU EU -->
                    <div class="field">
                        <label for="hourlyRateMueu"> {{ "PROJECTS.FORM.HOURLY_RATE_MU_EU" | translate }}</label>
                        <p-inputNumber inputId="hourlyRateMueu" formControlName="hourlyRateMueu"
                            [inputStyle]="{ 'text-align': 'right' }" mode="decimal" [max]="9999.99" [min]="0"
                            [useGrouping]="true" [minFractionDigits]="2" [maxFractionDigits]="2" locale="de-DE" />
                    </div>

                    <!-- Produktive Stunden / Jahr -->
                    <div class="field">
                        <label for="productiveHoursPerYear"> {{ "PROJECTS.FORM.PRODUCTIVE_HOURS_YEAR" | translate
                            }}</label>
                        <p-inputNumber inputId="productiveHoursPerYear" formControlName="productiveHoursPerYear"
                            [inputStyle]="{ 'text-align': 'right' }" mode="decimal" [max]="9999" [min]="0"
                            [useGrouping]="false" locale="de-DE" />
                    </div>

                    <!-- Verwaltung-Auftrag / Nr. -->
                    <div class="field">
                        <label for="orderIdAdmin"> {{ "PROJECTS.FORM.ADMIN_ORDER_NUMBER" | translate }}</label>
                        <div class="two-field">
                            <p-select formControlName="orderIdAdmin" inputId="orderIdAdmin" [options]="orders()"
                                optionLabel="orderLabel" optionValue="id" showClear [emptyMessage]="'TABLES.NO_RESULTS_FOUND' | translate"/>
                            <input pInputText formControlName="orderIdAdminNumber" type="text" id="orderIdAdminNumber"
                                autocomplete="off" readonly [disabled]="true" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-8">
            <!-- Tabla de paquetes de trabajo -->
            <app-work-packages></app-work-packages>
        </div>
    </div>


    <!-- Botones de acción -->
    <div class="form-row flex flex-wrap gap-3 justify-content-center py-3">
        <p-button class="Save me-2" size="small" [label]="'BUTTONS.SAVE' | translate" icon="pi pi-check"
            [loading]="isSaving" iconPos="left" (onClick)="onSubmit()"
            [disabled]="formProject.invalid || !formProject.dirty" />
        <p-button class="Delete me-2" size="small" [label]="'BUTTONS.DELETE' | translate" icon="pi pi-trash"
            [disabled]="isSaving" iconPos="left" [style]="{ background: '#ef4444' }"
            (onClick)="showDeleteProjectModal = true" />
        <p-button class="cancel" size="small" [label]="'BUTTONS.CANCEL' | translate" icon="pi pi-times" iconPos="left"
            routerLink="/projects" [disabled]="isSaving" />
    </div>
</div>

<!-- Modal de confirmación para eliminar -->
<p-dialog header="Projekt löschen" [modal]="true" [(visible)]="showDeleteProjectModal">
    <div class="confirmation-content mb-2 mt-4">
        <p class="mb-4" [innerHTML]="'DIALOG.DELETE' | translate:{ value: formProject.get('projectName')?.value }"></p>

        <div class="flex justify-content-center gap-2">
            <p-button type="button" class="delete" size="small" label="Löschen" icon="pi pi-trash" iconPos="left"
                (onClick)="onProjectDeleteConfirm()" severity="danger" [loading]="isLoadingProject"
                [disabled]="isLoadingProject" />
            <p-button type="button" class="cancel" size="small" label="Abbrechen" icon="pi pi-times" iconPos="left"
                (onClick)="showDeleteProjectModal = false" [disabled]="isLoadingProject" />
        </div>
    </div>
</p-dialog>

<app-occ-error-modal *ngIf="showOCCErrorModal" [errorType]="occErrorType" [redirectRoute]="'/projects'"
    (close)="showOCCErrorModal = false">
</app-occ-error-modal>

<p-toast></p-toast>