.project-funnel-form {
  display: flex;
  flex-direction: row;
  align-items: center;

  label {
    width: 150px;
    margin-right: 5px;
  }

  input,
  p-select {
    width: 100%;
  }

  p-inputnumber {
    width: 100%;
    max-width: 450px;
  }

  #promoterName2{
    margin-top: 0.4rem;
  }
}

.group {
  width: 100%;
}