<p-card [style]="{ background: 'var(--light-cyan)' }" [header]="'PROJECT_FUNNELS.FORM.TITLE_FORM' | translate ">
    <form [formGroup]="editProjectFunnelForm" (ngSubmit)="onSubmit()">
        <div class="flex flex-column mb-2 px-4">
            <div class="project-funnel-form mb-2">
                <label for="project-sponsor-id">{{ 'PROJECT_FUNNELS.FORM.PROJECT_SPONSOR_ID' | translate }}</label>
                <input pInputText type="text" id="project-sponsor-id" formControlName="projectSponsorId" autocomplete="off" />
            </div>
            <div class="project-funnel-form mb-2">
                <label for="abbreviation">{{ 'PROJECT_FUNNELS.FORM.ABBREVIATION' | translate }}</label>
                <input pInputText type="text" id="abbreviation" formControlName="abbreviation" autocomplete="off" />
            </div>
            <div class="project-funnel-form mb-2 align-items-start">
                <label for="name1" class="mt-1">{{ 'PROJECT_FUNNELS.FORM.NAME' | translate }}</label>
                <div class="flex flex-column gap-2 group">
                    <input pInputText type="text" id="name1" formControlName="name1" autocomplete="off" />
                    <input pInputText type="text" id="name2" formControlName="name2" autocomplete="off" />
                </div>
            </div>
            <div class="project-funnel-form mb-2">
                <label for="land">{{ 'PROJECT_FUNNELS.FORM.LAND' | translate }}</label>
                <p-select formControlName="land" 
                    id="land"
                    [options]="lands" 
                    optionLabel="name" 
                    placeholder="Select a Land"
                    [style]="{'align-items': 'center'}" 
                />
            </div>
            <div class="project-funnel-form mb-2">
                <label for="street">{{ 'PROJECT_FUNNELS.FORM.STREET' | translate }}</label>
                <input pInputText type="text" id="street" formControlName="street" autocomplete="off" />
            </div>
            <div class="project-funnel-form mb-2 flex">
                <label for="zip">{{ 'PROJECT_FUNNELS.FORM.ZIP_CITY' | translate }}</label>
                <div class="flex flex-row gap-1 group">
                    <input pInputText type="text" class="w-4" id="zip" formControlName="zip" autocomplete="off" />
                    <input pInputText type="text"  id="city" formControlName="city" autocomplete="off" />
                </div>
            </div>
            <div class="row">
                <div class="col flex justify-content-center mt-4">
                    <p-button class="save me-2" size="small" [label]="'BUTTONS.SAVE' | translate" icon="pi pi-check" iconPos="left" />
                    <p-button class="cancel me-2" size="small" [label]="'BUTTONS.CANCEL' | translate" icon="pi pi-times" iconPos="left" />
                </div>
            </div>
        </div>
    </form>
</p-card>