.create-form {
    display: flex;
    align-items: center;
    gap: 1rem; 
    
    label {
        width: 50px; 
        font-weight: 500;
        text-align: left;
        flex-shrink: 0;
    }

    input {
        flex: 1;
        max-width: 300px;
    }
}
/* el panel toma mismo ancho que el input */
.p-datepicker.datepicker-panel {
width: 300px !important;       /* o 100% si lo quieres responsivo */
min-width: unset !important;
}

strong {
    display: inline;
}
