@use 'variables' as *;
.create-form {
    display: flex;
    align-items: center;
    margin-bottom: 1.2rem;
    
    label {
        width: 90px; 
        flex-shrink: 0;
    }

    input, p-datepicker {
        width: 100%;
    }

    ::ng-deep .p-inputnumber-input {
      width: 100%;
    }
}

::ng-deep .p-datepicker {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  padding: 0 ;
}

::ng-deep .p-datepicker-panel table,
::ng-deep .p-datepicker-panel .p-monthpicker,
::ng-deep .p-datepicker-panel .p-yearpicker,
::ng-deep .p-datepicker-panel .p-datepicker-group {
  td, th {
    padding: 0 !important;
    text-align: center;
  }
}

::ng-deep .p-datepicker-panel {
  button.p-ripple.p-button.p-component {
    background-color: initial !important;
    border: none;
    color: $primary-color;

    &:hover{
      background-color: $accent-color !important;
    }
  }

  .p-datepicker-day-selected{
    background: $primary-color !important;
  }
}