<ng-container *ngIf="isCreateMode; else deleteTemplate">
    <form [formGroup]="createdPublicHolidayForm" (ngSubmit)="onSubmit()">
        <div class="align-items-center mb-2 mt-4">
            <div class="create-form">
                <label for="publicHolidayName">{{ "HOLIDAYS.MODAL.NAME" | translate }}</label>
                <div class="input-message">
                    <input
                        #publicHolidayInput
                        pInputText
                        type="text"
                        id="publicHolidayName"
                        formControlName="name"
                        autocomplete="off"
                        class="w-full"
                        [class.ng-invalid]="holidayAlreadyExists"
                        [class.ng-dirty]="holidayAlreadyExists"
                        invalid="createdPublicHolidayForm.get('name')?.invalid &&
                        createdPublicHolidayForm.get('name')?.dirty &&
                        createdPublicHolidayForm.get('name')!.hasError('required')"
                    />
                    <p-message severity="error" [showTransitionOptions]="'0ms'" variant="simple" size="small" *ngIf="
                        createdPublicHolidayForm.get('name')?.invalid &&
                        createdPublicHolidayForm.get('name')?.dirty &&
                        createdPublicHolidayForm.get('name')!.hasError('required') || holidayAlreadyExists
                    ">{{ holidayAlreadyExists ? ('HOLIDAYS.ERROR.HOLIDAY_ALREADY_EXISTS' | translate) : ('ERROR.FIELD_REQUIRED' | translate) }}</p-message>
                </div>
            </div>
        
            <div class="create-form">
                <label for="sequenceNo">{{ "HOLIDAYS.MODAL.ORDEN" | translate }}</label>
                <p-inputnumber
                inputId="sequenceNo"
                formControlName="sequenceNo"
                autocomplete="off"
                [useGrouping]="true"
                [inputStyle]="{'text-align': 'right'}"
                [attr.aria-invalid]="createdPublicHolidayForm.get('sequenceNo')?.invalid"
                [attr.aria-describedby]="createdPublicHolidayForm.get('sequenceNo')?.invalid
                    ? 'publicHolidayError'
                    : null
                "
                class="w-full"
                />
                <small
                *ngIf="
                    createdPublicHolidayForm.get('sequenceNo')?.invalid &&
                    createdPublicHolidayForm.get('sequenceNo')?.touched
                "
                id="publicHolidayError1"
                class="text-red-500 block mt-1"
                ></small>
            </div>

            <div class="create-form">
                <label for="isFixedDateModal">{{ "HOLIDAYS.LABEL.FIXED_DATE" | translate }}</label>
                <p-toggleswitch inputId="isFixedDateModal" formControlName="isFixedDate" class="flex">
                    <ng-template #handle let-checked="checked">
                    <i [ngClass]="['!text-xs','pi',checked ? 'pi-check' : 'pi-times']"></i>
                    </ng-template>
                </p-toggleswitch>
            </div>
        
            <div class="create-form">
                <label for="date">{{ "HOLIDAYS.MODAL.DATE" | translate }}</label>
                <div class="datepicker-container w-full">
                    <p-datepicker
                        formControlName="date"
                        #datePicker
                        [showIcon]="true"
                        inputId="date"
                        [dateFormat]="isFixedDate ? fixDateFormatPicker : dateFormatPicker"
                        [showClear]="true"
                        appendTo="body"
                        [placeholder]="isFixedDate ? ('HOLIDAYS.LABEL.FIX_DATE_FORMAT' | translate) : ('HOLIDAYS.LABEL.DATE_FORMAT' | translate)"
                        [style]="{ 'width': '100%' , 'max-width': '300px'}"
                        inputStyleClass="centered-date"
                        panelStyleClass="datepicker-panel"
                        [class.ng-invalid]="createdPublicHolidayForm.get('date')?.invalid  
                                && createdPublicHolidayForm.get('date')?.dirty 
                                && createdPublicHolidayForm.get('date')!.hasError('required')"
                        [class.ng-dirty]="createdPublicHolidayForm.get('date')?.invalid  
                                && createdPublicHolidayForm.get('date')?.dirty 
                                && createdPublicHolidayForm.get('date')!.hasError('required')"
                    />
                    <p-message severity="error" [showTransitionOptions]="'0ms'" variant="simple" size="small" *ngIf="
                        createdPublicHolidayForm.get('date')?.invalid &&
                        createdPublicHolidayForm.get('date')?.dirty &&
                        createdPublicHolidayForm.get('date')!.hasError('required')
                    ">{{ 'ERROR.FIELD_REQUIRED' | translate }}</p-message>
                </div>
            </div>
            <div class="flex justify-content-center gap-2 mt-4">
                <p-button
                type="submit"
                class="save"
                size="small"
                [label]="'BUTTONS.SAVE' | translate"
                icon="pi pi-check"
                iconPos="left"
                [loading]="isLoading"
                [disabled]="createdPublicHolidayForm.invalid || isLoading || !createdPublicHolidayForm.dirty"
                />

                <p-button
                type="button"
                class="cancel"
                size="small"
                [label]="'BUTTONS.CANCEL' | translate"
                icon="pi pi-times"
                iconPos="left"
                (onClick)="closeModal()"
                [disabled]="isLoading"
                />
            </div>
        </div>
    </form>
</ng-container>

<ng-template #deleteTemplate>
    <div class="confirmation-content mb-2 mt-4">
        <p class="mb-4" [innerHTML]="'DIALOG.DELETE' | translate:{ value: publicHolidayName }"></p>

        <div class="flex justify-content-center gap-2">
        <p-button
            type="button"
            class="delete"
            size="small"
            [label]="'BUTTONS.DELETE' | translate"
            icon="pi pi-trash"
            iconPos="left"
            (onClick)="onDeleteConfirm()"
            severity="danger"
            [loading]="isLoading"
            [disabled]="isLoading"
        />

        <p-button
            type="button"
            class="cancel"
            size="small"
            [label]="'BUTTONS.CANCEL' | translate"
            icon="pi pi-times"
            iconPos="left"
            (onClick)="closeModal()"
            [disabled]="isLoading"
        />
        </div>
    </div>
</ng-template>
<app-occ-error-modal
  *ngIf="showOCCErrorModalHoliday"
  [useEmitter]="occErrorHolidayType === 'DELETE_UNEXISTED'"
  (refresh)="onRefresh()"
  [errorType]="occErrorHolidayType"
  [reloadCurrentPage]="true"
  (close)="showOCCErrorModalHoliday = false">
</app-occ-error-modal>