<div class="container">
  <div class="row">
    <master-data-genaral-table
      [tableId]="tableKey"
      [tableValues]="(salesTaxesValues$ | async) ?? []"
      [columns]="salesTaxesColumns"
      [userPreferences]="userSalesTaxTablePreferences"
      [dataKeys]="dataKeys"
      (onColumnChanges)="onUserSalesTaxTablePreferencesChanges($event)"
      (onCreateRegister)="handleTableEvents({ type: 'create' })"
      (onDeleteRegister)="handleTableEvents({ type: 'delete', data: $event })"
      (onEditRegister)="onEditVat($event)"
    ></master-data-genaral-table>

    <p-dialog
      [header]="modalType === 'create'
      ? ('SALES_TAX.MODAL.NEW' | translate)
      : ('SALES_TAX.MODAL.DELETE' | translate)"
      [modal]="true"
      [(visible)]="isVisibleModal"
      (onHide)="onCloseModal()"
      >
      <app-sales-tax-modal
        #vatModal
        [visible]="isVisibleModal"
        [modalType]="modalType"
        [selectedVat]="selectedVat"
        (isVisibleModal)="isVisibleModal = $event"
        (createVat)="onCreateVat($event)"
        (deleteVat)="onDeleteVat($event)"
      ></app-sales-tax-modal>
    </p-dialog>
  </div>
</div>