<div class="container">
  <div class="row">
    <div class="col-6">
      <master-data-genaral-table
        [tableId]="tableKey"
        [tableValues]="systemConstantsValues()"
        [columns]="systemConstantsColumns"
        [userPreferences]="userSystemConstantPreferences"
        [dataKeys]="dataKeys"
        (onColumnChanges)="onUserSystemConstantPreferencesChanges($event)"
        (onCreateRegister)="handleTableEvents({ type: 'create' })"
        (onDeleteRegister)="handleTableEvents({ type: 'delete', data: $event })"
        (onEditRegister)="onEditSystemConstant($event)"
      ></master-data-genaral-table>
    </div>
    <div class="col-6">
      <app-system-constant-form
        [selectedSystemConstant]="selectedSystemConstantToEdit"
        (cancelAction)="onCancelEdit($event)"
      ></app-system-constant-form>
    </div>
  </div>
  <p-dialog 
    [header]="modalType === 'create' 
      ? ('SYSTEM_CONSTANT.MODAL.NEW' | translate) 
      : ('SYSTEM_CONSTANT.MODAL.DELETE' | translate)" 
    [modal]="true" 
    [(visible)]="visibleSystemConstantModal"
  >
    <app-system-constant-modal
      [modalType]="modalType"
      [visible]="visibleSystemConstantModal"
      [selectedSystemConstant]="selectedSystemConstant"
      (isVisibleModal)="onModalVisibilityChange($event)"
      (createSystemConstant)="onCreateSystemConstant($event)"
      (deleteSystemConstant)="onDeleteSystemConstant($event)"
    ></app-system-constant-modal>
  </p-dialog>
</div>