<div class="container">
    <div class="row">
        <div class="col-md-6">
            <app-order (onIsLoading)="setLoading($event)" [contractToEdit]="currentBasicContract"></app-order>
        </div>
        <div class="col-md-6">
            <div class="mb-2">
                <app-iws-provision></app-iws-provision>
            </div>
        </div>
    </div>

    <div class="buttons">
        <div class="row">
            <div class="col-4">
                
            </div>
            <div class="col-8">
                <p-button class="Save me-2" size="small" [label]="'BUTTONS.SAVE' | translate" icon="pi pi-check"
                    iconPos="left" (onClick)="onSubmit()" [loading]="isLoading" />
                <p-button class="delete me-2" size="small" [label]="'BUTTONS.DELETE' | translate" icon="pi pi-trash"
                    iconPos="left" [disabled]="isLoading" />
                <p-button class="cancel me-2" size="small" [label]="'BUTTONS.CANCEL' | translate" icon="pi pi-times"
                    iconPos="left" (onClick)="goBackFrameworksAgreement()"/>

            </div>
        </div>
    </div>
</div>
